@{
   ViewData["PageTitle"] = "國際貿易";
   ViewData["PageDescription"] = "全球經貿情勢變化多端，我們提供您使用信用狀、跟單託收和銀行擔保函等金融工具，協助您處理國際進、出口等業務。";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		國際貿易
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-trade.jpg" />
						<img srcset="/assets/img/topkv/business-trade-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">國際貿易</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">國際貿易</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		國際貿易 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">將您的觸角擴大到全球市場</h2>
			<p class="text-left">全球經貿情勢變化多端，我們提供您使用信用狀、跟單託收和銀行擔保函等金融工具，協助您處理國際進、出口等業務。</p>
		</header>
		
		<div class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">跟單託收</h3>
			<p>跟單託收是出口商依據合約備貨出運，一旦將貨物運送給買家，無法保證可收到款項。 跟單託收是替代信用狀的一種更具經濟效益的工具，為您（出口商）提供了更安全的交易方式，讓您可以保有對貨物所有權憑證的控管。 本行可以指示國外銀行在您的買家付款後，或違反您的買家在未來付款的書面承諾後，釋出所有權文件。</p>
			
			<div class="py-section"></div>
		
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">銀行擔保</h3>
			<p>在國際貿易中，買方很難評估其供應商按訂單生產貨物的能力，或是否會根據合約對任何違約提供補償。 所以，保護買家的絕佳方法之一就是銀行擔保。 銀行擔保將作為任何違約的補償，允許買方按要求從開證行收取一筆款項。 </p>
			
			<div class="py-section"></div>
			
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">進出口業務</h3>
			<p>為您提供國際採購或建立信用額度的庫存融資，本行國際貿易融資團隊提供您相關服務。</p>
		
			<div class="py-section"></div>
			
			
			<div class="compact-sm">
				<!-- Graph icon list (2-levels)-->
				<ul class="row mb-n4">
	
					<!-- Graph item -->
					<li class="col-12 col-md-8  mb-4  px-md-2">
						<div class="d-flex align-items-center  mb-3">
							<figure class="graph  mr-3">
								<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/import.svg">
							</figure>
							<h4 class="h3 text-dark fw-bolder lh-sm">進口業務</h4>
						</div>
						<div class="row">
							<div class="col-12 col-md  mb-4 mb-md-0">
								<h5 class="h4 h3-mb mb-3  text-dark fw-bold">信用狀業務</h5>
								<ul class="list-disc list--item-mb-xs">
									<li>即期信用狀 (Sight L/C)</li>
									<li>遠期信用狀 (Usance L/C)</li>
									<li>買方遠期信用狀 (Buyer's Usance)</li>
									<li>賣方遠期信用狀 (Seller's Usance)</li>
									<li>賣方遠期信用狀即期付款 (Seller's Usance Pay at Sight)</li>
									<li>擔保信用狀 (Standby L/C)</li>
								</ul>
							</div>
							<div class="col-12 col-md">
								<h5 class="h4 h3-mb mb-3  text-dark fw-bold">進口託收業務</h5>
								<ul class="list-disc list--item-mb-xs">
									<li>承兌交單 (Document Against Acceptance)</li>
									<li>付款交單 (Document Against Payment)</li>
								</ul>
							</div>
						</div>
					</li>
	
					<!-- Graph item -->
					<li class="col-12 col-md-4  mb-4  px-md-2">
						<div class="d-flex align-items-center  mb-3">
							<figure class="graph  mr-3">
								<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/export.svg">
							</figure>
							<h4 class="h3 text-dark fw-bolder lh-sm">出口業務</h4>
						</div>
						<div>
							<ul class="list-disc list--item-mb-xs">
								<li>出口押匯</li>
								<li>出口託收</li>
								<li>信用狀通知</li>
								<li>信用狀轉讓</li>
								<li>信用狀保兌</li>
								<li>開發國內信用狀</li>
								<li>應得款項之移轉 (Assignment of Proceeds)</li>
								<li>遠期信用狀賣斷業務</li>
							</ul>
						</div>
					</li>
	
	
				</ul>
			</div>
		
			<div class="py-section"></div>
		
		
			<p class="mb-3">即便您無法完全消除相關風險，但信用狀能夠大幅減少您的交易對手違約之可能，信用狀一般能夠指定出貨及付款日期以符合您的庫存與金流需求。因此，您可以放心讓本行專業的服務及知識幫助您的業務更具生產力和獲利能力！</p>
			
			<p>本行的出口服務可以有效降低出口商對於已運往外國買家的貨物未付款的風險。我們是您可靠的夥伴，協助您的出口業務並客製化符合您需求的產品，例如信用狀和跟單託收。</p>
		</div>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->