@{
   ViewData["PageTitle"] = "薪轉服務";
   ViewData["PageDescription"] = "我們為企業提供標準化、划算且全面又具彈性的薪轉服務。 將這些任務外包給國泰世華銀行柬埔寨子行經驗豐富的專業人士後，您可以專注於策略上的問題，例如管理和發展您的業務。";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		薪轉服務
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-payroll.jpg" />
						<img srcset="/assets/img/topkv/business-payroll-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">薪轉服務</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">薪轉服務</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		薪轉服務 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">薪轉服務</h2>
			<p class="text-left">您的員工是您最重要的資產。 然而，對您的企業來說，每月花在復雜的薪水計算、支付和文書工作上的時間可能既瑣碎又費工。 但是，即使在高壓之下，還是必須準確計算並按時支付薪水。 國泰世華銀行柬埔寨子行了解計算薪水帶給您持續又無情的壓力。 這就是為什麼我們為企業提供標準化、划算且全面又具彈性的薪轉服務。 將這些任務外包給國泰世華銀行柬埔寨子行經驗豐富的專業人士後，您可以專注於策略上的問題，例如管理和發展您的業務。</p>
		</header>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->