@{
   ViewData["PageTitle"] = "匯款服務";
   ViewData["PageDescription"] = "匯款（國外匯款、國內匯款或支付指令）是從發起人發起匯款或支付指令開始，為特定目的向指定的受益人匯款，並由受益人的銀行接受後所完成的過程。";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		匯款服務
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-remittance.jpg" />
						<img srcset="/assets/img/topkv/business-remittance-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">匯款服務</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">匯款服務</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		匯款服務 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-left">
			<blockquote class="h4 h4-mb">匯款（國外匯款、國內匯款或支付指令）是從發起人發起匯款或支付指令開始，為特定目的向指定的受益人匯款，並由受益人的銀行接受後所完成的過程。</blockquote>
		</header>
		
		<section class="compact">
			<!-- Page title -->
			<h2 class="display-3 h1-mb  mb-3  text-black  text-center fw-bold">電匯服務</h2>
			<p class="mb-4">當您需要與外國同業進行金融交易時，國泰世華銀行柬埔寨子行可以透過我們的外國往來銀行網絡快速有效地處理您的資金出入。</p>
			
			<!-- Downloads -->
			<p class="text-center">
				<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer"  href="/file/Inward Remittance Guide.pdf" target="_blank">匯入款項指示<i class="ico-ui-download ml-2"></i></a>
			</p>
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">匯入＆匯出款項</h3>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col>
							<col width="40%">
							<col width="40%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">項目</th> 
								<th scope="col" class="h4 h4-mb">匯入款項手續費</th>
								<th scope="col" class="h4 h4-mb">匯出款項手續費</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">國外</th>
								<td>匯款本金之0.10%；最低10.00美元</td>
								<td>
									匯款本金之0.20%；最低 15.00 美元，外加郵電費20.00美元
									(全額匯達受款行另加30.00美元)
								</td>
							</tr>
							<tr>
								<th scope="row">國內</th>
								<td>每筆手續費5.00美元</td>
								<td>匯款本金之0.05%，最低 5.00美元</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
	
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">匯票</h3>
			<p class="mb-4">匯票可以新加坡幣或美元向新加坡指定受益人支付相對較不即時之付款。本行海外往來同業將匯票存入受款銀行並進行清算後，即會向受益人支付款項。</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">手續費</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">匯票本金之0.22% ；最低 20.00美元外加郵電費20.00美元</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">銀行本票</h3>
			<p class="mb-4">如受益人不接受現金或個人支票，您可使用銀行本票，此為本行簽發之支票，收款人為本票購買人所指定之收款人。</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">手續費</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">10.00美元/每張</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">修改/查詢/退匯手續費</h3>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">項目</th> 
								<th scope="col" class="h4 h4-mb">手續費</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>修改/查詢</td>
								<td>郵電費30.00美元/筆</td>
							</tr>
							<tr>
								<td>退匯</td>
								<td>郵電費40.00美元/筆</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
			
			<ul class="list-disc  mt-4  h6 h6-mb">
				<li>匯出匯款業務產生之國外銀行費用，按國外銀行實際收取之費用計收。</li>
				<li>本行有權隨時變更所有佣金和收費。</li>
				<li>如涉及第三方和其他可能發生之費用，本行將另行酌收。</li>
			</ul>
		</section>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->