@{
   ViewData["PageTitle"] = "人才招募";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		人才招募
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">人才招募</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">人才招募</a></li>
				<li class="breadcrumb-item active" aria-current="page">Specialist, Credit Risk Analysis</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		人才招募 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Specialist, Credit Risk Analysis</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Perform customer due diligence and financial analysis </li>
					<li class="mb-2">Provide credit expertise in structuring loan </li>
					<li class="mb-2">Evaluate creditworthiness of customer and assign appropriate credit rating </li>
					<li class="mb-2">Ensure and maintain updated credit portfolio of clients </li>
					<li class="mb-2">Undertaking risk assessment analysis </li>
					<li class="mb-2">Ensure bank credit exposures within set risk bearing limits </li>
					<li class="mb-2">Along with Credit Marketing team visit customer’s collateral </li>
					<li class="mb-2">Assist with recruiting, training and development of new team member </li>
					<li class="mb-2">Make recommendation to the change of credit risk policy and procedure </li>
					<li class="mb-2">Other tasks as assigned by supervisor</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Holding Bachelor Degree in Banking and Finance, Accounting, English or equivalent with minimum 02 years’ experience in Banking Industry or MFI </li>
					<li class="mb-2">Master Degree or pursuing Master Degree in related field is an advantage </li>
					<li class="mb-2">Good analytical and interpersonal skills with detail oriented personality  </li>
					<li class="mb-2">Good command of English both spoken and written, knowledge of Chinese is a plus </li>
					<li class="mb-2">Willingness for provincial travel and ability to work under pressure </li>
					<li class="mb-2">A good team player who is able to work independently</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
