<!-- Terms & Conditions -->
<section class="compact">
    <!-- Section heading -->
    <h3 class="h1 h2-mb mb-4 text-black fw-bold text-center lh-sm">ខចែងនិងលក្ខខណ្ឌ</h3>

    <!-- FAQ list -->

    <!-- QA item -->
    <section data-label="fast-transfer" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                សេវាផ្ទេរប្រាក់រហ័ស  
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>សេវាផ្ទេរប្រាក់រហ័ស សំដៅដល់ការផ្ទេរប្រាក់ក្នុងស្រុកជារូបិយប័ណ្ណរៀល ទៅកាន់គណនីធនាគារក្នុងស្រុកផ្សេងទៀតដែលជាសមាជិករបស់ប្រព័ន្ធទូទាត់រហ័ស។</p>
                <p class="mt-2">តាមរយៈការប្រើប្រាស់សេវាផ្ទេរប្រាក់រហ័ស ខ្ញុំបានយល់ព្រមទៅតាមលក្ខខណ្ឌផ្សេងៗដែលគ្រប់គ្រងទៅលើសេវាអេឡិចត្រូនិច​ គណនីសន្សំ គណនីចរន្ត ព្រមទាំងសេវាផ្ទេរប្រាក់ក្នុងស្រុក។</p>
                <p class="mt-2">ខ្ញុំបានដឹងថាប្រតិបត្តិការរបស់ខ្ញុំ ត្រូវបានធ្វើឡើងដោយផ្អែកទៅលើអត្រាប្ដូរប្រាក់ក្នុងកំឡុងពេលធ្វើប្រតិបត្តិការ ដែលអាចខុសគ្នាពីអត្រាប្ដូរប្រាក់ដែលបានបង្ហាញលើគេហទំព័ររបស់ធនាគារ (CUBC)​។</p>
                <p class="mt-2">ខ្ញុំយល់ព្រមផ្តល់ជូននូវរាល់ឯកសារពាក់ព័ន្ធបន្ថែមដែលតម្រូវដោយធនាគារ​ (CUBC) ហើយខាងធនាគារ (CUBC) នឹងមិនទទួលខុសត្រូវចំពោះប្រតិបត្តិការណាមួយដែលមិនត្រូវបានធ្វើឡើង ដោយសារតែឯកសារតម្រូវមិនគ្រប់គ្រាន់នោះឡើយ។</p>
            </div>
        </div>
    </section>
    

    <!-- QA item -->
    <section data-label="ncs" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ការផ្ទេរប្រាក់ក្នុងស្រុក 
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>ការផ្ទេរប្រាក់ក្នុងស្រុក សំដៅដល់សេវាផ្ទេរប្រាក់ទៅកាន់ធនាគារក្នុងស្រុកផ្សេងទៀត​។</p>
                <p class="mt-2">តាមរយៈការប្រើប្រាស់សេវាផ្ទេរប្រាក់ក្នុងស្រុក ខ្ញុំបានយល់ព្រមទៅតាមលក្ខខណ្ឌផ្សេងៗដែលគ្រប់គ្រងទៅលើសេវាអេឡិចត្រូនិច​ គណនីសន្សំ គណនីចរន្ត ព្រមទាំងសេវាផ្ទេរប្រាក់ក្នុងស្រុក។</p>
                <p class="mt-2">ខ្ញុំបានដឹងថាប្រតិបត្តិការរបស់ខ្ញុំ ត្រូវបានធ្វើឡើងដោយផ្អែកទៅលើអត្រាប្ដូរប្រាក់ក្នុងកំឡុងពេលធ្វើប្រតិបត្តិការ ដែលអាចខុសគ្នាពីអត្រាប្ដូរប្រាក់ដែលបានបង្ហាញលើគេហទំព័ររបស់ធនាគារ (CUBC)​។</p>
                <p class="mt-2">ខ្ញុំយល់ព្រមផ្តល់ជូននូវរាល់ឯកសារពាក់ព័ន្ធបន្ថែមដែលតម្រូវដោយធនាគារ​ (CUBC) ហើយខាងធនាគារ (CUBC) នឹងមិនទទួលខុសត្រូវចំពោះប្រតិបត្តិការណាមួយដែលមិនត្រូវបានធ្វើឡើង ដោយសារតែឯកសារតម្រូវមិនគ្រប់គ្រាន់នោះឡើយ។</p>
            </div>
        </div>
    </section>
    

    <!-- QA item -->
    <section data-label="online-fixed-deposit-account" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ខចែង និង លក្ខខណ្ឌនៃគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញ 
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>ប្រសិនបើលោកអ្នកមានបំណងប្រើប្រាស់សេវាកម្មប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ខចែង និងលក្ខខណ្ឌផ្សេងៗនឹងត្រូវអនុវត្តភ្លាមៗ ហើយលោកអ្នកត្រូវបានសន្មតថាយល់ព្រមជាមួយ ខចែង និងលក្ខខណ្ឌទាំងនេះមុនពេលលោកអ្នកអាចប្រើប្រាស់សេវាកម្មមួយនេះ។ ជាការចាំបាច់ណាស់ដែលលោកអ្នកត្រូវអាន ខចែង និង លក្ខខណ្ឌទាំងនេះមុនពេលលោកអ្នកប្រើប្រាស់សេវាកម្មប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។ ប្រសិនបើលោកអ្នកមានចម្ងល់ ឬ មិនទាន់យល់ច្បាស់ត្រង់ចំនុចណាមួយទៅលើ ខចែង និងលក្ខខណ្ឌទាំងនេះ លោកអ្នកអាចធ្វើការទំនាក់ទំនងមកខាង ធនាគារយើងខ្ញុំដើម្បីធ្វើការបញ្ជាក់បន្ថែមជូនលោកអ្នកអោយកាន់តែច្បាស់។</p>


                <p class="mt-2">ខចែង និង លក្ខខណ្ឌក្នុងឯកសារនេះមិនតំណាងឱ្យលក្ខខណ្ឌទាំងអស់ដែលផលិតផល និងសេវាកម្មរបស់ធនាគារត្រូវបានផ្តល់ជូននោះទេ។ ទោះយ៉ាងណាក៏ដោយ លក្ខខណ្ឌបន្ថែមអាចត្រូវបានបញ្ជាក់ដោយច្បាប់ និងបទប្បញ្ញត្តិនានា។</p>

                <p class="mt-2">ធនាគារយើងខ្ញុំ រក្សាសិទ្ធិក្នុងការកែប្រែនូវ ខចែង និង លក្ខខណ្ឌណាមួយដោយមិនចាំបាច់មានការជូនដំណឹងជាមុន។</p>


                <p class="mt-2">
                    <strong>ការបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញ</strong>
                </p>
                <p>គណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញបើកដំណើរការតាមរយៈប្រព័ន្ធធនាគារអនឡាញរបស់ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ជាមួយនឹងតម្រូវការដូចជា៖ ចំនួនប្រាក់បញ្ញើបឋមអប្បបរមា ចំនួនប្រាក់អតិបរមាក្នុងការបើក ប្រភេទរូបិយប័ណ្ណ រយៈពេល លក្ខខណ្ឌ អត្រាការប្រាក់ និង ព័ត៌មានជាក់លាក់របស់អតិថិជន។</p>


                <p class="mt-2">
                    <strong>គណនីបង្គោល</strong>
                </p>
                <p>អតិថិជនអាចដាក់ពាក្យសុំបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធធនាគារអនឡាញ លុះត្រាតែពួកគេមានយ៉ាងហោចណាស់នូវគណនីសន្សំផ្ទាល់ខ្លួន ឬគណនីចរន្តផ្ទាល់ខ្លួន (តាមលក្ខខណ្ឌដាច់ដោយឡែក) ដែលអនុញ្ញាតឲ្យភ្ជាប់ជាមួយប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>
                <p class="mt-2">គណនីបង្គោលមិនអាចបិទបានទេ ប្រសិនបើមានការភ្ជាប់ជាមួយនឹងគណនីប្រាក់បញ្ញើមានកាលកំណត់ផ្សេងទៀតដែលមានរួចក្នុងបញ្ជីគណនី លើកលែងតែមានការរៀបចំផ្សេងទៀតសម្រាប់ការបិទគណនីត្រូវបានបង្កើត ឬបានយល់ព្រមដោយធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>


                <p class="mt-2">
                    <strong>រូបិយប័ណ្ណ</strong>
                </p>
                <p>ប្រភេទរូបិយប័ណ្ណ ដើម្បីបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក អាចជា ប្រាក់ដុល្លារ ឬ ប្រាក់រៀល។ រូបិយប័ណ្ណផ្សេងគ្នា (ឧទាហរណ៍៖ គណនីបង្គោលជាប្រាក់ដុល្លារ ទៅគណនីប្រាក់បញ្ញើមានកាលកំណត់ជាប្រាក់រៀល) គឺមិនត្រូវបានអនុញ្ញាតឲ្យបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញនោះទេ។ ធនាគារយើងខ្ញុំ អាចនឹងមានការផ្លាស់ប្តូរនិងកែប្រែ សិទ្ធិ និង លក្ខខណ្ឌក្នុងពេលវេលាណាមួយ ដែលនឹងអាចមាននៅក្នុងកំណែថ្មីនៃប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>


                <p class="mt-2">
                    <strong>រយៈពេល និង ​អត្រាការប្រាក់</strong>
                </p>
                <p>ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក អាចផ្ដល់ជូននូវរយៈពេល និង អត្រាការប្រាក់មានភាពខុសគ្នានៃគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ ជាមួយនឹងប្រភេទខុសគ្នាក្នុងការបើក ហើយអត្រាការប្រាក់នឹងត្រូវបានផ្តល់ជូនអតិថិជនទៅតាមប្រភេទផ្សេងគ្នានៃរយៈពេល និងចំនួនទឹកប្រាក់បញ្ញើដែលអតិថិជនជ្រើសរើសដើម្បីបើកគណនី។ នេះគឺជាអត្រាការប្រាក់របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដើម្បីធ្វើឲ្យប្រាកដថា វាគឺជាការផ្ដល់ជូននូវសេវាកម្មនិងដំណោះស្រាយដ៏ល្អបំផុតមួយទៅលើវិស័យវិនិយោគសម្រាប់អតិថិជន។</p>




                <p class="mt-2">
                    <strong>អត្រាការប្រាក់ និងសេចក្តីណែនាំអំពីកាលកំណត់</strong>
                </p>

                <p class="mt-2">អតិថិជន យល់ព្រម និងទទួលស្គាល់ថា អត្រាការប្រាក់នៃគណនីប្រាក់បញ្ញើមានកាលកំណត់អាចនឹងមានការផ្លាស់ប្តូរ/កែប្រែនៅពេលវេលាណាមួយ ផ្អែកលើការសម្រេចចិត្តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដើម្បីស្របតាមស្ថានភាពតម្រូវជាក់ស្តែងក្នុងការការពារផលប្រយោជន៍ស្របច្បាប់របស់ធនាគារ និងអាចមានការជូនដំណឹង ឫស្នើសុំការយល់ព្រមពីអតិថិជន (ប្រសិនបើតម្រូវដោយច្បាប់ និងបទប្បញ្ញតិ្ដពាក់ព័ន្ធ)។</p>

                <p class="mt-2">សម្រាប់ការទូទាត់ការប្រាក់ នឹងត្រូវធ្វើការទូទាត់ទៅឲ្យម្ចាស់គណនីដែលបានជ្រើសរើសបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញដែលអនុលោមតាមប្រភេទខុសគ្នានៃលក្ខខណ្ឌមានកាលកំណត់។ ប្រសិនបើ គណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញបានបិទមុនពេលកាលបរិច្ឆេទកំណត់ ការប្រាក់នឹងមិនត្រូវបានផ្ដល់ជូនអតិថិជននោះឡើយ។ ទឹកប្រាក់ដើម និង ការប្រាក់នឹងត្រូវបានផ្ដល់ជូនសម្រាប់ការបិទគណនីនៅកាលបរិច្ឆេទកំណត់តែប៉ុណ្ណោះ។ ការប្រាក់ទាំងអស់ដែលត្រូវផ្ដល់ជូននឹងត្រូវដកពន្ធកាត់ទុកស្របតាមច្បាប់ និង បទប្បញ្ញត្តិពន្ធដារដែលចូលជាធរមាននៃព្រះរាជាណាចក្រកម្ពុជា។</p>

                <p class="mt-2">ពន្ធកាត់ទុកនិវាសនជននឹងត្រូវដកពីការទូទាត់ការប្រាក់ដែលបានបង្កើតសម្រាប់ម្ចាស់គណនីជនជាតិខ្មែរ។ ទោះជាយ៉ាងណា ពន្ធកាត់ទុកនិវាសនជនអាចអនុវត្តបានសម្រាប់តែជនបរទេសដែលធ្លាប់បានរស់នៅក្នុងប្រទេសកម្ពុជាយ៉ាងតិច១៨២ថ្ងៃ ដោយមានការផ្ដល់ឯកសារគ្រប់គ្រាន់។ សម្រាប់ម្ចាស់គណនីអនិវាសនជននឹងត្រូវដកពន្ធកាត់ទុកតាមពន្ធកាត់ទុកអនិវាសនជន។ យើងផ្ដោតទៅលើភាពត្រឹមត្រូវនៃឯកសារនិងព័ត៌មានដែលលោកអ្នកបានផ្ដល់ឲ្យដើម្បីជ្រើសរើសប្រភេទពន្ធមួយដែលត្រឹមត្រូវសម្រាប់គណនីលោកអ្នក។</p>


                <p class="mt-2">
                    <strong>វិញ្ញាបនបត្រប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ</strong>
                </p>
                <p>សម្រាប់ការដាក់ប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក នឹងមិនផ្តល់ជូននូវវិញ្ញាបនបត្រឡើយ។ វានឹងត្រូវបានចុះបញ្ជីគណនីនៅក្នុងកម្មវិធីប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដែលលោកអ្នកអាចមើលព័ត៌មានលម្អិតនៃការដាក់ប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ ឬ ប្រតិបត្តិការនៃគណនីបង្គោល។</p>


                <p class="mt-2">
                    <strong>លេខកូដសម្ងាត់ (OTP)</strong>
                </p>
                <p>លេខកូដ OTP មាន ៦ ខ្ទង់ដែលបង្កើតដោយប្រព័ន្ធស្វ័យប្រវត្តិហើយផ្ញើទៅកាន់លេខទូរស័ព្ទរបស់ម្ចាស់គណនីដែលបានចុះឈ្មោះប្រើប្រាស់សេវាកម្មធនាគារតាមប្រព័ន្ធអ៊ីនធឺណិតជាមួយធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>


                <p class="mt-2">
                    <strong>ការផ្ទៀងផ្ទាត់ជីវមាត្រ</strong>
                </p>
                <p>ការផ្ទៀងផ្ទាត់ជីវមាត្រគឺអនុញ្ញាតសម្រាប់អតិថិជនដែលបានប្រើប្រាស់ទូរស័ព្ទជាមួយ ស្នាមក្រយៅដៃ ឬការសម្គាល់ទម្រង់មុខ សម្រាប់សេវាកម្មធនាគារតាមប្រព័ន្ធអ៊ីនធឺណិតផ្ទាល់ខ្លួន។</p>



                <p class="mt-2">
                    <strong>ការបិទគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ</strong>
                </p>
                <p>ប្រសិនបើលោកអ្នកចង់បិទគណនីប្រាក់បញ្ញើមានកាលកំណត់នេះ លោកអ្នកត្រូវអញ្ជើញមកកាន់សាខា របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ណាមួយដើម្បីធ្វើការបិទ។</p>




                <p class="mt-2">
                    <strong>ព័ត៌មាន​ផ្ទាល់ខ្លួន</strong>
                </p>

                <p class="mt-2">យើងយកចិត្តទុកដាក់ចំពោះឯកជនភាពរបស់លោកអ្នក។ រាល់ព័ត៌មានទាំងអស់ដែលលោកអ្នកបានផ្តល់ជូនធនាគារនឹងត្រូវបានរក្សាទុកជាការសម្ងាត់និងសុវត្ថិភាពដោយខាងធនាគារ។ ប្រសិនបើលោកអ្នកជ្រើសរើសប្រើប្រាស់សេវាកម្មទាំងនេះ នោះលោកអ្នកយល់ព្រមនឹងគោលការណ៍ឯកជនភាពរបស់សេវាធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក (CUBC mBanking)។ លោកអ្នកមានសិទ្ធិទទួលបានព័ត៌មានទាំងនោះដោយអាចស្នើសុំនៅការិយាល័យកណ្តាល ឬសាខាណាមួយរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ហើយលោកអ្នក ប្រកាសថាព័ត៌មានដែលបានផ្តល់គឺពិតនិងត្រឹមត្រូវ។</p>
                <p class="mt-2">ធនាគារយើងខ្ញុំនឹងខិតខំប្រឹងប្រែងដើម្បីរក្សាព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នកឱ្យបានទាន់ពេលវេលា។ ដើម្បីជាជំនួយដល់យើងខ្ញុំ សូមអនុញ្ញាតឱ្យយើងខ្ញុំដឹងពីការផ្លាស់ប្តូរណាមួយនៅក្នុងព័ត៌មានលម្អិតផ្ទាល់ខ្លួននិងអាជីវកម្មរបស់លោកអ្នក។</p>



                <p class="mt-2">
                    <strong>ដំណោះស្រាយ</strong>
                </p>
                <p>សម្រាប់ការបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធធនាគារអនឡាញ យើងដឹងថាពេលខ្លះអាចនឹងមានបញ្ហាកើតឡើង ខណៈពេលលោកអ្នកកំពុងធ្វើប្រតិបត្តិការ ឬបន្ទាប់ពីលោកអ្នកបានបញ្ចប់ប្រតិបត្តិការរួចរាល់។ នៅពេលដែលមានបញ្ហាទាំងអស់នេះ ធនាគារនឹងព្យាយាមកំណត់នូវមូលហេតុដែលបណ្តាលឲ្យមានបញ្ហាកើតឡើងជាមួយនឹងការផ្តល់ជូនអតិថិជននូវដំណោះស្រាយដ៏ល្អបំផុត។ ក្នុងករណីដែលលោកអ្នកជឿជាក់ថាគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធធនាគារអនឡាញរបស់លោកអ្នកមានបញ្ហាកើតឡើង សូមធ្វើការទំនាក់ទំនងភ្លាមៗមកកាន់ផ្នែកទំនាក់ទំនងរបស់ធនាគារដោយទូរស័ព្ទទៅកាន់លេខ (៨៥៥) ២៣ ៨៨ ៥៥ ០០។</p>

            </div>
        </div>
    </section>

    
    

    <!-- QA item -->
    <section data-label="telegraphic-transfer" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ការផ្ទេរប្រាក់ Telegraphic Transfer (International) 
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>ការផ្ទេរប្រាក់ Telegraphic Transfer (International) សំដៅដល់ការផ្ទេរប្រាក់ទៅកាន់ធនាគារផ្សេងៗនៅក្រៅប្រទេស។</p>
                <p class="mt-2">តាមរយៈការប្រើប្រាស់សេវាផ្ទេរប្រាក់ Telegraphic Transfer (International) ខ្ញុំបានយល់ព្រមទៅតាមលក្ខខណ្ឌផ្សេងៗដែលគ្រប់គ្រងទៅលើសេវាអេឡិចត្រូនិច​ គណនីសន្សំ គណនីចរន្ត ព្រមទាំងសេវាផ្ទេរប្រាក់ក្រៅប្រទេស។ </p>
                <p class="mt-2">ខ្ញុំបានដឹងថាប្រតិបត្តិការរបស់ខ្ញុំ ត្រូវបានធ្វើឡើងដោយផ្អែកទៅលើអត្រាប្ដូរប្រាក់ក្នុងកំឡុងពេលធ្វើប្រតិបត្តិការ ដែលអាចខុសគ្នាពីអត្រាប្ដូរប្រាក់ដែលបានបង្ហាញលើគេហទំព័ររបស់ធនាគារ (CUBC)​។</p>
                <p class="mt-2">ខ្ញុំយល់ព្រមផ្តល់ជូននូវរាល់ឯកសារពាក់ព័ន្ធបន្ថែមដែលតម្រូវដោយធនាគារ​ (CUBC) ហើយខាងធនាគារ (CUBC) នឹងមិនទទួលខុសត្រូវចំពោះប្រតិបត្តិការណាមួយដែលមិនត្រូវបានធ្វើឡើង ដោយសារតែឯកសារតម្រូវមិនគ្រប់គ្រាន់នោះឡើយ។</p>
            </div>
        </div>
    </section>

</section>