
<!-- Terms & Conditions -->
<section class="compact">
    <!-- Section heading -->
    <h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">ខចែង និងលក្ខខណ្ឌ</h3>
    
    <p class="text-center mb-3 tcHint"><a class="text-green text-underline" href="@ViewData["siteLangUrl"]personal/terms-and-conditions-mbanking/">សូមចុចទីនេះ</a> ដើម្បីអានពីសុវត្ថិភាពឯកជនភាពរបស់ធនាគារយើងខ្ញុំសម្រាប់កម្មវិធីធនាគារចល័ត។</p>


                <!-- FAQ list -->

    <!-- QA item -->
    <section data-label="digital-account" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ខចែងនិងលក្ខខណ្ឌនៃគណនីឌីជីថល
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div>
                    <p><strong>1. សេចក្ដីណែនាំ</strong></p>
                    <p class='mt-2'>ខចែងនិងលក្ខខណ្ឌគឺជា “កិច្ចព្រមព្រៀង” រវាងអតិថិជនរបស់ធនាគារ “លោកអ្នក”,“អតិថិជន” និង ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក (តទៅនេះហៅថា “ធនាគារ”) ទាក់ទងនឹងការប្រើប្រាស់គណនីឌីជីថលរបស់ធនាគារ ដែលបង្កើតនៅក្នុងកម្មវិធីធនាគារចល័តរបស់ធនាគារកាថេ។ ខចែងនិងលក្ខខណ្ឌនឹងត្រូវបានអនុវត្តភ្លាមៗ ហើយលោកអ្នកត្រូវបានចាត់ទុកថាព្រមទទួលយកលក្ខខណ្ឌទាំងនេះ មុនពេលដែលលោកអ្នកអាចប្រើប្រាស់សេវាកម្មនេះ។ វាមានសារៈសំខាន់ណាស់ដែលលោកអ្នកត្រូវអានលក្ខខណ្ឌទាំងនេះ មុនពេលលោកអ្នកប្រើប្រាស់គណនីឌីជីថល។ ដោយចុចលើពាក្យ “យល់ព្រម” មានន័យថាលោកអ្នកយល់ព្រមតាមលក្ខខណ្ឌទាំងអស់នៅក្នុងកិច្ចព្រមព្រៀងនេះ ហើយទទួលយកការទទួលខុសត្រូវក្នុងការបង្កើតគណនីឌីជីថលជាមួយធនាគារ។</p>
                </div>

                <div class="mt-4">
                    <p><strong>2. និយមន័យ</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>ធនាគារ: សំដៅដល់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក</li>
                        <li>កម្មវិធីធនាគារចល័តរបស់ធនាគារ: សំដៅលើកម្មវិធីទូរស័ព្ទរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក</li>
                        <li>គណនីឌីជីថល: សំដៅលើគណនីដែលបានបើក តាមរយៈកម្មវិធីធនាគារចល័តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដោយអតិថិជនថ្មី</li>
                        <li>ការដំឡើងគណនីឌីជីថល: សំដៅលើអតិថិជនដែលប្រើគណនីឌីជីថល បន្ទាប់មកពួកគេចង់ធ្វើដំឡើងគណនីឌីជីថលរបស់ពួកគេ ដើម្បីអាចដំណើរការមុខងារពេញលេញជាគណនីសន្សំ។</li>
                    </ul>
                </div>


                <div class="mt-4">
                    <p><strong>3. លក្ខខណ្ឌពេញសិទ្ធិ</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>ត្រូវមានអាយុយ៉ាងតិច 18​ (ដប់ប្រាំបី) ឆ្នាំ</li>
                        <li>សម្រាប់សញ្ជាតិខ្មែរតែប៉ុណ្ណោះ</li>
                        <li>អត្តសញ្ញាណប័ណ្ណខ្មែរដែលមានសុពលភាព និងជាច្បាប់ដើម (NID)</li>
                        <li>ជាអតិថិជនថ្មី (ឯកបុគ្គល) ដែលបើកគណនីដំបូងជាមួយធនាគារ តាមរយៈកម្មវិធីធនាគារចល័តរបស់ធនាគារកាថេ។</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>4. លក្ខខណ្ឌតម្រូវ</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>មិនមានការ jailbreak ឬ root ទៅលើស្មាតហ្វូនដែលប្រើប្រព័ន្ធប្រតិបត្តិការ iOS ឬ Android</li>
                        <li>កម្រិតកាមេរ៉ាមានគុណភាពល្អ ដើម្បីថតរូបអត្តសញ្ញាណប័ណ្ណ និង ថតរូប Selfie ច្បាស់</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>5. ព័ត៌មានផ្ទាល់ខ្លួន និងការសម្ងាត់</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>លោកអ្នកធានាថាព័ត៌មានទាំងអស់ដែលបានផ្តល់ជូនគឺពិតជាត្រឹមត្រូវ។ នៅពេលធនាគារត្រូវការបន្ថែមលើព័ត៌មានផ្ទាល់ខ្លួនឬអាជីវកម្មរបស់លោកអ្នកដែលចាំបាច់ ហើយក្នុងករណីណាមួយដែលលោកអ្នកបដិសេធ ឬពន្យារពេលក្នុងការផ្ដល់ជូន នោះលោកអ្នកយល់ព្រមឱ្យធនាគារផ្អាកសេវាកម្មទាំងអស់របស់លោកអ្នក ឬផ្នែកណាមួយ។</li>
                        <li>ធនាគារចាត់ទុកឯកជនភាពរបស់លោកអ្នកជាសំខាន់។ រាល់ព័ត៌មានទាំងអស់របស់លោកអ្នក ដែលបានផ្តល់ជូនធនាគារ នឹងត្រូវបានរក្សាទុកជាការសម្ងាត់ និងរក្សាសុវត្ថិភាពដោយខាងធនាគារ។ ប្រសិនបើលោកអ្នកជ្រើសរើសប្រើប្រាស់សេវាកម្មទាំងនេះ នោះលោកអ្នកយល់ព្រមនឹងគោលការណ៍ឯកជនភាពរបស់កម្មវិធីធនាគារចល័តរបស់ធនាគារ។</li>
                        <li>ធនាគារនឹងខិតខំប្រឹងប្រែង ដើម្បីរក្សាបច្ចុប្បន្នភាពព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក។ ដើម្បីជាកិច្ចសហការជាមួយធនាគារ សូមជូនដំណឹងមកកាន់ធនាគារអំពីការផ្លាស់ប្តូរណាមួយនៃព័ត៌មានផ្ទាល់ខ្លួន និងព័ត៌មានលម្អិតអំពីអាជីវកម្មរបស់លោកអ្នក។</li>
                        <li>ធនាគាររក្សាសុវត្ថិភាព និងភាពសម្ងាត់នៃព័ត៌មានរបស់លោកអ្នក។ ប៉ុន្តែធនាគាររក្សាសិទ្ធិក្នុងការបង្ហាញព័ត៌មាននេះទៅកាន់អាជ្ញាធរ ដោយអនុលោមទៅតាមច្បាប់ នៃព្រះរាជាណាចក្រកម្ពុជា។ ធនាគារយើងខ្ញុំ អាចចែករំលែកព័ត៌មានដែលពាក់ព័ន្ធ (ដូចជាការគ្រប់គ្រងព័ត៌មាន) ជាមួយ Cathay Financial Group (រាប់បញ្ចូលទាំង ប៉ុន្តែមិនកំណត់ចំពោះ CUB និងក្រុមហ៊ុនដែលពាក់ព័ន្ធ និងភ្នាក់ងារខាងក្រៅដែលត្រូវបានប្រគល់ឱ្យដោយធនាគារដើម្បីដោះស្រាយកិច្ចការ) ដោយសារតែតម្រូវការនៃការអនុវត្ត CUBC mBanking ។</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>6. រូបិយប័ណ្ណ</strong></p>
                    <p class='mt-2'>ធនាគារផ្តល់នូវរូបិយប័ណ្ណ ប្រាក់រៀល និង ប្រាក់ដុល្លារក្នុងពេលតែមួយសម្រាប់អតិថិជន នៅពេលមានការស្នើសុំបើកគណនីឌីជីថលតាមរយៈកម្មវិធីធនាគារចល័តរបស់ធនាគារ។</p>
                </div>

                <div class="mt-4">
                    <p><strong>7. សេវាកម្មដែលមានសម្រាប់គណនីឌីជីថល</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>នៅពេលបញ្ចប់ការស្នើសុំគណនីឌីជីថលដោយជោគជ័យ អតិថិជនអាចប្រើប្រាស់សេវាកម្ម ធនាគារ រួមមានដូចជា ការទូទាត់ ផ្ទេរប្រាក់ បើកប្រាក់បញ្ញើមានកាលកំណត់តាមអ៊ីនធឺណិត និងសេវាកម្ម ផ្សេងទៀតដែលមានក្នុងគណនីឌីជីថល។</li>
                        <li>ធនាគាររក្សាសិទ្ធិក្នុងការបន្ថែម ដកចេញ ឬលុបសេវាកម្មណាមួយនៅក្នុងគណនីឌីជីថល នៅ ពេលណាមួយដោយមិនចាំបាច់ជូនដំណឹងជាមុន និង/ឬ មានការយល់ព្រមពីអតិថិជន។</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>8. ការកំណត់ចំនួនទឹកប្រាក់នៃគណនីឌីជីថលសម្រាប់ប្រតិបត្តិការដកប្រាក់/ផ្ទេរប្រាក់</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li><strong>ការកំណត់ប្រចាំថ្ងៃសម្រាប់ប្រតិបត្តិការដក ប្រាក់/ផ្ទេរប្រាក់ថ្ងៃ</strong><br/>(អតិបរមា) USD 10,000.00<br/>(អតិបរមា) KHR 40,000,000.00</li>
                        <li><strong>ការកំណត់ប្រចាំខែសម្រាប់ប្រតិបត្តិការដកប្រាក់/ផ្ទេរប្រាក់</strong><br/>(អតិបរមា) USD 50,000.00<br/>(អតិបរមា) KHR 200,000,000.00</li>
                    </ul>
                    <p>ចំណាំ៖ សម្រាប់គណនីឌីជីថលមិនមានការកំណត់ចំនួនទឹកប្រាក់នៃប្រតិបត្តិការចូលគណនីទេ។</p>
                </div>

                <div class="mt-4">
                    <p><strong>9. អត្រាការប្រាក់</strong></p>
                    <p class='mt-2'>លោកអ្នក យល់ព្រម និងទទួលស្គាល់ថាអត្រាការប្រាក់នៃគណនីឌីជីថល អាចនឹងមានការផ្លាស់ប្តូរ/កែប្រែពីពេលមួយទៅពេលមួយ ផ្អែកលើការសម្រេចចិត្តរបស់ធនាគារ  ដើម្បីស្របតាមស្ថានភាពតម្រូវជាក់ ស្តែងក្នុងការការពារផលប្រយោជន៍ស្របច្បាប់របស់ធនាគារ និងអាចមានការជូនដំណឹង ឬស្នើរសុំការយល់ព្រមពីលោក/លោកស្រី (ប្រសិនបើតម្រូវដោយច្បាប់ និងបទប្បញ្ញតិ្ដពាក់ព័ន្ធ) ចំពោះរាល់ការប្រែប្រួលអត្រាការប្រាក់របស់គណនីឌីជីថល ។
                    </p>
                </div>

                <div class="mt-4">
                    <p><strong>10. ថ្លៃសេវានិងកម្រៃ</strong></p>
                    <p class='mt-2'>លោកអ្នកយល់ព្រមថា ធនាគារអាចកាត់ថ្លៃសេវានិងកម្រៃ ដែលអនុវត្តសម្រាប់ប្រតិបត្តិការដែលបានធ្វើឡើងក្នុងគណនីឌីជីថលរបស់លោកអ្នកដោយផ្ទាល់។ ថ្លៃសេវានិងកម្រៃ អាចត្រូវបានផ្លាស់ប្ដូរពីពេលមួយទៅពេលមួយដោយខាងធនាគារ ទាក់ទងនឹងការប្រើប្រាស់គណនីឌីជីថល។ ព័ត៌មានលម្អិតអំពីតម្លៃសេវានិងកម្រៃបច្ចុប្បន្នរបស់ធនាគារ មានបង្ហាញនៅក្នុងតារាងណែនាំអំពីតម្លៃ ឬនៅលើគេហទំព័ររបស់ធនាគារ ហើយមុនពេលបង្កើតគណនីឌីជីថល និង/ឬ ធ្វើប្រតិបត្តិការណាមួយ លោកអ្នកយល់ព្រមពិនិត្យលើតម្លៃសេវានិងកម្រៃបច្ចុប្បន្ន ហើយលោកអ្នកយល់ព្រមទទួលយកតម្លៃសេវានិងកម្រៃលើការធ្វើប្រតិបត្តិការ។</p>
                </div>

                <div class="mt-4">
                    <p><strong>11. ការដំឡើងគណនីឌីជីថល</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>ការដំឡើងពីគណនីឌីជីថលទៅជាគណនីធនាគារស្តង់ដារ (គណនីដែលបើកនៅបញ្ជរធនាគារ) ត្រូវបានណែនាំនិងលើកទឹកចិត្តដល់អតិថិជនទាំងអស់។ លោកអ្នកនឹងតម្រូវឱ្យអញ្ជើញទៅកាន់សាខាធនាគារដែលនៅជិតបំផុត ដើម្បីធ្វើការដំឡើងគណនី។</li>
                        <li>លោកអ្នកត្រូវផ្តល់ឯកសារតម្រូវផ្សេងទៀតដែលស្នើសុំដោយ CUBC សម្រាប់ការធ្វើឱ្យប្រសើរឡើងនូវគណនីឌីជីថល។</li>
                        <li>លោកអ្នកបានទទួលស្គាល់ថាសំណើរបស់លោកអ្នកសម្រាប់ការប្រើសេវាកម្មពេញលេញអាចត្រូវបានយល់ព្រម ឬបដិសេធដោយការពិចារណា និងការសម្រេចចិត្តជាឯកត្តោរបស់ធនាគារ។</li>
                        <li>លោកអ្នកទទួលយក និងយល់ព្រមថា បន្ទាប់ពីការដំឡើងគណនីឌីជីថល ប្រតិបត្តិការទាំងអស់នឹងត្រូវបានផ្លាស់ប្តូរដោយស្វ័យប្រវត្តិ ដោយអនុលោមតាមប្រតិបត្តិការរបស់គណនីសន្សំ។</li>
                    </ul>
                    
                </div>

                <div class="mt-4">
                    <p><strong>12. ការផ្អាក និងបញ្ឈប់ដំណើរការគណនី​</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>លោកអ្នកអាចបញ្ឈប់ដំណើរការគណនីឌីជីថលរបស់លោកអ្នក ដោយអញ្ជើញទៅកាន់សាខារបស់ធនាគារដែលនៅជិតបំផុត។</li>
                        <li>លោកអ្នកទទួលនិងយល់ព្រមថាធនាគាររក្សាសិទ្ធិក្នុងការបិទនិងផ្អាកគណនី ប្រសិនបើក្នុងករណីមានប្រតិបត្តិការមិនប្រក្រតីត្រូវបានរកឃើញ។</li>
                        <li>ធនាគារអាចផ្អាក ឬបញ្ឈប់ប្រតិបត្តិការគណនីឌីជីថលរបស់លោកអ្នក ដោយមិនចាំបាច់ជូនដំណឹងជាមុន ប្រសិនបើធនាគារពិចារណា ឬសង្ស័យ ឬរកឃើញថាលោកអ្នកបានផ្តល់ព័ត៌មានមិនពិត ឬមិនត្រឹមត្រូវ ឬរូបថតមិនត្រឹមត្រូវ ឬធនាគារទទួលបានការជូនដំណឹងពីភាគីទីបីអំពីការទាមទារទាក់ទងនឹងគណនីឌីជីថល។ ក្នុងករណីនេះ លោកអ្នកត្រូវតែសហការឱ្យបានពេញលេញដែលតម្រូវដោយធនាគារ ដើម្បីផ្ទៀងផ្ទាត់អត្តសញ្ញាណរបស់លោកអ្នក។ ធនាគារនឹងមិនទទួលខុសត្រូវចំពោះលោកអ្នក រាល់ការបាត់បង់ណាមួយដែលបណ្តាលមកពីការផ្អាក ឬការបញ្ឈប់បែបនេះឡើយ។</li>
                    </ul>
                </div>



                <div class="mt-4">
                    <p><strong>13. គណនីឌីជីថលអសកម្ម</strong></p>
                    <p class='mt-2'>ប្រសិនបើគណនីរបស់លោកអ្នកមិនមានសកម្មភាពប្រតិបត្តិការរយៈពេល 12 (ដប់ពីរ) ខែ ឬច្រើនជាងនេះ គិតចាប់ពីកាលបរិច្ឆេទបង្កើត ឬកាលបរិច្ឆេទប្រតិបត្តិការចុងក្រោយ (មិនរាប់បញ្ចូលប្រតិបត្តិការប្រព័ន្ធ) នោះគណនីរបស់លោកអ្នកនឹងត្រូវចាត់ទុកជាគណនីអសកម្ម ហើយធនាគារនឹងចាត់វិធានការដូចខាងក្រោម៖</p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>គណនីរបស់លោកអ្នកមិនអនុញ្ញាតឱ្យធ្វើការដាក់ប្រាក់ចូល ឬដកប្រាក់ចេញពីគណនីនេះទេ លុះត្រាតែស្ថានភាពរបស់គណនីត្រូវបានផ្លាស់ប្តូរពី “អសកម្ម” មកជា “សកម្ម” វិញ។ ប្រសិនបើលោកអ្នកចង់ផ្លាស់ប្តូរស្ថានភាពនេះ លោកអ្នកនឹងត្រូវស្នើសុំការផ្លាស់ប្ដូរស្ថានភាព។</li>
                        <li>គណនីអសកម្មនឹងត្រូវគិតថ្លៃសេវាប្រចាំឆ្នាំ។ ថ្លៃសេវាអសកម្មគឺលម្អិតនៅក្នុង "ការណែនាំអំពីតម្លៃដាក់ប្រាក់" នៅលើគេហទំព័ររបស់ធនាគារ។</li>
                        <li>ធនាគាររក្សាសិទ្ធិក្នុងការបិទគណនីរបស់លោកអ្នកដោយមិនចាំបាច់ជូនដំណឹងជាមុន ប្រសិនបើគណនីនេះអសកម្មលើសពី ១ ឆ្នាំ និងមានសមតុល្យសូន្យ។</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>14. កាតព្វកិច្ចប្រឆាំងការលាងសម្អាតប្រាក់ និងទប់ស្កាត់ហិរញ្ញប្បទានភេរវកម្ម</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>ប្រតិបត្តិការអាចនឹងត្រូវពន្យារពេល រារាំង បង្កក ឬបដិសេធ ក្នុងករណីដែលធនាគារមានហេតុផលគ្រប់គ្រាន់ដើម្បីសន្និដ្ឋានថា ប្រតិបត្តិការទាំងនោះបំពានច្បាប់ ឬរងទណ្ឌកម្មជាធរមាន (ច្បាប់ ឬទណ្ឌកម្មនៃប្រទេសផ្សេងទៀត) ។ ក្នុងករណីដែលប្រតិបត្តិការត្រូវបានពន្យារពេល រារាំង បង្កក ឬបដិសេធ ធនាគារ និងធនាគារទំនាក់ទំនងឆ្លើយឆ្លង មិនទទួលខុសត្រូវចំពោះការបាត់បង់ណាមួយដែលលោកអ្នកទទួលរងឡើយ (រួមទាំងការខាតបង់ដោយប្រយោលណាមួយ) ដែលបង្កឡើងក្នុងរូបភាពណាក៏ដោយ ពាក់ព័ន្ធនឹងផលិតផលណាមួយ។</li>

                        <li>ក្នុងករណីខ្លះធនាគារអាចនឹងត្រូវការព័ត៌មានបន្ថែមពីលោកអ្នក ដើម្បីចូលរួមជួយផ្ដល់ការសហការដល់ធនាគារក្នុងដំណើរការប្រតិបត្តិតាម ដែលបានរៀបរាប់ខាងលើ។</li>

                        <li>សកម្មភាពមូលដ្ឋានដែលផលិតផលណាមួយ កំពុងត្រូវបានផ្តល់ឱ្យ មិនត្រូវបានប្រើប្រាស់ដោយបំពានលើច្បាប់ ឬទណ្ឌកម្មជាធរមានទេ។</li>
                    </ul>
                </div>


                <div class="mt-4">
                    <p><strong>15. ការរក្សាសុវត្ថិភាព និងការប្រើប្រាស់កម្មវិធីធនាគារចល័ត</strong></p>
                    <p class='mt-2'>នៅពេលធ្វើការកំណត់ពាក្យសម្ងាត់ក្នុងកម្មវិធីធនាគារចល័តក្នុងទូរស័ព្ទដៃរបស់លោកអ្នក លោកអ្នកត្រូវធ្វើការប្រុងប្រយ័ត្នទៅលើការទុកដាក់ ការប្រើប្រាស់ និងការរក្សាសុវត្ថិភាពពាក្យសម្ងាត់។ លោកអ្នកមិន ត្រូវបង្ហាញ ឬអនុញ្ញាតឱ្យតតិយជនណាមួយ ដឹងពីពាក្យសម្ងាត់ចូលប្រើប្រាស់គណនីឌីជីថលឡើយ ដើម្បីធានាសុវត្ថិភាពទឹកប្រាក់ក្នុងគណនីរបស់លោកអ្នក។ លោកអ្នកត្រូវទទួលខុសត្រូវលើការខាតបង់ ទាំងស្រុង ដែលបណ្ដាលមកពីការប្រើប្រាស់ដោយក្លែងបន្លំ ឬការធ្វេសប្រហែសក្នុងការប្រើប្រាស់ ពាក្យសម្ងាត់ដោយតតិយជន លុះត្រាតែការខាតបង់នោះត្រូវបានបញ្ជាក់ថា បណ្ដាលមកពីការធ្វេសប្រហែសរបស់ធនាគារ ក្នុងការអនុវត្តកាតព្វកិច្ចការពារសុវត្ថិភាពព័ត៌មានពាក្យសម្ងាត់របស់លោកអ្នក នៅក្នុងប្រព័ន្ធត្រួតពិនិត្យព័ត៌មានរបស់ធនាគារ។</p>
                </div>


                <div class="mt-4">
                    <p><strong>16. ការអាក់ដំណើរការសេវាកម្ម</strong></p>
                    <p class='mt-2'>ប្រសិនបើលោកអ្នករកឃើញ ឬសង្ស័យថាអត្តសញ្ញាណរបស់លោកអ្នកត្រូវបានលួចដោយអ្នកដ៏ទៃ ឬការបាត់បង់ណាមួយដែលធ្វើឡើងដោយលោកអ្នក ដូចជានៅពេលដែលសេវាកម្មមិនអាចប្រើបានជា បណ្តោះអាសន្ន ឬនៅពេលដែលប្រព័ន្ធ ឬឧបករណ៍ចាំបាច់សម្រាប់សេវាកម្មណាមួយនៃគណនីឌីជីថលមិនដំណើរការ លោកអ្នកគួរតែជូនដំណឹងមកធនាគារភ្លាមៗ។ ទោះជាយ៉ាងណាក៏ដោយ ការជូនដំណឹងនេះមិនត្រូវបកស្រាយថាជាការទទួលខុសត្រូវ ឬកាតព្វកិច្ចរបស់ធនាគារសម្រាប់សំណង ឬសំណងដល់អតិថិជននោះទេ។</p>
                </div>



                <div class="mt-4">
                    <p><strong>17. ប្រសិទ្ធភាពការធ្វើប្រតិបត្តិការ</strong></p>
                    <p class='mt-2'>ការធ្វើប្រតិបត្តិការរបស់លោកអ្នកក្នុងគណនីឌីជីថល មានប្រសិទ្ធភាពដូចគ្នាទៅនឹងការធ្វើប្រតិបត្តិការនៅតាមបញ្ជររបស់ធនាគារដែរ។</p>
                </div>


                <div class="mt-4">
                    <p><strong>18. ការកែប្រែខចែង និងលក្ខខណ្ឌតម្រូវ</strong></p>
                    <p class='mt-2'>ធនាគារអាចនឹងមានការកែប្រែនូវខចែង និងលក្ខខណ្ឌតម្រូវ នៅពេលណាមួយ។ ក្នុងករណីនេះ ធនាគារនឹងផ្ដល់ពេលវេលាជូនដំណឹងសមស្រប ដែលតម្រូវដោយច្បាប់ជាធរមាន និងធ្វើការជូនដំណឹងអំពីការផ្លាស់ប្ដូរទាំងនោះ ដោយធ្វើការទំនាក់ទំនងទៅអតិថិជនដោយផ្ទាល់ បិទផ្សាយនៅតាមសាខា ធ្វើការជូនដំណឹងនៅលើកម្មវិធីទូរសព្ទ ឬ លើគេហទំព័ររបស់ធនាគារ។</p>
                </div>


                <div class="mt-4">
                    <p><strong>19. ច្បាប់គ្រប់គ្រង និងដំណោះស្រាយ</strong></p>
                    <p class='mt-2'>ខចែងនិងលក្ខខណ្ឌត្រូវបានគ្រប់គ្រងដោយច្បាប់ដែលចែងជាធរមាននៃព្រះរាជាណាចក្រកម្ពុជា។សម្រាប់ការបើកគណនីឌីជីថលតាមរយៈកម្មវិធីធនាគារចល័តរបស់ធនាគារ យើងខ្ញុំយល់ថាពេលខ្លះអាចនឹងមានកំហុសកើតឡើង នៅពេលលោកអ្នកកំពុងធ្វើការចុះឈ្មោះស្នើសុំ។ នៅពេលដែលបញ្ហាទាំងនេះកើតឡើង ធនាគារនឹងកំណត់មូលហេតុនៃកំហុស នឹងផ្ដល់ជូនជាមួយនឹងដំណោះស្រាយដ៏ល្អបំផុត។<br/>ប្រសិនបើលោកអ្នកមានសំណួរទាក់ទងនឹងការចុះឈ្មោះ សូមទាក់ទងភ្លាមៗទៅកាន់ សេវាទំនាក់ទំនងរបស់ធនាគារ តាមរយៈលេខ៖ (855)23 88 55 00 ។</p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- QA item -->
    <section data-label="identity-verification" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                លក្ខខណ្ឌនៃសេវាកម្មសម្រាប់ការកំណត់អត្តសញ្ញាណ
            </h5>
        </div>
                <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div>
                    <p>
                        លក្ខខណ្ឌនៃសេវាកម្មសម្រាប់ការកំណត់អត្តសញ្ញាណ (ដែលសំដៅទៅលើ "លក្ខខណ្ឌនៃសេវាកម្ម") ត្រូវបានកំណត់ដោយធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក
                        (ដែលសំដៅទៅលើ "ធនាគារ") ទាក់ទងនឹងការប្រើប្រាស់ការសម្គាល់ទម្រង់មុខ និងការផ្ទៀងផ្ទាត់អត្តសញ្ញាណ។ នៅពេលលោកអ្នកប្រើទូរស័ព្ទចល័តផ្ទាល់ខ្លួនរបស់លោកអ្នក ឬឧបករណ៍អេឡិចត្រូនិកដែលកំណត់ដោយធនាគារ នោះមានន័យថាលោកអ្នកមានពេលវេលាសមស្របដើម្បីពិនិត្យមើល និងយល់ព្រមតាមលក្ខខណ្ឌនៃសេវាកម្ម ហើយចាត់ទុកថាលោកអ្នកទទួលខុសត្រូវរាល់ការកើតឡើងទាំងអស់។ លោកអ្នកយល់ព្រមថា ធនាគាររក្សាសិទ្ធិក្នុងការកំណត់អត្តសញ្ញាណរបស់លោកអ្នកនិងសេវាកម្ម។ សូមមេត្តាអានលក្ខខណ្ឌនៃសេវាកម្មខាងក្រោមដោយប្រុងប្រយ័ត្ន។ ប្រសិនបើលោកអ្នកយល់ច្បាស់ និងព្រមឯកភាព សូមមេត្តាចុចក្នុងប្រអប់ដើម្បី “យល់ព្រម”:
                    </p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>ការកំណត់អត្តសញ្ញាណ និងការណែនាំ</strong></p>
                    <p class="mt-2">នៅពេលដែលលោកអ្នកទទួលយក និងយល់ព្រមតាមលក្ខខណ្ឌនៃសេវាកម្ម។ ធនាគារនឹងផ្ទៀងផ្ទាត់ទម្រង់មុខដែលបានចុះឈ្មោះជាមួយនឹងអត្តសញ្ញាណប័ណ្ណច្បាប់ដើម (NID) ដែលផ្តល់ដោយលោកអ្នក ដើម្បីធានាសុវត្ថិភាពនៃការប្រើប្រាស់សេវាកម្មរបស់លោកអ្នក។ ដើម្បីចាប់ផ្តើមការផ្ទៀងផ្ទាត់អត្តសញ្ញាណ (រូបថត Selfie និងកាត NID ច្បាប់ដើម) លោកអ្នកត្រូវធ្វើដូចខាងក្រោម៖</p>
                    <p class="mt-2"> - ដាក់រូបថតនៅទីតាំងដែលមានពន្លឺគ្រប់គ្រាន់ ច្បាស់ និងស្អាត</p>
                    <p class="mt-2"> - ត្រូវប្រាកដថារូបថតស្ថិតនៅក្នុងទម្រង់ផ្ដេក។</p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>លោកអ្នកយល់ព្រមគោរពតាមលក្ខខណ្ឌដូចខាងក្រោម</strong></p>
                    <p class="mt-2">១. អត្តសញ្ញាណប័ណ្ណច្បាប់ដើម (NID) មួយ អាចភ្ជាប់បានសម្រាប់តែការចុះឈ្មោះប្រើប្រាស់ទម្រង់មុខរបស់លោកអ្នកមួយប៉ុណ្ណោះ។ ធនាគារមានសិទ្ធិក្នុងការ "បញ្ចប់" ដំណើរការនៃការកំណត់អត្តសញ្ញាណ ប្រសិនបើចំនួននៃការសម្គាល់ទម្រង់មុខ និងការផ្ទៀងផ្ទាត់អត្តសញ្ញាណដែលធ្វើឡើងដោយលោកអ្នកមិនជោគជ័យជាប់ៗគ្នា បានឈានដល់កម្រិតកំណត់របស់ប្រព័ន្ធ។ ដើម្បីបន្តការផ្ទៀងផ្ទាត់អត្តសញ្ញាណ លោកអ្នកអាចអនុវត្តតាមវិធីសាស្រ្តដែលបានកំណត់ដោយធនាគារនៅទំព័រចូលប្រើប្រាស់ដំបូង។</p>
                    <p class="mt-2"> ២. លោកអ្នកធានា និងអះអាងថារាល់ព័ត៌មានទាំងអស់ដែលបានផ្តល់ឱ្យគឺពិតប្រាកដ និងត្រឹមត្រូវ។</p>
                    <p class="mt-2"> ៣. នៅពេលដែលលោកអ្នកយល់ព្រមនឹងលក្ខខណ្ឌនៃសេវាកម្មនេះ នោះមានន័យថាលោកអ្នកយល់ព្រមនឹងគោលការណ៍ឯកជនភាពរបស់សេវាធនាគារចល័ត (CUBC mBanking) ។ប្រសិន​បើ​លោកអ្នក​មាន​ចម្ងល់អំពី​សេវាកម្ម​នេះ សូម​ទាក់​ទង​ទៅ​កាន់​​សេវា​អតិថិជន​របស់​យើងខ្ញុំ​តាម​រយៈ​លេខ ០២៣ ៨៨ ៥៥ ០០។</p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>ការទទួលខុសត្រូវរបស់លោកអ្នក</strong></p>
                    <p class="mt-2">ក្នុងករណីដែលលោកអ្នករកឃើញឬសង្ស័យថាមានការលួចបន្លំប្រើប្រាស់ដោយភាគីទីបី លោកអ្នកត្រូវជូនដំណឹងមកកាន់ធនាគារជាបន្ទាន់ ដើម្បីបញ្ឈប់ការប្រើប្រាស់សេវាកម្ម និងចាត់វិធានការការពារដោយប្រុងប្រយ័ត្ន។ លោកអ្នកនឹងត្រូវទទួលខុសត្រូវចំពោះការខូចខាតដោយសារការប្រើប្រាស់ខុស ឬការលួចបន្លំណាមួយដោយភាគីទីបី ក៏ដូចជាការខូចខាតណាមួយដែលកើតឡើងចំពោះធនាគារ។</p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>ការប្រើប្រាស់សេវាកម្ម និងការធ្វើបច្ចុប្បន្នភាព</strong></p>
                    <p class="mt-2">ប្រសិនបើធនាគារយល់ថាជាការចាំបាច់ (ដោយអាចរាប់បញ្ចូលប៉ុន្តែមិនកំណត់ចំពោះតម្រូវការអាជីវកម្ម) ធនាគារអាចស្នើសុំឱ្យលោកអ្នកធ្វើបច្ចុប្បន្នភាពលើការសម្គាល់ទម្រង់មុខ និងឯកសារអត្តសញ្ញាណដែលបានផុតកំណត់នៅពេលណាមួយបាន។ លោកអ្នកអាចអនុវត្តតាមវិធីសាស្រ្តដែលបានកំណត់ដោយធនាគារដើម្បីធ្វើបច្ចុប្បន្នភាពលើការសម្គាល់ទម្រង់មុខ និងឯកសារអត្តសញ្ញាណដែលបានផុតកំណត់។</p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>ការផ្លាស់ប្តូរ និងការបញ្ចប់សេវាកម្ម</strong></p>
                    <p class="mt-2">ធនាគារអាចផ្លាស់ប្តូរ បញ្ឈប់ ឬបញ្ចប់សេវាកម្ម​​ នៅពេលមានការប្រកាសនៅលើគេហទំព័ររបស់ធនាគារ ដោយសារការផ្លាស់ប្តូរច្បាប់ ការបង្គាប់បញ្ជាពីអាជ្ញាធរមានសមត្ថកិច្ច ឬហេតុផលស្របច្បាប់ផ្សេងទៀត។ បញ្ហាផ្សេងទៀតដែលមិនត្រូវបានគ្របដណ្ដប់នៅទីនេះ (ដូចជាលក្ខខណ្ឌនៃពាក្យសម្ងាត់របស់សេវាធនាគារតាមប្រព័ន្ធអ៊ីនធឺណិត ឬដែនកំណត់នៃការផ្ទេរប្រាក់ជាដើម) នឹងស្ថិតនៅក្រោមកិច្ចព្រមព្រៀងនិងបទប្បញ្ញត្តិពាក់ព័ន្ធរបស់ធនាគារ។</p>
                </div>
            </div>
        </div>
    </section>

    
    <!-- QA item face id-->
    <section data-label="face-id" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ការផ្ទៀងផ្ទាត់ (Biometric) និងការចូលប្រើប្រាស់ (ខចែងនិងលក្ខខណ្ឌ)
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div>
                    <p>សូមអានខចែងនិងលក្ខខណ្ឌខាងក្រោមដោយយកចិត្តទុកដាក់។ ប្រសិនបើលោកអ្នកយល់ច្បាស់ និង ព្រមឯកភាព សូមមេត្តាចុចក្នុងប្រអប់ដើម្បី “យល់ព្រម”</p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>
                            ការផ្ទៀងផ្ទាត់ (Biometric) សំដៅទៅលើស្នាមក្រយៅដៃ ការសម្គាល់ទម្រង់មុខ និងមធ្យោបាយផ្សេងទៀតដែលក្រុមហ៊ុនផលិតទូរស័ព្ទចល័តអនុញ្ញាតឱ្យអ្នកប្រើប្រាស់ផ្ទៀងផ្ទាត់អត្តសញ្ញាណរបស់ពួកគេក្នុងគោលបំណងសំរាប់ដោះសោរទូរស័ព្ទចល័តរបស់ពួកគេ និងការចូលទៅកាន់កម្មវិធីជាក់លាក់ណាមួយរួមទាំងសេវាធនាគារចល័តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក
                            (សំដៅដល់ “សេវាធនាគារចល័ត”)។
                        </li>

                        <li class="mt-4">លោកអ្នកយល់ព្រមក្នុងការប្រើប្រាស់មុខងារផ្ទៀងផ្ទាត់ ​ (Biometric) ដែលភ្ជាប់មកជាមួយ (ដោយអាចរាប់បញ្ចូលរាល់ការប្រើប្រាស់ ដោយមិនកំណត់ចំពោះ Touch ID របស់ Apple iOS 9 ឬខ្ពស់ជាងនេះ ការសម្គាល់ស្នាមក្រយៅដៃ/ទម្រង់មុខ/ភ្នែក របស់ Google's Android 6.0 ឬខ្ពស់ជាងនេះ) នៅក្នុងទូរស័ព្ទចល័តរបស់លោកអ្នកជាមធ្យោបាយមួយ ក្នុងការផ្ទៀងផ្ទាត់និងអនុម័តភាពត្រឹមត្រូវ ដើម្បីប្រើប្រាស់សេវាធនាគារចល័ត។</li>
                    
                        <li class="mt-4">នៅពេលដែលលោកអ្នកបានយល់ព្រមទៅលើខចែងនិងលក្ខខណ្ឌ ហើយបន្ទាប់ពីលោកអ្នកបានបញ្ចូលពាក្យសម្ងាត់ SMS OTP និងការដំណើរការមុខងារផ្ទៀងផ្ទាត់ (Biometric) ជោគជ័យ ទូរស័ព្ទចល័តរបស់លោកអ្នកនឹងត្រូវបានចងភ្ជាប់ទៅជាមួយបច្ចេកវិទ្យា FIDO ដើម្បីផ្តល់ឱ្យលោកអ្នកនូវការផ្ទៀងផ្ទាត់កាន់តែមានសុវត្ថិភាពជាងមុន។ ប្រសិនបើកំណែទម្រង់ (Version) នៃទូរស័ព្ទចល័តរបស់លោកអ្នកមិនអាចគាំទ្រទៅនឹងកំណែទម្រង់ (Version) ដែលត្រូវបានកំណត់ដោយបច្ចេកវិទ្យា FIDO នោះ លោកអ្នកនឹងមិនអាចប្រើប្រាស់សេវាធនាគារចល័តបានទេ។ (សម្រាប់ព័ត៌មានបន្ថែមអំពីបច្ចេកវិទ្យា FIDO សូមចូលទៅកាន់គេហទំព័រ <a href="https://fidoalliance.org/" class="text-green-dark" target='_blank' rel="noopener noreferrer">https://fidoalliance.org/</a>)។</li>

                        <li class="mt-4">ព័ត៌មានដែលប្រើក្នុងការផ្ទៀងផ្ទាត់ (Biometric) គឺមានតែមួយគត់ និងមិនអាចផ្លាស់ប្តូរបាន។ ដូច្នេះ សូមធ្វើការដំឡើង និងប្រើប្រាស់សេវាធនាគារចល័តដោយមានការប្រុងប្រយ័ត្ន និងថែរក្សាទូរស័ព្ទចល័តរបស់លោកអ្នកឱ្យបានត្រឹមត្រូវ។ ធនាគារ និងបច្ចេកវិទ្យា FIDO នឹងមិនរក្សាទុកព័ត៌មាន ​ (រូបភាព/ទម្រង់មុខ/ស្នាមក្រយៅដៃ) របស់លោកអ្នកឡើយ។ ដើម្បីស្វែងយល់បន្ថែមអំពីបច្ចេកវិទ្យាផ្ទៀងផ្ទាត់ (Biometric) សូមអានការណែនាំដែលផ្តល់ដោយក្រុមហ៊ុនផលិតឧបករណ៍របស់លោកអ្នក។</li>

                        <li class="mt-4">នៅពេលដែលសេវាធនាគារចល័តត្រូវបានបើកអោយដំណើរការ លោកអ្នកត្រូវតែបើកដំណើរការសេវាធនាគារចល័តឡើងវិញដោយធ្វើតាមជំហានដូចគ្នា ប្រសិនបើលោកអ្នកចង់ប្តូរទៅទូរស័ព្ទចល័តថ្មី។</li>

                        <li class="mt-4">ការផ្ទៀងផ្ទាត់ (Biometric) អាចបរាជ័យដោយសារតែដំណើរការខុសប្រក្រតីនៃទូរស័ព្ទចល័ត ម្រាមដៃសើម ឬកខ្វក់ ការផ្លាស់ប្តូររូបរាងផ្ទៃមុខ ពន្លឺ មុំកាមេរ៉ា ឬភាពខ្សោយនៃការតភ្ជាប់បណ្តាញ។ ប្រសិនបើចំនួននៃការចូលប្រើប្រាស់ ឬ ការអនុម័តប្រតិបត្តិការមិនជោគជ័យផ្ទួនៗគ្នាឈានដល់កម្រិតកំណត់ នោះលោកអ្នកអាចធ្វើតាមការណែនាំដូចខាងក្រោម៖
                            <ul class="list-disc mt-2 mb-2">
                                <li>ការចូលប្រើប្រាស់សេវាធនាគារចល័ត:<br/>ក្នុងករណីឈ្មោះអ្នកប្រើប្រាស់ និងលេខសម្ងាត់ និងការផ្ទៀងផ្ទាត់ (Biometric) ត្រូវបានផ្អាក។<br/>*	លោកអ្នកត្រូវមកកាន់ការិយាល័យកណ្ដាលឬសាខាណាមួយ​ ឬអាចទំនាក់ទំនងមកសេវាអតិថិជន តាមរយៈ ០២៣ ៨៨ ៥៥ ០០ ដើម្បីបន្តការប្រើប្រាស់នូវ ឈ្មោះអ្នកប្រើប្រាស់ និងលេខសម្ងាត់ និងការផ្ទៀងផ្ទាត់ (Biometric)។</li>

                                <li>ការអនុម័តប្រតិបត្តិការ:<br/>លោកអ្នកអាចប្រើប្រាស់លេខកូដសម្ងាត់ (PIN) ៤ (បួន) ខ្ទង់ ​ឬចូលធ្វើប្រតិបត្តិការឡើងវិញ។</li>

                            </ul>
                        </li>

                        <li class="mt-4">ធនាគារអាចស្នើសុំឱ្យលោកអ្នកធ្វើបច្ចុប្បន្នភាពលើព័ត៌មាន (Biometric) គ្រប់ពេល ដោយតំរូវការសម្រាប់អាជីវកម្ម លោកអ្នកអាចធ្វើបច្ចុប្បន្នភាពលើព័ត៌មាន (Biometric) បាន ដោយអនុវត្តតាមនីតិវិធីដែលបានកំណត់ដោយធនាគារ។</li>


                        <li class="mt-4">រាល់ប្រតិបត្តិការដែលបញ្ជាក់ដោយការប្រើប្រាស់ការផ្ទៀងផ្ទាត់ (Biometric)​ ដែលបានផ្ដល់ដោយសេវាធនាគារចល័ត និងវិធីសាស្រ្តផ្សេងទៀតដែលកំណត់ដោយធនាគារ នឹងត្រូវបានចាត់ទុកថាធ្វើឡើងដោយលោកអ្នក។ ប្រសិនបើលោកអ្នករកឃើញឬសង្ស័យថា ការផ្ទៀងផ្ទាត់អត្តសញ្ញាណ​របស់លោកអ្នកត្រូវបានបន្លំប្រើប្រាស់ដោយភាគីទីបី លោកអ្នកត្រូវជូនដំណឹងភ្លាមៗមកកាន់ធនាគារដើម្បីបញ្ឈប់ការប្រើប្រាស់សេវាធនាគារចល័ត និងចាត់វិធានការការពារ ប្រសិនបើធនាគាររងការខូចខាតដោយប្រការណាមួយ លោកអ្នកនឹងត្រូវទទួលរ៉ាប់រងលើសំណង។</li>


                        <li class="mt-4">លទ្ធផលនៃការផ្ទៀងផ្ទាត់គួរតែត្រូវបានពឹងផ្អែក ឬប្រើប្រាស់ដោយខាងធនាគារ នៅពេលដែលមានជម្លោះទាក់ទងនឹងការផ្ទៀងផ្ទាត់ (Biometric)។</li>

                        <li class="mt-4">ធនាគារអាចផ្លាស់ប្តូរ បញ្ឈប់ ឬបញ្ចប់នូវការផ្ទៀងផ្ទាត់ (Biometric) នៅពេលប្រកាសនៅលើគេហទំព័ររបស់ធនាគារ ដោយសារការផ្លាស់ប្តូរច្បាប់ ឬបទប្បញ្ញត្តិដែលធ្វើអោយប៉ះពាល់ដល់សេវាធនាគារចល័ត លិខិតជូនដំណឹង ឬដីកាបង្គាប់ណាមួយពីអាជ្ញាធរមានសមត្ថកិច្ច ដែលមិនមែនជាបន្ទុករបស់ធនាគារ។</li>

                        <li class="mt-4">ធនាគារអាចចែករំលែកព័ត៌មានដែលពាក់ព័ន្ធសម្រាប់ការផ្ទៀងផ្ទាត់​ (Biometric) (ដូចជាព័ត៌មានសម្រាប់ការគ្រប់គ្រង) ជាមួយ Cathay Financial Group (ដោយអាចរាប់បញ្ចូលតែមិនកំណត់ចំពោះ CUB និងក្រុមហ៊ុនដែលពាក់ព័ន្ធ ឬភាគីខាងក្រៅដែលត្រូវបានផ្ដល់ទំនុកចិត្តដោយធនាគារ សម្រាប់ការស្វែងរកដំណោះស្រាយ) ដោយសារតម្រូវការនៃការអនុវត្តសម្រាប់សេវាធនាគារចល័ត។</li>

                        <li class="mt-4">បញ្ហាផ្សេងទៀតដែលមិនត្រូវបានគ្របដណ្តប់នៅទីនេះ នឹងស្ថិតនៅក្រោមកិច្ចព្រមព្រៀងនិងបទប្បញ្ញត្តិពាក់ព័ន្ធរបស់ធនាគារ។</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- QA item -->
    <section data-label="fast-transfer" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                សេវាផ្ទេរប្រាក់រហ័ស
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>សេវាផ្ទេរប្រាក់រហ័ស សំដៅដល់ការផ្ទេរប្រាក់ក្នុងស្រុកជារូបិយប័ណ្ណរៀល ទៅកាន់គណនីធនាគារក្នុងស្រុកផ្សេងទៀតដែលជាសមាជិករបស់ប្រព័ន្ធទូទាត់រហ័ស។</p>
                <p class='mt-2'>តាមរយៈការប្រើប្រាស់សេវាផ្ទេរប្រាក់រហ័ស ខ្ញុំបានយល់ព្រមទៅតាមលក្ខខណ្ឌផ្សេងៗដែលគ្រប់គ្រងទៅលើសេវាអេឡិចត្រូនិច​ គណនីសន្សំ គណនីចរន្ត ព្រមទាំងសេវាផ្ទេរប្រាក់ក្នុងស្រុក។</p>
                <p class="mt-2">ខ្ញុំបានដឹងថាប្រតិបត្តិការរបស់ខ្ញុំ ត្រូវបានធ្វើឡើងដោយផ្អែកទៅលើអត្រាប្ដូរប្រាក់ក្នុងកំឡុងពេលធ្វើប្រតិបត្តិការ ដែលអាចខុសគ្នាពីអត្រាប្ដូរប្រាក់ដែលបានបង្ហាញលើគេហទំព័ររបស់ធនាគារ (CUBC)​។</p>
                <p class="mt-2">ខ្ញុំយល់ព្រមផ្តល់ជូននូវរាល់ឯកសារពាក់ព័ន្ធបន្ថែមដែលតម្រូវដោយធនាគារ​ (CUBC) ហើយខាងធនាគារ (CUBC) នឹងមិនទទួលខុសត្រូវចំពោះប្រតិបត្តិការណាមួយដែលមិនត្រូវបានធ្វើឡើង ដោយសារតែឯកសារតម្រូវមិនគ្រប់គ្រាន់នោះឡើយ។</p>
            </div>
        </div>
    </section>

    <!-- QA item -->
    <section data-label="ncs" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ការផ្ទេរប្រាក់ក្នុងស្រុក 
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>ការផ្ទេរប្រាក់ក្នុងស្រុក សំដៅដល់សេវាផ្ទេរប្រាក់ទៅកាន់ធនាគារក្នុងស្រុកផ្សេងទៀត​។</p>
                <p class="mt-2">តាមរយៈការប្រើប្រាស់សេវាផ្ទេរប្រាក់ក្នុងស្រុក ខ្ញុំបានយល់ព្រមទៅតាមលក្ខខណ្ឌផ្សេងៗដែលគ្រប់គ្រងទៅលើសេវាអេឡិចត្រូនិច​ គណនីសន្សំ គណនីចរន្ត ព្រមទាំងសេវាផ្ទេរប្រាក់ក្នុងស្រុក។</p>
                <p class="mt-2">ខ្ញុំបានដឹងថាប្រតិបត្តិការរបស់ខ្ញុំ ត្រូវបានធ្វើឡើងដោយផ្អែកទៅលើអត្រាប្ដូរប្រាក់ក្នុងកំឡុងពេលធ្វើប្រតិបត្តិការ ដែលអាចខុសគ្នាពីអត្រាប្ដូរប្រាក់ដែលបានបង្ហាញលើគេហទំព័ររបស់ធនាគារ (CUBC)​។</p>
                <p class="mt-2">ខ្ញុំយល់ព្រមផ្តល់ជូននូវរាល់ឯកសារពាក់ព័ន្ធបន្ថែមដែលតម្រូវដោយធនាគារ​ (CUBC) ហើយខាងធនាគារ (CUBC) នឹងមិនទទួលខុសត្រូវចំពោះប្រតិបត្តិការណាមួយដែលមិនត្រូវបានធ្វើឡើង ដោយសារតែឯកសារតម្រូវមិនគ្រប់គ្រាន់នោះឡើយ។</p>
            </div>
        </div>
    </section>
    

    <!-- QA item -->
    <section data-label="mbanking" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ខចែង
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                
                <p>តាមរយៈការទាញយក ឬការប្រើប្រាស់កម្មវិធី លក្ខខណ្ឌទាំងនេះនឹងអនុវត្តចំពោះលោកអ្នកដោយស្វ័យប្រវត្តិ លោកអ្នកគួរតែប្រាកដថាលោកអ្នកបានអានវាដោយយកចិត្តទុកដាក់មុនពេលប្រើប្រាស់កម្មវិធី។ លោកអ្នកមិនត្រូវបានអនុញ្ញាតឱ្យចម្លង ឬកែប្រែកម្មវិធី ផ្នែកណាមួយនៃកម្មវិធី ឬពាណិជ្ជសញ្ញារបស់យើងតាមមធ្យោបាយណាមួយឡើយ។ លោកអ្នកមិនត្រូវបានអនុញ្ញាតឱ្យព្យាយាមទាញយកកូដដើមនៃកម្មវិធី ហើយលោកអ្នកក៏មិនគួរព្យាយាមបកប្រែកម្មវិធីទៅជាភាសាផ្សេងទៀត ឬបំលែងកម្មវិធីនោះទេ។ កម្មវិធី និងរាល់ពាណិជ្ជសញ្ញា ការរក្សាសិទ្ធិ សិទ្ធិមូលដ្ឋានទិន្នន័យ និងកម្មសិទ្ធិបញ្ញាផ្សេងទៀត ដែលទាក់ទងនឹងកម្មវិធី នៅតែជាកម្មសិទ្ធិរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>

                <p class="mt-2">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ប្តេជ្ញាធានាថា កម្មវិធីនេះមានប្រយោជន៍ និងមានប្រសិទ្ធភាពតាមដែលអាចធ្វើទៅបាន។ សម្រាប់ហេតុផលនោះ ធនាគាររក្សាសិទ្ធិដើម្បីធ្វើការផ្លាស់ប្តូរកម្មវិធី ឬគិតថ្លៃសេវារបស់វាគ្រប់ពេលវេលា និងដោយហេតុផលណាមួយ។ ធនាគារយើងខ្ញុំនឹងមិនគិតថ្លៃសេវាពីលោកអ្នកសម្រាប់កម្មវិធី ឬសេវាកម្ម ដោយពុំបានបញ្ជាក់ឱ្យច្បាស់ ចំពោះសេវាដែលលោកអ្នកនឹងត្រូវបង់នោះទេ។</p>

                <p class="mt-2">កម្មវិធី CUBC MBANKING រក្សាទុក និងដំណើរការទិន្នន័យផ្ទាល់ខ្លួន ដែលលោកអ្នកបានផ្តល់ឱ្យធនាគារយើងខ្ញុំ ដើម្បីផ្តល់ជូននូវសេវាកម្មរបស់ធនាគារ។ វាជាទំនួលខុសត្រូវរបស់លោកអ្នកក្នុងការរក្សាទូរស័ព្ទរបស់លោកអ្នក និងការចូលប្រើកម្មវិធីឱ្យមានសុវត្ថិភាព។ ដូច្នេះហើយ យើងខ្ញុំសូមណែនាំថា លោកអ្នកមិនត្រូវ Jailbreak ឬ Root ទូរស័ព្ទរបស់លោកអ្នកឡើយ ដែលវាជាដំណើរការនៃការរឹតត្បិត និងកំណត់កម្មវិធី ដោយប្រព័ន្ធប្រតិបត្តិការផ្លូវការ នៃឧបករណ៍របស់លោកអ្នក។ វាអាចធ្វើឱ្យទូរស័ព្ទរបស់លោកអ្នកងាយឆ្លងមេរោគ និងធ្វើឱ្យខូចមុខងារសុវត្ថិភាពទូរស័ព្ទរបស់លោកអ្នក ហើយវាអាចមានន័យថាកម្មវិធី CUBC MBANKING នឹងមិនអាចដំណើរការមិនបានត្រឹមត្រូវ ឬមិនដំណើរការទាំងស្រុង។</p>

                <p class="mt-2">លោកអ្នកគួរតែដឹងថាមានរឿងមួយចំនួនដែលធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កនឹងមិនទទួលខុសត្រូវសម្រាប់មុខងារមួយចំនួនរបស់កម្មវិធីដែលតម្រូវឱ្យកម្មវិធីមានការតភ្ជាប់អ៊ីនធឺណិតយ៉ាងសកម្ម។ ការតភ្ជាប់អាចជា Wi-Fi ឬការផ្តល់ដោយអ្នកផ្តល់បណ្តាញទូរស័ព្ទចល័តរបស់លោកអ្នក ប៉ុន្តែធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មិនអាចទទួលខុសត្រូវចំពោះកម្មវិធីមិនដំណើរការពេញលេញទេ ប្រសិនបើលោកអ្នកមិនមានសិទ្ធិចូលប្រើ Wi-Fi និង ទូរស័ព្ទរបស់លោកអ្នកមិនមានទឹកប្រាក់គ្រប់គ្រាន់នោះទេ។</p>

                <p class="mt-2">ប្រសិនបើលោកអ្នកកំពុងប្រើប្រាស់កម្មវិធីនៅខាងក្រៅតំបន់ដែលមាន Wi-Fi លោកអ្នកគួរតែចងចាំថាលក្ខខណ្ឌនៃកិច្ចព្រមព្រៀងរវាងលោកអ្នកជាមួយនឹងអ្នកផ្តល់បណ្តាញទូរស័ព្ទរបស់អ្នកនឹងនៅតែបន្តអនុវត្ត។ ជាលទ្ធផល លោកអ្នកអាចត្រូវបានគិតប្រាក់ដោយអ្នកផ្តល់សេវាទូរស័ព្ទរបស់លោកអ្នកនៃតម្លៃទិន្នន័យសម្រាប់រយៈពេលនៃការតភ្ជាប់ខណៈពេលកំពុងចូលប្រើកម្មវិធី ឬគិតថ្លៃពីភាគីទីបីផ្សេងទៀត។ តាមរយៈការប្រើប្រាស់កម្មវិធី លោកអ្នកកំពុងទទួលយកការទទួលខុសត្រូវចំពោះការគិតថ្លៃបែបនេះ រួមទាំងការគិតថ្លៃទិន្នន័យរ៉ូមីង (roaming) ប្រសិនបើលោកអ្នកប្រើកម្មវិធីនៅខាងក្រៅតំបន់របស់លោកអ្នក (ពោលគឺតំបន់ ឬប្រទេស) ដោយមិនបានបិទទិន្នន័យរ៉ូមីង (roaming)។ ប្រសិនបើលោកអ្នកមិនមែនជាអ្នកទូទាត់វិក្កយបត្រសម្រាប់ឧបករណ៍ដែលអ្នកកំពុងប្រើកម្មវិធីនេះទេ សូមដឹងថាយើងសន្មត់ថាលោកអ្នកបានទទួលការអនុញ្ញាតពីអ្នកទូទាត់វិក្កយបត្រសម្រាប់ការប្រើប្រាស់កម្មវិធីនេះ។</p>

                <p class="mt-2">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មិនទទួលខុសត្រូវចំពោះវិធីដែលលោកអ្នកប្រើប្រាស់កម្មវិធីនោះទេ ពោលគឺលោកអ្នកត្រូវប្រាកដថាឧបករណ៍របស់លោកអ្នកនៅតែមានថាមពលថ្ម ប្រសិនបើវាអស់ថ្ម នោះលោកអ្នកមិនអាចបើកវាប្រើប្រាស់សេវាកម្មនេះបានទេ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មិនទទួលយកការទទួលខុសត្រូវនោះទេ។</p>

                <p class="mt-2">ទាក់ទងទៅនឹងទំនួលខុសត្រូវរបស់ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក សម្រាប់ការប្រើប្រាស់កម្មវិធីរបស់លោកអ្នក នៅពេលដែលលោកអ្នកកំពុងប្រើប្រាស់កម្មវិធីនេះ វាគឺជារឿងសំខាន់ដែលត្រូវចងចាំថា ទោះបីជាយើងព្យាយាមធានាថាវាត្រូវបានធ្វើបច្ចុប្បន្នភាពកម្មវិធីត្រឹមត្រូវក៏ដោយ ពេលខ្លះធនាគារក៏ពឹងផ្អែកលើភាគីទីបី ដើម្បីផ្តល់ព័ត៌មានដល់ធនាគារយើងខ្ញុំ ដូច្នេះធនាគារអាចធ្វើឱ្យវាអាចប្រើប្រាស់បានសម្រាប់លោកអ្នក។ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មិនទទួលខុសត្រូវចំពោះការបាត់បង់ណាមួយ ដោយផ្ទាល់ ឬដោយប្រយោល ដែលលោកអ្នកជួបប្រទះនៅលើមុខងាររបស់កម្មវិធីនេះឡើយ។</p>

                <p class="mt-2">នៅចំណុចខ្លះ ធនាគារយើងខ្ញុំនឹងធ្វើបច្ចុប្បន្នភាពកម្មវិធី។ កម្មវិធីបច្ចុប្បន្នគឺមាននៅលើប្រព័ន្ធប្រតិបត្តិការ Android និង iOS – តម្រូវការសម្រាប់ប្រព័ន្ធទាំងពីរ (សម្រាប់ប្រព័ន្ធបន្ថែមណាមួយដែលធនាគារសម្រេចចិត្តដាក់ប្រើប្រាស់ក្នុងកម្មវិធី) អាចនឹងផ្លាស់ប្តូរ ហើយលោកអ្នកនឹងត្រូវទាញយកការធ្វើបច្ចុប្បន្នភាពប្រសិនបើលោកអ្នកចង់បន្តប្រើប្រាស់កម្មវិធី។ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មិនប្រាកដថានឹងតែងតែធ្វើបច្ចុប្បន្នភាពកម្មវិធីជានិច្ចទេ ដូច្នេះវាពាក់ព័ន្ធជាមួយនឹងដំណើរការនៃកំណែ Android និង iOS ដែលលោកអ្នកបានដំឡើងនៅលើឧបករណ៍របស់លោកអ្នក។ ទោះយ៉ាងណាក៏ដោយ លោកអ្នកសន្យាថានឹងទទួលយកការធ្វើបច្ចុប្បន្នភាពកម្មវិធីជានិច្ច នៅពេលដែលធនាគារយើងខ្ញុំផ្តល់ជូនលោកអ្នក ធនាគារយើងខ្ញុំក៏អាចនឹងបញ្ឈប់ការផ្តល់ជូនកម្មវិធីនេះ ហើយក៏អាចបញ្ចប់ការប្រើប្រាស់វាបានគ្រប់ពេលដោយមិនផ្តល់ការជូនដំណឹងអំពីការបញ្ឈប់ដល់លោកអ្នក។ លុះត្រាតែធនាគារយើងខ្ញុំជូនដំណឹងលោកអ្នកបើមិនដូច្នេះទេ នៅពេលការមានការបញ្ឈប់អ្វីមួយ (ក) សិទ្ធិ និងអាជ្ញាប័ណ្ណដែលបានផ្តល់ឱ្យលោកអ្នកក្នុងលក្ខខណ្ឌទាំងនេះនឹងបញ្ចប់ (ខ) លោកអ្នកត្រូវតែឈប់ប្រើប្រាស់កម្មវិធីនេះ (ប្រសិនបើចាំបាច់) លុបវាចេញពីឧបករណ៍របស់លោកអ្នក។</p>


                <p class='mt-2'>
                    <strong>ការកែប្រែខចែង និងលក្ខខណ្ឌ</strong>
                </p>
                <p>ធនាគារយើងខ្ញុំអាចធ្វើបច្ចុប្បន្នភាពខចែង និងលក្ខខណ្ឌរបស់ធនាគារយើងខ្ញុំពីពេលមួយទៅពេលមួយ។ ដូច្នេះ លោកអ្នកត្រូវពិនិត្យមើលទំព័រនេះជាទៀងទាត់សម្រាប់ការកែប្រែណាមួយ។ ធនាគារយើងខ្ញុំនឹងជូនដំណឹងដល់លោកអ្នកពីការកែប្រែដោយការប្រកាសអំពីគោលការណ៍ឯកជនភាពថ្មីនៅលើទំព័រនេះ។ ការកែប្រែទាំងនេះមានប្រសិទ្ធភាពភ្លាមៗបន្ទាប់ពីបានប្រកាសនៅលើទំព័រនេះ។</p>

                <p class='mt-2'>
                    <strong>ទាក់ទងមកកាន់ធនាគារយើងខ្ញុំ</strong>
                </p>
                <p>ប្រសិនបើលោកអ្នកមានសំណួរអំពី ខចែង និងលក្ខខណ្ឌរបស់ធនាគារ សូមធ្វើការទាក់ទងមកធនាគារយើងខ្ញុំតាមរយៈគេហទំព័រ៖ <a class='text-green text-underline' href='https://www.cathaybk.com.kh'>https://www.cathaybk.com.kh</a></p>
            </div>
        </div>
    </section>

    <!-- QA item -->
    <section data-label="online-fixed-deposit-account" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ខចែង និង លក្ខខណ្ឌនៃគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញ
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>ប្រសិនបើលោកអ្នកមានបំណងប្រើប្រាស់សេវាកម្មប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ខចែង និងលក្ខខណ្ឌផ្សេងៗនឹងត្រូវអនុវត្តភ្លាមៗ ហើយលោកអ្នកត្រូវបានសន្មតថាយល់ព្រមជាមួយ ខចែង និងលក្ខខណ្ឌទាំងនេះមុនពេលលោកអ្នកអាចប្រើប្រាស់សេវាកម្មមួយនេះ។ ជាការចាំបាច់ណាស់ដែលលោកអ្នកត្រូវអាន ខចែង និង លក្ខខណ្ឌទាំងនេះមុនពេលលោកអ្នកប្រើប្រាស់សេវាកម្មប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។ ប្រសិនបើលោកអ្នកមានចម្ងល់ ឬ មិនទាន់យល់ច្បាស់ត្រង់ចំនុចណាមួយទៅលើ ខចែង និងលក្ខខណ្ឌទាំងនេះ លោកអ្នកអាចធ្វើការទំនាក់ទំនងមកខាង ធនាគារយើងខ្ញុំដើម្បីធ្វើការបញ្ជាក់បន្ថែមជូនលោកអ្នកអោយកាន់តែច្បាស់។</p>


                <p class="mt-2">ខចែង និង លក្ខខណ្ឌក្នុងឯកសារនេះមិនតំណាងឱ្យលក្ខខណ្ឌទាំងអស់ដែលផលិតផល និងសេវាកម្មរបស់ធនាគារត្រូវបានផ្តល់ជូននោះទេ។ ទោះយ៉ាងណាក៏ដោយ លក្ខខណ្ឌបន្ថែមអាចត្រូវបានបញ្ជាក់ដោយច្បាប់ និងបទប្បញ្ញត្តិនានា។</p>

                <p class="mt-2">ធនាគារយើងខ្ញុំ រក្សាសិទ្ធិក្នុងការកែប្រែនូវ ខចែង និង លក្ខខណ្ឌណាមួយដោយមិនចាំបាច់មានការជូនដំណឹងជាមុន។</p>


                <p class="mt-2">
                    <strong>ការបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញ</strong>
                </p>
                <p>គណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញបើកដំណើរការតាមរយៈប្រព័ន្ធធនាគារអនឡាញរបស់ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ជាមួយនឹងតម្រូវការដូចជា៖ ចំនួនប្រាក់បញ្ញើបឋមអប្បបរមា ចំនួនប្រាក់អតិបរមាក្នុងការបើក ប្រភេទរូបិយប័ណ្ណ រយៈពេល លក្ខខណ្ឌ អត្រាការប្រាក់ និង ព័ត៌មានជាក់លាក់របស់អតិថិជន។</p>


                <p class="mt-2">
                    <strong>គណនីបង្គោល</strong>
                </p>
                <p>អតិថិជនអាចដាក់ពាក្យសុំបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធធនាគារអនឡាញ លុះត្រាតែពួកគេមានយ៉ាងហោចណាស់នូវគណនីសន្សំផ្ទាល់ខ្លួន ឬគណនីចរន្តផ្ទាល់ខ្លួន (តាមលក្ខខណ្ឌដាច់ដោយឡែក) ដែលអនុញ្ញាតឲ្យភ្ជាប់ជាមួយប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>
                <p class="mt-2">គណនីបង្គោលមិនអាចបិទបានទេ ប្រសិនបើមានការភ្ជាប់ជាមួយនឹងគណនីប្រាក់បញ្ញើមានកាលកំណត់ផ្សេងទៀតដែលមានរួចក្នុងបញ្ជីគណនី លើកលែងតែមានការរៀបចំផ្សេងទៀតសម្រាប់ការបិទគណនីត្រូវបានបង្កើត ឬបានយល់ព្រមដោយធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>


                <p class="mt-2">
                    <strong>រូបិយប័ណ្ណ</strong>
                </p>
                <p>ប្រភេទរូបិយប័ណ្ណ ដើម្បីបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក អាចជា ប្រាក់ដុល្លារ ឬ ប្រាក់រៀល។ រូបិយប័ណ្ណផ្សេងគ្នា (ឧទាហរណ៍៖ គណនីបង្គោលជាប្រាក់ដុល្លារ ទៅគណនីប្រាក់បញ្ញើមានកាលកំណត់ជាប្រាក់រៀល) គឺមិនត្រូវបានអនុញ្ញាតឲ្យបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធអនឡាញនោះទេ។ ធនាគារយើងខ្ញុំ អាចនឹងមានការផ្លាស់ប្តូរនិងកែប្រែ សិទ្ធិ និង លក្ខខណ្ឌក្នុងពេលវេលាណាមួយ ដែលនឹងអាចមាននៅក្នុងកំណែថ្មីនៃប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>


                <p class="mt-2">
                    <strong>រយៈពេល និង ​អត្រាការប្រាក់</strong>
                </p>
                <p>ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក អាចផ្ដល់ជូននូវរយៈពេល និង អត្រាការប្រាក់មានភាពខុសគ្នានៃគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ ជាមួយនឹងប្រភេទខុសគ្នាក្នុងការបើក ហើយអត្រាការប្រាក់នឹងត្រូវបានផ្តល់ជូនអតិថិជនទៅតាមប្រភេទផ្សេងគ្នានៃរយៈពេល និងចំនួនទឹកប្រាក់បញ្ញើដែលអតិថិជនជ្រើសរើសដើម្បីបើកគណនី។ នេះគឺជាអត្រាការប្រាក់របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដើម្បីធ្វើឲ្យប្រាកដថា វាគឺជាការផ្ដល់ជូននូវសេវាកម្មនិងដំណោះស្រាយដ៏ល្អបំផុតមួយទៅលើវិស័យវិនិយោគសម្រាប់អតិថិជន។</p>
                



                <p class="mt-2">
                    <strong>អត្រាការប្រាក់ និងសេចក្តីណែនាំអំពីកាលកំណត់</strong>
                </p>
                
                <p class="mt-2">អតិថិជន យល់ព្រម និងទទួលស្គាល់ថា អត្រាការប្រាក់នៃគណនីប្រាក់បញ្ញើមានកាលកំណត់អាចនឹងមានការផ្លាស់ប្តូរ/កែប្រែនៅពេលវេលាណាមួយ ផ្អែកលើការសម្រេចចិត្តរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដើម្បីស្របតាមស្ថានភាពតម្រូវជាក់ស្តែងក្នុងការការពារផលប្រយោជន៍ស្របច្បាប់របស់ធនាគារ និងអាចមានការជូនដំណឹង ឫស្នើសុំការយល់ព្រមពីអតិថិជន (ប្រសិនបើតម្រូវដោយច្បាប់ និងបទប្បញ្ញតិ្ដពាក់ព័ន្ធ)។</p>

                <p class="mt-2">សម្រាប់ការទូទាត់ការប្រាក់ នឹងត្រូវធ្វើការទូទាត់ទៅឲ្យម្ចាស់គណនីដែលបានជ្រើសរើសបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញដែលអនុលោមតាមប្រភេទខុសគ្នានៃលក្ខខណ្ឌមានកាលកំណត់។ ប្រសិនបើ គណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញបានបិទមុនពេលកាលបរិច្ឆេទកំណត់ ការប្រាក់នឹងមិនត្រូវបានផ្ដល់ជូនអតិថិជននោះឡើយ។ ទឹកប្រាក់ដើម និង ការប្រាក់នឹងត្រូវបានផ្ដល់ជូនសម្រាប់ការបិទគណនីនៅកាលបរិច្ឆេទកំណត់តែប៉ុណ្ណោះ។ ការប្រាក់ទាំងអស់ដែលត្រូវផ្ដល់ជូននឹងត្រូវដកពន្ធកាត់ទុកស្របតាមច្បាប់ និង បទប្បញ្ញត្តិពន្ធដារដែលចូលជាធរមាននៃព្រះរាជាណាចក្រកម្ពុជា។</p>

                <p class="mt-2">ពន្ធកាត់ទុកនិវាសនជននឹងត្រូវដកពីការទូទាត់ការប្រាក់ដែលបានបង្កើតសម្រាប់ម្ចាស់គណនីជនជាតិខ្មែរ។ ទោះជាយ៉ាងណា ពន្ធកាត់ទុកនិវាសនជនអាចអនុវត្តបានសម្រាប់តែជនបរទេសដែលធ្លាប់បានរស់នៅក្នុងប្រទេសកម្ពុជាយ៉ាងតិច១៨២ថ្ងៃ ដោយមានការផ្ដល់ឯកសារគ្រប់គ្រាន់។ សម្រាប់ម្ចាស់គណនីអនិវាសនជននឹងត្រូវដកពន្ធកាត់ទុកតាមពន្ធកាត់ទុកអនិវាសនជន។ យើងផ្ដោតទៅលើភាពត្រឹមត្រូវនៃឯកសារនិងព័ត៌មានដែលលោកអ្នកបានផ្ដល់ឲ្យដើម្បីជ្រើសរើសប្រភេទពន្ធមួយដែលត្រឹមត្រូវសម្រាប់គណនីលោកអ្នក។</p>


                <p class="mt-2">
                    <strong>វិញ្ញាបនបត្រប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ</strong>
                </p>
                <p>សម្រាប់ការដាក់ប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក នឹងមិនផ្តល់ជូននូវវិញ្ញាបនបត្រឡើយ។ វានឹងត្រូវបានចុះបញ្ជីគណនីនៅក្នុងកម្មវិធីប្រព័ន្ធធនាគារអនឡាញរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដែលលោកអ្នកអាចមើលព័ត៌មានលម្អិតនៃការដាក់ប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ ឬ ប្រតិបត្តិការនៃគណនីបង្គោល។</p>


                <p class="mt-2">
                    <strong>លេខកូដសម្ងាត់ (OTP)</strong>
                </p>
                <p>លេខកូដ OTP មាន ៦ ខ្ទង់ដែលបង្កើតដោយប្រព័ន្ធស្វ័យប្រវត្តិហើយផ្ញើទៅកាន់លេខទូរស័ព្ទរបស់ម្ចាស់គណនីដែលបានចុះឈ្មោះប្រើប្រាស់សេវាកម្មធនាគារតាមប្រព័ន្ធអ៊ីនធឺណិតជាមួយធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក។</p>

                
                <p class="mt-2">
                    <strong>ការផ្ទៀងផ្ទាត់ជីវមាត្រ</strong>
                </p>
                <p>ការផ្ទៀងផ្ទាត់ជីវមាត្រគឺអនុញ្ញាតសម្រាប់អតិថិជនដែលបានប្រើប្រាស់ទូរស័ព្ទជាមួយ ស្នាមក្រយៅដៃ ឬការសម្គាល់ទម្រង់មុខ សម្រាប់សេវាកម្មធនាគារតាមប្រព័ន្ធអ៊ីនធឺណិតផ្ទាល់ខ្លួន។</p>



                <p class="mt-2">
                    <strong>ការបិទគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធអនឡាញ</strong>
                </p>
                <p>ប្រសិនបើលោកអ្នកចង់បិទគណនីប្រាក់បញ្ញើមានកាលកំណត់នេះ លោកអ្នកត្រូវអញ្ជើញមកកាន់សាខា របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ណាមួយដើម្បីធ្វើការបិទ។</p>




                <p class="mt-2">
                    <strong>ព័ត៌មាន​ផ្ទាល់ខ្លួន</strong>
                </p>
                
                <p class="mt-2">យើងយកចិត្តទុកដាក់ចំពោះឯកជនភាពរបស់លោកអ្នក។ រាល់ព័ត៌មានទាំងអស់ដែលលោកអ្នកបានផ្តល់ជូនធនាគារនឹងត្រូវបានរក្សាទុកជាការសម្ងាត់និងសុវត្ថិភាពដោយខាងធនាគារ។ ប្រសិនបើលោកអ្នកជ្រើសរើសប្រើប្រាស់សេវាកម្មទាំងនេះ នោះលោកអ្នកយល់ព្រមនឹងគោលការណ៍ឯកជនភាពរបស់សេវាធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក (CUBC mBanking)។ លោកអ្នកមានសិទ្ធិទទួលបានព័ត៌មានទាំងនោះដោយអាចស្នើសុំនៅការិយាល័យកណ្តាល ឬសាខាណាមួយរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ហើយលោកអ្នក ប្រកាសថាព័ត៌មានដែលបានផ្តល់គឺពិតនិងត្រឹមត្រូវ។</p>
                <p class="mt-2">ធនាគារយើងខ្ញុំនឹងខិតខំប្រឹងប្រែងដើម្បីរក្សាព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នកឱ្យបានទាន់ពេលវេលា។ ដើម្បីជាជំនួយដល់យើងខ្ញុំ សូមអនុញ្ញាតឱ្យយើងខ្ញុំដឹងពីការផ្លាស់ប្តូរណាមួយនៅក្នុងព័ត៌មានលម្អិតផ្ទាល់ខ្លួននិងអាជីវកម្មរបស់លោកអ្នក។</p>



                <p class="mt-2">
                    <strong>ដំណោះស្រាយ</strong>
                </p>
                <p>សម្រាប់ការបើកគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមប្រព័ន្ធធនាគារអនឡាញ យើងដឹងថាពេលខ្លះអាចនឹងមានបញ្ហាកើតឡើង ខណៈពេលលោកអ្នកកំពុងធ្វើប្រតិបត្តិការ ឬបន្ទាប់ពីលោកអ្នកបានបញ្ចប់ប្រតិបត្តិការរួចរាល់។ នៅពេលដែលមានបញ្ហាទាំងអស់នេះ ធនាគារនឹងព្យាយាមកំណត់នូវមូលហេតុដែលបណ្តាលឲ្យមានបញ្ហាកើតឡើងជាមួយនឹងការផ្តល់ជូនអតិថិជននូវដំណោះស្រាយដ៏ល្អបំផុត។ ក្នុងករណីដែលលោកអ្នកជឿជាក់ថាគណនីប្រាក់បញ្ញើមានកាលកំណត់តាមរយៈប្រព័ន្ធធនាគារអនឡាញរបស់លោកអ្នកមានបញ្ហាកើតឡើង សូមធ្វើការទំនាក់ទំនងភ្លាមៗមកកាន់ផ្នែកទំនាក់ទំនងរបស់ធនាគារដោយទូរស័ព្ទទៅកាន់លេខ (៨៥៥) ២៣ ៨៨ ៥៥ ០០។</p>

            </div>
        </div>
    </section>

    <!-- QA item -->
    <section data-label="telegraphic-transfer" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                ការផ្ទេរប្រាក់ Telegraphic Transfer (International)
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>Teleការផ្ទេរប្រាក់ Telegraphic Transfer (International) សំដៅដល់ការផ្ទេរប្រាក់ទៅកាន់ធនាគារផ្សេងៗនៅក្រៅប្រទេស។</p>
                

                <p class="mt-2">តាមរយៈការប្រើប្រាស់សេវាផ្ទេរប្រាក់ Telegraphic Transfer (International) ខ្ញុំបានយល់ព្រមទៅតាមលក្ខខណ្ឌផ្សេងៗដែលគ្រប់គ្រងទៅលើសេវាអេឡិចត្រូនិច​ គណនីសន្សំ គណនីចរន្ត ព្រមទាំងសេវាផ្ទេរប្រាក់ក្រៅប្រទេស។ </p>
                <p class="mt-2">ខ្ញុំបានដឹងថាប្រតិបត្តិការរបស់ខ្ញុំ ត្រូវបានធ្វើឡើងដោយផ្អែកទៅលើអត្រាប្ដូរប្រាក់ក្នុងកំឡុងពេលធ្វើប្រតិបត្តិការ ដែលអាចខុសគ្នាពីអត្រាប្ដូរប្រាក់ដែលបានបង្ហាញលើគេហទំព័ររបស់ធនាគារ (CUBC)​។</p>
                <p class="mt-2">ខ្ញុំយល់ព្រមផ្តល់ជូននូវរាល់ឯកសារពាក់ព័ន្ធបន្ថែមដែលតម្រូវដោយធនាគារ​ (CUBC) ហើយខាងធនាគារ (CUBC) នឹងមិនទទួលខុសត្រូវចំពោះប្រតិបត្តិការណាមួយដែលមិនត្រូវបានធ្វើឡើង ដោយសារតែឯកសារតម្រូវមិនគ្រប់គ្រាន់នោះឡើយ។</p>

            </div>
        </div>
    </section>
</section>