@{
   ViewData["PageTitle"] = "安全與隱私";
   ViewData["PageDescription"] = "本行重視您的意見回饋，並致力於精進我們的服務。敬請您透過本行意見反應表給予您的回饋。您的寶貴意見將於您送出後立即進入本行內部處理程序，並於規定時間內替您處理完畢。謝謝！";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		安全與隱私
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/legal.jpg" />
						<img srcset="/assets/img/topkv/legal-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">安全與隱私</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">安全與隱私</li>
			</ol>
		</div>
	</nav>
	
	<!--
		安全與隱私 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<div class="compact">
			<p class="mb-3">國泰世華銀行非常重視保護您隱私的承諾。 以下詳細介紹了與您相關的隱私權聲明與安全措施。</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">一般聲明</h3>
			<p class="mb-3">本聲明涉及與國泰世華銀行網站有關的隱私權作法。外部網站的連結是可識別的，並不在本聲明範圍內。本隱私聲明的內容可能會不時更動，本行恕不另行通知。</p>
			<p class="mb-3">請注意，聲明中的「我們」指的是國泰世華銀行。 國泰世華銀行是指新加坡銀行有限公司。</p>
			<p class="mb-3">我們充分尊重您的隱私權，不會在您不知情的情況下在本網站收集有關您的任何個人資訊。您自願提供給我們的任何個人資訊都將受到高標準的嚴格處理。</p>

			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">個人資訊收集與使用</h3>
			<p class="mb-3">除了您自願提供的資訊（例如向我們發送電子郵件或註冊 網路銀行 與 行動銀行 服務等）之外，我們不會在本網站上收集有關您的任何個人資訊。 在收集此類資訊之前，我們會告知您我們使用該資訊的目的。您以這種方式提供的任何資訊僅將用於您當初提供資訊的目的。我們將使用您提供的資訊來答覆您的詢問，在使用網路銀行和行動銀行的情形下，您的個人資訊可以讓註冊網路和行動銀行的手續順利進行。</p>
			<p class="mb-3">我們還可能透過本網站以外的其他方式從您那裡收集個人資訊，例如電話、書面方式或面對面的聯繫。</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">技術資訊的使用 - 「Cookies」</h3>
			<p class="mb-3">我們可能會使用「cookies」收集有關您造訪本網站的數據；請注意，我們不會以這種方式收集可以識別您身份的資訊。</p>
			<p class="mb-3">Cookies是由網站傳輸到您電腦硬碟的文件。cookies可以儲存有關您的偏好資訊以及造訪網站時所需的其他資訊。如您要防止使用cookies，則需要啟動大多數網路瀏覽器都具備的功能，以讓您選擇是否拒絕或接受cookies。透過我們的網路伺服器和日誌的標準操作收集的統計和分析資訊為我們提供的是一般資訊，而非個別人士的特定資訊。我們並不會收集可用於識別網站使用者的資訊。 網站記錄的技術細節僅限於以下項目：</p>
			<ul class="list-disc mb-3">
				<li>使用者網路伺服器的IP地址</li>
				<li>使用的頂級域名（例如 .i.e.、.com、.org、.net）</li>
				<li>使用者造訪本網站前的網站地址，包括任何使用的關鍵字</li>
				<li>顯示使用者在本網站上的流量數據（例如造訪的頁面和下載的文件）</li>
				<li>網站使用者的網路瀏覽器類型</li>
			</ul>
			<p class="mb-3">國泰世華銀行不會試圖辨識個人用戶，或將上述技術細節與任何人士連結。國泰世華銀行絕不向任何第三方披露有關個人網站用戶的技術資訊，除非根據法律規定有此義務披露這些資訊。技術資訊僅供國泰世華銀行作為統計和其他管理目的之用。</p>
			
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->