@{
   ViewData["PageTitle"] = "អាជីពការងារ";
   ViewData["PageDescription"] = "ប្រសិនបើអ្នកកំពុងស្វែររកអាជីពការងារដែលអាចជួយអ្នកពង្រឹងនិងបង្កើនសក្តានុពលរបស់ខ្លួន ធនាគារ កាថេ យូណៃធីត គឺជាទីកន្លែងដែលស័ក្តិសមបំផុតសម្រាប់អ្នក។ ធនាគារ កាថេ យូណៃធីត ផ្តល់ឱកាសដល់បុគ្គលិកគ្រប់រូបក្នុងការចូលរូម និង បង្តើតនូវទស្សនៈវិស័យអនាគតផ្ទាល់ខ្លួន។ ធនាគារ កាថេ យូណៃធីត តាំងចិត្តយ៉ាងមោះមុតក្នុងការគាំទ្រ ក៏ដូចជាផ្តល់ឱកាសធំទូលាយសម្រាប់អភិវឌ្ឍន៍ជំនាញនាពេលអនាគតដល់បុគ្គលិក។ ការសម្រេចចិត្តចូលរួមជាមួយ ធនាគារ ការថេ យូណៃធីត ពិតជាជម្រើសដ៏ល្អ ហើយអ្នកនឹងទទួលបានភាពជឿជាក់ តាមរយៈការបេ្តជ្ញាចិត្តរបស់យើងក្នុងការបណ្តុះបណ្តាលបុគ្គលិកអោយក្លាយជាបុគ្គលដែលមានសក្តានុពលខ្ពស់។";
}



<!-- Page START -->
<main class="mastbody">
	
	<!--
		អាជីពការងារ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អាជីពការងារ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">អាជីពការងារ</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អាជីពការងារ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
            <h2 class="display-3 h1-mb  mb-3  text-black fw-bold">
                ឱកាសការងារ និងការលើកទឹកចិត្ត
            </h2>
            <p class="text-left">
                ប្រសិនបើអ្នកកំពុងស្វែងរកអាជីពការងារដែលអាចជួយអ្នកពង្រឹងនិងបង្កើនសក្តានុពលរបស់ខ្លួន ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក គឺជាទីកន្លែងដែលស័ក្តិសមបំផុតសម្រាប់អ្នក។ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ផ្តល់ឱកាសដល់បុគ្គលិកគ្រប់រូបក្នុងការចូលរួម និង បង្កើតនូវទស្សនៈវិស័យអនាគតផ្ទាល់ខ្លួន។ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក តាំងចិត្តយ៉ាងមោះមុតក្នុងការគាំទ្រ ក៏ដូចជាផ្តល់ឱកាសធំទូលាយសម្រាប់អភិវឌ្ឍន៍ជំនាញនាពេលអនាគតដល់បុគ្គលិក។ ការសម្រេចចិត្តចូលរួមជាមួយ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ពិតជាជម្រើសដ៏ល្អ ហើយអ្នកនឹងទទួលបានភាពជឿជាក់ តាមរយៈការបេ្តជ្ញាចិត្តរបស់យើងក្នុងការបណ្តុះបណ្តាលបុគ្គលិកអោយក្លាយជាបុគ្គលដែលមានសក្តានុពលខ្ពស់។
            </p>
		</header>
		
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">របៀបដាក់ពាក្យ</h3>
			
			<!-- Gray container -->
			<div class="bg-gray-100  px-3 py-4 px-sm-4 px-lg-5">
				<p class="mb-2">ចូលរួមជាសមាជិក “ONE TEAM” របស់យើងឥលូវនេះ ដោយផ្ញើប្រវត្តិរូបសង្ខេប (CV) និង ពាក្យស្នើសុំ (Cover Letter) ទៅកាន់អាសយដ្ឋានដូចខាងក្រោម៖</p>
				<ul class="list-disc mb-4">
                    <li>
						ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក<br>
                        នាយកដ្ឋានធនធានមនុស្ស<br>
                        អគារលេខ 48 ផ្លូវសម្តេចប៉ាន (ផ្លូវ 214) ខណ្ឌ ដូនពេញ រាជធានីភ្នំពេញ ប្រទេសកម្ពុជា
                    </li>
					<li>ឬ តាមរយៈ  អ៊ីមែលៈ <a class="text-green text-underline" href="mailto:careers@cathaybk.com.kh">careers@cathaybk.com.kh</a></li>
				</ul>
				<p>សូមអរគុណសម្រាប់ចំណាប់អារម្មណ៍ក្នុងការចូលរួមជាសមាជិក ធនាគារ កាថេ យូណៃធីត។ យើងស្វាគមន៍ក្នុងការទទួលពាក្យស្នើសុំបម្រើការងាររបស់លោកអ្នក។ </p>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact-sm">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold text-center lh-sm">អត្ថប្រយោជន៍</h3>
			<p class="mb-5 text-center">បុគ្គលិករបស់ ធនាគារ កាថេ យូណៃធីត នឹងទទួលបាន៖</p>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row mb-n4  pl-xl-5">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/bonus.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ប្រាក់រង្វាន់</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>ប្រាក់បៀវត្សប្រកួតប្រជែង និងកញ្ចប់អត្ថប្រយោជន៍ផ្សេងៗ</li>
							<li>ប្រាក់រង្វាន់ និង ការតំឡើងប្រាក់បៀវត្សប្រចាំឆ្នាំ</li>
							<li>ប្រាក់ឧបត្ថម្ភបុណ្យចូលឆ្នាំខ្មែរ និង បុណ្យភ្ជុំបិណ្ឌ</li>
						</ul>
					</div>
				</li>
	


				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/benefit.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">អត្ថប្រយោជន៍</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>កញ្ចប់ធានារ៉ាប់រងផ្នែកសុខភាព និង គ្រោះថ្នាក់</li>
							<li>អត្រាការប្រាក់ពិសេសសម្រាប់ប្រាក់កម្ចីបុគ្គលិក</li>
							<li>កាតឥណពន្ធ និង កាតឥណទាន</li>
						</ul>
					</div>
				</li>
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/training.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការបណ្តុះបណ្តាល</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>ការបណ្តុះបណ្តាលនៅក្នុង និងក្រៅស្ថាប័ន</li>
							<li>ការអភិវឌ្ឍអាជីពការងារឆាប់រហ័ស</li>
						</ul>
					</div>
				</li>
	
			</ul>


		</section>
		
		
		
		<section class="compact" id="job-openings">
			<div class="py-section"></div>
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">មុខតំណែងកំពុងជ្រើសរើស</h3>
		
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb">
						<colgroup>
							<col width="6%">
							<col>
							<col width="6%">
							<col width="36%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">Nº</th>
								<th scope="col" class="h4 h4-mb">Position Title</th>
								<th scope="col" class="h4 h4-mb">#</th>
								<th scope="col" class="h4 h4-mb">Location</th>
							</tr>
						</thead>
                        <tbody>
							<tr>
								<td>1</td>
								<td><a class="text-green text-underline" href="@ViewData["siteLangUrl"]job-openings/Relationship Manager(Corporate Loan)">Relationship Manager(Corporate Loan)</a></td>
								<td>04</td>
								<td>
									សាខាតំបន់ភ្នំពេញ
								</td>

							<tr>
								<td>2</td>
								<td><a class="text-green text-underline" href="@ViewData["siteLangUrl"]job-openings/Relationship Manager">Relationship Manager</a></td>
								<td>05</td>
								<td>
									ការិយាល័យកណ្តាល
								</td>
							</tr>
                        </tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->