@{
   ViewData["PageTitle"] = "關於我們";
   ViewData["PageDescription"] = "CUBC 繼續謹慎地擴展我們在柬埔寨市場的業務，包括我們的分行網絡擴展，以方便客戶使用我們的服務。 我們積極提供全面性且具增值力的銀行產品，包括網路銀行和行動銀行。 我們建立了一個橫跨柬埔寨主要城市/省份的綿密網絡，共有 16個分行/辦事處，與70多台自動提款機。";
}

<!-- Page START -->
<main class="mastbody"> 
	
	<!--
		關於我們
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/about.jpg" />
						<img srcset="/assets/img/topkv/about-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">關於國泰世華銀行<br class="d-none d-sm-block">(柬埔寨)股份有限公司</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">關於我們</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		關於我們 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">我們的企業簡介</h2>
			<p class="text-left">
				國泰世華銀行（柬埔寨）CUBC；前稱新加坡銀行SBC Bank
				，於1993年在柬埔寨王國註冊成立，是國泰世華銀行的全資子公司，而國泰世華銀行是台灣最大的多元金融控股集團國泰金融控股的商業銀行部門。CUBC 繼續謹慎地擴展我們在柬埔寨市場的業務，包括我們的分行網絡擴展，以方便客戶使用我們的服務。 我們積極提供全面性且具增值力的銀行產品，包括網路銀行和行動銀行。 我們建立了一個橫跨柬埔寨主要城市/省份的綿密網絡，共有 15個分行/辦事處，與60多台自動提款機。
			</p>
			<br>
			<p class="text-left">
				<strong>國泰金控暨旗下子公司國泰人壽、國泰世華銀行、國泰產險、國泰證券、 </strong>
				國泰投信等，在台灣及世界各國提供全面性且多元化的金融服務與解決方案，與國泰航空有限公司暨其關係企業互不隷屬亦非關係企業。
			</p>
		</header>
		

		
		<div class="py-section"></div>
		
		<section>
			<div class="compact mb-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-3  text-black fw-bold text-center lh-sm">我們的服務</h3>
				<p class="h4 h4-mb fw-bold text-center">自註冊成立以來，CUBC的業務活動逐漸多元，目前主要在兩個領域提供服務：</p>
			</div>
			<div class="compact-sm">
				<div class="row mx-md-m2">
					<div class="col-12 col-md-6 px-md-3  d-flex flex-column ie11fix  mb-5">
						<figure class="flex-shrink-0 mb-3"><!-- 720x378 PNG or JPG -->
							<img class="w-100 lazy" data-src="/assets/img/content/coverpic-personal.jpg" alt="個人金融">
						</figure>
						<div class="pr-lg-5  d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">個人金融</h3>
							<p>積極提供創新的個人銀行產品和解決方案，包括存款、匯款、個人貸款和個人簽帳卡/信用卡。</p>
							<div class="mt-auto pt-3">
								<a class="btn btn-green" href="@ViewData["siteLangUrl"]personal/">了解更多<i class="ico-ui-right-v ml-2 big"></i></a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 px-md-3  d-flex flex-column ie11fix  mb-5">
						<figure class="flex-shrink-0 mb-3">
							<img class="w-100 lazy" data-src="/assets/img/content/coverpic-business.jpg" alt="法人金融">
						</figure>
						<div class="pr-lg-5  d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">法人金融</h3>
							<p>商業銀行產品和解決方案提供商業貸款、銀團貸款、貿易融資和商業信用卡產品。</p>
							<div class="mt-auto pt-3">
								<a class="btn btn-green" href="@ViewData["siteLangUrl"]business/">了解更多<i class="ico-ui-right-v ml-2 big"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="py-section"></div>
		<div class="py-section"></div>
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">對我們核心價值的承諾</h3>
			
			<div class="corevalue">
				<div class="corevalue-bg  d-none d-lg-block lazy" data-bg="/assets/img/content/corevalue-bg.png"></div>
				<ul class="corevalue-list">
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-1-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">誠信</h4>
						<p>國泰金控擁有雄厚的基礎和悠久的發展歷史，與國泰的客戶建立信任，並為員工定下堅實的原則。</p>
					</li>
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-2-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">當責</h4>
						<p>國泰金控致力於成為可靠與負責的企業品牌。</p>
					</li>
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-3-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">創新</h4>
						<p>國泰金控繁榮發展，創造未來。</p>
					</li>
				</ul> 
			</div>
		</section>
		 
		<div class="py-section"></div>
		<div class="py-section"></div>
		
        <section class="compact">
            <!-- Section heading -->
            <h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">年報揭露</h3>
            <ul class="row mb-n5">
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2019.jpg" alt="2019年年報">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2019_EN.pdf">2019年年報<i class="ico-ui-download ml-2"></i></a>
                </li>
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2020.jpg" alt="2020年年報">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2020_EN.pdf">2020年年報<i class="ico-ui-download ml-2"></i></a>
                </li>
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2021.jpg" alt="2021年年報">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2021_EN.pdf">2021年年報<i class="ico-ui-download ml-2"></i></a>
                </li>
				<li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
					<figure class="flex-shrink-0  mb-4 px-4 px-md-0">
						<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2022.jpg" alt="2022年年報">
					</figure>
					<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2022_EN.pdf">2022年年報<i class="ico-ui-download ml-2"></i></a>
				</li>
				<li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
					<figure class="flex-shrink-0  mb-4 px-4 px-md-0">
						<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2023.jpg" alt="2021 Annual Report">
					</figure>
					<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2023_EN.pdf">2023年年報<i class="ico-ui-download ml-2"></i></a>
				</li>
				@* <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix"> *@
				@* 	<figure class="flex-shrink-0  mb-4 px-4 px-md-0"> *@
				@* 		<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2024_en.jpg" alt="2024 Annual Report"> *@
				@* 	</figure> *@
				@* 	<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2024_EN.pdf">2024年年報<i class="ico-ui-download ml-2"></i></a> *@
				@* </li> *@
            </ul>

            <div class="py-section"></div>
            <h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm"> ABC Code of Conduct</h3>
            <ul class="row mb-n5">
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy entered loaded" data-src="/assets/img/content/B_F_I_EN.jpg" alt="2021 Annual Report" data-ll-status="loaded" src="/assets/img/content/B_F_I_EN.jpg">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill text-center h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/Bank_Code_of_Conduct_EN.pdf">ABC Code of Conduct<i class="ico-ui-download ml-2"></i></a>
                </li>
            </ul>
        </section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->