@{
	ViewData["PageTitle"] = "Escrow Service";
	ViewData["PageDescription"] = "Our CUBC Escrow Service, we act as a third party to provide you a Secure and Reliable Transactions with Holding Funds, Transaction Monitoring, and Release Funds for both parties (Buyers and Sellers) ensuring that your transactions is always protected. With CUBC Escrow Service, ¡§ Ensuring Your Security in Every Transaction, Our Top Priority¡¨";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Payroll Service
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/escrow-pc.png" />
						<img srcset="/assets/img/topkv/escrow-mb.png">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Escrow Service</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Escrow Service</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Payroll Service - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Escrow Service</h2>
			<p class="text-left">
				Our CUBC Escrow Service, we act as a third party to provide you a Secure and Reliable Transactions with Holding Funds, 
				Transaction Monitoring, and Release Funds for both parties (Buyers and Sellers) ensuring 
				that your transactions is always protected. With CUBC Escrow Service, 
				"Ensuring Your Security in Every Transaction, Our Top Priority"
			</p>
		</header>

		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Benefit of Using Escrow Service with CUBC</h2>
			<p class="text-left">
				<br>1-Security for Both Parties
			</p>
			<p class="text-left">
				We act as a neutral third party to ensure that funds or assets are securely held until all terms of the agreement are met or both buyer and seller fulfill the agreed-upon conditions. This minimizes the risk of fraud or non-payment and ensures both parties are protected.
			</p>
			<p class="text-left">
				<br>2-Ease of Transactions
			</p>
			<p class="text-left">
				By managing the process and verifying compliance with the terms, Escrow Services simplify transactions, especially for high-value or complex transaction deal like real estate. This builds trust and streamlines the business transaction.
			</p>
			<p class="text-left">
				<br>3-Conflict Resolution
			</p>
			<p class="text-left">
				Escrow Service provides clear guidelines and reduce misunderstandings of each transaction. In case of disputes, the Bank ensures funds or assets are not released prematurely, and if the disagreement arises, we can help mediate by verifying the conditions of the agreement before releasing the funds and assets
			</p>
		</header>

		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Fee Charge</h2>

			<div class="tabular px-2 px-lg-4">
				<div class="table-responsive-lg">
					<table class="table table-bordered h5-mb text-center bg-light">
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
							<tr class="bg-secondary text-white">
								<th scope="col" class="h4 h4-mb border fw-bold">Escrow Amount</th>
								<th scope="col" class="h4 h4-mb border fw-bold">Charge Fee</th>
								<th scope="col" class="h4 h4-mb border fw-bold">Max Period</th>
								<th scope="col" class="h4 h4-mb border fw-bold">Extension Fee</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border bg-light">&lt;USD300K</td>
								<td class="border bg-light">USD800</td>
								<td class="border bg-light">3-month</td>
								<td class="border bg-light">USD250/month</td>
							</tr>
							<tr>
								<td class="border bg-light">&gt;USD 300,000-USD 1,000,000</td>
								<td class="border bg-light">USD1,000</td>
								<td class="border bg-light">3-month</td>
								<td class="border bg-light">USD350/month</td>
							</tr>
							<tr>
								<td class="border bg-light">&gt;USD 1,000,000</td>
								<td class="border bg-light">0.1%</td>
								<td class="border bg-light">3-month</td>
								<td class="border bg-light">USD500/month</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</header>
	</section>
</main>
<!-- Page END -->