@{
   ViewData["PageTitle"] = "Merchant Service";
   ViewData["PageDescription"] = "CUBC Merchant Service: POS Terminal & Payment Gateway (eCommerce; eCOM) is a secured payment acceptance service that allows cardholders make purchase/order with debit/credit card.";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Merchant Service
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-merchant.jpg" />
						<img srcset="/assets/img/topkv/business-merchant-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Merchant Service</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Merchant Service</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Merchant Service - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-left">
				CUBC Merchant Services: POS Terminal, Payment Gateway, and Payment Link offer secure payment solutions for merchants of any size to accept global card payments.<br>
			<br>
				You can trust our real-time worldwide transaction acceptance to support your business growth.
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">Why CUBC Merchant Service?</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row mb-n4  pl-xl-5">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/POS Terminal.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							POS Terminal
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								Accept Contactless, Chip, and Magnetic Stripe Card
							</li>
							<li>Wireless POS connecting via WIFI/ 4G SIM Card/ hotspot</li>
							<li>
								Open the MOTO transaction to clear the voucher Agoda, Booking.com, etc.
							</li>
							<li>
								Auto Settlement or manual
							</li>
							<li>
								Send receipt via SMS/ email/ paper
							</li>
							<li>
								Reset password on POS Terminal anytime
							</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Payment Gateway.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							Payment Gateway
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								Easy integration instruction with simple steps for your Website/App
							</li>
							<li>
								Responsive payment page for customer experience and convenient
							</li>
							<li>
								Fast and high authorization for card payment
								</li>
							<li>
								Accept Visa, MasterCard cards
							</li>
							<li>
								Merchant portal for easier accounting management
							</li>
							<li>
								Secure and compliance with EMV 3DS2.2
							</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Payment Link.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							Payment Link
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								Accept online payment without a website, coding, and integration
							</li>
							<li>
								Quickly create order to generate payment links for customer
							</li>
							<li>
								Easy share link via email or social channels (FB, Telegram, Line, WeChat..)
							</li>
							<li>
								Accept Visa, MasterCard cards
							</li>
							<li>
								Auto-sending email to customer and merchant after successful payment
							</li>
							<li>
								Access payment link portal for easier product management
							</li>
						</ul>
					</div>
				</li>
	
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" href="@ViewData["siteLangUrl"]business/merchant-services-form/">
					<span class="px-2">Register Now<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Should you have any inquiries, please don't hesitate to contact us.</h3>
			<ul class="list-disc">
				<li>
					Phone: +855: 23885500 / 10885500 / 89885500
				</li>
				<li>Email: <a class="text-green text-underline" href="mailto:merchant@cathaybk.com.kh">merchant@cathaybk.com.kh</a></li>
			</ul>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->