@{
   ViewData["PageTitle"] = "Remittances";
   ViewData["PageDescription"] = "Remittance (a money transfer, funds transfer or payment order) is the process of transferring money, which is begun with the originator’s payment order, made for a specific purpose to the designated beneficiary, and completed upon acceptance by the beneficiary’s bank.";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Remittances
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-remittance.jpg" />
						<img srcset="/assets/img/topkv/business-remittance-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Remittances</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Remittances</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Remittances - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-left">
			<blockquote class="h4 h4-mb">Remittance (a money transfer, funds transfer or payment order) is the process of transferring money, which is begun with the originator’s payment order, made for a specific purpose to the designated beneficiary, and completed upon acceptance by the beneficiary’s bank.</blockquote>
		</header>
		
		<section class="compact">
			<!-- Page title -->
			<h2 class="display-3 h1-mb  mb-3  text-black  text-center fw-bold">Wire Services</h2>
			<p class="mb-4">When you need to conduct financial transactions with your foreign counterpart, Cathay United Bank can handles your incoming and outgoing funds transfers quickly and efficiently through our network of foreign correspondent banks.</p>
			
			<!-- Downloads -->
			<p class="text-center">
				<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/Inward Remittance Guide.pdf" target="_blank">Inward Remittance Guide<i class="ico-ui-download ml-2"></i></a>
			</p>
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">Inward & Outward Remittances</h3>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col>
							<col width="35%">
							<col width="35%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">Item</th> 
								<th scope="col" class="h4 h4-mb">Inward Remittances Fees</th>
								<th scope="col" class="h4 h4-mb">Outward Remittances Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Overseas Transfer</th>
								<td>0.10% commission; min USD10.00</td>
								<td>
									0.20% commission; min USD15.00 + USD20.00 cable fee
									(Additional fee of USD30.00 will be charged if you select “OUR” 
									option or all charges are borne by applicant)
								</td>
							</tr>
							<tr>
								<th scope="row">Domestic Transfer</th>
								<td>USD5.00</td>
								<td>0.05% commission; min USD5.00</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
	
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">Demand Drafts</h3>
			<p class="mb-4">Demand draft can be used to make non-urgent payments in Singapore with stated amount in SGD currency or USD to a named beneficiary. Our overseas correspondents will pay your beneficiary when the demand draft is deposited and cleared by the beneficiary's bank.</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">Fees</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">0.22% commission; min USD20.00 + USD20.00 cable fee</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">Cashier's Orders</h3>
			<p class="mb-4">In situations where the beneficiary does not accept cash or personal checks, you will then need a cashier's order, which is a check issued by our Bank, payable to the payee as indicated by the person who buys the cashier's order.</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">USD10.00 per cashier's order</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">Amendment/Tracer/Refund</h3>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">Item</th>
								<th scope="col" class="h4 h4-mb">Fees</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Amendment / Tracer</td>
								<td>USD30.00 cable fee per request</td>
							</tr>
							<tr>
								<td>Refund</td>
								<td>USD40.00 cable fee per request</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
			
			<ul class="list-disc  mt-4  h6 h6-mb">
				<li>Overseas bank fees incurred for the outward remittance business will be charged based on the actual fees charged by the overseas bank.</li>
				<li>All commissions and charges are subject to change at the Bank's sole discretion.</li>
				<li>Third-party and other charges that may be applicable will be charged accordingly.</li>
			</ul>
		</section>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->