@{
   ViewData["PageTitle"] = "Event";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<style>
		.swiper-slide img{
			width:100%;
		}
	</style>
	<aside class="topkv  kvslider swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<figure>
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/event/banner/banner-6-lg.jpg" />
						<img srcset="/assets/img/event/banner/banner-6.jpg">
					</picture>
				</figure>
			</div>
		</div><!--/.swiper-wrapper-->
		
		<div class="kvslider-control d-none">
			<div class="kvslider-prev"><i class="ico-ui-left-v"></i></div>
			<div class="kvslider-menu"></div>
			<div class="kvslider-next"><i class="ico-ui-right-v"></i></div>
		</div>
	</aside>
	
	
	<!--
		New Features Waiting for You to Explore
	-->
	<div class="fluid overflow-hidden">
		<div class="py-page"></div>
		<div class="py-section"></div>
		<div class="py-section d-none d-lg-block"></div>

		<section class="mx-n3">
			<ul class="compact-md  row justify-content-center justify-content-md-start">
				<!-- Card grid -->
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/event/get20_cash_back.jpg" alt="Anantara Angkor Resort">
					</figure>

				</li>
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
						<img class="embed-responsive-item lazy" data-src="/assets/img/event/open_cubc_account.jpg" alt="Anantara Angkor Resort">
					</figure>
				</li>
				<li class="col-12 col-md-6 col-lg-4  mb-5  px-3  d-flex flex-column">
					<a href="https://youtu.be/iSPAS7MyIBI" target="_blank" rel="noopener noreferrer">
						<figure class="mb-3 mb-xl-4  flex-shrink-0  embed-responsive  embed-responsive-720by482  border bg-light">
							<img class="embed-responsive-item lazy" data-src="/assets/img/event/smileshop.jpg" alt="Anantara Angkor Resort">
						</figure>
					</a>

				</li>
				<div class="px-xl-1   d-flex flex-column flex-grow-1  ie11fix">
					<div class="compact  mb-5  text-center">
						<a class="btn btn-green" target="_blank" rel="noopener noreferrer" href="/event/promotion">Detail of the Event and T&C<i class="ico-ui-external ml-2"></i></a>
					</div>
				</div>
			</ul>
		</section>
		<style>
			.bg-F0F0F0{
				background-color:#F0F0F0;
			}
			.ol-order-style{
				list-style: decimal;
				padding-left:1rem;
			}
		</style>
	</div>
	<section>
		<div class="compact mb-4 mb-md-5">
			<!-- Section heading -->
			<h3 class="display-3 h1-mb text-black fw-bold text-center lh-sm">How to open a <br class="d-block d-md-none"/>digital account</h3>
		</div>
		<div class="compact-sm">
			<div class="bg-F0F0F0 px-3 px-md-4 pt-3 pb-5 py-md-4">
				<div class="row align-items-center">
@*					<div class="col-12 col-lg-6 d-flex flex-column ie11fix">
						<a href="https://www.youtube.com/embed/v3nCXoHQddU" videoBtn data-toggle="modal" data-target=".videoModal">
							<figure><!-- 720x378 PNG or JPG -->
								<img class="w-100 lazy" data-src="/assets/img/event/how-to.jpg" alt="How to open a digital account">
							</figure>
						</a>
					</div>*@
					<div class="col-12 col-lg-6 mt-3 mt-lg-0 pl-lg-5">
						<div class="h2 h2-mb mb-2 text-gold fw-bold lh-md">Steps</div>
						<ol class='ol-order-style'>
							<li>Launch CUBC app</li>
							<li class="mt-1">Select Open a digital account and accept the Terms and Conditions</li>
							<li class="mt-1">One Time Password (OTP) received via SMS and email</li>
							<li class="mt-1">Take photo of your Cambodian National ID and take a selfie</li>
							<li class="mt-1">Check your personal details and tap Confirm</li>
							<li class="mt-1">Create your own username and password</li>
							<li class="mt-1">Tap Start Banking</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-xl " role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<!-- 16:9 aspect ratio -->
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" videoIframe src="" allowscriptaccess="always" allow="autoplay" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</section>
		
		
	<div class="py-section"></div>
		<div class="py-section d-none d-lg-block"></div>
	
	<style>
		.appbadge-qrocde{
			width:200px;
		}
		.appbadge-store{
			width:310px;
		}
		@@media (max-width: 575px){
			.appbadge-qrocde {
				display: block;
			}
		}
		.maxw-200{
			max-width:200px;
		}
		.w-100{
			width:100%;
		}
		@@media (min-width: 768px){
			.maxw-md-260{
				max-width:260px;
			}
		}
	</style>
	<div class="fluid overflow-hidden">
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="display-3 h1-mb  mb-4  text-black fw-bold text-center lh-sm">Get a CUBC <br class="d-md-none"/>mBanking App</h3>
			
			<div class="row align-items-center justify-content-center">
				<div class="order-2 order-md-1 col-11 col-md-5">
					<figure class="mx-auto mr-md-0 mt-4 mt-md-0 maxw-200 maxw-md-260">
						<img class="ofi-contain lazy w-100" data-src="/assets/img/event/app-screenshot.png" alt="App screenshot">
					</figure>
					<p class="d-block d-md-none w-100 mt-3 text-black">The CUBC mBanking App is optimized to work on your Android and iOS smartphone.</p>
				</div>
				<div class="order-1 order-md-2 col-11 col-md-6">
					<div class="ml-md-4 ml-xl-5">
						<h4 class="h3 h2-mb mb-3 text-black fw-bolder  text-center text-md-left d-none d-md-block">Click the icon or scan QR code to download the App</h4>
					
						<div class="d-flex">
							<nav class="appbadge d-flex flex-grow-1 flex-shrink-0">
								<div class="appbadge-qrocde"><img class="lazy" data-src="/assets/img/content/app-qrcode.svg"></div> 
								<div class="appbadge-store">
									<a  class="eventDownloadAppIosEn appbadge-ios hover-text" target="_blank" rel="noopener noreferrer" href="https://apps.apple.com/kh/app/cubc-mbanking/id489736801"><img class="lazy" data-src="/assets/img/content/app-ios.png"></a>
									<a  class="eventDownloadAppAndroidEn appbadge-android hover-text" target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=com.mbanking.cubc"><img class="lazy" data-src="/assets/img/content/app-android.png"></a>
								</div>
							</nav>
						</div>

						<p class="d-none d-md-block w-100 mt-3 text-black">The CUBC mBanking App is optimized to work on Android and iOS smartphone.</p>
					</div>
				</div>
			</div>
		</section>
		<div class="py-page"></div>
	</div>
</main>
<!-- Page END -->

@section Scripts {
	<script>
	$(function(){
		$('.videoModal').on('hidden.bs.modal', function (event) {
			$('[videoIframe]').attr('src','');
		})
		
		$('[videoBtn]').on('click',function(e){
			const elm = $(this);
			$('[videoIframe]').attr('src',elm.attr('href')+"?autoplay=1")
		})
	})
	</script>
}