@{
   ViewData["PageTitle"] = "ឯកជនភាព​ និងសុវត្ថិភាព";
   ViewData["PageDescription"] = "ធនាគារកាថេយូណៃធីត ប្រកាន់ខ្ជាប់យ៉ាងយកចិត្តទុកដាក់ក្នុងការការពារព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នក។ ខាងក្រោមនេះរៀបរាប់លម្អិតអំពីការអនុវត្តគោលការណ៍ឯកជនភាព និងសុវត្ថិភាពរបស់យើងទាក់ទងនឹងទំនាក់ទំនងរបស់យើងជាមួយលោកអ្នក។";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		ឯកជនភាព​ និងសុវត្ថិភាព
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/legal.jpg" />
						<img srcset="/assets/img/topkv/legal-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">ឯកជនភាព​ និងសុវត្ថិភាព</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">ឯកជនភាព​ និងសុវត្ថិភាព</li>
			</ol>
		</div>
	</nav>
	
	<!--
		ឯកជនភាព​ និងសុវត្ថិភាព - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<div class="compact">
			<p class="mb-3">ធនាគារ កាថេ យូណៃធីត  យើងប្រកាន់ខ្ជាប់នូវការប្តេជ្ញាចិត្តក្នុងការ ការពារឯកជនភាពរបស់អ្នកយ៉ាងយកចិត្តទុកដាក់។ ព័ត៌មានលម្អិតខាងក្រោមអំពីឯកជនភាពរបស់យើង និងការអនុវត្តសុវត្ថិភាពទាក់ទង នឹងទំនាក់ទំនងរបស់យើងជាមួយអ្នក។</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">សេចក្តីថ្លែងការណ៍ទូទៅ</h3>
			<p class="mb-3">សេចក្តីថ្លែងការណ៍នេះពាក់ព័ន្ធនឹងការអនុវត្តឯកជនភាព ដែរទាក់ទងជាមួយនឹងគេហទំព័ររបស់ធនាគារ ការថេ យូណៃធីត  ។ តំណភ្ជាប់ទៅកាន់គេហទំព័រខាងក្រៅគឺអាចកំណត់អត្តសញ្ញាណបាន ដូចនេះហើយវាមិនត្រូវបានគ្របដណ្តប់ដោយសេចក្តីថ្លែងការណ៍នេះទេ។ ខ្លឹមសារនៃសេចក្ដីថ្លែងការណ៍ឯកជនភាពនេះគឺអាចផ្លាស់ប្តូរដោយគ្មានការជូនដំណឹងពីពេលមួយទៅពេលមួយឡើយ។</p>
			<p class="mb-3">សូមកត់ចំណាំថា "យើង/ពួកយើង" គឺសំដៅទៅធនាគារ ការថេ យូណៃធីត  ។ ការថេ យូណៃធីត  មានន័យថាសាជីវកម្មធនាគារសឹង្ហបុរីចំកាត់។</p>
			<p class="mb-3">យើងគោរពសិទ្ធិឯកជនរបស់អ្នកទាំងស្រុង ហើយនឹងមិនប្រមូលព័ត៌មានផ្ទាល់ខ្លួនណាមួយអំពីអ្នកនៅលើគេហទំព័រនេះដោយគ្មានការអនុញ្ញាតិពីអ្នកឡើយ។ ព័ត៌មានផ្ទាល់ខ្លួនណាមួយដែលអ្នកស្ម័គ្រចិត្តអោយមកយើងខ្ញុំនឹងត្រូវបានទុកជាការសំងាត់នឹងមានសុវត្ថិភាពខ្ពស់។</p>

			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការប្រមូល និងការប្រើប្រាស់ព័ត៌មានផ្ទាល់ខ្លួន </h3>
			<p class="mb-3">យើងខ្ញុំនឹងមិនប្រមូលព័ត៌មានផ្ទាល់ខ្លួនណាមួយអំពីលោកអ្នកនៅលើគេហទំព័រនេះទេ ក្រៅពីព័ត៌មានដែលលោកអ្នកបានផ្តល់អោយដោយស្ម័គ្រចិត្ត (ឧ. តាមរយៈអ៊ីមែលមកកាន់យើងខ្ញុំ ឬដោយការចុះឈ្មោះសម្រាប់សេវាកម្មប្រព័ន្ធធនាគារអេឡិចត្រូនិក និងសេវាកម្មប្រព័ន្ធធនាគារចល័តរបស់យើងខ្ញុំ។ល។)។ មុននឹងប្រមូលព័ត៌មានលោកអ្នក យើងខ្ញុំនឹងជំរាបលោកអ្នកជាមុនអំពីគោលបំណងដែលយើងខ្ញុំនឹងយកព័ត៌មានរបស់លោកអ្នកទៅប្រើប្រាស់។ រាល់ព័ត៌មានដែលលោកអ្នកបានផ្តល់មក នឹងត្រូវបានប្រើប្រាស់ស្របទៅតាមគោលបំណងដែលលោកអ្នកបានផ្តល់មកខាងយើងខ្ញុំ។ យើងនឹងប្រើប្រាស់ព័ត៌មានដែលផ្តល់ដោយលោកអ្នក ដើម្បីឆ្លើយតបទៅនឹងចម្ងល់របស់លោកអ្នកពាក់ព័ន្ធនិងសេវាកម្មប្រព័ន្ធធនាគារតាមរយៈអេឡិចត្រូនិក និងសេវាកម្មប្រព័ន្ធធនាគារចល័ត ដើម្បីបើកអោយដំណើរការក្នុងការចុះឈ្មោះតាមរយៈប្រព័ន្ធអ៊ីនធឺណិត និងប្រព័ន្ធធនាគារចល័ត។ </p>
			<p class="mb-3">យើងអាចប្រមូលព័ត៌មានផ្ទាល់ខ្លួនរបស់លោកអ្នកតាមរយៈវិធីជាច្រើនផ្សេងទៀត ក្រៅពីតាមរយៈគេហទំព័រនេះ (ឧ. តាមរយៈទូរស័ព្ទ ជាលាយលក្ខណ៍អក្សរ ឬទំនាក់ទំនងដោយផ្ទាល់)។</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការប្រើប្រាស់ព័ត៌មានបច្ចេកទេស - "ខូគី"</h3>
			<p class="mb-3">ទិន្នន័យរបស់អ្នកនៅពេលចូលមើលគេហទំព័រនេះអាចត្រូវបានប្រមូលតាមរយៈការប្រើប្រាស់ប្រព័ន្ធ "ខូគី" ។ សូមកត់ចំណាំថាប្រព័ន្ធនេះមិនមានព័ត៌មានណាដែលអាចកំណត់អត្តសញ្ញាណរបស់អ្នកបានទេ។</p>
			<p class="mb-3">គីគឺជាឯកសារដែលត្រូវបានផ្ទេរទៅអង្គផ្ទុកទិន្នន័យកុំព្យូទ័ររបស់អ្នកដោយគេហទំព័រមួយ។ ខូគីអាចរក្សាទុកព័ត៌មានអំពីចំណង់ចំណូលចិត្តរបស់អ្នក និងព័ត៌មានផ្សេងទៀតនៅពេលដែលអ្នកត្រូវការ អ្នកអាចចូលមើលគេហទំព័រនេះ។ ដើម្បីការពារការប្រើប្រាស់ប្រព័ន្ធខូគី អ្នកអាចដំណើរការយ៉ាងងាយស្រួលនៅក្នុងកម្មវិធីរុករកដ៏សំបូរបែបតាមរយះប្រព័ន្ធអ៊ីនធឺណិត ដែលអាចអោយអ្នកប្រើប្រាស់អាចបដិសេធ រឺក៏ចង់ប្រើប្រាស់ប្រពន្ធ័ខូគី។ ព័ត៌មានស្ថិតិ និងការវិភាគដែលប្រមូលបានតាមរយៈប្រតិបត្តិការស្តង់ដារនៃបណ្តាញអ៊ីនធឺណិត និងកំណត់ហេតុរបស់យើងផ្តល់ឱ្យយើងនូវព័ត៌មានទូទៅ និងមិនមែនជាព័ត៌មានបុគ្គលជាក់លាក់ណាមួយឡើយ។ មិនមានព័ត៌មានជាក់លាក់ណាមួយត្រូវបានប្រមូល ឬប្រើប្រាស់ដោយយើងខ្ញុំដើម្បីកំណត់អត្តសញ្ញាណអ្នកចូលមើលគេហទំព័ររបស់យើងនោះទេ។ ព័ត៌មានលម្អិតអំពីបច្ចេកទេសដែលបានកត់ត្រាគឺត្រូវបានរារាំងដូចទៅនឹងប្រការខាងក្រោម</p>
			<ul class="list-disc mb-3">
				<li>អាសយដ្ឋាន IP នៃម៉ាស៊ីនមេគេហទំព័ររបស់អ្នកចូលមើល</li>
				<li>មោះដែនកម្រិត-កំពូលដែលបានប្រើប្រាស់ (ឧទាហរណ៍.com, .org, .net)</li>
				<li>អាសយដ្ឋានគេហទំព័រពីមុនរបស់អ្នកចូលមើលបានមកដល់យើង រួមទាំងពាក្យស្វែងរកផ្សេងៗដែលបានប្រើប្រាស់</li>
				<li>ទិន្នន័យដែលបង្ហាញពីសកម្មភាពរបស់អ្នកចូលមើលនៅលើគេហទំព័រនេះ (ឧ. ទំព័រដែលបានចូល និងឯកសារដែលបានទាញយក)</li>
				<li>ប្រភេទនៃកម្មវិធីរុករកបណ្តាញដែលប្រើប្រាស់ដោយគេហទំព័ររបស់អ្នកចូលមើល</li>
			</ul>
			<p class="mb-3">ធនាគារ កាថេ យូណៃធីត មិនព្យាយាមកំណត់អត្តសញ្ញាណភ្ញៀវម្នាក់ៗ ឬភ្ជាប់ព័ត៌មានលម្អិតពីបច្ចេកទេសដែលបានរាយខាងលើជាមួយបុគ្គលណាមួយឡើយ។ វាជាគោលការណ៍របស់ធនាគារ កាថេ យូណៃធីត ដែលមិនបង្ហាញព័ត៌មានបច្ចេកទេសបែបនេះទាក់ទងនឹងអ្នកចូលមើលគេហទំព័របុគ្គលទៅកាន់ភាគីទីបីណាមួយឡើយ លុះត្រាតែមានកាតព្វកិច្ចបង្ហាញព័ត៌មានទាំងនោះដោយច្បាប់។ ព័ត៌មានបច្ចេកទេសនឹងត្រូវបានប្រើប្រាស់ដោយធនាគារ កាថេ យូណៃធីត និងសម្រាប់ គោលបំណងស្ថិតិ និង រដ្ឋបាលផ្សេងទៀតតែប៉ុណ្ណោះ។</p>
			
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->