
<div class='component-oversea-careers-support-card'>
    <div class="cocsc-inner">
        <div class="cocsc-wrap">
            <figure class='cocsc-figure'>
                <picture>
                    <img class='cocsc-img' src='@Url.Content("~/OVSWS/Content/img/hongkong/careers-support-card/kv.jpg")' alt='Careers'>
                </picture>
                <figcaption hidden>Careers</figcaption>
            </figure>

            <div class="cocsc-content">
                <div class="cocsc-description">
                    We offer attractive remuneration package and comprehensive fringe benefits. Interested parties please e-mail your full resume with current and expected salary to <span style='font-weight:700'>HK_Recruit_hr@hk.cathaybk.com</span>, quoting job title.
                </div>
                <small class="cocsc-remark">Personal information collected will be used for considering suitability for the post and strictly in accordance with our personal data policies. It is our policy to retain the personal data of unsuccessful applicants for future recruitment purposes for a period of maximum two years.</small>
            </div>
        </div>
    </div>
</div>