@{
   ViewData["PageTitle"] = "អាជីពការងារ";
   ViewData["PageDescription"] = "ប្រសិនបើអ្នកកំពុងស្វែររកអាជីពការងារដែលអាចជួយអ្នកពង្រឹងនិងបង្កើនសក្តានុពលរបស់ខ្លួន ធនាគារ កាថេ យូណៃធីត គឺជាទីកន្លែងដែលស័ក្តិសមបំផុតសម្រាប់អ្នក។ ធនាគារ កាថេ យូណៃធីត ផ្តល់ឱកាសដល់បុគ្គលិកគ្រប់រូបក្នុងការចូលរូម និង បង្តើតនូវទស្សនៈវិស័យអនាគតផ្ទាល់ខ្លួន។ ធនាគារ កាថេ យូណៃធីត តាំងចិត្តយ៉ាងមោះមុតក្នុងការគាំទ្រ ក៏ដូចជាផ្តល់ឱកាសធំទូលាយសម្រាប់អភិវឌ្ឍន៍ជំនាញនាពេលអនាគតដល់បុគ្គលិក។ ការសម្រេចចិត្តចូលរួមជាមួយ ធនាគារ ការថេ យូណៃធីត ពិតជាជម្រើសដ៏ល្អ ហើយអ្នកនឹងទទួលបានភាពជឿជាក់ តាមរយៈការបេ្តជ្ញាចិត្តរបស់យើងក្នុងការបណ្តុះបណ្តាលបុគ្គលិកអោយក្លាយជាបុគ្គលដែលមានសក្តានុពលខ្ពស់។";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		អាជីពការងារ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អាជីពការងារ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">អាជីពការងារ</a></li>
				<li class="breadcrumb-item active" aria-current="page">Officer, Finance and Accounting</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អាជីពការងារ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Officer, Finance and Accounting</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Assist in preparing, reconciling, and analyzing accounting records with proper explanation for management </li>
					<li class="mb-2">Assist in preparing, maintain, and reconcile accounting records related to IFRS (for example, IFRS16 & IFRS9) and Tax reports </li>
					<li class="mb-2">Assist in preparing monthly NBC, audited financial reports, and budget </li>
					<li class="mb-2">Assist in preparing and hosting the presentation about financial position to management </li>
					<li class="mb-2">Check, verify, and resolve incorrect/pending figure generated from the system </li>
					<li class="mb-2">Perform other duties as assigned by supervisor.</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Holding bachelor degree in Accounting, Banking & Finance, or equivalent with minimum 02 years’ experience in Banking Industry, MFI, or Accounting firm </li>
					<li class="mb-2">Knowledge of banking industry, banking operation, IFRS and Tax </li>
					<li class="mb-2">A good team player, quick learner, and proactive personnel </li>
					<li class="mb-2">Possess a positive attitude, mature, highly initiative and a self-starter </li>
					<li class="mb-2">Be well manner and honest personality </li>
					<li class="mb-2">Keen to learn new thing, willingness to accept new jobs as assigned and critical thinking are required </li>
					<li class="mb-2">Good in English with ability to communicate, Mandarin is a plus </li>
					<li class="mb-2">Good knowledge in Microsoft Excel, Word, Power Point.</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
