@{
   ViewData["PageTitle"] = "អាជីពការងារ";
   ViewData["PageDescription"] = "ប្រសិនបើអ្នកកំពុងស្វែររកអាជីពការងារដែលអាចជួយអ្នកពង្រឹងនិងបង្កើនសក្តានុពលរបស់ខ្លួន ធនាគារ កាថេ យូណៃធីត គឺជាទីកន្លែងដែលស័ក្តិសមបំផុតសម្រាប់អ្នក។ ធនាគារ កាថេ យូណៃធីត ផ្តល់ឱកាសដល់បុគ្គលិកគ្រប់រូបក្នុងការចូលរូម និង បង្តើតនូវទស្សនៈវិស័យអនាគតផ្ទាល់ខ្លួន។ ធនាគារ កាថេ យូណៃធីត តាំងចិត្តយ៉ាងមោះមុតក្នុងការគាំទ្រ ក៏ដូចជាផ្តល់ឱកាសធំទូលាយសម្រាប់អភិវឌ្ឍន៍ជំនាញនាពេលអនាគតដល់បុគ្គលិក។ ការសម្រេចចិត្តចូលរួមជាមួយ ធនាគារ ការថេ យូណៃធីត ពិតជាជម្រើសដ៏ល្អ ហើយអ្នកនឹងទទួលបានភាពជឿជាក់ តាមរយៈការបេ្តជ្ញាចិត្តរបស់យើងក្នុងការបណ្តុះបណ្តាលបុគ្គលិកអោយក្លាយជាបុគ្គលដែលមានសក្តានុពលខ្ពស់។";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		អាជីពការងារ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អាជីពការងារ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">អាជីពការងារ</a></li>
				<li class="breadcrumb-item active" aria-current="page">Officer, IT Software Engineering</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អាជីពការងារ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Officer, IT Software Engineering</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Developing/maintaining third party applications and co-ordinate the day to day Core Banking System – Operations
					<li class="mb-2">Have a basic understanding of Banking business and System process flow </li>
					<li class="mb-2">Producing MIS Report to support cross department</li>
					<li class="mb-2">Log tracking and Code Debugging for any systems error occur</li>
					<li class="mb-2">Work under supervision and report directly to IT Manager</li>
					<li class="mb-2">Writing SOP, Guideline, Software Documentation/Spec, Proposal…etc</li>
					<li class="mb-2">Performing other tasks assigned by supervisors</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Fresh graduated from bachelor degree in Computer Science/Management of Information system or in related fields</li>
					<li class="mb-2">Able to speak English fluently</li>
					<li class="mb-2">Good to know Accounting basic</li>
					<li class="mb-2">Female is encouraged to apply</li>
					<li class="mb-2">Well educated knowledge in programming language as: Windows: .Net(VB, C#, C/C++…etc Web : Asp.net, PHP, JSP, CSS, HTML …etc. Free platform: Java. Framework: JavaScript, JQuery, Frontend (Bootstrap), Backend(Django). Database (Oracle(PLSQL), SQL Server(T-SQL), MYSQL, Microsoft Access…etc) or programming language in mobile app development as:( Java, Kotlin, Swift, Object-C etc)</li>
					<li class="mb-2">Good understanding and familiar with Microsoft Windows OS and Open source platform OS like Linux</li>
					<li class="mb-2">Positive attitude with good communication and interpersonal skill</li>
					<li class="mb-2">Ability to work under pressure and highly self-motivated</li>
					<li class="mb-2">Available to work as full time, over time</li>
					<li class="mb-2">Self-manage to organize and quickly evaluate the nature of the problem and to provide a solution rapidly and accurately is essential</li>
					<li class="mb-2">Teamwork oriented, quick learner, and creative </li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
