<footer class="component-footer">
    <div class="cf-inner">
        <div class="cf-list-wrap cf-list-wrap--lang">
            <ul class="cf-list cf-list--border">
                <li class="cf-item cf-item--no-border">
                    <a href="/hongkong/" class="cf-item-link cf-item-link--active">繁體中文</a>
                </li>
                <li class="cf-item"><a href="/hongkong/en/" class="cf-item-link">English</a></li>
            </ul>
        </div>

        <div class="cf-list-wrap cf-list-wrap--cathay-group">
            <ul class="cf-list cf-list--border">
                <ul class="cf-icon-list">
                    <li class="cf-item">
                        <a href="javascript:;" class="cf-item-link">
                            <figure class="cf-item-figure">
                                <picture>
                                    <img
                                        class="cf-item-img lazy"
                                        src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/logo.svg"
                                        width="30"
                                        alt="國泰世華銀行"
                                    />
                                </picture>
                                <figcaption hidden>國泰世華銀行</figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
                <ul class="cf-list">
                    <li class="cf-item cf-item--no-border">
                        <a
                            href="https://www.cathayholdings.com/"
                            target="_blank"
                            rel="noopener"
                            class="cf-item-link"
                            >國泰金控集團</a
                        >
                    </li>
                    <li class="cf-item">
                        <a
                            href="https://www.cathaybk.com.tw/cathaybk"
                            target="_blank"
                            rel="noopener"
                            class="cf-item-link"
                            >國泰世華銀行</a
                        >
                    </li>
                    <li class="cf-item">
                        <a href="/overseas/" target="_blank" rel="noopener" class="cf-item-link"
                            >海外據點</a
                        >
                    </li>
                </ul>
            </ul>
        </div>
        <div class="cf-list-wrap cf-list-wrap--link">
            <ul class="cf-icon-list">
                <li class="cf-item">
                    <a
                        href="https://www.facebook.com/cathayunitedbank"
                        target="_blank"
                        rel="noopener"
                        class="cf-item-link cf-item-link--icon"
                        ><img
                            class="cf-social-list-img lazy"
                            width="35"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/facebook.png"
                            alt="Facebook"
                    /></a>
                </li>
                <li class="cf-item">
                    <a
                        href="https://www.youtube.com/user/cathayunitedbank"
                        target="_blank"
                        rel="noopener"
                        class="cf-item-link cf-item-link--icon"
                        ><img
                            class="cf-social-list-img lazy"
                            width="35"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/youtube.png"
                            alt="Youtube"
                    /></a>
                </li>
                <li class="cf-item">
                    <a
                        href="https://tw.linkedin.com/company/cathay-united-bank-co-ltd-"
                        target="_blank"
                        rel="noopener nofollow"
                        class="cf-item-link cf-item-link--icon"
                        ><img
                            class="cf-social-list-img lazy"
                            width="35"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/common/footer/linkedin.svg"
                            alt="Youtube"
                    /></a>
                </li>
            </ul>
            <ul class="cf-list">
                <li class="cf-item">
                    <a href="/hongkong/security-privacy" class="cf-item-link">安全與私隱</a>
                </li>
                <li class="cf-item">
                    <a href="/hongkong/financial-disclosure" class="cf-item-link">財務揭露</a>
                </li>
                <li class="cf-item">
                    <a href="/hongkong/important-notice" class="cf-item-link">重要聲明</a>
                </li>
                <li class="cf-item"><a href="/hongkong/fee" class="cf-item-link">收費標準</a></li>
                <li class="cf-item">
                    <a href="/hongkong/suggestions-feedback" class="cf-item-link">意見反應</a>
                </li>
                <li class="cf-item">
                    <a href="/hongkong/browser-setting" class="cf-item-link">瀏覽器建議</a>
                </li>
                <li class="cf-item cf-item--copyright cf-item--copyright-flex">
                    <span class="cf-item-link">© 國泰世華商業銀行股份有限公司</span>
                </li>
            </ul>
        </div>
    </div>
</footer>
