@{ 
    var controller_name = this.ViewContext.RouteData.Values["controller"].ToString();
    if (controller_name == "Home")
    {
        controller_name = "";
    }
    if (ViewBag.section == "home/")
    {
        ViewBag.section = "";
    }
}

<!-- component-header -->
<header class="component-header">
    <nav class="ch-navbar">
        <div class="ch-brand-wrap">
            <a href="/hongkong/" class="ch-brand" title="國泰世華銀行香港分行">
                <figure class="ch-figure">
                    <picture>
                        <source
                            media="(min-width: 992px)"
                            srcset="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo-lg.svg"
                        />
                        <img
                            class="ch-img"
                            normal-src="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo.svg"
                            active-src="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo-white.svg"
                            src="https://www.cathaybk.com.tw/OVSWS/Content/img/hongkong/header/logo.svg"
                            alt="國泰世華銀行香港分行"
                        />
                    </picture>
                    <figcaption hidden>國泰世華銀行香港分行</figcaption>
                </figure>
            </a>
            <ul class="ch-subnav-list">
                <li class="ch-subnav-item">
                    <a href="/hongkong/contact/" class="ch-subnav-link">聯繫我們</a>
                </li>
                <li class="ch-subnav-item">
                    <a href="/hongkong/careers/" class="ch-subnav-link">人才招募</a>
                </li>
                <li class="ch-subnav-item">
                    <div class="language-form">
                        <select role="language-select" class="form-select">
                            <option value="/hongkong/">繁體中文</option>
                            <option value="/hongkong/en/">English</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>

        <button class="ch-login-toggler" type="button">
            <span class="ch-login-toggler-inner">網銀登入</span>
        </button>

        <div class="ch-login-nav ch-login-nav--full">
            <ul class="ch-login-nav-list">
                <li class="ch-login-nav-item">
                    <a
                        href="https://www.globalmyb2b.com/GEBANK/Login.aspx"
                        target="_blank"
                        rel="noopener"
                        class="ch-login-nav-item-link"
                        >全球企網銀登入</a
                    >
                </li>

                <li class="ch-login-nav-item">
                    <a
                        href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK"
                        target="_blank"
                        rel="noopener"
                        class="ch-login-nav-item-link"
                        >私人銀行網銀登入</a
                    >
                </li>
            </ul>
        </div>

        <button class="ch-toggler" type="button">
            <span class='ch-toggler-inner'></span>
        </button>
        
         <div class="ch-nav">
             <ul class="ch-nav-list">
                 <li class="ch-nav-item">
                     <div class="ch-nav-lv2">
                         <div class="ch-nav-lv2-title" title="服務項目">服務項目</div>
                         <ul class="ch-nav-lv2-list">
                             <li class="ch-nav-lv2-item">
                                 <h4 class="ch-nav-lv3-title">個人金融</h4>
                                 <ul class="ch-nav-lv3">
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/depository-remittance/"
                                             class="ch-nav-lv3-link"
                                             title="存款帳戶"
                                             >存款帳戶</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/corporate-finance/"
                                             class="ch-nav-lv3-link"
                                             title="匯款服務"
                                             >匯款服務</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/trade-finance/"
                                             class="ch-nav-lv3-link"
                                             title="借款方案"
                                             >借款方案</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/private-bank/"
                                             target="_blank"
                                             rel="noopener"
                                             class="ch-nav-lv3-link"
                                             title="信用卡與簽帳卡"
                                             >信用卡與簽帳卡</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/otc-derivatives/"
                                             class="ch-nav-lv3-link"
                                             title="ATM服務"
                                             >ATM服務</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/internet-banking/"
                                             class="ch-nav-lv3-link"
                                             title="數位銀行服務"
                                             >數位銀行服務</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/interest-rate/"
                                             class="ch-nav-lv3-link"
                                             title="匯率"
                                             >匯率
                                         </a>
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/fee/"
                                             class="ch-nav-lv3-link"
                                             title="Merchant App"
                                             >Merchant App</a
                                         >
                                     </li>
                                 </ul>
                             </li>
                             <li class="ch-nav-lv2-item">
                                 <h4 class="ch-nav-lv3-title">法人金融</h4>
                                 <ul class="ch-nav-lv3">
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/depository-remittance/"
                                             class="ch-nav-lv3-link"
                                             title="存款帳戶"
                                             >存款帳戶</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/corporate-finance/"
                                             class="ch-nav-lv3-link"
                                             title="匯款服務"
                                             >匯款服務</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/trade-finance/"
                                             class="ch-nav-lv3-link"
                                             title="信用額度"
                                             >信用額度</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/private-bank/"
                                             target="_blank"
                                             rel="noopener"
                                             class="ch-nav-lv3-link"
                                             title="網路銀行"
                                             >網路銀行</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/otc-derivatives/"
                                             class="ch-nav-lv3-link"
                                             title="收單特店服務"
                                             >收單特店服務</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/services/internet-banking/"
                                             class="ch-nav-lv3-link"
                                             title="國際貿易"
                                             >國際貿易</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/interest-rate/"
                                             class="ch-nav-lv3-link"
                                             title="薪轉服務"
                                             >薪轉服務
                                         </a>
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/fee/"
                                             class="ch-nav-lv3-link"
                                             title="價金信託"
                                             >價金信託</a
                                         >
                                     </li>
                                 </ul>
                             </li>
                         </ul>
                     </div>
                     <a href='javascript:;' class="ch-nav-link" title="服務項目">
                         <span>服務項目</span>
                     </a>
                 </li>
                 <li class="ch-nav-item">
                     <div class="ch-nav-lv2">
                         <div class="ch-nav-lv2-title" title="公告專區">公告專區</div>
                         <ul class="ch-nav-lv2-list">
                             <li class="ch-nav-lv2-item">
                                 <ul class="ch-nav-lv3">
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/news/"
                                             class="ch-nav-lv3-link"
                                             title="最新消息"
                                             >最新消息</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/financial-disclosure/"
                                             class="ch-nav-lv3-link"
                                             title="財務揭露"
                                             >財務揭露</a
                                         >
                                     </li>
                                     <li class="ch-nav-lv3-item">
                                         <a
                                             href="/hongkong/terms-condition/"
                                             class="ch-nav-lv3-link"
                                             title="條款與細則"
                                             >條款與細則</a
                                         >
                                     </li>
                                 </ul>
                             </li>
                         </ul>
                     </div>
                     <a href='javascript:;' class="ch-nav-link" title="公告專區">
                         <span>公告專區</span>
                     </a>
                 </li>

                 <li class="ch-nav-item">
                     <a href="/hongkong/download/" class="ch-nav-link" title="常用表單">
                         <span>常用表單</span>
                     </a>
                 </li>

                 <li class="ch-nav-item">
                     <a href="/hongkong/faq/" class="ch-nav-link" title="常見問題">
                         <span>常見問題</span>
                     </a>
                 </li>

                 <li
                     class="ch-nav-item ch-nav-item--align-right ch-nav-item--block"
                     style="margin-left: auto"
                 >
                     <a
                         href="https://www.globalmyb2b.com/GEBANK/Login.aspx"
                         target="_blank"
                         rel="noopener"
                         class="ch-nav-link"
                         title="全球企網銀登入"
                     >
                         <span>全球企網銀登入</span>
                     </a>
                 </li>

                 <li class="ch-nav-item ch-nav-item--block">
                     <a
                         href="https://www.globalmyb2b.com/PBANK/login.aspx?LOC=HK"
                         target="_blank"
                         rel="noopener"
                         class="ch-nav-link"
                         title="私人銀行網銀登入"
                     >
                         <span>私人銀行網銀登入</span>
                     </a>
                 </li>

                 <li class="ch-nav-item ch-nav-item--hide-lg">
                     <a href="/hongkong/careers/" class="ch-nav-link" title="人才招募">
                         <span>人才招募</span>
                     </a>
                 </li>

                 <li class="ch-nav-item ch-nav-item--hide-lg">
                     <a href="/hongkong/contact/" class="ch-nav-link" title="聯繫我們">
                         <span>聯繫我們</span>
                     </a>
                 </li>

                 <li class='ch-nav-item ch-nav-item--group ch-nav-item--hide-lg'>
                     <a href='https://www.cathayholdings.com' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'>國泰金控集團</a>
                     <a href='https://www.cathaybk.com.tw/cathaybk' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'>國泰世華銀行</a>
                     <a href="/hongkong/" target="_blank" rel="noopener" class="ch-nav-link">海外據點</a>
                 </li>
                 <li class='ch-nav-item ch-nav-item--social ch-nav-item--hide-lg'>
                     <a href='https://www.facebook.com/cathayunitedbank' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='https://www.cathaybk.com.tw/OVSWS/Content/img/common/header/facebook.svg' alt="Facebook icon"></a>
                     <a href='https://www.youtube.com/user/cathayunitedbank' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='https://www.cathaybk.com.tw/OVSWS/Content/img/common/header/youtube.svg' alt="Youtube icon"></a>
                     <a href='https://tw.linkedin.com/company/cathay-united-bank-co-ltd-' rel='noopener nofollow' target="_blank" rel="noopener" class='ch-nav-link'><img class='ch-nav-item-social-img' src='https://www.cathaybk.com.tw/OVSWS/Content/img/common/header/linkedin-hover.svg' alt="linkedin icon"></a>
                 </li>
             </ul>
         </div>
    </nav>
</header>
<!-- component-header end -->
