@{
   ViewData["PageTitle"] = "Careers";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}



<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Careers</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Rewarding Career Opportunities</h2>
			<p class="text-left">If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.</p>
		</header>
		
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">How to be part of Cathay United Bank</h3>
			
			<!-- Gray container -->
			<div class="bg-gray-100  px-3 py-4 px-sm-4 px-lg-5">
				<p class="mb-2">Join our ONETEAM now by sending your Resume and Cover Letter to:</p>
				<ul class="list-disc mb-4">
					<li>Cathay United Bank (Cambodia) Plc.<br>
						Human Resources Department<br>
						#48 Samdech Pan Street (St.214) Khan Daun Penh, Phnom Penh, Cambodia</li>
					<li>Or email: <a class="text-green text-underline" href="mailto:careers@cathaybk.com.kh">careers@cathaybk.com.kh</a></li>
				</ul>
				<p>We thank you for your interest in joining Cathay United Bank and we look forward to receiving your application.</p>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact-sm">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold text-center lh-sm">About our Benefit</h3>
			<p class="mb-5 text-center">Employees of Cathay United Bank will enjoy:</p>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row mb-n4  pl-xl-5">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/bonus.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Bonus</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>Competitive salary and incentive package</li>
							<li>Annual performance bonus and salary increment</li>
							<li>Khmer New Year and Pchum Ben bonus</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/benefit.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Benefit</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>Medical care (Healthcare and Accident insurance)</li>
							<li>Employee loan with special rate</li>
							<li>Debit and credit card</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/training.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Training</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>Internal and External training</li>
							<li>Fast career development</li>
						</ul>
					</div>
				</li>
	
			</ul>
		</section>
		
		
		
		<section class="compact" id="job-openings">
			<div class="py-section"></div>
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Job Announcement</h3>
		
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb">
						<colgroup>
							<col width="6%">
							<col>
							<col width="6%">
							<col width="36%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">Nº</th>
								<th scope="col" class="h4 h4-mb">Position Title</th>
								<th scope="col" class="h4 h4-mb">#</th>
								<th scope="col" class="h4 h4-mb">Location</th>
							</tr>
						</thead>
                        <tbody>
							<tr>
								<td>1</td>
								<td><a class="text-green text-underline" href="@ViewData["siteLangUrl"]job-openings/Relationship Manager(Corporate Loan)">Relationship Manager(Corporate Loan)</a></td>
								<td>04</td>
								<td>
									Head Office
								</td>

							<tr>
								<td>2</td>
								<td><a class="text-green text-underline" href="@ViewData["siteLangUrl"]job-openings/Relationship Manager">Relationship Manager</a></td>
								<td>05</td>
								<td>
									Phnom Penh Branches
								</td>
							</tr>

                        </tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->