@{
   ViewData["PageTitle"] = "អំពីធនាគារ";
   ViewData["PageDescription"] = "សាជីវកម្មធនាគារកាថេយូណៃធីត​(កម្ពុជា)ចំកាត់ នៅតែបន្តពង្រីកអាជីវកម្មរបស់ពួកយើងយ៉ាងយកចិត្តទុកដាក់នៅក្នុងទីផ្សារកម្ពុជា រួមទាំងការពង្រីកបណ្ដាញសាខារបស់ធនាគារ ដើម្បីផ្ដល់ភាពងាយស្រួលដល់អតិថិជនក្នុងការប្រើប្រាស់សេវាកម្មរបស់ពួកយើង";
}



<!-- Page START -->
<main class="mastbody"> 
	
	<!--
		អំពីធនាគារ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/about.jpg" />
						<img srcset="/assets/img/topkv/about-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អំពីធនាគារ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">អំពីធនាគារ</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អំពីធនាគារ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">អំពីធនាគារ</h2>
			<p class="text-left">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ហៅថា (CUBC) ដែលពីមុនត្រូវបានគេស្គាល់ថា សាជីវកម្មធនាគារសឹង្ហបុរីចំកាត់ “SBC Bank” បានបង្កើតក្នុងព្រះរាជាណាចក្រកម្ពុជានៅឆ្នាំ១៩៩៣ ដែលជាធនាគារបុត្រសម្ព័ន្ធ ដែលគ្រប់គ្រងទាំងស្រុងដោយ ធនាគារកាថេ (CUB)និងជាធនាគារពាណិជ្ជដ៏សំខាន់របស់ក្រុមហ៊ុន ហិរញ្ញប្បទានកាថេ ដែលជាក្រុមហ៊ុនគ្រប់គ្រងហិរញ្ញវត្ថុចម្រុះ និងធំជាងគេនៅកោះតៃវ៉ាន់។ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក (CUBC) កំពុងបន្តពង្រីកអាជីវកម្មរបស់ខ្លួនយ៉ាងរឹងមាំក្នុងទីផ្សារប្រទេសកម្ពុជារួមទាំងពង្រីកសាខាដើម្បីផ្តល់ភាពងាយស្រួលដល់អតិថិជន ក្នុងការប្រើប្រាស់សេវាកម្មធនាគាររបស់យើងខ្ញុំ។ ធនាគារយើងខ្ញុំបានផ្តល់ជូនយ៉ាងសកម្មនូវផលិតផលធនាគារដ៏សម្បូរបែប និងមានអត្ថប្រយោជន៍រួមមាន ធនាគារអនឡាញ និងធនាគារចល័ត។ ធនាគារយើងខ្ញុំបានពង្រីកសាខាការិយាល័យក្នុងស្រុកចំនួន១៥សាខា និងម៉ាស៊ីនអេធីអឹម ជាង៦០ម៉ាស៊ីន ទូទាំងរាជធានីនិងតាមបណ្តាខេត្តធំៗសំខាន់ៗក្នុងព្រះរាជាណាចក្រកម្ពុជា</p>
			<br>
			<p class="text-left">
				<strong>Cathay Financial Holdings (Cathay FHC) and its subsidiaries including Cathay Life Insurance, Cathay United Bank, Cathay Century Insurance, Cathay Securities, and Cathay Securities Investment Trust </strong>
				provide comprehensive and diversified financial services and solutions in Taiwan and around the world. We are independent from and not affiliated with Cathay Pacific Airways Limited and its subsidiaries.
			</p> 
		</header>
		

		<div class="py-section"></div>
		
		
		<section>
			<div class="compact mb-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-3  text-black fw-bold text-center lh-sm">សេវាកម្មរបស់ធនាគារយើងខ្ញុំ</h3>
				<p class="h4 h4-mb fw-bold text-center">ចាប់តាំងពីពេលទទួលបានភាគហ៊ុនទាំងស្រុងពី សាជីវកម្មធនាគារសឹង្ហបុរីចំកាត់“SBC Bank” ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក (CUBC Bank) បានធ្វើប្រតិបត្តិការពង្រីកអាជីវកម្មចម្រុះរបស់ខ្លួនជាបណ្តើរៗ ហើយក្នុងពេលបច្ទុប្បន្នធនាគារបានផ្តល់នូវសេវាកម្មសំខាន់ៗធំៗ2រួមមាន៖</p>
			</div>
			<div class="compact-sm">
				<div class="row mx-md-m2">
					<div class="col-12 col-md-6 px-md-3  d-flex flex-column ie11fix  mb-5">
						<figure class="flex-shrink-0 mb-3"><!-- 720x378 PNG or JPG -->
							<img class="w-100 lazy" data-src="/assets/img/content/coverpic-personal.jpg" alt="សេវាកម្មធនាគារផ្ទាល់ខ្លួន">
						</figure>
						<div class="pr-lg-5  d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</h3>
							<p>ការផ្តល់ជូនយ៉ាងសកម្មនូវដំណោះស្រាយសេវាកម្មធនាគារផ្ទាល់ខ្លួនប្រកបដោយភាពច្នៃប្រឌិត ដែលនៅក្នុងនោះរួមមាន ការដាក់ប្រាក់ ការផ្ទេរប្រាក់ កម្ចីបុគ្គល ប័ណ្ណឥណពន្ធ និងប័ណ្ណឥណទានបុគ្គល។</p>
							<div class="mt-auto pt-3">
								<a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/">អានបន្ថែម<i class="ico-ui-right-v ml-2 big"></i></a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 px-md-3  d-flex flex-column ie11fix  mb-5">
						<figure class="flex-shrink-0 mb-3">
							<img class="w-100 lazy" data-src="/assets/img/content/coverpic-business.jpg" alt="ធនាគារពាណិជ្ជកម្ម">
						</figure>
						<div class="pr-lg-5  d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">ធនាគារពាណិជ្ជកម្ម</h3>
							<p>ដំណោះស្រាយសេវាកម្មធនាគារ សម្រាប់ក្រុមហ៊ុន បានផ្តល់នូវកម្ចីពាណិជ្ជកម្ម ការផ្តល់កម្ចីរួមហិរញ្ញប្បទាន នៅក្នុងពាណិជ្ជកម្មហិរញ្ញវត្ថុ និងការផ្តល់នូវផលិតផលប័ណ្ណឥណទានសម្រាប់ក្រុមហ៊ុនផងដែរ។</p>
							<div class="mt-auto pt-3">
								<a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]business/">អានបន្ថែម<i class="ico-ui-right-v ml-2 big"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="py-section"></div>
		<div class="py-section"></div>
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">ការបេ្តជ្ញាចិត្តចំពោះគុណតម្លៃស្នូលរបស់ធនាគារ</h3>
			
			<div class="corevalue">
				<div class="corevalue-bg  d-none d-lg-block lazy" data-bg="/assets/img/content/corevalue-bg.png"></div>
				<ul class="corevalue-list">
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-1-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">សុចរិតភាព</h4>
						<p>ហិរញ្ញប្បទានកាថេ មានគ្រឹះដ៏រឹងមាំ និងប្រវត្តិនៃការរីកចម្រើនជាយូរមកហើយ ម៉្យាងទៀត ធនាគារកាថេ(CUBC)បានបង្កើតទំនុកចិត្តទៅដល់អតិថិជនរបស់ខ្លួន និងនៅតែមានគោលការណ៍ដ៏រឹងមាំសម្រាប់បុគ្គលិក។</p>
					</li>
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-2-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">ភាពទទួលខុសត្រូវ</h4>
						<p>ហិរញ្ញប្បទានកាថេ  ប្តេជ្ញាចិត្តដើម្បីក្លាយជាស្លាកយីហោសាជីវកម្ម ដែលមានទំនួលខុសត្រូវ និងអាចទុកចិត្តបាន។</p>
					</li>
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-3-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">ការច្នៃប្រឌិត</h4>
						<p>ហិរញ្ញប្បទានកាថេ  បង្កើតភាពជោគជ័យ និង រីកចម្រើនសម្រាប់ថ្ងៃអនាគត។</p>
					</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		<div class="py-section"></div>
		
        <section class="compact">
            <!-- Section heading -->
            <h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">របាយការណ៍ប្រចាំឆ្នាំ</h3>
            <ul class="row mb-n5">
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2019-kh.jpg" alt="របាយការណ៍ប្រចាំឆ្នាំ2019">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2019_KH.pdf">របាយការណ៍ប្រចាំឆ្នាំ2019<i class="ico-ui-download ml-2"></i></a>
                </li>
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2020-kh.jpg" alt="របាយការណ៍ប្រចាំឆ្នាំ2020">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2020_KH.pdf">របាយការណ៍ប្រចាំឆ្នាំ2020<i class="ico-ui-download ml-2"></i></a>
                </li>
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2021-kh.jpg" alt="របាយការណ៍ប្រចាំឆ្នាំ2021">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2021_KH.pdf">របាយការណ៍ប្រចាំឆ្នាំ2021<i class="ico-ui-download ml-2"></i></a>
                </li>
				<li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
					<figure class="flex-shrink-0  mb-4 px-4 px-md-0">
						<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2022-kh.jpg" alt="របាយការណ៍ប្រចាំឆ្នាំ2022">
					</figure>
					<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2022_KH.pdf">របាយការណ៍ប្រចាំឆ្នាំ2022<i class="ico-ui-download ml-2"></i></a>
				</li>
				<li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
					<figure class="flex-shrink-0  mb-4 px-4 px-md-0">
						<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2023-kh.jpg" alt="របាយការណ៍ប្រចាំឆ្នាំ2023">
					</figure>
					<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2023_KH.pdf">របាយការណ៍ប្រចាំឆ្នាំ2023<i class="ico-ui-download ml-2"></i></a>
				</li>
				@* <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix"> *@
				@* 	<figure class="flex-shrink-0  mb-4 px-4 px-md-0"> *@
				@* 		<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2024_kh.jpg" alt="2024 Annual Report"> *@
				@* 	</figure> *@
				@* 	<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2024_KH.pdf">របាយការណ៍ប្រចាំឆ្នាំ2024<i class="ico-ui-download ml-2"></i></a> *@
				@* </li> *@
            </ul>

            <div class="py-section"></div>
            <h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">ក្រមប្រតិបត្តិរបស់ ABC</h3>
            <ul class="row mb-n5">
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy entered loaded" data-src="/assets/img/content/B_F_I.jpg" alt="2021 Annual Report" data-ll-status="loaded" src="/assets/img/content/B_F_I.jpg">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill text-center h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/Bank_Code_of_Conduct_KH.pdf">ក្រមប្រតិបត្តិរបស់ ABC<i class="ico-ui-download ml-2"></i></a>
                </li>
            </ul>
        </section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->