<div class="d-none d-lg-flex ml-auto align-items-center">
    <div><img class="flag-sm d-block" src="/assets/img/ui/flag-kh-rectangle.jpg"></div>  
    <div class='ml-2 mr-2 fw-500'>KHR/USD</div>
    <div class="d-flex align-items-center">
        <div>4123 </div>
        <div class="ml-1 triangle-up"></div>
    </div>
    <div class="ml-3 d-flex align-items-center">
        <div>4123 </div>
        <div class="ml-1 triangle-down"></div>
    </div>
</div>