<!-- Terms & Conditions -->
<section class="compact">
    <!-- Section heading -->
    <h3 class="h1 h2-mb mb-4 text-black fw-bold text-center lh-sm">Terms & Conditions</h3>

    <!-- FAQ list -->

    <!-- QA item -->
    <section data-label="fast-transfer" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Fast Transfer
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>Fast Transfer refers to Local Remittance Service focusing on KHR currency (Khmer Riel) only to the domestic bank account​ which is a member of Fast System.</p>
                <p class="mt-2">By using the Fast Transfer, I agree with the terms and conditions governing Electronic Services, Saving Account, Current Account, and Local Remittance Service. </p>
                <p class="mt-2">I understand that my application will be processed based on the prevailing exchange rates at the time of processing, which may differ from the rates displayed on the CUBC's website. </p>
                <p class="mt-2">I agree to submit relevant documents as required by CUBC and CUBC shall not be responsible for any transaction which have not been made due to insufficient of such required documents.</p>
            </div>
        </div>
    </section>
        

    <!-- QA item -->
    <section data-label="ncs" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Local Bank Transfer (NCS)
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>Local Bank Transfer (NCS) refers to Domestic Outward Remittance Service.</p>
                <p class="mt-2">By using the Local Bank Transfer (NCS), I agree with the terms and conditions governing Electronic Services, Saving Account, Current Account, and Domestic Outward Remittance Service. </p>
                <p class="mt-2">I understand that my application will be processed based on the prevailing exchange rates at the time of processing, which may differ from the rates displayed on CUBC’s website. </p>
                <p class="mt-2">I agree to submit relevant documents as required by CUBC and CUBC shall not be responsible for any transaction which have not been made due to insufficient of such required documents.</p>
            </div>
        </div>
    </section>
    


    
    <!-- QA item -->
    <section data-label="online-fixed-deposit-account" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Online Fixed Deposit Account
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>
                    If you are using Cathay United Bank (Cambodia) Plc.
                    ’s (“CUBC or We”) online Fixed Deposit service, the Terms and Conditions hereunder will be applied immediately and you are deemed to accept these terms and conditions before you can use these service. It is important that you read these terms and conditions before you use the CUBC’s online Fixed Deposit service. If you do not understand, or are unsure about any aspect to these terms and conditions, do not hesitate to check with our CUBC to clarify the matter for you.
                </p>

                <p class='mt-2'>The terms and conditions listed in this document do not represent all the terms and conditions under which banking products and services are provided; however, additional conditions may be implied by laws and regulations.</p>

                <p class='mt-2'>We, at our sole discretion, may change Terms and Conditions from time to time without any prior notice.</p>

                <p class='mt-2'>
                    <strong>Opening of Online Fixed Deposit Account</strong>
                </p>

                <p class='mt-2'>
                    Opening of Online Fixed Deposit Account through CUBC’s online banking shall be subject to certain requirements including but not limited to minimum initial deposit amount, maximum amount for opening, currency, terms, conditions, interest rates, and customer’s KYC standard.
                </p>

                <p class='mt-2'>
                    <strong>Funding Account</strong>
                </p>

                <p class='mt-2'>Customers can apply to open Online Fixed Deposit Account through online banking application unless they have at least a personal saving account or personal current account (subject to separate terms and conditions) held with CUBC which are allowed to link with CUBC’s online banking; The Funding Account cannot be closed if there are any linked Online Fixed Deposit Account exist in the list of accounts unless there is other arrangement for closure of the account made or accepted by CUBC.</p>


                <p class='mt-2'>
                    <strong>Currency</strong>
                </p>

                <p class='mt-2'>Currency type to open Online Fixed Deposit Account through CUBC’s online banking can be either USD or KHR Currency. Cross-currency (Ex: Funding account is USD currency; Fixed Deposit Account is KHR currency) is not allowed to open Online Fixed Deposit Account. CUBC may change and revise the eligibility(s) and condition(s) from time to time, which may be in a newly released version of CUBC’s online banking.</p>


                <p class='mt-2'>
                    <strong>Terms and Interest Rates</strong>
                </p>

                <p class='mt-2'>CUBC may offer different terms and interest rates of Online Fixed Deposit with different channels to open, and the interest rates will be provided to the costumers differently due to the terms and deposited amounts that customers choose to open. It is CUBC’s interest to ensure that it is offering the greatest service and solution on investment tool for customer.</p>


                <p class='mt-2'>
                    <strong>Interest and Maturity Instruction</strong>
                </p>
                <p class='mt-2'>Customers hereby acknowledge that the interest rate of Online Fixed Deposit may be changed from time to time based on the discretion of CUBC with/without prior notice (if applicable under laws and relevant regulations).</p>

                <p class='mt-2'>For the interest payment, it will be paid to the account holder which had chosen to open the Online Fixed Deposit Account as following the difference channel due to maturity conditions. If the Online Fixed Deposit Account closed before the maturity date, the interest will not be given to customers. The principal and interest amounts will be paid on the closing maturity date only.</p>

                <p class='mt-2'>The total interest payable will be subject to the withholding tax deduction in accordance with the applicable tax laws and regulations of the Kingdom of Cambodia. Resident withholding tax will be deducted from interest payments made to Cambodian accountholders. However, the resident withholding tax is applicable for foreigners who have been consecutively living in Cambodia for period at least 182 days by providing sufficient supporting document. For the non-resident account holder, non-resident withholding tax will be deducted. We rely on your accuracy of documents and information provided in order to choose a correct tax status of your account.</p>


                <p class='mt-2'>
                    <strong>Online Fixed Deposit Certificate</strong>
                </p>
                <p class='mt-2'>For CUBC’s online Fixed Deposit Account, it will not provide any physical certificate. It will be listed in the list of the account in CUBC’s online banking application, where you can view detailed information of Online Fixed Deposit or transactions of the Funding Account.</p>




                <p class='mt-2'>
                    <strong>One Time Pin (OTP)</strong>
                </p>
                <p class='mt-2'>OTP has 6 digits’​ code which is automatically generated by the system and sent to account holder’s phone number in which customer used to register CUBC’s online banking.</p>

                <p class='mt-2'>
                    <strong>Biometric Authentication</strong>
                </p>
                <p class='mt-2'>Biometric authentication is allowed for customer who used fingerprint or face ID on mobile banking.</p>


                <p class='mt-2'>
                    <strong>Closing Online Fixed Deposit Account</strong>
                </p>
                <p class='mt-2'>You will need to visit any CUBC’s branch in case you decide to close Online Fixed Deposit Account.</p>


                <p class='mt-2'>
                    <strong>Personal Information</strong>
                </p>
                <p class='mt-2'>We take your privacy very seriously. All information that had been provided to CUBC will be kept strictly confidential and securely held by CUBC. If you choose to use these service, then you agree to the Privacy Policy of CUBC MBANKING. You have right to access the information by enquiring at Head Office or any branches of CUBC and you hereby declare that the information provided is true and correct.</p>
                <p class='mt-2'>CUBC will make every effort to keep your personal information up to date. To assist us, please let us know of any changes in your personal information and business details.</p>




                <p class='mt-2'>
                    <strong>Resolution</strong>
                </p>
                <p>By opening Online Fixed Deposit Account through CUBC’s online banking application, we understand that sometimes, there might be an error occurs while you are performing transactions or after you completed performing transactions. When this problem happened, CUBC will determine the error caused and provide the customers with the best solution. In case, you believe that your Online Fixed Deposit Account has any problem, please contact us immediately via (+855) 23 88 55 00.</p>


            </div>
        </div>
    </section>


    
    <!-- QA item -->
    <section data-label="telegraphic-transfer" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Telegraphic Transfer (International)
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <p>Telegraphic Transfer (International) refers to Oversea Outward Remittance Service.</p>
                <p class="mt-2">By using the Telegraphic Transfer (International), I agree with the terms and conditions governing Electronic Services, Saving Account, Current Account, and Oversea Outward Remittance Service. </p>
                <p class="mt-2">I understand that my application will be processed based on the prevailing exchange rates at the time of processing, which may differ from the rates displayed on the CUBC's website. </p>
                <p class="mt-2">I agree to submit relevant documents as required by CUBC and CUBC shall not be responsible for any transaction which have not been made due to insufficient of such required documents. </p>
            </div>
        </div>
    </section>

</section>