@{
   ViewData["PageTitle"] = "អាជីពការងារ";
   ViewData["PageDescription"] = "ប្រសិនបើអ្នកកំពុងស្វែររកអាជីពការងារដែលអាចជួយអ្នកពង្រឹងនិងបង្កើនសក្តានុពលរបស់ខ្លួន ធនាគារ កាថេ យូណៃធីត គឺជាទីកន្លែងដែលស័ក្តិសមបំផុតសម្រាប់អ្នក។ ធនាគារ កាថេ យូណៃធីត ផ្តល់ឱកាសដល់បុគ្គលិកគ្រប់រូបក្នុងការចូលរូម និង បង្តើតនូវទស្សនៈវិស័យអនាគតផ្ទាល់ខ្លួន។ ធនាគារ កាថេ យូណៃធីត តាំងចិត្តយ៉ាងមោះមុតក្នុងការគាំទ្រ ក៏ដូចជាផ្តល់ឱកាសធំទូលាយសម្រាប់អភិវឌ្ឍន៍ជំនាញនាពេលអនាគតដល់បុគ្គលិក។ ការសម្រេចចិត្តចូលរួមជាមួយ ធនាគារ ការថេ យូណៃធីត ពិតជាជម្រើសដ៏ល្អ ហើយអ្នកនឹងទទួលបានភាពជឿជាក់ តាមរយៈការបេ្តជ្ញាចិត្តរបស់យើងក្នុងការបណ្តុះបណ្តាលបុគ្គលិកអោយក្លាយជាបុគ្គលដែលមានសក្តានុពលខ្ពស់។";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		អាជីពការងារ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អាជីពការងារ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">អាជីពការងារ</a></li>
				<li class="breadcrumb-item active" aria-current="page">Head of Treasury</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អាជីពការងារ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Head of Treasury</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Supervise and manage daily cash flow and funding position.</li>
					<li class="mb-2">Ensure smooth process of dealing tickets related to bank investment in MM (Placement/Borrowing) Transactions. </li>
					<li class="mb-2">Ensure liquidity and sufficient funds are available.</li>
					<li class="mb-2">Daily monitor bank reconciliation related to MM settlement and monthly ensure that reconciliation of MM outstanding in place and signed. </li>
					<li class="mb-2">Develop departmental policies and procedures and ensure the operation of the department abide by internal SOP and policies.</li> 
					<li class="mb-2">Participate in ALCO management members and be responsible for ALCO meeting preparation report done in a timely manner.</li>
					<li class="mb-2">Be responsive to both internal and external auditors.</li>
					<li class="mb-2">Be in charge of Nostro and Vostro account opening in compliance with Principles for establishing RMA relationship with financial institutions and managing Nostro and Vostro account opening.</li>
					<li class="mb-2">Be responsible for the process of audit confirmation process with external auditors. </li>
					<li class="mb-2">Annually review and update counter party limit for inter-bank placement with financial institutions.</li>
					<li class="mb-2">Supervises and ensure from end to end process of foreign exchange activities execution in a smooth and profitable manner.
						<br>Closely monitor to endure that bank regulatory ratios are in a healthy position.</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor/Master Degree of Business Administration, Banking and Finance or degree equivalent 05 years’ experience in banking sector or financial related field</li>
					<li class="mb-2">Good command of English in both written and spoken; knowledge of Chinese is an advantage</li>
					<li class="mb-2">Good management and leadership skills</li>
					<li class="mb-2">Good coaching skills, problem solving, multi-task, and result-oriented</li>
					<li class="mb-2">Good cash management and monitoring bank’s regulatory funds.</li>
					<li class="mb-2">Good time management, projects management, deep understanding all aspect of LCR and local rules and regulation effect to bank liquidity</li>
					<li class="mb-2">Good presentation skills</li>
					<li class="mb-2">Proficiency in Ms. Offices skills</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
