@{
   ViewData["PageTitle"] = "អាជីពការងារ";
   ViewData["PageDescription"] = "ប្រសិនបើអ្នកកំពុងស្វែររកអាជីពការងារដែលអាចជួយអ្នកពង្រឹងនិងបង្កើនសក្តានុពលរបស់ខ្លួន ធនាគារ កាថេ យូណៃធីត គឺជាទីកន្លែងដែលស័ក្តិសមបំផុតសម្រាប់អ្នក។ ធនាគារ កាថេ យូណៃធីត ផ្តល់ឱកាសដល់បុគ្គលិកគ្រប់រូបក្នុងការចូលរូម និង បង្តើតនូវទស្សនៈវិស័យអនាគតផ្ទាល់ខ្លួន។ ធនាគារ កាថេ យូណៃធីត តាំងចិត្តយ៉ាងមោះមុតក្នុងការគាំទ្រ ក៏ដូចជាផ្តល់ឱកាសធំទូលាយសម្រាប់អភិវឌ្ឍន៍ជំនាញនាពេលអនាគតដល់បុគ្គលិក។ ការសម្រេចចិត្តចូលរួមជាមួយ ធនាគារ ការថេ យូណៃធីត ពិតជាជម្រើសដ៏ល្អ ហើយអ្នកនឹងទទួលបានភាពជឿជាក់ តាមរយៈការបេ្តជ្ញាចិត្តរបស់យើងក្នុងការបណ្តុះបណ្តាលបុគ្គលិកអោយក្លាយជាបុគ្គលដែលមានសក្តានុពលខ្ពស់។";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		អាជីពការងារ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អាជីពការងារ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">អាជីពការងារ</a></li>
				<li class="breadcrumb-item active" aria-current="page">Officer, Consumer Business (Mortgage Loan)</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អាជីពការងារ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Officer, Consumer Business (Mortgage Loan)</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Discovering new clients and assisting them in application applying process</li>
					<li class="mb-2">Evaluating and interpreting clients’ financial conditions and characteristics as to ensure borrower’s repayment capacity</li>
					<li class="mb-2">Collecting and reporting clients’ detail information</li>
					<li class="mb-2">Verifying and analyzing documents provided by clients</li>
					<li class="mb-2">Site-visiting properties (Collaterals) and business places of the clients</li>
					<li class="mb-2">Monitoring and following up the whole loan process in order to ensure satisfactory of clients and prompt repayment</li>
					<li class="mb-2">Maintaining good relation with clients </li>
					<li class="mb-2">Ensuring policy and guideline compliance</li>
					<li class="mb-2">Negotiating and decision making over setting and structuring loan conditions</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor Degree in Banking and Finance or equivalent</li>
					<li class="mb-2">Knowledgeable in banking and business industries</li>
					<li class="mb-2">Being able to work as team and maintaining good relationship with teammate</li>
					<li class="mb-2">Having proper attitude with courteous behavior</li>
					<li class="mb-2">Flexible and able to cope with problem solving and challenging</li>
					<li class="mb-2">Good time management</li>
					<li class="mb-2">Appropriate English Skill for daily use</li>
					<li class="mb-2">Advanced Computer Skills (Microsoft Word, Excel, Power Point …)</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
