@{
   ViewData["PageTitle"] = "Job Openings";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">Careers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Senior Officer,IT Audit</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Senior-Officer-IT-Audit</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Perform and control the full audit cycle</li>
					<li class="mb-2">Determine internal audit scope and develop audit engagement plan</li>
					<li class="mb-2">Provide independent advice to ensure validity and legality</li>
					<li class="mb-2">Identify loopholes and provide effective recommendation</li>
					<li class="mb-2">Maintain good communication with management and audit client</li>
					<li class="mb-2">Determine sufficient information when performing audit task</li>
					<li class="mb-2">Engage to continued knowledge development regarding Bank’s rules, regulations, and performance standard</li>
					<li class="mb-2">Provide Chief Intern Audit consultancy on direction, operations, and management of CUBC audit tasks</li>
					<li class="mb-2">Other tasks as assigned</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Holding Bachelor Degree in Banking and Finance, Accounting, IT or equivalent</li>
					<li class="mb-2">Pursuing CAT/ACCA/CIA is preferred</li>
					<li class="mb-2">Minimum 1year IT audit experience with Bank, MFI, Accounting and Audit firm, or equivalent</li>
					<li class="mb-2">Good analytical and interpersonal skills with detail oriented personality</li>
					<li class="mb-2">Good command of English both spoken and written</li>
					<li class="mb-2">Good team player and willing to travel to province</li>
					<li class="mb-2">Good communication skill and interpersonal</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
