@{
	ViewData["PageTitle"] = "Escrow Service";
	ViewData["PageDescription"] = "Our CUBC Escrow Service, we act as a third party to provide you a Secure and Reliable Transactions with Holding Funds, Transaction Monitoring, and Release Funds for both parties (Buyers and Sellers) ensuring that your transactions is always protected. With CUBC Escrow Service, “ Ensuring Your Security in Every Transaction, Our Top Priority”";
}


<!-- Page START -->
<main class="mastbody">

	<!--
		Payroll Service
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/escrow-pc.png" />
						<img srcset="/assets/img/topkv/escrow-mb.png">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">價金信託</h1>
			</div>
		</div>
	</div>

	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">價金信託</li>
			</ol>
		</div>
	</nav>


	<!--
		Payroll Service - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>

		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">價金信託</h2>
			<p class="text-left">
				價金信託業務是根據柬埔寨相關法律，CUBC提供給買、賣雙方一個安全的收、付款平台。例如辦理不動產買賣價金信託，因為交易金額龐大，買方擔憂付款後，無法順利取得不動產，賣方則擔心交易後無法如願拿到錢。為保障買賣雙方權益，由CUBC負責保管買賣的價金，待該筆交易依約進行後，CUBC將依合約或買賣雙方指示撥付價金予賣方，確保交易順利完成。
			</p>
		</header>

		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">CUBC價金信託的優勢</h2>
			<p class="text-left">
				<br>1-保障安全
			</p>
			<p class="text-left">
				CUBC擔任資金保管銀行，確保資金、資產的安全，直到協議的所有條款都得到滿足，買方和賣方都依約履行商定的條件。降低了欺詐或不付款的風險，交易雙方都受到保護。
			</p>
			<p class="text-left">
				<br>2-方便簡單
			</p>
			<p class="text-left">
				透過管理流程和驗證條款是否合規，CUBC價金信託服務簡化相關交易流程，對於房地產等高價值或複雜的交易十分便利。
			</p>
			<p class="text-left">
				<br>3-紛爭解決
			</p>
			<p class="text-left">
				CUBC價金信託服務為交易提供明確的條列指示，減少誤解。如有爭議，CUBC將確保資金、資產之交易依約定條件進行。
			</p>
		</header>

		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">手續費率</h2>

			<div class="tabular px-2 px-lg-4">
				<div class="table-responsive-lg">
					<table class="table table-bordered h5-mb text-center bg-light">
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
							<tr class="bg-secondary text-white">
								<th scope="col" class="h4 h4-mb border fw-bold">價金信託金額</th>
								<th scope="col" class="h4 h4-mb border fw-bold">手續費率</th>
								<th scope="col" class="h4 h4-mb border fw-bold">期間</th>
								<th scope="col" class="h4 h4-mb border fw-bold">展期費用</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border bg-light">&lt;USD30萬元</td>
								<td class="border bg-light">USD800</td>
								<td class="border bg-light">3個月</td>
								<td class="border bg-light">USD250/月</td>
							</tr>
							<tr>
								<td class="border bg-light">&gt;USD30萬元 – 1佰萬元</td>
								<td class="border bg-light">USD1,000</td>
								<td class="border bg-light">3個月</td>
								<td class="border bg-light">USD350/月</td>
							</tr>
							<tr>
								<td class="border bg-light">&gt;1佰萬元</td>
								<td class="border bg-light">0.1%</td>
								<td class="border bg-light">3個月</td>
								<td class="border bg-light">USD500/月</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</header>
	</section>
</main>
<!-- Page END -->