@{
   ViewData["PageTitle"] = "不動產交易中介信託";
   ViewData["PageDescription"] = "此服務專為管理以購買房地產為目標的存款而設計。不動產交易中介信託服務提供單一協議，為所有不動產買方的提供個別託管帳戶服務。";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		不動產交易中介信託
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-estate.jpg" />
						<img srcset="/assets/img/topkv/business-estate-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">不動產交易中介信託</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">不動產交易中介信託</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		不動產交易中介信託 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">守護屋主的權益</h2>
			<p class="text-left">此服務專為管理以購買房地產為目標的存款而設計。不動產交易中介信託服務提供單一協議，為所有購房者的提供個別託管帳戶服務。</p>
		</header>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->