@{
   ViewData["PageTitle"] = "商業貸款";
   ViewData["PageDescription"] = "";
}
 
<!-- Page START -->
<main class="mastbody">
	
	<!--
		商業貸款
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-loan.jpg" />
						<img srcset="/assets/img/topkv/business-loan-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">信用額度</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">商業貸款</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		商業貸款 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">商業貸款</h2>
		</header>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">周轉資金貸款</h3>
			<p class="mb-4">在您的現金不足，無法周轉資金時，我們提供資金來維持您的業務。 周轉資金貸款適用於存貨留存收益、應收帳款周轉率或現金周轉週期發生困難的業務。</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">條款</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">貨幣</th>
								<td>
									<div class="d-inline-block">美元 /</div>
									<div class="d-inline-block">柬幣</div>
								</td>
							</tr>
							<tr>
								<th scope="row">還款期</th>
								<td>定期貸款最長為7年，透支為12個月</td>
							</tr>
							<tr>
								<th scope="row">清償方式</th>
								<td>有彈性的清償選項</td>
							</tr>
							<tr>
								<th scope="row">利率</th>
								<td>可協商</td>
							</tr>
							<tr>
								<th scope="row">寬限期</th>
								<td>可協商</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
	
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">投資貸款</h3>
			<p class="mb-4">投資貸款提供資金給需要擴展業務的借款人。 您可以購買/升級營業場所、商店、工廠、設備或收購企業來增強您當前的業務，使其更加全面。</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="40%">
							<col width="60%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">條款</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">貨幣</th>
								<td>
									<div class="d-inline-block">美元 /</div>
									<div class="d-inline-block">柬幣</div>
								</td>
							</tr>
							<tr>
								<th scope="row">還款期</th>
								<td>最長為7年</td>
							</tr>
							<tr>
								<th scope="row">清償方式</th>
								<td>有彈性的清償選項</td>
							</tr>
							<tr>
								<th scope="row">利率</th>
								<td>可協商</td>
							</tr>
							<tr>
								<th scope="row">寬限期</th>
								<td>可協商</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">再融資貸款</h3>
			<p>再融資貸款適用於所有尋求不同貸款條款的申請人，像是較低的利率、優惠的貸款限額、期限等，以便您使用額外資金滿足個人需要或擴展業務。</p>
		</section>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->