@{
   ViewData["PageTitle"] = "從業道德規範管理";
   ViewData["PageDescription"] = "國泰世華商業銀行（柬埔寨）有限公司本著公平、誠實、正直、透明的原則從事商業活動，我們制定指導方針來積極預防不道德行為，為銀行所有人員提供明確的方向以履行其職責。";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		從業道德規範管理
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/legal.jpg" />
						<img srcset="/assets/img/topkv/legal-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">從業道德規範管理</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">從業道德規範管理</li>
			</ol>
		</div>
	</nav>
	
	<!--
		從業道德規範管理 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<div class="compact">
			<p class="mb-4">國泰世華商業銀行（柬埔寨）有限公司本著公平、誠實、正直、透明的原則從事商業活動，我們制定指導方針來積極預防不道德行為，為銀行所有人員提供明確的方向以履行其職責。</p>
			<p class="mb-4">本行工作人員在履行職責過程中不得直接或間接提供、承諾、索取或接受不正當利益，並應避免使用誤導性語言或行為。 除了 (1) 二級親屬內的禮物和款待； (2) 部分或全額培訓計劃贊助； (3) 廣告辦公用品以外。</p>
			<p class="mb-4">本行對捐贈、利益衝突、資訊安全和智慧財產保護、不正當競爭和利害關係人的權利有控管機制。</p>
			<p class="mb-4">我們為業務關係提供標準評估，例如向業務對手陳述不道德的行為，避免與不道德的交易對手進行交易。這是為了防止在我們的業務往來中發生任何利益衝突或類似事件。</p>
			<p class="mb-4">我們感謝您的配合。</p>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->