@{
    ViewData["PageTitle"] = "Customer Lucky Draw";
 }
 <!-- Page START -->
 <main class="mastbody">
     
     <!--
         Customer Lucky Draw
     -->
   	<style>
		.topkv img{
			width:100%;
		}
	</style>
     <div class="topkv kv">
        <figure>
            <picture>
                <img srcset="/assets/img/event/banner/banner-6-lg.jpg">
            </picture>
        </figure>
     </div>
     
     <!--
         Privacy & Security - Detail
     -->
     <section class="fluid overflow-hidden">
         <div class="py-page"></div>
         
         <div class="compact">

            <!-- Block heading -->
            <h3 class="h3 h3-mb  mb-2  text-dark fw-bolder">Promotion Period:</h3>
            <ul class="list-disc mb-3">
                <li>01<sup>st</sup> November 2023 to 30<sup>th</sup> November 2023</li>
            </ul>
            <!-- Block heading -->
            <h3 class="h3 h3-mb  mb-2  text-dark fw-bolder">Eligibility: </h3>
            <h3 class="h3 h3-mb  mb-2  text-dark "> This Promotion is eligible for</h3>
            <ul class="list-disc mb-3">
                <li>Smile Shop customer who newly opens CUBC digital account during Promotion Period</li>
                <li>New account opener at the CUBC counters</li>
                <li>CUBC's staff is not eligible for this Promotion program.</li>
            </ul>



            <!-- Block heading -->
            <h3 class="h3 h3-mb  mb-2  text-dark fw-bolder">Promotion Offer: </h3>
            <ul class="list-disc mb-3">
                <li>Earn 20 USD cashback when customer makes a purchase with a total amount (actual pay in Smile Shop app or website) of equal to or over 100 USD through CUBC QR Pay from Smile Shop app or website purchase.</li>
            </ul>


            <!-- Block heading -->
            <h3 class="h3 h3-mb  mb-2  text-dark fw-bolder">Steps to get discount: </h3>
            <ul class="list-disc mb-3">
                <li>Create CUBC digital account by self-service or visit a CUBC branch to open an account</li>
                <li>For new Smile Shop customer, go to Apple Store or Google Play and download Smile Shop and create an account. For existing Smile Shop customer, go to Smile Shop app or website to make a purchase</li>
                <li>Confirm the order on Smile Shop app or website  </li>
                <li>Go to payment method and select Smile KHQR </li>
                <li>Download Smile KHQR</li>
                <li>Go to CUBC mBanking app and open QR pay scan </li>
                <li>Upload Smile KHQR into CUBC QR pay scan and make a successful payment </li>
            </ul>



             <!-- Block heading -->
             <h3 class="mt-4 h3 h3-mb  mb-2  text-dark fw-bolder">Terms and Conditions:</h3>
             <ul class="list-disc mb-3">
                 
                 <li>Each customer can only be eligible for the cashback once for this Promotion.</li>
                 <li>The cashback promotion is eligible for the first 100 customers during the promotion period – first come first serve basis. </li>
                 <li>In case customer refunds the goods, CUBC reserves the right not to reward the cash back if the total purchase price is below 100 USD after such a refund. (For customers who purchase many items in one invoice and refund selected items). </li>
                <li>Customer has to purchase on Smile shop app or website during Promotion Period, refund item(s) before 07<sup>th</sup> December 2023, and still have the total purchase transaction equal to or above 100 USD to be eligible for the cashback promotion.</li>
                <li>The 20 USD cashback will be subjected to withholding tax and other necessary expenses. The net cashback amount will be deposited to the winners’CUBC accounts within 15 business days after Promotion Period ends.</li>
                 <li>To the extent permitted by laws and regulations and to protect the legitimate business interests, CUBC shall at its direction terminate this promotion or modify, delete, or add to any of these terms and conditions. A notice will be provided upon any amendment or termination of these Terms and Conditions.</li>
                 <li>CUBC will use respective best efforts to resolve any dispute(s).</li>
             </ul>
             
            <div class="mt-5 mx-auto">
                <a class="btn btn-green mt-2 mt-md-3" href="@ViewData["siteLangUrl"]event/#event">Back<i class="ico-ui-right-v ml-2 big"></i></a>
            </div>
         </div>
         
         <div class="py-page"></div>
     </section>
     
 </main>
 <!-- Page END -->