@{
   ViewData["PageTitle"] = "Job Openings";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">Careers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Assistant Manager, Procurement and General Agreement Control </li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Assistant Manager, Procurement and General Agreement Control </h2>
		</header>
			<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Job Scope</h3>
			
				<ul class="list-disc">
					<li class="mb-2">In-charge in procurement and agreement process for following items:<br />
						1. Property management including general repair and maintenance, design, renovation, cleaning service, and pest control, etc.<br />
						2. Printing & publishing including form and slip, signboard, and other printing materials, etc.<br />
						3. T equipment & system.<br />
						4. Insurance including fire insurance, and public liability insurance, etc.,br>
						5. Other procurement assigned by Team Leader.<br />
					</li>
					<li class="mb-2">In-charge in bidding procedure for asset or non-asset disposal and trade-in.</li>
					<li class="mb-2">Review and process relevant agreement and insurance for renewal and termination.</li>
					<li class="mb-2">Support in establishing and revising Policy/SOP/other internal regulation</li>
					<li class="mb-2">Other task assigned by team leader</li>
				</ul>
			</div>
		</section>	
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Ensure procurement and bidding process is proper and followed Bank’s policy and regulations.</li>
					<li class="mb-2">Ensure vendor register list is properly updated.</li>
					<li class="mb-2">Ensure all awarded vendors are properly reviewed for their qualification assessment. </li>
					<li class="mb-2">Ensure all required renewal of relevant agreement and insurance policy are on time and followed proper process.</li>
					<li class="mb-2">Support in establishing and revising Policy/SOP/other internal regulation related to procurement process.</li>
					<li class="mb-2">Make periodical report to update team leader for significant tasks.</li>
					<li class="mb-2">Other assigned tasks by team leader.</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor in Business Administration or related field.</li>
					<li class="mb-2">Experience with 2-3 years in procurement/other equivalent to the job.</li>
					<li class="mb-2">Having experience with project management is highly advantage.</li>
					<li class="mb-2">Good at negotiation/bargaining skill.</li>
					<li class="mb-2">Good at time and task management.</li>
					<li class="mb-2">Good at making report.</li>
					<li class="mb-2">Experience with procurement process is advantage.</li>
					<li class="mb-2">Good in English language and Chinese is a plus.</li>
					<li class="mb-2">Be a good team player.</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
