@{
   ViewData["PageTitle"] = "Job Openings";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Corporation Limited is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">Careers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Branch Manager</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Branch Manager</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Ensure staff have provided quality service exceed customer expectation timely, deposit, loan, as defined with branch KPIs</li>
					<li class="mb-2">Maintains and proactive increasing target customer’s network which generate profitable business to bank</li>
					<li class="mb-2">Contribute and develop marketing strategy in order to increase public awareness, products and services, and trust worthy in public</li>
					<li class="mb-2">Ensure key customer well serviced both deposit and loan</li>
					<li class="mb-2">Ensure all staff at branch follow policies, procedures, and regularly provide trainings to staff with new products/services, encouragement and open communication at workplace.</li>
					<li class="mb-2">Daily update to management on target achievement, challenging, improve performance plan.</li>
					<li class="mb-2">Do the local market competitor survey to define strategy and gain more market segmentation</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor/Master degree in Finance Banking, Management or related fields.</li>
					<li class="mb-2">At least 03-years’experience working with commercial bank and 02 Years in branch operations</li>
					<li class="mb-2">Strong ability in leading team to achieve target KPIs</li>
					<li class="mb-2">Good in communication, presentation, and problem-solving skills</li>
					<li class="mb-2">Good in management, facilitation and self-disciplined</li>
					<li class="mb-2">Understand economic factors which may affect the customer’s business as well as the bank’s business development</li>
					<li class="mb-2">High degree self-motivation and excellent interpersonal skills</li>
					<li class="mb-2">Excellent in English both speaking and writing, Chinese is a plus</li>
					<li class="mb-2">Proficiency in Ms. Office (Word, Excel, PowerPoint), Internet, and Email</li>
					<li class="mb-2">Respect and follow CUBC’s core values, Vision, and Mission</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
