@{
   ViewData["PageTitle"] = "ATM Service";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ATM Service
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-atm.jpg" />
						<img srcset="/assets/img/topkv/personal-atm-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ATM</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">Personal Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">ATM Service</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		ATM Service - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">ATM Service</h1>
			<p>An Automated Teller Machine (ATM) is an electronic communications device that enables customers of financial institutions to perform financial transactions, such as cash withdrawals, fund transfers, balance enquires or PIN changes, at any time and without the need of direct interaction with bank staff.</p>
		</header>
		
		<section class="compact px-xl-4">
			<!-- Graph icon list #1  (3 in a row) -->
			<ul class="row  justify-content-center  mb-n4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/atm.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">More than 60 ATMs</h5>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/24h.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">24 hours Service</h5>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/globe.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">Support Khmer, <br>English, and Chinese</h5>
					</div>
				</li>
			</ul>
		</section>
		
		<div class="py-section"></div>
		
		<section class="compact">
			<p class="mb-4">Cathay United Bank (Cambodia) Plc. has more than 60 ATMs that provide 24 hours of banking convenience to our customers. With user-friendly graphic screens and easy-to-follow instructions in a choice of Khmer, English, and Chinese, it makes ATM Banking with Cathay United Bank (Cambodia) Plc. a smooth experience. </p>
			<p class="mb-4">Our ATMs are simple to use and accept your Cathay United Bank (Cambodia) Plc. Visa Debit Card, Cathay United Bank (Cambodia) Plc. Visa Credit Card, Cathay United Bank (Cambodia) Plc. Master Credit Card as well as CSS, Plus, Maestro, Cirrus, Diners Club International, VISA Electron, VISA and MasterCard cards issued by other banks from around the world.</p>
			<p> Cathay United Bank (Cambodia) Plc. certifies and implements EMV security standards using NCR ATMs to protect its ATM users from potential ATM compromise. With this step, Cathay United Bank (Cambodia) Plc.’s foremost card industry player has been supporting the issuing and acquiring of EMV VISA cards since as early as 2003, and is once again underscoring its innovative leading role in the local card-supported payment industry. </p>
		</section>
		
		<div class="py-section"></div>
		
		
		<!-- Two-columns -->
		<section class="row mx-sm-n2 mx-xl-n3">
			
			<!-- Right column -->
				<div class="w-100 bg-gray-100  mx-sm-2 mx-xl-3  px-3 py-4 p-sm-4 p-lg-5">
					<figure class="card-w150  mx-auto mb-3">
						<div class="embed-responsive embed-responsive-1by1">
							<img class="embed-responsive-item ofi-contain lazy" data-src="/assets/img/content/atm-css.png" alt="Cambodian Shared Switch System">
						</div>
					</figure>
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Cambodian Shared Switch System (CSS)</h3>
					<p class="mb-3">The Cambodian Shared Switch System (CSS) was established and is managed by the National Bank of Cambodia. The CSS is designed to provide interconnectivity and interoperability amongst member Banks and MFIs, and provide a nationwide integrated infrastructure for debit card payment operated by ATM and POS. </p>
					<p>Cathay United Bank (Cambodia) Plc. is one of the CSS members and our ATM machines allow CSS cards to perform CSS functions on our ATM machines such as cash withdrawals, balance inquiries, mini statements, PIN changes and interbank fund transfers.</p>
				</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Using and Managing Your ATM Transactions</h3>
			
			<ul class="list-disc list--item-mb-xs  mb-4">
				<li>Always pay close attention to the ATM and your surroundings. Do your automated banking in a public, well-lit and clear location.</li>
				<li>Follow the instructions on the display screen, e.g. do not key in your PIN until the ATM requests you do so.</li>
				<li>Never force your card into the card slot.</li>
				<li>Do not allow people to look over your shoulder as you enter your PIN. </li>
				<li>Do not allow strangers to help you make transaction.</li>
				<li>Never use an ATM with a blank screen.</li>
				<li>If you see any suspicious devices in ATM area, do not use the machine. </li>
				<li>Take your card and receipt after the transaction.</li>
				<li>Report lost or captured cards to the bank immediately.</li>
				<li>Always monitor your bank statements and check your balance. Immediately report any unusual activity.</li>
			</ul>
			
			<p>When using an ATM to perform a transaction, keep a look out for any objects attached to the ATM card slot or any other part of the ATM that make its appearance and operation unusual. If you find any unusual objects on our ATMs or your card is retained by our ATM, call us immediately at 023 885 500.</p>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->