@{
   ViewData["PageTitle"] = "Individual Loan";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Individual Loan
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-loan.jpg" />
						<img srcset="/assets/img/topkv/personal-loan-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Borrowing Solutions</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">Personal Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Individual Loan</li>
			</ol>
		</div>
	</nav>
	
	<!--
		Individual Loan - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">Individual Loan</h1>
		</header>
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">Housing Loan</h3>
		<p class="mb-3">CUBC helps you to achieve your dream of owning your own home with our housing loan facility. A housing loan can improve your living standards through the purchase, construction, or renovation of a house with the great interest and loan to value. CUBC has partnered with Borey to offer a special price and terms and conditions to customers.</p>
	
		<!-- Tabular data -->
		<section class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="2" class="h4 h4-mb">Conditions</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Currency</th>
							<td>USD / KHR</td>
						</tr>
						<tr>
							<th scope="row">Loan Tenor</th>
							<td>Up to 20 years</td>
						</tr>
						<tr>
							<th scope="row">Repayment mode</th>
							<td>Flexible repayment options</td>
						</tr>
						<tr>
							<th scope="row">Interest rate</th>
							<td>Negotiable</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><!--/.tabular-->  
		
		<div class="py-section"></div>
		
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">Working Capital Loan</h3>
		<p class="mb-3">We offer the funds to sustain your business while your physical cash is not enough for capital turnover in the business. A working capital loan is suitable for a business when retained earnings for inventory, account receivable turnover, or cash conversion cycle have been obstructed.</p>
		
		 
		<!-- Tabular data -->
		<section class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="2" class="h4 h4-mb">Conditions</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Currency</th>
							<td>USD / KHR</td>
						</tr>
						<tr>
							<th scope="row">Loan Tenor</th>
							<td>Up to 7 years for Term Loan, 12 months for Overdraft</td>
						</tr>
						<tr>
							<th scope="row">Repayment mode</th>
							<td>Flexible repayment options</td>
						</tr>
						<tr>
							<th scope="row">Interest rate</th>
							<td>Negotiable</td>
						</tr>
						<tr>
							<th scope="row">Grace Period</th>
							<td>Negotiable</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><!--/.tabular--> 
		
		<div class="py-section"></div>
		
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">Investment Loan</h3>
		<p class="mb-3">The investment loan is for borrowers who need funds to expand their business. You can purchase/upgrade your business premise, store, factory and equipment, or acquire a business to complement and enhance your current business.</p>
		
		  
		<!-- Tabular data -->
		<section class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="2" class="h4 h4-mb">Conditions</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Currency</th>
							<td>USD / KHR</td>
						</tr>
						<tr>
							<th scope="row">Loan Tenor</th>
							<td>Up to 7 years</td>
						</tr>
						<tr>
							<th scope="row">Repayment mode</th>
							<td>Flexible repayment options</td>
						</tr>
						<tr>
							<th scope="row">Interest rate</th>
							<td>Negotiable</td>
						</tr>
						<tr>
							<th scope="row">Grace Period</th>
							<td>Negotiable</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><!--/.tabular-->
		
		<div class="py-section"></div>
		
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">Refinancing Loan</h3>
		<p class="mb-3">The refinancing loan is available for all loan applicants who are seeking different terms and conditions, which might be a lower interest rate, or a favourable loan limit or tenor to fund personal needs or business expansion.</p>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->