
    <!-- Terms & Conditions -->
    <section class="compact">
        <!-- Section heading -->
        <h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">約定條款</h3>
        
        <p class="text-center mb-3 tcHint"><a class="text-green text-underline" href="@ViewData["siteLangUrl"]personal/terms-and-conditions-mbanking/">點此</a>閱讀行動銀行 App的隱私條款</p>

    

            <!-- FAQ list -->



    <!-- QA item digital-account -->
    <section data-label="digital-account" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Digital Account
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div>
                    <p><strong>1. Introduction</strong></p>
                    <p class='mt-2'>
                        The Terms and Conditions are an “Agreement” between customer of the Bank “You”,
                        “Customer” and Cathay United Bank (Cambodia) Plc. (hereinafter referred to
                        as “CUBC”) in relating to use of CUBC Digital Account created in CUBC mBanking. The Terms
                        and Conditions will apply immediately and you are deemed to accept these terms and
                        conditions before you can use these service. It is important that you read these terms and
                        conditions before you use the CUBC Digital Account.
                    </p>
                    <p>
                        By clicking on “Agree” means that you agree to all terms and conditions in this agreement and
                        accept responsibility to create the digital account with CUBC.
                    </p>
                </div>

                <div class="mt-4">
                    <p><strong>2. Definition</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>CUBC: Cathay United Bank (Cambodia) Plc..</li>
                        <li>CUBC Mobile Banking: refers to mobile application of CUBC (Hereafter mBanking).</li>
                        <li>Digital Account: refer to account that opened through CUBC mBanking by new customer.</li>
                        <li>Upgrade Digital Account: refer to customer who use Digital Account, then they wish to upgrade their Digital Account to process full function as Saving Account.</li>
                    </ul>
                </div>


                <div class="mt-4">
                    <p><strong>3. Eligibilities</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Be at least 18 Years old.</li>
                        <li>Cambodian nationality only.</li>
                        <li>Valid and original Cambodian National Identity (NID).</li>
                        <li>Be a new customer (personal) who first open account with CUBC via CUBC mBanking.</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>4. Requirement</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>No jailbreak or rooting smartphone with iOS or Android system.</li>
                        <li>Good quality camera to take clear photo of National Identity and selfie.</li>
                    </ul>
                </div>

                <div class="mt-4">
                    <p><strong>5. Personal Information and Confidentiality</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>You warrant that all information provided herein are truly accurate. With further requirement by CUBC for providing necessary personal or business information in any case that you refuse or delay, you agree with the CUBC for suspending all or part of the service.</li>
                        <li>We take your privacy very seriously. All information that had been provided to CUBC will be kept strictly confidential and securely held by CUBC. If you choose to use these service, then you agree to the <a href="/privacy/" class="text-green-dark">Privacy Policy</a> of CUBC mBanking.</li>
                        <li>CUBC will make every effort to keep your personal information up to date. To assist us, please let us know of any changes in your personal information and business details.</li>
                    </ul>
                    <p>CUBC maintains the security and confidentiality of your information. However, CUBC reserve the right to disclose this information to the appropriate authorities in accordance with Cambodian Laws and we may share related information (such information management) with Cathay Financial Group including but not limited to CUB and affiliated companies, and outsourced agencies entrusted by the Bank to handle affairs due to the needs of performing CUBC mBanking.</p>
                </div>

                <div class="mt-4">
                    <p><strong>6. Currency</strong></p>
                    <p class='mt-2'>CUBC provides both currencies of KHR and USD at the same time for customer, when customer apply Digital Account via CUBC mBanking Application.</p>
                </div>


                <div class="mt-4">
                    <p><strong>7. Available Service for Digital Account</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Upon successful completion of the CUBC Digital Account, the customer can perform the banking services including payment, funds transfer, open online fixed deposit and other available services under CUBC Digital Account.</li>
                        <li>CUBC reserves the right to add, remove, or delete any service in CUBC Digital Account at any time without prior notice and/or consent from the customer.</li>
                    </ul>
                </div>


                <div class="mt-4">
                    <p><strong>8. The limitation of Digital Account for withdrawal/ transfer</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Daily Debit Limitation:<br />(Max.) USD 10,000.00<br />(Max.) KHR 40,000,000.00</li>
                        <li>Monthly Debit Limitation:<br />(Max.) USD 50,000.00<br />(Max.) KHR 200,000,000.00</li>
                    </ul>
                    <p class="mt-2">Note: The limitation of Digital Account for deposit have no limit.</p>
                </div>

                <div class="mt-4">
                    <p><strong>9. Interest Rate</strong></p>
                    <p class='mt-2'>You hereby acknowledge that interest rate of digital account may be changed from time to time based on the discretion of the bank with/without prior notice (if applicable under laws and relevant regulations).</p>
                </div>

                <div class="mt-4">
                    <p><strong>10. Fees and Charges</strong></p>
                    <p class='mt-2'>You agree that CUBC may deduct the fees and charges applicable for the transaction done over Digital Account directly from your account. The Fees and Charges may be changed from time to time by the Bank in respect of using CUBC Digital Account. Details of CUBC’s current fees and charges are available at Pricing Guide, or on the Bank’s website, before creating CUBC Digital Account and/or making any transaction, you agree to check the current fees and charges, and you agree to accept these fees and charges by making a transaction.</p>
                </div>



                <div class="mt-4">
                    <p><strong>11. Upgrade Digital Account</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>An upgrade from Digital Account to Standard bank account (account open at bank counter) is highly recommended to all customers. The customer will be required to visit our nearest branches to upgrade account.</li>
                        <li>You shall provide other required documents that request by CUBC for upgrading Digital Account.</li>
                        <li>You acknowledged that your request for full services may be approved or rejected at Bank's sole consideration and discretion.</li>
                        <li>You accept and agree that after Digital Account upgrade, all transactions will be changed automatically following saving account transactions.</li>
                    </ul>
                </div>



                <div class="mt-4">
                    <p><strong>12. Suspension and Termination</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>You are able to close your digital account by visit CUBC nearest branches.</li>
                        <li>You accept and agree that the bank reserve the right to close or suspend the account if in the event of abnormal or illegal transaction has been identified. The Bank shall not be liable to you for any loss resulting from the suspension or closure.</li>
                        <li>The Bank may suspend the operation of your Digital Account or block your Digital Account without prior notice if the Bank considers or suspects or find out that you have provided a false or inaccurate information or inaccurate photo or the Bank receives notice of any third-party claim in respect of such Digital Account. In this case, you shall cooperate as fully as reasonably required by the Bank to verify your identity. The Bank shall not be liable to you for any loss resulting from such suspension or blockage.</li>
                    </ul>
                </div>



                <div class="mt-4">
                    <p><strong>13. Dormant Digital Account</strong></p>
                    <p class='mt-2'>If an account is not active for twelve (12) months or more from the creation date or the last transaction date (excluding system transaction), your account will be a dormant account and bank can do any of the following:</p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Your account is not allowed to credit or withdraw unless its status is updated from “Dormant” to “Active”. If you want to change this status, you shall be requested to the bank to reactivate account.</li>
                        <li>Dormant account subjects to be charged an annual service fee. The inoperative fees are detail in the “Deposit Pricing Guide” on the Bank’s website.</li>
                        <li>The Bank reserves the right to close the account without prior notice if the account has been dormant for more than 1 year and has zero balance.</li>
                    </ul>
                </div>


                <div class="mt-4">
                    <p><strong>14. Anti-money laundering and counter-terrorism financing obligations</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Transactions may be delayed, blocked, frozen or refused where we have reasonable ground to believe that they breach applicable laws or sanction (or the laws or sanctions of any other countries) meanwhile, transactions are delayed, blocked, frozen or refused, the Bank and its correspondents are not liable for any losses you may encounter (including consequential loss) however  caused in connection with any products.</li>
                        <li>We may from time to time require additional information from you to assist us in the above compliance process.</li>
                        <li>The underlying activity from which any deposit product is being provided does not breach any applicable laws or sanctions.</li>
                    </ul>
                </div>



                <div class="mt-4">
                    <p><strong>15. Safekeeping and Use of mBanking</strong></p>
                    <p class="mt-2">
                        When setting a password for your mBanking, you shall exercise due care as to the configuration, use, and safekeeping of the password.<br />
                        The password shall not be made known or allowed to be made known to any third party in any manner to ensure deposit security.<br />
                        You shall be solely responsible for any damage arising from any fraudulent use or misappropriation of your password by a third party, unless it can be proved that the fraudulent use or misappropriation is a result of the Bank's failure to exercise the duty of care expected of a good faith administrator in its control of its information system.
                    </p>
                </div>



                <div class="mt-4">
                    <p><strong>16. Disruption Service</strong></p>
                    <p class="mt-2">If you discover or suspects that your identity has been stolen by others or any loss suffers by you such as when the service is temporarily unavailable or when the system or equipment necessary for any service under Digital Account fails to function in a normal, you should immediately notify bank. However, the notice shall not be interpreted as Bank’s responsibility or obligation for compensation or compensation to the customers.</p>
                </div>


                <div class="mt-4">
                    <p><strong>17. Effect of Transaction</strong></p>
                    <p class="mt-2">Transactions conducted by you by using mbanking shall be deemed to have the same effect as transactions conducted over the counter by way of written documents.</p>
                </div>


                <div class="mt-4">
                    <p><strong>18. Amendments</strong></p>
                    <p class="mt-2">The bank may change the specific Terms and Conditions at any time. If so, the bank will always give you a reasonable notice period required by applicable law, and notify these changes either by direct communication, by display in any CUBC’s branches, App’s notification, and/or website of the bank.</p>
                </div>


                <div class="mt-4">
                    <p><strong>19. Governing Law and Resolution</strong></p>
                    <p class="mt-2">The terms and Conditions are governed by the applicable laws and regulations of Kingdom of Cambodia.<br/>
                    For opening digital account via CUBC mBanking, we understand that sometimes, there might be an error occurs while you are performing register. When these problem happen, bank will determine the error causes issued with the best solution. If you have any questions regarding registration, please contact CUBC ’s Contact Center (855) 23 88 5500.</p>
                </div>

            </div>
        </div>
    </section>

    
    <!-- QA item identity-verification -->
    <section data-label="identity-verification" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Identity Verification
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div>
                    <p>The Terms of service for Identity Verification, (hereinafter referred to as the “Terms of Service”) are stipulated by Cathay United Bank (Cambodia) Plc. (hereinafter referred to as the “Bank”) in relation to the use of the facial recognition and identity verification. When you using your own mobile devices or the electronic device designated by the Bank, it means that you have been given reasonable time to review and agree to the Terms of Service, and acknowledge that you assume all responsibilities arising therefrom. You agree that the Bank reserves the right to verify your identity and approve the service. Please read the following Terms of Service carefully. If you have fully understood and agreed, please tick in the box to “Agree”:</p>
                </div>

                <div class='mt-4'>
                    <p><strong>Identity Verification and Instructions</strong></p>
                    <p class="mt-2">Once you accept and agree to the Terms of Service, the Bank will verify the registered face with the original national identity card (NID) provided by you to ensure the security of your use of the service. To start the identity verification (Selfie photo & original NID card), you need to do the following:</p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Place the photo in the adequate lighting, clear and clean.</li>
                        <li>Make sure the photo is in the frame horizontally.</li>
                    </ul>
                </div>
                
                <div class='mt-4'>
                    <p><strong>You agree to comply with the following matters</strong></p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>One original national identity card (NID) can only be linked to your registered face. The Bank has the right to “terminate” the process of identity verification, if the number of consecutive facial recognition and identity verification failures made by you reaches the system limit set. To resume the identity verification, you may follow designated methods by the Bank at the first login page.</li>
                        <li>You represent and warrant that all information provided herein is true and accurate.</li>
                        <li>Once you agree to these Terms and service, then you agree to the CUBC mBanking privacy policy. If you have any concerns about the service, please contact our customer service hotline at 023 88 55 00.</li>
                    </ul>
                </div>
                
                <div class='mt-4'>
                    <p><strong>Your Liability</strong></p>
                    <p class="mt-2">In the event of suspected misuse or theft of the service by a third party, you shall immediately notify the Bank, stop using the service, and take precautionary measures. You shall be liable for any damage due to the misuse or theft of the service by a third party, as well as any damage caused to the Bank.</p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>Use of services and Updates</strong></p>
                    <p class="mt-2">If the Bank deems it necessary (including but not limited to business needs), the Bank may request users to update face and the expired identification documents at any time. You may follow designated methods by the Bank to update face and the expired identification documents.</p>
                </div>
                
                <div class='mt-4'>
                    <p><strong>Termination and Change of Services</strong></p>
                    <p class="mt-2">The Bank may change, discontinue, or terminate services upon the announcement made on the Bank’s website due to changes in law, an order from the competent authority, or other legitimate reasons.<br/>
                    Other matters not covered herein (such as the terms and conditions on online banking passwords, transfer limits, and so on) are subject to the Bank’s comprehensive agreement and relevant regulations.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- QA item face-id -->
    <section data-label="face-id" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                Biometric Authentication and Login
            </h5>
        </div>

        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div>
                    <p>Please read the following Terms and Conditions carefully. If you have fully understood and agreed, please tick in the box to “Agree”:</p>
                    <ul class="list-disc mt-2 mb-2">
                        <li>Biometric Authentication refers to a fingerprint, face recognition and any other means by which a mobile device manufacturer allows a user to authenticate their identity for the purposes of unlocking their mobile device and access to the specific applications including CUBC mobile banking (refer to “CUBC mBanking”).</li>
                        <li>You agree to use the built-in Biometric Authentication features (including but not limited to Touch ID of Apple iOS 9 or above, native fingerprint/face/iris recognition of Google's Android 6.0 or above) in your mobile device as a mean of authentication and authorization method to use the CUBC mBanking.</li>
                        <li>Once you agree to the Terms and Conditions, and after you enter an SMS OTP password and successfully activate the Biometric Authentication feature, your mobile device will be bound with FIDO technology to provide you with a more secure authentication login. If your mobile device version does not support the required version of the FIDO technology, you will not be able to use the CUBC mBanking with Biometric Authentication. (For more information on the FIDO technology, please go to <a href="https://fidoalliance.org/" class="text-green-dark" target='_blank' rel="noopener noreferrer">https://fidoalliance.org/</a>).</li>
                        <li>Biometric information used in Biometric Authentication is unique and unchangeable; therefore, please set up and use CUBC mBanking with the utmost discretion and keep your mobile device properly. The Bank and the FIDO Alliance will not retain your biometric information (the picture/face/fingerprint). To learn more about biometric authentication technology, please read the instructions provided by your device manufacturer.</li>
                        <li>Once CUBC mBanking has been activated, you have to re-activate CUBC mBanking by following the same steps as stated above if you wish to switch to the new mobile device.</li>
                        <li>Biometric Authentication may fail due to malfunction of mobile devices, wet or dirty fingers, changes in facial appearance, lighting, camera angle, or poor network connections. If the number of login or transaction approval consecutive identification failures reaches the system limit set, then you need to follows below instruction:
                            <ul class="list-disc mt-2 mb-2">
                                <li>For login CUBC mBanking:<br/>
                                Both username and password, and Biometric Authentication will be lock.<br/><br/>
                                * You need to come to the Head Office or any branches, or Contact our customer service hotline 023 88 55 00 to resume the use of username and password and/or Biometric Authentication.</li>
                                <li>For transaction approval:<br/>
                                You can use 4 (four) digits PIN code or redo the transaction.</li>
                            </ul>
                        </li>
                        <li>Bank may request you to update the Biometric information at any time due to business needs; you may also actively update the Biometric information according to the method specified by the Bank.</li>

                        <li>All transaction orders confirmed using the Biometric Authentication provided by CUBC mBanking, and the verification method designated by the Bank shall be deemed to be made by you. If it is suspected that the Biometric Authentication is fraudulently used or misappropriated by any third party, you shall immediately notify the Bank to stop using CUBC mBanking and take any preventive measures; If Bank suffers any damage, you shall be responsible for compensation.</li>

                        <li>The authentication result shall be mainstay by the Bank when Biometric Authentication is in dispute.</li>

                        <li>The Bank may change, discontinue, or terminate the Biometric Authentication upon the announcement made on the Bank's website due to any change of laws or regulations which affect CUBC mBanking, any order from the competent authority, or any other circumstances not attributable to the Bank.</li>

                        <li>The Bank may share Biometric Authentication related information (such information management) with Cathay Financial Group (including but not limited to CUB and affiliated companies, and outsourced agencies entrusted by the Bank to handle affairs) due to the needs of performing CUBC mBanking.</li>

                        <li>Other matters not covered here in are subject to the Bank's comprehensive agreement and relevant regulations.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

        <!-- QA item -->
        <section data-label="fast-transfer" class="qaitem" js-foldable-group="internet">
            <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
                <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                    Fast Transfer
                </h5>
            </div>
            <div class="qaitem-detail" js-foldable-body>
                <div class="qaitem-detail-content">
                    <p>Fast Transfer refers to Local Remittance Service focusing on KHR currency (Khmer Riel) only to the domestic bank account​ which is a member of Fast System.</p>
                    <p class='mt-2'>By using the Fast Transfer, I agree with the terms and conditions governing Electronic Services, Saving Account, Current Account, and Local Remittance Service.</p>
                    <p class='mt-2'>I understand that my application will be processed based on the prevailing exchange rates at the time of processing, which may differ from the rates displayed on the CUBC's website.</p>
                    <p class='mt-2'>I agree to submit relevant documents as required by CUBC and CUBC shall not be responsible for any transaction which have not been made due to insufficient of such required documents.</p>
                </div>
            </div>
        </section>

        <!-- QA item -->
        <section data-label="ncs" class="qaitem" js-foldable-group="internet">
            <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
                <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                    Local Bank Transfer (NCS)
                </h5>
            </div>
            <div class="qaitem-detail" js-foldable-body>
                <div class="qaitem-detail-content">
                    <p>Local Bank Transfer (NCS) refers to Domestic Outward Remittance Service.</p>
                    <p class='mt-2'>By using the Local Bank Transfer (NCS), I agree with the terms and conditions governing Electronic Services, Saving Account, Current Account, and Domestic Outward Remittance Service.</p>
                    <p class='mt-2'>I understand that my application will be processed based on the prevailing exchange rates at the time of processing, which may differ from the rates displayed on CUBC’s website.</p>
                    <p class='mt-2'>I agree to submit relevant documents as required by CUBC and CUBC shall not be responsible for any transaction which have not been made due to insufficient of such required documents.</p>
                </div>
            </div>
        </section>
        

        <!-- QA item -->
        <section data-label="mbanking" class="qaitem" js-foldable-group="internet">
            <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
                <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                    mBanking
                </h5>
            </div>
            <div class="qaitem-detail" js-foldable-body>
                <div class="qaitem-detail-content">
                    <p>By downloading or using the app, these terms will automatically apply to you – you should therefore make sure that you read them carefully before using the app. You’re not allowed to copy, or modify the app, any part of the app, or our trademarks in any way. You’re not allowed to attempt to extract the source code of the app, and you also shouldn’t try to translate the app into other languages, or make derivative versions. The app itself, and all the trade marks, copyright, database rights and other intellectual property rights related to it, still belong to Cathay United Bank (Cambodia) Plc..</p>

                    <p class='mt-2'>Cathay United Bank (Cambodia) Plc. is committed to ensuring that the app is as useful and efficient as possible. For that reason, we reserve the right to make changes to the app or to charge for its services, at any time and for any reason. We will never charge you for the app or its services without making it very clear to you exactly what you’re paying for.</p>
                    
                    <p class='mt-2'>The CUBC MBANKING app stores and processes personal data that you have provided to us, in order to provide our Service. It’s your responsibility to keep your phone and access to the app secure. We therefore recommend that you do not jailbreak or root your phone, which is the process of removing software restrictions and limitations imposed by the official operating system of your device. It could make your phone vulnerable to malware/viruses/malicious programs, compromise your phone’s security features and it could mean that the CUBC MBANKING app won’t work properly or at all.</p>
                    
                    <p class='mt-2'>You should be aware that there are certain things that Cathay United Bank (Cambodia) Plc. will not take responsibility for Certain functions of the app will require the app to have an active internet connection. The connection can be Wi-Fi, or provided by your mobile network provider, but Cathay United Bank (Cambodia) Plc. cannot take responsibility for the app not working at full functionality if you don’t have access to Wi-Fi, and you don’t have any of your data allowance left.</p>

                    <p class='mt-2'>If you’re using the app outside of an area with Wi-Fi, you should remember that your terms of the agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the app, or other third party charges. In using the app, you’re accepting responsibility for any such charges, including roaming data charges if you use the app outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you’re using the app, please be aware that we assume that you have received permission from the bill payer for using the app.</p>

                    <p class='mt-2'>Along the same lines, Cathay United Bank (Cambodia) Plc.​ cannot always take responsibility for the way you use the app i.e. You need to make sure that your device stays charged – if it runs out of battery and you can’t turn it on to use the Service, Cathay United Bank (Cambodia) Plc. cannot accept responsibility.<br/>With respect to Cathay United Bank (Cambodia) Plc. ’s responsibility for your use of the app, when you’re using the app, it’s important to bear in mind that although we endeavor to ensure that it is updated and correct at all times, we rely on third parties to provide information to us so that we can make it available to you. Cathay United Bank (Cambodia) Plc.​ accepts no liability for any loss, direct or indirect, you experience as a result of relying wholly on this functionality of the app.</p>

                    <p class='mt-2'>At some point, we may wish to update the app. The app is currently available on Android & iOS – the requirements for both systems (and for any additional systems we decide to extend the availability of the app to) may change, and you’ll need to download the updates if you want to keep using the app. Cathay United Bank (Cambodia) Plc. does not promise that it will always update the app so that it is relevant to you and/or works with the Android & iOS version that you have installed on your device. However, you promise to always accept updates to the application when offered to you, we may also wish to stop providing the app, and may terminate use of it at any time without giving notice of termination to you. Unless we tell you otherwise, upon any termination, (a) the rights and licenses granted to you in these terms will end; (b) you must stop using the app, and (if needed) delete it from your device.</p>

                    <p class='mt-2'>
                        <strong>Changes to This Terms and Conditions</strong>
                    </p>
                    <p>We may update our Terms and Conditions from time to time. You are therefore advised to review this page periodically for any changes. We will notify you of any changes by posting the new Terms and Conditions on this page. These changes are effective immediately after they are posted on this page.</p>

                    <p class='mt-2'>
                        <strong>Contact Us</strong>
                    </p>
                    <p>If you have any questions about our Terms and Conditions, do not hesitate to contact us by visiting our website: <a class='text-green text-underline' href='https://www.cathaybk.com.kh'>https://www.cathaybk.com.kh</a></p>
                </div>
            </div>
        </section>

        <!-- QA item -->
        <section data-label="online-fixed-deposit-account" class="qaitem" js-foldable-group="internet">
            <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
                <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                    Online Fixed Deposit Account
                </h5>
            </div>
            <div class="qaitem-detail" js-foldable-body>
                <div class="qaitem-detail-content">
                    <p>If you are using Cathay United Bank (Cambodia) Plc.’s (“CUBC or We”) online Fixed Deposit service, the Terms and Conditions hereunder will be applied immediately and you are deemed to accept these terms and conditions before you can use these service. It is important that you read these terms and conditions before you use the CUBC’s online Fixed Deposit service. If you do not understand, or are unsure about any aspect to these terms and conditions, do not hesitate to check with our CUBC to clarify the matter for you.</p>

                    <p class='mt-2'>The terms and conditions listed in this document do not represent all the terms and conditions under which banking products and services are provided; however, additional conditions may be implied by laws and regulations.</p>

                    <p class='mt-2'>We, at our sole discretion, may change Terms and Conditions from time to time without any prior notice.</p>

                    <p class='mt-2'>
                        <strong>Opening of Online Fixed Deposit Account</strong>
                    </p>

                    <p class='mt-2'>
                        Opening of Online Fixed Deposit Account through CUBC’s online banking shall be subject to certain requirements including but not limited to minimum initial deposit amount, maximum amount for opening, currency, terms, conditions, interest rates, and customer’s KYC standard.
                    </p>

                    <p class='mt-2'>
                        <strong>Funding Account</strong>
                    </p>

                    <p class='mt-2'>Customers can apply to open Online Fixed Deposit Account through online banking application unless they have at least a personal saving account or personal current account (subject to separate terms and conditions) held with CUBC which are allowed to link with CUBC’s online banking; The Funding Account cannot be closed if there are any linked Online Fixed Deposit Account exist in the list of accounts unless there is other arrangement for closure of the account made or accepted by CUBC.</p>
                    

                    <p class='mt-2'>
                        <strong>Currency</strong>
                    </p>

                    <p class='mt-2'>Currency type to open Online Fixed Deposit Account through CUBC’s online banking can be either USD or KHR Currency. Cross-currency (Ex: Funding account is USD currency; Fixed Deposit Account is KHR currency) is not allowed to open Online Fixed Deposit Account. CUBC may change and revise the eligibility(s) and condition(s) from time to time, which may be in a newly released version of CUBC’s online banking.</p>


                    <p class='mt-2'>
                        <strong>Terms and Interest Rates</strong>
                    </p>

                    <p class='mt-2'>CUBC may offer different terms and interest rates of Online Fixed Deposit with different channels to open, and the interest rates will be provided to the costumers differently due to the terms and deposited amounts that customers choose to open. It is CUBC’s interest to ensure that it is offering the greatest service and solution on investment tool for customer.</p>


                    <p class='mt-2'>
                        <strong>Interest and Maturity Instruction</strong>
                    </p>
                    <p class='mt-2'>Customers hereby acknowledge that the interest rate of Online Fixed Deposit may be changed from time to time based on the discretion of CUBC with/without prior notice (if applicable under laws and relevant regulations).</p>

                    <p class='mt-2'>For the interest payment, it will be paid to the account holder which had chosen to open the Online Fixed Deposit Account as following the difference channel due to maturity conditions. If the Online Fixed Deposit Account closed before the maturity date, the interest will not be given to customers. The principal and interest amounts will be paid on the closing maturity date only.</p>
                    
                    <p class='mt-2'>The total interest payable will be subject to the withholding tax deduction in accordance with the applicable tax laws and regulations of the Kingdom of Cambodia. Resident withholding tax will be deducted from interest payments made to Cambodian accountholders. However, the resident withholding tax is applicable for foreigners who have been consecutively living in Cambodia for period at least 182 days by providing sufficient supporting document. For the non-resident account holder, non-resident withholding tax will be deducted. We rely on your accuracy of documents and information provided in order to choose a correct tax status of your account.</p>


                    <p class='mt-2'>
                        <strong>Online Fixed Deposit Certificate</strong>
                    </p>
                    <p class='mt-2'>For CUBC’s online Fixed Deposit Account, it will not provide any physical certificate. It will be listed in the list of the account in CUBC’s online banking application, where you can view detailed information of Online Fixed Deposit or transactions of the Funding Account.</p>




                    <p class='mt-2'>
                        <strong>One Time Pin (OTP)</strong>
                    </p>
                    <p class='mt-2'>OTP has 6 digits’​ code which is automatically generated by the system and sent to account holder’s phone number in which customer used to register CUBC’s online banking.</p>

                    <p class='mt-2'>
                        <strong>Biometric Authentication</strong>
                    </p>
                    <p class='mt-2'>Biometric authentication is allowed for customer who used fingerprint or face ID on mobile banking.</p>


                    <p class='mt-2'>
                        <strong>Closing Online Fixed Deposit Account</strong>
                    </p>
                    <p class='mt-2'>You will need to visit any CUBC’s branch in case you decide to close Online Fixed Deposit Account.</p>


                    <p class='mt-2'>
                        <strong>Personal Information</strong>
                    </p>
                    <p class='mt-2'>We take your privacy very seriously. All information that had been provided to CUBC will be kept strictly confidential and securely held by CUBC. If you choose to use these service, then you agree to the Privacy Policy of CUBC MBANKING. You have right to access the information by enquiring at Head Office or any branches of CUBC and you hereby declare that the information provided is true and correct.</p>
                    <p class='mt-2'>CUBC will make every effort to keep your personal information up to date. To assist us, please let us know of any changes in your personal information and business details.</p>




                    <p class='mt-2'>
                        <strong>Resolution</strong>
                    </p>
                    <p>By opening Online Fixed Deposit Account through CUBC’s online banking application, we understand that sometimes, there might be an error occurs while you are performing transactions or after you completed performing transactions. When this problem happened, CUBC will determine the error caused and provide the customers with the best solution. In case, you believe that your Online Fixed Deposit Account has any problem, please contact us immediately via (+855) 23 88 55 00.</p>
                    

                </div>
            </div>
        </section>

        

        <!-- QA item -->
        <section data-label="telegraphic-transfer" class="qaitem" js-foldable-group="internet">
            <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
                <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                    Telegraphic Transfer (International) 
                </h5>
            </div>
            <div class="qaitem-detail" js-foldable-body>
                <div class="qaitem-detail-content">
                    <p>Telegraphic Transfer (International) refers to Oversea Outward Remittance Service.</p>
                    <p class='mt-2'>By using the Telegraphic Transfer (International), I agree with the terms and conditions governing Electronic Services, Saving Account, Current Account, and Oversea Outward Remittance Service. </p>
                    <p class='mt-2'>I understand that my application will be processed based on the prevailing exchange rates at the time of processing, which may differ from the rates displayed on the CUBC's website. </p>
                    <p class='mt-2'>I agree to submit relevant documents as required by CUBC and CUBC shall not be responsible for any transaction which have not been made due to insufficient of such required documents. </p>

                </div>
            </div>
        </section>
    </section>