@{
   ViewData["PageTitle"] = "សេវាធនាគារពាណិជ្ជកម្";
   ViewData["PageDescription"] = "សេវាកម្មម៉ាស៊ីន POS និង Payment Gateway របស់ធនាគារ កាថេ យូណៃធីត គឺជាដំណើរការនៃការទូទាត់ប្រាក់ ដែលមានសុវត្ថិភាពខ្ពស់និងអនុញ្ញាតឱ្យអតិថិជនទូទាំងពិភពលោកធ្វើការបញ្ជាទិញទំនិញដោយប្រើកាតឥណពន្ធ ឬកាតឥណទាន";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		សេវាធនាគារពាណិជ្ជកម្ម
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-merchant.jpg" />
						<img srcset="/assets/img/topkv/business-merchant-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">សេវាធនាគារពាណិជ្ជកម្ម</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">ធនាគារពាណិជ្ជកម្ម</a></li>
				<li class="breadcrumb-item active" aria-current="page">សេវាធនាគារពាណិជ្ជកម្ម</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		សេវាធនាគារពាណិជ្ជកម្ម - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-left">
			សេវាកម្មម៉ាស៊ីន POS, Payment Gateway និង Payment Link របស់ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក​​ គឺបានផ្តល់ជូននៅមធ្យោបាយនៃការទូទាត់ប្រកបដោយ សុវត្ថិភាពខ្ពស់សម្រាប់គ្រប់ប្រភេទអាជីវកម្ម ហើយពាណិជ្ជករនឹងទទួលបានការទូទាត់តាមកាតគ្រប់ប្រភេទជុំវិញពិភពលោក។​ ពាណិជ្ជករអាចជឿទុកចិត្តលើធនាគារក្នុងការទទួលយកប្រតិបត្តិការជាសកលដើម្បីអាជីវកម្មរបស់លោកអ្នករីកចម្រើន។
		</header>
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">
				ហេតុអ្វីជ្រើសយក CUBC Merchant Services?
			</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row mb-n4  pl-xl-5">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/POS Terminal.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							POS Terminal
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								អាចទូទាត់ជាមួយប្រភេទកាត Contactless, Chip, and Magnetic stripe
							</li>
							<li>
								ម៉ាស៊ីនអាចភ្ជាប់និង WIFI/ 4G SIM Card/ hotspot
							</li>
							<li>
								បើកប្រតិបត្តិការ MOTO ក្នុងការទូទាត់វិក្កយបត្រ Agoda, Booking.com, ល.
							</li>
							<li>
								ធ្វើការបិទបញ្ចីដោយស្វ័យប្រវត្តិ ឬដោយដៃ
							</li>
							<li>
								ផ្ញើវិក្កយបត្រតាមរយៈការផ្ញើសារ អ៊ីម៉ែល និងចេញជាក្រដាស
							</li>
							<li>
								កំណត់ពាក្យសំងាត់ទ្បើងវិញនៅលើ POS​ បានគ្រប់ពេលវេលា
							</li>
						</ul>
					</div>
				</li>

				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Payment Gateway.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							Payment Gateway
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								មានការណែនាំងាយស្រួលចំពោះការរួមបញ្ចូលគ្នារវាងគេហទំព័រពីមួយជំហានទៅមួយជំហាន
							</li>
							<li>
								ងាយស្រួលទូទាត់ដែលផ្តល់បទពិសោធល្អជូនអតិថិជន
							</li>
							<li>
								លឿន​ និងរហ័សម្រាប់ការទូទាត់តាមរយៈកាត
							</li>
							<li>
								អាចទូទាត់តាម Visa, MasterCard​​​ កាត
							</li>
							<li>
								ទទួលបានគេហទំព័រទំនើបសម្រាប់ធ្វើរបាយណ៍ការហិរញ្ញវត្ថុងាយស្រួល
							</li>
							<li>
								សុវត្ថិភាពខ្ពស់ និងអនុលោមតាមប្រព័ន្ធ EMV 3DS2.2
							</li>
						</ul>
					</div>
				</li>

				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Payment Link.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							Payment Link
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								ទទួលការទូទាត់តាមរយៈអ៊ីនធឺណិតដោយមិនចាំបាច់មានគេហទំព័រ ចងកូត និងការរួមបញ្ចូលគ្នា
							</li>
							<li>
								បង្កើតការបញ្ជារទិញជាតំណភ្ជាប់បានយ៉ាងឆាប់រហ័ស
							</li>
							<li>
								ងាយស្រួលក្នុងការចែករំលែកតំណភ្ជាប់ទៅកាន់អ៊ីម៉ែល និងប្រព័ន្ធផ្សព្វផ្សាយសង្គមមានដូចជា៖ (FB, Telegram, Line, WeChat..)
							</li>
							<li>
								អាចទូទាត់តាម Visa, MasterCard​​​ កាត
							</li>
							<li>
								ប្រព័ន្ធនឹងផ្ញើសារជូនអតិថិជន និងពាណិជ្ជករនូវប្រតិបត្តិការជោគជ័យ
							</li>
							<li>
								ទទួលបានគេហទំព័រដ៏ទំនើបសម្រាប់តាមដានផលិតផលបានយ៉ាងងាយស្រួល
							</li>
						</ul>
					</div>
				</li>
	
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" href="@ViewData["siteLangUrl"]business/merchant-services-form/">
					<span class="px-2">ចុះឈ្មោះឥឡូវនេះ<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">
				ប្រសិនបើលោកអ្នកមានសំណួរ សូមកុំស្ទាក់ស្ទើរក្នុងការទាក់ទងមកកាន់យើងខ្ញុំ
			</h3>
			<ul class="list-disc">
				<li>
					ទូរសព្ទ: +855: 23885500 / 10885500 / 89885500
				</li>
				<li>អ៊ីម៉េល: <a class="text-green text-underline" href="mailto:merchant@cathaybk.com.kh">merchant@cathaybk.com.kh</a></li>
			</ul>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->