@{
   ViewData["PageTitle"] = "Global MyB2B";
   ViewData["PageDescription"] = "不需排隊，即可在您舒適的家中或辦公室，隨時隨地使用銀行服務。我們的 Global MyB2B為您提供便利的服務，讓您可以控制自己的時間，透過任何連接上網路的電腦來管理您的資金。 現在只需點擊幾下滑鼠，即可查閱您的帳戶資訊、使用轉帳、電費帳單等服務！";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Global MyB2B
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/global-website-bank-zh-pc.png" />
						<img srcset="/assets/img/topkv/global-website-bank-zh-mb.png">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1-sm  fw-bold lh-xs">網路銀行</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">Global MyB2B</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Global MyB2B - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">網路銀行</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Global MyB2B</h2>
			<p class="text-left">國泰世華銀行全球企網銀Global MyB2B具有「安全」、「簡單」、「方便」三大特色，並提供全球帳戶整合、現金管理、放款資料查詢等優質金融產品及服務。</p>
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Global MyB2B特色</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row  mb-n4 mx-n1  pl-xl-5 ml-xl-4"> 
	
				<!-- Graph item -->
				<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/view.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							帳戶總覽
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>存款歸戶查詢</li>
							<li>存款帳戶/餘額</li>
							<li>放款帳戶/資料</li>
							<li>近三個月內交易明細查詢/列印</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/transfer.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">查詢/提醒管理</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>異常時間登入查詢/提醒設定</li>
							<li>登入紀錄查詢/提醒設定</li>
							<li>非約定帳戶交易筆數設定/提醒</li>
							<li>單筆付款成功/失敗交易通知</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-6 col-md-4  mb-4  px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/pay.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">轉帳/匯款</h4>
					</div>
					<div>
 						<ul class="list-disc list--item-mb-xs">
							<li>本人帳戶間轉帳</li>
							<li>轉帳至本行他人帳戶</li>
							<li>轉帳/匯款至國內他行帳戶</li>
							<li>匯款至國外</li>
							<li>網路薪轉服務</li>
						</ul> 
					</div>
				</li>
	
				<!-- Graph item -->

				<li class="col-12 col-md-4  mb-4  px-md-1 px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/form.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">申請書下載</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								<a href="/file/1. Global MyB2B Service RegistrationTermination Application Form.pdf" target="_blank">1. Global My B2B 企業網路銀行開通/終止申請書</a>
							</li>
							<li>
								<a href="/file/2. Request AmendmentResetPasswordGlobal MyB2BService Application Form.pdf" target="_blank">2. Global MyB2B服務變更及重設密碼申請書</a>
							</li>
							<li>
								<a href="/file/3. Global MyB2B Account Integration Agreement.pdf" target="_blank">3. Global MyB2B帳戶整合同意書</a>
							</li>
							<li>
								<a href="/file/4. Global MyB2B Password Sheet Receipt.pdf" target="_blank">4. Global MyB2B 密碼單簽收單</a>
							</li>
						</ul>
					</div>
				</li>	
				<!-- Graph item -->
				<li class="col-12 col-md-4 mb-4 px-md-1 px-1 px-xl-4">
					<div class="d-flex flex-column mb-3">
						<h4 class="h3 text-dark fw-bolder lh-sm">Download App</h4>
						<h4 class="h3 text-dark fw-bolder lh-sm" style="margin-top: 5px;white-space:nowrap;">下載行動OTP</h4>
					</div>
					<div class="d-flex align-items-start mb-3">
						<div>
							<img class="ofi-contain lazy" data-src="/assets/img/ui/apple store.png" style="width:150px; margin-bottom: 12px;">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/app-ios.png" style="width:150px;">
						</div>
						<div>
							<img class="ofi-contain lazy" data-src="/assets/img/ui/google store.png" style="width:150px; margin-bottom: 12px;margin-left:15px">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/app-android.png" style="width:150px;margin-left:15px">
						</div>
					</div>
				</li>
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" href="https://www.globalmyb2b.com/GEBANK/Login.aspx">
					<span class="px-2">登入Global MyB2B<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
			</div>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->