@{
   ViewData["PageTitle"] = "收單特店服務";
   ViewData["PageDescription"] = "CUBC實體/網路收單特店服務，讓您本地或跨國界的客人，都能立即以信用卡或簽帳金融卡支付購買您的商品或服務。加入我們，一起拓展您的商業版圖 !";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		收單特店服務
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-merchant.jpg" />
						<img srcset="/assets/img/topkv/business-merchant-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">收單特店服務</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">法人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">收單特店服務</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		收單特店服務 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<!-- Page heading -->
		<header class="compact  mb-5  text-left">
			CUBC實體/網路收單特店服務，讓您本地或跨國界的客人，都能立即以信用卡或簽帳金融卡支付購買您的商品或服務。
			<br>
			<br>
			加入我們，一起拓展您的商業版圖！

		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">為什麼選擇CUBC的收單服務?</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row  mb-n4 mx-n1  pl-xl-5 ml-xl-4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/POS Terminal.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							實體收單 POS
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								接受非接觸式、晶片和磁條卡交易
							</li>
							<li>
								可接收 WIFI/4G SIM 卡/熱點網路的 POS機
							</li>
							<li>
								接受OTA手動輸入交易, 如Agoda、Booking.com 等。
							</li>
							<li>
								提供過簡訊/電子郵件/紙本交易簽單
							</li>
							<li>
								隨時重設 POS 終端密碼
							</li>
						</ul>
					</div>
				</li>

				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Payment Gateway.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							網路收單 Payment Gateway
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								簡單的步驟即可串聯商家的網頁
							</li>
							<li>
								響應式支付頁面，提升顧客體驗，方便
							</li>
							<li>
								卡支付快速、授權高
							</li>
							<li>
								接受 Visa、MasterCard卡
							</li>
							<li>
								後台管理系統, 輕鬆管理帳務
							</li>
							<li>
								安全且符合EMV 3DS2.2
							</li>
						</ul>
					</div>
				</li>

				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/Payment Link.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">
							支付連結 Payment Link
						</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								無需網站、編碼和整合即可接受線上支付
							</li>
							<li>
								快速建立訂單，為客戶產生付款鏈接
							</li>
							<li>
								透過電子郵件或社交管道（FB、Telegram、Line、微信......）輕鬆分享鏈接
							</li>
							<li>
								接受 Visa、MasterCard卡
							</li>
							<li>
								支付成功後向客戶和商家推播通知
							</li>
							<li>
								後台管理系統，可以設定產品清單
							</li>
						</ul>
					</div>
				</li>
	
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" href="@ViewData["siteLangUrl"]business/merchant-services-form/">
					<span class="px-2">立即申請<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
			</div>
		</section>
		
		<div class="py-section"></div> 
		
		
		<section class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">如欲瞭解更多,敬請透過以下方式與我們聯繫</h3>
			<ul class="list-disc">
				<li>
					Phone: +855: 23885500 / 10885500 / 89885500
				</li>
				<li>Email: <a class="text-green text-underline" href="mailto:merchant@cathaybk.com.kh">merchant@cathaybk.com.kh</a></li>
			</ul>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->