@{
   ViewData["PageTitle"] = "ប្រាក់កម្ចីបុគ្គល";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ប្រាក់កម្ចីបុគ្គល
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-loan.jpg" />
						<img srcset="/assets/img/topkv/personal-loan-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ដំណោះស្រាយឥណទាន</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">ប្រាក់កម្ចីបុគ្គល</li>
			</ol>
		</div>
	</nav>
	
	<!--
		ប្រាក់កម្ចីបុគ្គល - Detail
	-->
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">ប្រាក់កម្ចីបុគ្គល</h1>
		</header>
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">ឥណទានគេហដ្ឋាន</h3>
		<p class="mb-3">
			ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក នឹងជួយសម្រេចក្តីស្រមៃរបស់លោកអ្នក អោយទទួលបាននៅគេហដ្ឋានផ្ទាល់ខ្លួនតាមរយៈឥណទានគេហដ្ឋានរបស់យើងខ្ញុំ។ ឥណទានគេហដ្ឋានអាចជួយលើកកម្ពស់ស្តង់ដារស់នៅរបស់លោកអ្នកអោយសមស្របទៅនឹង បរិយាបថសព្វថ្ងៃនេះផងដែរ ដែលមានដូចជា ការទិញ ការសាងសង់ ឫជួសជុលគេហដ្ឋាន ជាមួយអត្រាការប្រាក់និងទំហំកម្ចីដ៏សមស្រប។ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ក៏បានសហការជាមួយបុរីជាច្រើនផងដែរក្នុងការផ្តល់ជូនតម្លៃល្អៗព្រមទាំងលក្ខខណ្ឌពិសេសៗផងដែរជូនដល់អតិថិជនរបស់ខ្លួន។
		</p>
	
		<!-- Tabular data -->
		<section class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="2" class="h4 h4-mb">លក្ខខណ្ឌផ្សេងៗ</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">រូបិយប័ណ្ណ</th>
							<td>ប្រាក់ដុល្លាអាមេរិកឫប្រាក់រៀល</td>
						</tr>
						<tr>
							<th scope="row">រយៈពេលកម្ចី </th>
							<td>រហូតដល់ ២០ឆ្នាំ</td>
						</tr>
						<tr>
							<th scope="row">វិធីទូទាត់សង</th>
							<td>មានច្រើនជម្រើស</td>
						</tr>
						<tr>
							<th scope="row">អត្រាការប្រាក់ </th>
                            <td>អាចចរចារ</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><!--/.tabular-->  
		
		<div class="py-section"></div>
		
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">ឥណទានសម្រាប់ទុនបង្វិល</h3>
		<p class="mb-3">ធនាគារយើងខ្ញុំនឹងមានការផ្តល់ជូននៅសាច់ប្រាក់សម្រាប់ទ្រទ្រង់សកម្មភាពអាជីវកម្មរបស់លោកអ្នក នៅពេលដែលដើមទុនបង្វិលក្នុងអាជីវកម្មកំពុងជួបការខ្វះខាតឫកកស្ទះចរន្ត។ ឥណទានសម្រាប់ទុនបង្វិលគឺមានសារៈសំខាន់ នៅពេលដែលអាជីវកម្មកំពុងជួបការរាំងស្ទះចរន្តសាច់ប្រាក់សម្រាប់ប្រើប្រាស់ជាទុនបង្វិលផ្សេងៗដូចជា ទុនបង្វិលក្នុងសន្និធិ/ស្តុកទំនិញ ទុនបង្វិលក្នុងទិញជំពាក់ ឫចរន្តនៃការបង្វិលសាច់ប្រាក់ផ្សេងៗ។</p>
		
		 
		<!-- Tabular data -->
		<section class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="2" class="h4 h4-mb">លក្ខខណ្ឌផ្សេងៗ</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">រូបិយប័ណ្ណ</th>
							<td>ប្រាក់ដុល្លាអាមេរិកឫប្រាក់រៀល</td>
						</tr>
						<tr>
							<th scope="row">រយៈពេលកម្ចី </th>
							<td>រហូតដល់ ៧ឆ្នាំសំរាប់ការបង់រំលោះថេរ ឫ១២ខែសំរាប់ឥណទានវិបារូបហ៍</td>
						</tr>
						<tr>
							<th scope="row">វិធីទូទាត់សង</th>
							<td>មានច្រើនជម្រើស</td>
						</tr>
						<tr>
							<th scope="row">អត្រាការប្រាក់ </th>
							<td>អាចចរចារ</td>
						</tr>
						<tr>
							<th scope="row">រយៈពេលអនុគ្រោះទូទាត់ </th>
							<td>អាចចរចារ</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><!--/.tabular--> 
		
		<div class="py-section"></div>
		
		
        <h3 class="h3 h3-mb  mb-3  text-black fw-bolder">ឥណទានសម្រាប់វិនិយោគ</h3>
        <p class="mb-3">ឥណទានសម្រាប់វិនិយោគនឹងមានការផ្តល់ជូននៅសាច់ប្រាក់ឫដើមទុនបន្ថែម សម្រាប់អតិថិជនរូបណាដែលកំពុងត្រូវការដើមទុនក្នុងការពង្រីកអាជីវកម្ម។ លោកអ្នកក៏អាចប្រើប្រាស់ឥណទានប្រភេទនេះសម្រាប់ការទិញឫកែលម្អរទីតាំងអាជីវកម្ម, ហាងលក់ទំនិញ, រោងចក្រ, សំភារៈបរិក្ខាផ្សេងៗ ដែលអាចនឹងជួយពង្រឹងប្រតិបត្តិការអាជីវកម្មរបស់លោកអ្នកអោយកាន់តែប្រសើរឡើងមួយកម្រិតថែមទៀត។</p>
		
		  
		<!-- Tabular data -->
		<section class="tabular">
			<div class="table-responsive-lg">
				<table class="table h5-mb text-center">
					<colgroup>
						<col width="40%">
						<col width="60%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" colspan="2" class="h4 h4-mb">លក្ខខណ្ឌផ្សេងៗ</th> 
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">រូបិយប័ណ្ណ</th>
							<td>ប្រាក់ដុល្លាអាមេរិកឫប្រាក់រៀល</td>
						</tr>
						<tr>
							<th scope="row">រយៈពេលកម្ចី </th>
							<td>រហូតដល់ ៧ឆ្នាំ</td>
						</tr>
						<tr>
							<th scope="row">វិធីទូទាត់សង</th>
							<td>មានច្រើនជម្រើស</td>
						</tr>
						<tr>
							<th scope="row">អត្រាការប្រាក់ </th>
							<td>អាចចរចារ</td>
						</tr>
						<tr>
							<th scope="row">រយៈពេលអនុគ្រោះទូទាត់ </th>
							<td>អាចចរចារ</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section><!--/.tabular-->
		
		<div class="py-section"></div>
		
		
		<h3 class="h3 h3-mb  mb-3  text-black fw-bolder">ឥណទានបុនសម្រាប់ហិរញ្ញប្បទាន</h3>
		<p class="mb-3">ឥណទានបុនសម្រាប់ហិរញ្ញប្បទាន/ឥណទានសម្រាប់បង់ផ្តាច់កម្ចីចាស់ នឹងធ្វើការផ្តល់ជូនគ្រប់អតិថិជនទាំងឡាយណា ដែលកំពុងតែស្វែងរកឥណទានដែលមានលក្ខខណ្ឌផ្សេងពីឥណទានចាស់ ដូចជាទទួលបានអត្រាការប្រាក់ទាបជាងមុន ចំនួនកម្ចីឥណទានល្អជាងមុន ឫក៏មានរយៈពេលសងប្រាក់ដែលប្រសើរជាងមុន ហើយអតិថិជនក៏អាចនឹងទទួលបាននៅដើមទុនបន្ថែមសម្រាប់យកទៅប្រើប្រាស់លើតម្រូវការផ្ទាល់ខ្លួនផ្សេងៗ ឫពង្រីកប្រតិបត្តិការអាជីវកម្មជាដើម។</p>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->