@{
    ViewData["PageTitle"] = "Customer Lucky Draw";
 }
 <!-- Page START -->
 <main class="mastbody">
     
     <!--
         Customer Lucky Draw
     -->
   	<style>
		.topkv img{
			width:100%;
		}
	</style>
     <div class="topkv kv">
        <figure>
            <picture>
                <img srcset="/assets/img/event_km/banner/banner-6-lg-kh.jpg">
            </picture>
        </figure>
     </div>
     
     <!--
         Privacy & Security - Detail
     -->
     <section class="fluid overflow-hidden">
         <div class="py-page"></div>
         
         <div class="compact">


             <!-- Block heading -->
            <h2 class="h2 h2-mb  mb-2  text-dark fw-bolder">កម្មវិធីប្រូម៉ូសិនរវាង សាជីវកម្មធនាគារកាថេយូណៃធីត(កម្ពុជា)ចំកាត់ ហៅកាត់ថា (CUBC) និង Smile Shop</h2>
            <h3 class="mt-4 h3 h3-mb  mb-2  text-dark fw-bolder">រយៈពេលប្រូម៉ូសិន៖ </h3>
            <ul class="list-disc mb-3">
                <li>ចាប់ពីថ្ងៃទី ០១ វិច្ឆិកា ២០២៣ ដល់ថ្ងៃទី ៣០ វិច្ឆិកា ២០២៣។</li>
            </ul>

            <h3 class="mt-4 h3 h3-mb  mb-2  text-dark fw-bolder">សិទ្ធិក្នុងការចូលរួម៖</h3>
            <h3 class="mt-4 h3 h3-mb  mb-2  text-dark "> កម្មវិធីប្រូម៉ូសិននេះ មានសុពលភាពសម្រាប់៖</h3>
            <ul class="list-disc mb-3">
                <li>អតិថិជន Smile Shop ដែលទើបបើកគណនីឌីជីថល CUBC ថ្មីក្នុងអំឡុងពេលប្រូម៉ូសិន</li>
                <li>អតិថិជនថ្មីដែលបើកគណនីនៅតាមសាខា CUBC</li>
                <li>បុគ្គលិករបស់ CUBC មិនមានសិទ្ធិសម្រាប់ចូលរួមកម្មវិធីប្រូម៉ូសិននេះទេ។</li>
            </ul>

            <h3 class="mt-4 h3 h3-mb  mb-2  text-dark fw-bolder">ដំណើរការប្រូម៉ូសិន៖</h3>
            <ul class="list-disc mb-3">
                <li>ទទួលបានប្រាក់ត្រលប់មកវិញចំនួន២០ដុល្លារ នៅពេលអតិថិជនធ្វើប្រតិបត្តិការសរុបស្មើ ឬលើសពី ១០០ដុល្លារ ជាមួយការទូទាត់ប្រាក់តាមរយៈ CUBC QR Pay នៅក្នុងកម្មវិធី Smile Shop ឬគេហទំព័រ Smile Shop ។</li>
            </ul>


            <h3 class="mt-4 h3 h3-mb  mb-2  text-dark fw-bolder">ជំហានងាយៗ ដើម្បីទទួលបានប្រាក់២០ដុល្លារត្រលប់មកវិញ៖</h3>
            <ul class="list-disc mb-3">
                <li>បង្កើតគណនីឌីជីថល CUBC ដោយខ្លួនឯង ឬទៅកាន់សាខាណាមួយរបស់ធនាគារ CUBC ដើម្បីបើកគណនី</li>
                <li>សម្រាប់អតិថិជនថ្មីរបស់ Smile Shop សូមចូលទៅកាន់ Apple Store ឬ Google Play ដើម្បីទាញយកកម្មវិធី Smile Shop បង្កើតគណនី និងធ្វើការបញ្ជារទិញ។ សម្រាប់អតិថិជន Smile Shop ដែលមានគណនីស្រាប់ សូមចូលទៅកាន់កម្មវិធី Smile Shop ឬតាមគេហទំព័រ Smile Shop ដើម្បីធ្វើការបញ្ជារទិញ</li>
                <li>សូមធ្វើការបញ្ជាក់ការបញ្ជារទិញរបស់លោកអ្នកនៅលើកម្មវិធី Smile Shop ឬតាមគេហទំព័រ Smile Shop ឱ្យបានច្បាស់លាស់</li>
                <li>ចូលទៅកាន់វិធីទូទាត់ប្រាក់ ហើយជ្រើសរើស Smile KHQR</li>
                <li>ទាញយក Smile KHQR ចូលទៅក្នុងទូរស័ព្ទរបស់លោកអ្នក</li>
                <li>ចូលទៅកាន់កម្មវិធី CUBC mBanking ហើយបើកការស្កេន QR បង់ប្រាក់</li>
                <li>បញ្ចូល Smile KHQR ចូលទៅក្នុង CUBC QR pay scan និងធ្វើការបង់ប្រាក់ដោយជោគជ័យ។</li>
            </ul>
            <h3 class="mt-4 h3 h3-mb  mb-2  text-dark fw-bolder">លក្ខខណ្ឌផ្សេងៗដែលត្រូវបានអនុវត្ត៖</h3>
            <ul class="list-disc mb-3">
                <li>អតិថិជនម្នាក់ៗអាចមានសិទ្ធិទទួលបានសាច់ប្រាក់ត្រឡប់មកវិញតែម្តងប៉ុណ្ណោះសម្រាប់ការផ្តល់ជូនពិសេសនេះ</li>
                <li>ការផ្ដល់ជូននេះ មានសម្រាប់តែអតិថិជន ១០០ នាក់ដំបូងក្នុងអំឡុងពេលនៃការផ្ដល់ប្រូម៉ូសិនតែប៉ុណ្ណោះ</li>
                <li>ក្នុងករណីអតិថិជនប្ដូរទំនិញជាទឹកប្រាក់វិញ CUBC សូមរក្សាសិទ្ធិមិនផ្តល់រង្វាន់ជាសាច់ប្រាក់ត្រលប់វិញទេ ប្រសិនបើតម្លៃទិញសរុបក្រោម ១០០ ដុល្លារបន្ទាប់ពីការទូទាត់ប្រាក់។ (សម្រាប់អតិថិជនដែលទិញទំនិញជាច្រើនក្នុងវិក្កយបត្រតែមួយ ហើយប្ដូរទំនិញដែលបានជ្រើសរើសរួច) </li>
                <li>អតិថិជនត្រូវទិញនៅលើកម្មវិធី Smile shop ឬគេហទំព័រ Smile shop ក្នុងអំឡុងពេលប្រូម៉ូសិន ប្ដូរទំនិញជាទឹកប្រាក់វិញ មុនថ្ងៃទី ០៧ ខែធ្នូ ឆ្នាំ ២០២៣ ហើយនៅតែមានប្រតិបត្តិការទិញសរុបស្មើ ឬលើសពី ១០០ ដុល្លារដើម្បីមានសិទ្ធិទទួលបានប្រូម៉ូសិននេះ</li>
                <li>ចំពោះទឹកប្រាក់ត្រលប់មកវិញ ២០ ដុល្លារ នឹងត្រូវជាប់ពន្ធកាត់ទុក និងការចំណាយចាំបាច់ផ្សេងៗទៀត។ ហើយចំនួនទឹកប្រាក់បន្ទាប់ពីការចំណាយទៅលើពន្ធកាត់ទុក និងការចំណាយចាំបាច់ផ្សេងៗទៀត នឹងត្រូវដាក់បញ្ចូលទៅគណនី CUBC របស់អ្នកឈ្នះក្នុងរយៈពេល ១៥ ថ្ងៃនៃថ្ងៃធ្វើការបន្ទាប់ពីរយៈពេលប្រូម៉ូសិនបានបញ្ចប់</li>
                <li>ក្នុងវិសាលភាពដែលអនុញ្ញាតដោយច្បាប់ និងបទប្បញ្ញត្តិ និងដើម្បីការពារផលប្រយោជន៍អាជីវកម្មស្របច្បាប់របស់ CUBC យើងខ្ញុំសូមរក្សាសិទ្ធិគ្រប់យ៉ាងក្នុងការសម្រេចចិត្តបញ្ចប់កម្មវិធី កែប្រែ លុប ឬបន្ថែមលើលក្ខខណ្ឌណាមួយនៃលក្ខខណ្ឌទាំងនេះ។ ការជូនដំណឹងនឹងត្រូវផ្តល់ជូននៅពេលមានវិសោធនកម្ម ឬការបញ្ចប់លក្ខខណ្ឌណាមួយ។</li>
                <li>CUBC នឹងខិតខំប្រឹងប្រែងឱ្យអស់ពីលទ្ធភាពស្របតាមគោលការណ៍របស់ធនាគារ ដើម្បីដោះស្រាយវិវាទណាមួយដែលអាចកើតឡើងក្នុងរយៈពេលប្រម៉ូសិននេះ។</li>
            </ul>


             <div class="mt-5 mx-auto">
                 <a class="btn btn-green mt-2 mt-md-3" href="@ViewData["siteLangUrl"]event/#event">Back<i class="ico-ui-right-v ml-2 big"></i></a>
             </div>
         </div>
         
         <div class="py-page"></div>
     </section>
     
 </main>
 <!-- Page END -->