@model IndexViewModel

@if (ViewBag.lang == "zh-hant-other")
{
    ViewBag.PageTitle = "人才招募";
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageTitle = "Careers - Full Stack Developer, Treasury Solution";
    ViewBag.PageDescription = "";
}


@section Scripts {}
@if (ViewBag.lang == "zh-hant-other")
{
}
else
{
    <div class='component-oversea-kv-short'>
        <div class="coks-inner">
            <div class="coks-content">
                <h1 class='coks-title'>Careers</h1>
            </div>
            <figure class='coks-figure'>
                <picture>
                    <source media='(min-width: 768px)'
                            srcset='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/careers-lg.jpg")' />
                    <img class='coks-img' src='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/careers.jpg")' alt='Careers'>
                </picture>
                <figcaption hidden>Careers</figcaption>
            </figure>
        </div>
    </div>

    <div class='component-oversea-careers-detail'>
        <div class="cocd-inner">
            <h1 class='cocd-title'>
                Full Stack Developer, Treasury Solution
            </h1>
            <div class='cocd-content-wrap'>
                <h2 class='cocd-content-title'>Responsibilities:</h2>
                <ul class='cocd-content-ul'>
                    <li class='cocd-content-li'>Work closely with Front Office and Middle Office to design, develop and maintain automated trading platform for the Treasury and Private Banking businesses</li>
                    <li class='cocd-content-li'>Build and maintain close partnership with business stakeholders to onboard new revenue drivers for the bank</li>
                    <li class='cocd-content-li'>Perform technical design, development, testing and documentation for new business initiatives</li>
                    <li class='cocd-content-li'>Provide support for system rollout and implementation</li>
                </ul>
            </div>

            <div class='cocd-content-wrap'>
                <h2 class='cocd-content-title'>Ideal candidates should possess:</h2>
                <ul class='cocd-content-ul'>

                    <li class='cocd-content-li'>Degree holder in Computer Science/Information Technology or related disciplines</li>
                    <li class='cocd-content-li'>At least 5 years’ relevant experience gained in Treasury Solutions; understanding and relevant experience in Bank Front Office and/or Middle Office is a plus</li>
                    <li class='cocd-content-li'>Solid skill in Java development (Java 8 or above is preferred)</li>
                    <li class='cocd-content-li'>Familiar with Spring Boot and typical Spring REST stack (eg: JPA, security, Swagger)</li>
                    <li class='cocd-content-li'>Experience with UI design and modern JavaScript frameworks (e.g. Vue.js) and Node js/Webpack/TypeScript is a plus</li>
                    <li class='cocd-content-li'>ECF-Fintech certification holder an added advantage</li>
                    <li class='cocd-content-li'>Fluent in Mandarin, English, and Cantonese</li>
                </ul>
            </div>
            <div class='cocd-btn-wrap'>
                <a href="@Url.Content("~/hongkong/en/careers/jobs")" class="cocd-btn">Back</a>
            </div>
        </div>
    </div>





}
@RenderPage("../careers-support-card.cshtml")