@{
    ViewData["PageTitle"] = "Welcome Gift";
 }
 <!-- Page START -->
 <main class="mastbody">
     
     <!--
         Welcome Gift
     -->
     	<style>
		.topkv img{
			width:100%;
		}
	</style>
     <div class="topkv kv">
        <figure>
            <picture>
                <img srcset="/assets/img/event/banner/welcome-gift.jpg">
            </picture>
        </figure>
     </div>
     
     <!--
         Privacy & Security - Detail
     -->
     <section class="fluid overflow-hidden">
         <div class="py-page"></div>
         
         <div class="compact">
             <!-- Block heading -->
             <h3 class="h3 h3-mb  mb-2  text-dark fw-bolder">Terms and Conditions:</h3>
             <ul class="list-disc mb-3">
                <li>Promotion Period: 8<sup>th</sup> April 2023 to 7<sup>th</sup> July 2023</li>
                <li>This promotion is eligible for all new CUBC Digital Accountholders who opened successfully during the promotion period and applicable for the first 3000 customers only.</li>
                <li>The Three Dollars (3$) cashback will be deposited immediately into CUBC Digital Account USD currency.</li>
                <li>Each customer can only be eligible for the cashback once for this promotion.</li>
                <li>To the extent permitted by laws and regulation, and to protect the legitimate business interests, CUBC shall at its discretion to terminate this promotion or vary, delete, or add to any of these terms and conditions without prior notice.</li>
                <li>CUBC will use respective best efforts to resolve any dispute(s) that may arise regarding this promotion. Learn more, please visit <a href="https://www.cathaybk.com.kh" class="text-green-dark">www.cathaybk.com.kh</a>or contact our customer service by 023 88 55 00/069 88 55 00.</li>
             </ul>

             <div class="mt-32 mx-auto">
                 <a class="btn btn-green mt-2 mt-md-3" href="@ViewData["siteLangUrl"]event/#event">Back<i class="ico-ui-right-v ml-2 big"></i></a>
             </div>
         </div>
         
         <div class="py-page"></div>
     </section>
     
 </main>
 <!-- Page END -->