<!-- Terms & Conditions -->
<section class="compact">
    <!-- Section heading -->
    <h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">ខចែង និងលក្ខខណ្ឌ</h3>
    
    <p class="text-center mb-3 tcHint"><a class="text-green text-underline" href="@ViewData["siteLangUrl"]personal/terms-and-conditions-Merchant-app/">សូមចុចទីនេះ</a> ដើម្បីអានពីសុវត្ថិភាពឯកជនភាពរបស់ធនាគារយើងខ្ញុំសម្រាប់កម្មវិធី CUBC Merchant។</p>

        <!-- FAQ list -->
 
    <!-- QA item digital-account -->
    <section data-label="digital-account" class="qaitem" js-foldable-group="internet">
        <div class="qaitem-title" role="button" tabindex="0" js-foldable-head>
            <h5 class="qaitem-title-txt  h3 h3-mb text-dark fw-bold">
                កិច្ចព្រមព្រៀងលើកម្មវិធីទូរស័ព្ទ CUBC Merchant
            </h5>
        </div>
        <div class="qaitem-detail" js-foldable-body>
            <div class="qaitem-detail-content">
                <div style="margin: 20px; font-family: 'Roboto', 'Hanuman', 'Noto Sans TC', Helvetica, Arial, sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; text-align: left; white-space: pre-wrap; ">
កិច្ចព្រមព្រៀងលើកម្មវិធីទូរស័ព្ទCUBC Merchant

<strong>1. 	ការណែនាំអំពីកិច្ចព្រមព្រៀង</strong>
កិច្ចព្រមព្រៀងលើកម្មវិធីទូរស័ព្ទ CUBC Merchant  (ហៅកាត់ថា “កិច្ចព្រមព្រៀង”) រវាងពាណិជ្ជករ “អ្នក” និងធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ។ (តទៅនេះហៅថា “CUBC”) ទាក់ទងនឹងការប្រើប្រាស់កម្មវិធីទូរស័ព្ទ CUBC Merchant ដោយអ្នកជាពាណិជ្ជករ ។

លក្ខខណ្ឌនឹងត្រូវបានអនុវត្តភ្លាមៗនៅពេលដែលអ្នកចុចលើពាក្យ “យល់ព្រម” ហើយអ្នកត្រូវបានចាត់ទុកថាទទួលយកលក្ខខណ្ឌទាំងនេះមុនពេលអ្នកអាចប្រើប្រាស់សេវាកម្មរបស់ធនាគារយើងខ្ញុំ។ វាជាការសំខាន់ណាស់ដែលអ្នកអានលក្ខខណ្ឌទាំងនេះមុនពេលអ្នកប្រើកម្មវិធី CUBC Merchant ។

ដោយចុចលើពាក្យ “យល់ព្រម” មានន័យថាអ្នកយល់ព្រមតាមលក្ខខណ្ឌទាំងអស់នៅក្នុងកិច្ចព្រមព្រៀងនេះ នឹងទទួលខុសត្រូវក្នុងការបង្កើតគណនី Merchant របស់អ្នកជាមួយ CUBC។

ប្រសិនបើអ្នកជ្រើសរើសមិនទទួលយកលក្ខខណ្ឌទាំងនេះ ឬការកែប្រែណាមួយ សូមកុំបន្ត  ហើយបញ្ឈប់ការចូលប្រើប្រាស់ភ្លាមៗ និង/ឬប្រើប្រាស់កម្មវិធីទូរស័ព្ទ CUBC Merchant ។

<strong>2. 	និយមន័យ</strong>
នៅក្នុងកិច្ចព្រមព្រៀងនេះពាក្យនិងឃ្លាខាងក្រោមមានអត្ថន័យដូចខាងក្រោម៖
<strong>CUBC:</strong> ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក.
<strong>CUBC Merchant (Mobile App):</strong> សំដៅលើ កម្មវិធីទូទាត់ប្រាក់ដែលផ្តល់ដោយ "CUBC" ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ។សេវាកម្មនេះអនុញ្ញាតឱ្យអាជីវករទទួលប្រតិបត្តិការទូទាត់តាមអ៊ីនធឺណិតតាមរយៈធនាគារផ្ទាល់ និងការទូទាត់ឆ្លងកាត់បាគងតាមវិធីជាច្រើនដើម្បីដំណើរការប្រតិបត្តិការធនាគារ និងការទូទាត់សម្រាប់អតិថិជន។
<strong>CUBC IP (កម្មសិទ្ធិបញ្ញា):</strong> សំដៅលើការងារ ឬការច្នៃប្រឌិតណាមួយដែលបង្កើតឡើងដោយ CUBCប៉ុន្តែមិនកំណត់ចំពោះកម្មវិធីCUBC Merchant ឯកសារ និងកម្មសិទ្ធិបញ្ញាទាំងអស់ និង
បច្ចេកវិទ្យាពាក់ព័ន្ធណាមួយដែលប្រើដោយអនុលោមតាមកិច្ចព្រមព្រៀង។ នេះរួមបញ្ចូល ប៉ុន្តែមិនកំណត់ចំពោះសិទ្ធិកម្មបញ្ញាទាំងអស់ដែលទាក់ទងនឹងកម្មវិធី CUBC Merchant និង ឯកសារ ។
<strong>ពាណិជ្ជករ:</strong> សំដៅលើបុគ្គល ឬអង្គភាពដែលជាម្ចាស់ប្រតិបត្តិការអាជីវកម្ម ហើយបានចុះឈ្មោះ ជោគជ័យជាមួយសេវាកម្ម Merchant KHQR របស់ CUBC ដើម្បីប្រើប្រាស់ កម្មវិធីCUBC Merchant។
<strong>អ្នកប្រើប្រាស់ដែលមិនមែនពាណិជ្ជករ:</strong> សំដៅលើបុគ្គល ឬអង្គភាពដែលមិនត្រូវបានចុះឈ្មោះជាមួយ CUBC ដើម្បីប្រើប្រាស់កម្មវិធីCUBC Merchant។
<strong>អ្នកគិតលុយ:</strong> សំដៅលើបុគ្គលដែលត្រូវបានអនុញ្ញាតដោយពាណិជ្ជករដែលមានឈ្មោះអ្នកប្រើប្រាស់ និងពាក្យសម្ងាត់ ដើម្បីប្រើប្រាស់កម្មវិធី CUBC Merchant  ក្នុងនាមជាអ្នកតំណាងឲ្យអ្នកជំនួញសម្រាប់ ទទួលយកការទូទាត់ និងទទួលប្រតិបត្តិការចូល KHQR ពីអតិថិជន។
<strong>អ្នកប្រើប្រាស់ដែលមិនមែនជាអ្នកគិតលុយ:</strong> សំដៅលើបុគ្គលដែលមិនត្រូវបានអនុញ្ញាតដោយពាណិជ្ជករឱ្យប្រើប្រាស់កម្មវិធី CUBC Merchant។
<strong>ឧបករណ៍ចល័ត:</strong> សំដៅលើឧបករណ៍ប៉ុន្តែមិនកំណត់ចំពោះស្មាតហ្វូន ថេប្លេត និងឧបករណ៍ផ្សេងទៀតដែលមានមុខងារទាក់ទង់និងការតភ្ជាប់អ៊ីនធឺណិត។
<strong>កម្មវិធីទូរស័ព្ទ (ហៅកាត់ថា "Mobile App"):</strong> សំដៅលើកម្មវិធីណាមួយដែលបានដំឡើងនៅលើឧបករណ៍ចល័ត។
<strong>ការទូទាត់ QR កូដ:</strong> សំដៅលើការទូទាត់ដោយមិនចាំបាច់ឆ្លងកាត់ការផ្ទេរប្រាក់តាមរយៈធនាគារ ដែលធ្វើឡើងដោយការស្កែន QRពីកម្មវិធីទូរស័ព្ទដោយអនុលោមតាមបទប្បញ្ញត្តិ KHQR ពីធនាគារជាតិនៃកម្ពុជា។
<strong>ឈ្មោះអ្នកប្រើប្រាស់:</strong> សំដៅលើការកំណត់អត្តសញ្ញាណតែមួយគត់ដែលបង្កើតឡើងដោយពាណិជ្ជករ ឬអ្នកគិតលុយដែលប្រើសម្រាប់ការចូលគណនី CUBC Merchant។
<strong>ពាក្យសម្ងាត់:</strong> សំដៅលើការរួមបញ្ចូលគ្នាសម្ងាត់នៃតួអក្សរ លេខ ឬនិមិត្តសញ្ញាដែលបានបង្កើតឡើងដើម្បីចូលប្រើគណនី CUBC Merchant។
<strong>Dynamic QR កូដ:</strong> សំដៅលើ QR កូដតែមួយគត់ដែលបង្កើតដោយពាណិជ្ជករនៅលើកម្មវិធី CUBC Merchant ដែលមានព័ត៌មានរបស់អ្នកជំនួញ និងតម្លៃនៃទំនិញ ឬសេវាកម្មដែលអាចស្កេនដោយអតិថិជនដើម្បីចាប់ផ្តើមប្រតិបត្តិការ។
<strong>Static QR កូដ:</strong> សំដៅលើ QR កូដតែមួយគត់ដែលមានព័ត៌មានថេរដែលបង្កើតឡើងដោយពាណិជ្ជករនៅលើកម្មវិធី CUBC Merchant ដែលមានតែព័ត៌មានរបស់អ្នកជំនួញដែលតម្រូវឱ្យអតិថិជនបញ្ចូលចំនួនទឹកប្រាក់ទិញមុនពេលចាប់ផ្តើមប្រតិបត្តិការ។
<strong>មុខងារគ្រប់គ្រងអាជីវកម្ម:</strong> សំដៅលើមុខងារដែលអនុញ្ញាតឱ្យពាណិជ្ជករ គ្រប់គ្រងអាជីវកម្ម និងសាខាដែលបានចុះបញ្ជីរួមទាំងការបង្កើត និងគ្រប់គ្រងអ្នកប្រើប្រាស់ដែលមិនមែនជាអ្នកគិតលុយ។
<strong>មុខងារប្រវត្តិប្រតិបត្តិការ:</strong> សំដៅលើមុខងារដែលអនុញ្ញាតឱ្យពាណិជ្ជករមើលចំនួនសរុបនិងប្រតិបត្តិការ ប្រវត្តិប្រតិបត្តិការលម្អិតសម្រាប់សាខាអាជីវកម្មនីមួយៗ។
<strong>ការបង្កើតQR កូដ:</strong> សំដៅលើការបង្កើតQR កូដ CUBC KHQR static និង dynamic សម្រាប់ការទទួលការទូទាត់ពីអតិថិជន។
<strong>ការកំណត់សុវត្ថិភាព:</strong> សំដៅលើមុខងារគ្រប់គ្រងការកំណត់សុវត្ថិភាពគណនីរបស់អ្នក ការផ្លាស់ប្តូរ ឬកំណត់កូដ PIN របស់អ្នកឡើងវិញ ការចុះឈ្មោះ ផ្ទៀងផ្ទាត់ជីវមាត្រ (ការសម្គាល់ទម្រង់មុខ ឬស្នាមម្រាមដៃ) និងការផ្លាស់ប្តូរ ឬកំណត់ពាក្យសម្ងាត់របស់អ្នកឡើងវិញ។

<strong>3. 	កាតព្វកិច្ចរបស់ពាណិជ្ជករ</strong>
ពាណិជ្ជករត្រូវទទួលខុសត្រូវទាំងស្រុងចំពោះសុវត្ថិភាព និងការសម្ងាត់នៃអត្តសញ្ញាណអ្នកប្រើប្រាស់ ពាក្យសម្ងាត់ លេខអត្តសញ្ញាណផ្ទាល់ខ្លួន (PIN) លេខកូដផ្ទៀងផ្ទាត់ ពាក្យសម្ងាត់ប្រើតែមួយដង (OTP) ដែលប្រើដើម្បីចូលប្រើកម្មវិធី CUBC Merchant។

ពាណិជ្ជករទទួលស្គាល់ និងយល់ព្រមទទួលខុសត្រូវទាំងស្រុងចំពោះការគ្រប់គ្រងការត្រួតពិនិត្យអ្នកគិតលុយរបស់ខ្លួននិងបុគ្គលិកណាដែលមានសិទ្ធិប្រើប្រាស់កម្មវិធីCUBC Merchant។លេខទូរស័ព្ទដែលបានបញ្ជាក់នឹងត្រូវចាត់ទុកថាត្រូវបានអនុញ្ញាតដោយពាណិជ្ជករ។ លើសពីនេះ ពាណិជ្ជករទទួលស្គាល់ថា ការណែនាំណាមួយនិង លេខទូរស័ព្ទទាំងឡាយណាដែលបានចុះឈ្មោះជាមួយកម្មវិធី CUBC Merchant សម្រាប់គណនីនេះក៏ត្រូវតែដូចនឹងលេខទូរសព្ទដែលបានចុះឈ្មោះនៅពេលបើកគណនីជាមួយ CUBC ផងដែរ។

ពាណិជ្ជករត្រូវជូនដំណឹងទៅធនាគារភ្លាមៗជាលាយលក្ខណ៍អក្សរ ឬតាមរយៈបណ្តាញទំនាក់ទំនងផ្នែកបម្រើអតិថិជនរបស់ធនាគារយើងអំពីការបាត់បង់ ការលួច ឬការប្រើប្រាស់ឧបករណ៍ចល័ត ឬលេខទូរស័ព្ទដែលគ្មានការអនុញ្ញាតដែលពាក់ព័ន្ធជាមួយកម្មវិធី CUBC Merchant ក្នុងករណីដែលមានបញ្ហាទាក់ទងនឹងកម្មវិធីទូរស័ព្ទ ឬសេវាកម្ម ពាណិជ្ជករត្រូវស្នើសុំធនាគារឱ្យផ្អាកសេវាកម្មកម្មវិធី CUBC Merchant និង/ឬផ្លាស់ប្តូរលេខទូរស័ព្ទ។

ពាណិជ្ជករត្រូវទទួលខុសត្រូវទាំងស្រុងក្នុងការត្រួតពិនិត្យនិងកំណត់អត្តសញ្ញាណ ភាពមិនប្រក្រតីឬភាពមិនត្រឹមត្រូវគ្នាណាមួយនៅក្នុងប្រតិបត្តិការដែលបានដំណើរការតាមរយៈកម្មវិធី CUBC Merchant ឬ ក្នុងគណនីធនាគាររបស់ពាណិជ្ជករ។ អាជីវករយល់ព្រមជូនដំណឹងដល់ CUBC ភ្លាមៗអំពីកំហុស ឬភាពមិនត្រឹមត្រូវ។ នៅពេលបានទទួលការជូនដំណឹង CUBCនឹងធ្វើការស៊ើបអង្កេតលើបញ្ហានេះនិងចាត់វិធានការដែលសមស្របដើម្បីកែសម្រួលកំហុសណាមួយនៅក្នុងកម្មវិធីឬដំណើរការប្រតិបត្តិការ។ទោះជាយ៉ាងណាក៏ដោយការខកខានការជូនដំណឹងរបស់ពាណិជ្ជករមកកាន់ CUBC អំពីកំហុសឆ្គងណាមួយពាណិជ្ជករននឹងទទួលខុសត្រូវទាំងស្រុងចំពោះការបាត់បង់ ការខូចខាត និងការចំណាយទាំងអស់ដែលកើតឡើងពីកំហុសឆ្គងណាមួយ។

ពាណិជ្ជករត្រូវតែជូនដំណឹងដល់ CUBC ក្នុងទម្រង់នៃការជូនដំណឹងជាលាយលក្ខណ៍អក្សរក្នុងរយៈពេលបី (3) ថ្ងៃនៃថ្ងៃធ្វើការ ប្រសិនបើមានករណីកើតឡើងដូចខាងក្រោម ៖
 • ការផ្លាស់ប្តូរព័ត៌មានណាមួយអាចដាក់ជូន CUBC នៅក្នុងទម្រង់ជាពាក្យស្នើរសុំអាចធ្វើឡើងនៅសាខា CUBC ប៉ុណ្ណោះ។
 • ការផ្លាស់ប្តូរជាមូលដ្ឋាននៃអាជីវកម្មពាណិជ្ជករ រួមទាំងការលក់ផលិតផល ឬសេវាកម្មណាមួយដែលមិនទាក់ទងដោយផ្ទាល់ទៅនឹងអាជីវកម្មបច្ចុប្បន្នរបស់ពាណិជ្ជករ នឹងក្លាយជាការបំពានលើកិច្ចព្រមព្រៀងនេះ។
 • ការផ្លាស់ប្តូរភាពជាម្ចាស់ ឬការគ្រប់គ្រងអាជីវកម្មរួមទាំងការបញ្ចប់ភាពជាដៃគូសហការរបស់អាជីវកម្ម។
 • មុខជំនួញត្រូវរំលាយ ឬត្រូវបានវិនិច្ឆ័យថាក្ស័យធន។
 • ការផ្លាស់ប្តូរណាមួយកើតឡើងនៅក្នុងស្ថានភាពហិរញ្ញវត្ថុ របស់ពាណិជ្ជករដែលអាចជះឥទ្ធិពលដល់សមត្ថភាពក្នុងការបំពេញកាតព្វកិច្ចជាម្ចាស់អាជីវកម្ម ការលំបាកផ្នែកហិរញ្ញវត្ថុ ឬការផ្លាស់ប្តូរក្នុងប្រតិបត្តិការអាជីវកម្ម។
 • បញ្ហាបច្ចេកទេសណាមួយទាក់ទងនឹងកម្មវិធី CUBC Merchant អាចទាក់ទង CUBC តាមរយៈបណ្តាញទំនាក់ទំនងដោយទាក់ទងផ្នែកសេវាកម្មអតិថិជនរបស់ធនាគារយងខ្ញុំ។
ក្នុងករណីដែលពាណិជ្ជករខកខានមិនបានជូនដំណឹងដល់ CUBC ភ្លាមៗអំពីបញ្ហាណាមួយដែលបានបញ្ជាក់នៅទីនេះ CUBC មានសិទ្ធិក្នុងការផ្អាក ឬបញ្ចប់សេវាកម្មរបស់ពាណិជ្ជករដោយមិនចាំបាច់ជូនដំណឹងជាមុន។

ពាណិជ្ជករធានា និងតំណាងឱ្យព័ត៌មានទាំងអស់ដែលផ្តល់ទៅឱ្យ CUBC ទាក់ទងនឹងកម្មវិធី CUBC Merchant និងឯកសារផ្សេងទៀតដែលបានដាក់ជូនគឺត្រឹមត្រូវ ពេញលេញ ពិតប្រាកដ និងបង្ហាញទាំងស្រុងពីប្រតិបត្តិការអាជីវកម្មរបស់ពាណិជ្ជករ។

ពាណិជ្ជករមិនត្រូវប្រើប្រាស់មុខងារកម្មវិធី CUBC Merchant សម្រាប់ពាណិជ្ជករ ដូចមានចែងក្នុងមាត្រា៧ សម្រាប់គោលបំណងខុសច្បាប់ណាមួយឡើយ។

តាមរយៈការទទួលយកកិច្ចព្រមព្រៀងនេះ ពាណិជ្ជករយល់ព្រមដើម្បីធានាថាអ្នកគិតលុយដែលមានសិទ្ធិចូលប្រើប្រាស់កម្មវិធី CUBC Merchant ត្រូវបានជូនដំណឹងយ៉ាងពេញលេញ និងគោរពតាមលក្ខខណ្ឌដែលមានចែងក្នុងលក្ខខណ្ឌទូទៅទាំងនេះ និងកិច្ចព្រមព្រៀងផ្សេងទៀតដែលបានអនុវត្តពីមុនដោយពាណិជ្ជករ។

<strong>4. 	សកម្មភាពហាមឃាត់</strong>
ពាណិជ្ជករត្រូវធានាថារាល់ព័ត៌មានដែលបានផ្តល់ និងសកម្មភាពទាំងអស់ដែលធ្វើឡើងតាមរយៈកម្មវិធី CUBC Merchant គឺ៖
 • មិនជាប់ពាក់ព័ន្ធនឹងល្បែងស៊ីសង សកម្មភាពក្លែងបន្លំ ឬក្លែងក្លាយ ចូលរួមក្នុងសកម្មភាពខុសច្បាប់ណាមួយ រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះការខ្ចីប្រាក់ខុសច្បាប់។
 • មិនបានអនុលោមកាតព្វកិច្ចជាមួយ CUBC ក្នុងកិច្ចប្រឆាំងការលាងលុយកខ្វក់  រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះការខកខានក្នុងការផ្តល់អត្តសញ្ញាណ ឬការផ្ទៀងផ្ទាត់ព័ត៌មាន។
 • ទាក់ទងនឹងអាជីវកម្ម ឬសកម្មភាពណាមួយដែលពាក់ព័ន្ធនឹងរូបិយប័ណ្ណគ្រីបតូ វិស័យឌីជីថល ឬឧបករណ៍ហិរញ្ញវត្ថុដែលមិនមានការគ្រប់គ្រងផ្សេងទៀត ដូចជាផលិតផល ឬសេវាកម្មហិរញ្ញវត្ថុដែលមិនត្រូវបានដំណើរការដោយស្របច្បាប់នៅក្រោមច្បាប់ជាធរមានរបស់កម្ពុជា។

<strong>5. 	សិទ្ធិ និងកាតព្វកិច្ចរបស់ CUBC</strong>
CUBC នឹងផ្តល់ឱ្យពាណិជ្ជករនូវសិទ្ធិចូលទៅកាន់កម្មវិធី CUBC Merchant សម្រាប់តែគោលបំណងនៃការអនុញ្ញាត ទទួលប្រតិបត្តិការតែប៉ុណ្ណោះ។ ហើយពាណិជ្ជករយល់និងស្របតាមកម្មវិធីCUBC Merchant មិនសម្រាប់ផ្តល់សេវាផ្ទេរប្រាក់ឡើយ។

កម្មវិធី CUBC Merchant អាចចូលប្រើប្រាស់បាន 24 ម៉ោងក្នុងមួយថ្ងៃ និង 7 ថ្ងៃក្នុងមួយសប្តាហ៍សម្រាប់ទទួលប្រតិបត្តិការនៃការទូទាត់។ CUBC រក្សាសិទ្ធិក្នុងការផ្អាកការចូលប្រើកម្មវិធី CUBC Merchant ជាបណ្ដោះអាសន្នសម្រាប់ការថែទាំប្រព័ន្ធចាំបាច់ ការធ្វើបច្ចុប្បន្នភាពសុវត្ថិភាព និងការជួសជុលប្រព័ន្ធ ឬ ហេតុផលសមស្របណាមួយពីCUBC ។ CUBC នឹងជូនដំណឹងជាមុនអំពីការរំខានណាមួយ នៅពេល ដែលមានកើតឡើង ។

CUBC នឹងផ្តល់ឱ្យពាណិជ្ជករជ្រាបជាមុនមិនតិចជាងសាមសិប (30) ថ្ងៃជាការជូនដំណឹងនៅក្នុងបណ្ដោញទំនាក់ទំនង់ណាមួយចំពោះគោលនយោបាយ និងនីតិវិធីរបស់ CUBC ដែលអាចរំពឹងថានឹងតម្រូវឱ្យមានកិច្ចសហប្រតិបត្តិការពីពាណិជ្ជករ។

CUBCនឹងជូនដំណឹងដល់ពាណិជ្ជករតាមរយៈបណ្តាញទំនាក់ទំនងទាក់ទងនឹងបញ្ហាដែលបានរាយការណ៍ដោយពាណិជ្ជករ។

<strong>6. 	ការចុះឈ្មោះ និងការផ្ទៀងផ្ទាត់</strong>
 • ការចុះឈ្មោះពាណិជ្ជករ៖ ត្រូវតែ រួចរាល់ក្នុងការចុះឈ្មោះជាមួយ CUBC ដោយផ្តល់នូវព័ត៌មានត្រឹមត្រូវនិងពេញលេញសម្រាប់ព័ត៌មានរបស់ពាណិជ្ជករ។ពាណិជ្ជករអាចជ្រើសរើសប្រើប្រាស់កម្មវិធី CUBC Merchant តាមការសម្រេចចិត្តរបស់ពួកគេ។
 • ការផ្ទៀងផ្ទាត់អត្តសញ្ញាណ៖ CUBC តម្រូវឱ្យពាណិជ្ជករឆ្លងកាត់នីតិវិធីផ្ទៀងផ្ទាត់អត្តសញ្ញាណ ដូចជាការផ្តល់ឯកសារអត្តសញ្ញាណដែលបានដាក់ជូន CUBC ជាដើម។

<strong>7. 	ការចូល ប្រើប្រាស់កម្មវិធី</strong>
អាជីវករអ្នកមានសិទ្ធិក្នុងការប្រើប្រាស់មុខងារដូចខាងក្រោម៖
 • ការគ្រប់គ្រងអាជីវកម្ម
 • ប្រវត្តិប្រតិបត្តិការ
 • ការបង្កើតQR កូដ
 • ការកំណត់សុវត្ថិភាព

អ្នកគិតលុយមានសិទ្ធិក្នុងការ ប្រើប្រាស់មុខងារដូចខាងក្រោម៖
 • ប្រវត្តិប្រតិបត្តិការ
 • ការបង្កើតQR កូដ
 • ការកំណត់សុវត្ថិភាព

ពាណិជ្ជករ និងអ្នកគិតលុយត្រូវទទួលខុសត្រូវក្នុងការរក្សាការសម្ងាត់នៃព័ត៌មានសម្ងាត់ របស់ពួកគេនិងសកម្មភាពទាំងឡាយដែលកើតឡើងនៅក្រោមគណនីរបស់ពួកគេ។ អ្នកយល់ព្រមជូនដំណឹងដល់ CUBC ភ្លាមៗអំពីការប្រើប្រាស់គណនីរបស់អ្នកដោយគ្មានការអនុញ្ញាត ឬការរំលោភបំពានលើសុវត្ថិភាព។

អ្នកមិនអាចប្រើកម្មវិធីក្នុងគោលបំណងខុសច្បាប់ ឬហាមឃាត់ណាមួយ ឬតាមស្ថានការណ៏ដែលអាច ធ្វើឱ្យខូចខាតប្រព័ន្ធរបស់កម្មវិធី CUBC Merchant ឬប្រព័ន្ធរបស់ធនាគារCUBCបានទេ។

<strong>8. 	ប្រតិបត្តិការរបស់ពាណិជ្ជករ</strong>
ពាណិជ្ជករទទួលខុសត្រូវទាំងស្រុងចំពោះប្រតិបត្តិការទាំងអស់ណាដែលធ្វើឡើងតាមរយៈកម្មវិធីទូរស័ព្ទដោយប្រើគណនីរបស់អ្នក។ ពាណិជ្ជករទទួលស្គាល់ និងយល់ព្រមថានិយោជិតរបស់ខ្លួន ដោយអាចមើលព័ត៌មានការទូទាត់របស់អតិថិជនទាក់ទងនឹងប្រតិបត្តិការដែលបានដំណើរការតាមរយៈមុខងារកម្មវិធី CUBC Merchant សម្រាប់ពាណិជ្ជករ ។

អ្នកយល់ព្រមអនុវត្តតាមច្បាប់ បទប្បញ្ញត្តិជាធរមានទាំងអស់ ទាំងគោលនយោបាយ និងនីតិវិធីរបស់ CUBC ដែលទាក់ទងនឹងប្រតិបត្តិការរបស់ពាណិជ្ជករ រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះបទប្បញ្ញត្តិស្តីពីការប្រឆាំងការលាងលុយកខ្វក់ និងបទប្បញ្ញត្តិហិរញ្ញប្បទានប្រឆាំងភេរវកម្ម។

CUBC រក្សាសិទ្ធិក្នុងការត្រួតពិនិត្យប្រតិបត្តិការរបស់អ្នកសម្រាប់ការអនុលោមតាមច្បាប់ និងបទប្បញ្ញត្តិជាធរមាន។

អ្នកយល់ព្រមអនុវត្តតាម ការប្រែប្រួលអត្រាប្តូរប្រាក់តាមរូបិយប័ណ្ណ ដោយផ្អែកលើសកម្មភាពគណនីរបស់អ្នក។

<strong>9. 	ថ្លៃសេវា និងការគិតថ្លៃសេវា</strong>
អ្នកយល់ព្រមបង់ថ្លៃសេវា ប្រសិនបើគណនីរបស់អ្នកមិនសកម្មសម្រាប់រយៈពេលមួយដោយផ្អែកលើប្រភេទគណនីចាប់ពីកាលបរិច្ឆេទបង្កើត ឬកាលបរិច្ឆេទប្រតិបត្តិការចុងក្រោយ ហើយក្លាយជា "គណនីអសកម្ម"។

អ្នកយល់ព្រមបង់ថ្លៃសេវាប្រចាំឆ្នាំដែលការអនុវត្តថ្លៃសេវានឹងត្រូវទាក់ទងទៅអ្នកជាមុននឹងការគិតថ្លៃសេវាទាំងអស់ នៅពេលដែលវាដល់កំណត់។

<strong>10. ព័ត៌មានផ្ទាល់ខ្លួន និងការសម្ងាត់</strong>
អ្នកធានាថាព័ត៌មានទាំងអស់ដែលបានផ្តល់នៅទីនេះគឺពិតជាត្រឹមត្រូវជាមួយនឹងតម្រូវការបន្ថែមពី CUBC សម្រាប់ការផ្តល់ព័ត៌មានផ្ទាល់ខ្លួន ឬអាជីវកម្មចាំបាច់ ក្នុងករណីដែលអ្នកបដិសេធ ឬពន្យារពេល អ្នកយល់ព្រមជាមួយ CUBC សម្រាប់ការផ្អាកផ្នែកណាមួយនៃសេវាកម្មឬសេវាកម្មទាំងមូល។

ធនាគារយើងប្រកាន់យកឯកជនភាពរបស់អ្នកខ្ជាប់ខ្ជួន។ព័ត៌មានទាំងអស់ដែលត្រូវបានផ្តល់ជូនដល់ CUBC នឹងត្រូវបានរក្សាទុកជាសម្ងាត់យ៉ាងតឹងរ៉ឹង និងរក្សាដោយប្រពន្ធ័សុវត្ថិភាពរបស់ CUBC ។ ប្រសិនបើអ្នកជ្រើសរើសប្រើប្រាស់សេវាកម្មទាំងនេះ នោះអ្នកយល់ព្រមនឹងគោលការណ៍ឯកជនភាពរបស់កម្មវិធី CUBC Merchant ។

CUBCនឹងខិតខំប្រឹងប្រែងដើម្បីរក្សាព័ត៌មានផ្ទាល់ខ្លួនរបស់អ្នកឱ្យទាន់បច្ចុប្បន្នភាព។ ជាជំនួយដល់ធនាគារយើងខ្ញុំសូមជូនដំណឹងអំពីព័ត៌មានផ្លាស់ប្តូរនិងព័ត៌មានលម្អិតអំពីអាជីវកម្មរបស់លោកអ្នក។

CUBC រក្សាសុវត្ថិភាព និងការសម្ងាត់នៃព័ត៌មានរបស់អ្នក។ ទោះជាយ៉ាងណា CUBC រក្សាសិទ្ធិក្នុងការបង្ហាញព័ត៌មាននេះទៅកាន់អាជ្ញាធរសមស្របស្របតាមច្បាប់កម្ពុជាហើយធនាគារយើងខ្ញុំអាចចែករំលែកព័ត៌មានដែលពាក់ព័ន្ធ (ការគ្រប់គ្រងព័ត៌មានបែបនេះ) ជាមួយក្រុមហ៊ុន Cathay Financial Group រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះ CUB និងក្រុមហ៊ុនដែលពាក់ព័ន្ធ និងភ្នាក់ងារខាងក្រៅដែលត្រូវបានប្រគល់ ដោយធនាគារដើម្បីតម្រូវការនៃការអនុវត្តកម្មវិធី CUBC Merchant ។

<strong>11.  ដែនកំណត់នៃការទទួលខុសត្រូវ</strong>
CUBC នឹងមិនទទួលខុសត្រូវចំពោះការខូចខាតដោយប្រយោល ចៃដន្យ លក្ខខណ្ឌពិសេស រងការខូចខាតខ្លាំង  រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះប្រាក់ចំណេញដែលបាត់បង់ ទិន្នន័យដែលបាត់បង់ ឬការរំខានអាជីវកម្មដែលពាក់ព័ន្ធនឹងការប្រើប្រាស់របស់ពាណិជ្ជករនៃកម្មវិធី CUBC Merchant ឬសេវាកម្មដែលផ្តល់តាមរយៈកម្មវិធីនេះ។

ពាណិជ្ជករត្រូវទទួលខុសត្រូវចំពោះ CUBC ចំពោះការខាតបង់ ការខូចខាត តម្លៃដើម និងការចំណាយទាំងអស់ (រួមទាំង ដោយគ្មានដែនកំណត់ ការខាតបង់ជាបន្តបន្ទាប់) កើតឡើងមកលើ CUBC ពាក់ព័ន្ធនឹងការក្លែងបន្លំ ឬការធ្វេសប្រហែសណាមួយនៅក្នុងកម្មវិធីសម្រាប់ពាណិជ្ជករឬការរំលោភបំពានណាមួយដោយពាណិជ្ជករកម្មវិធី CUBC Merchant ។

ពាណិជ្ជករទទួលស្គាល់ និងយល់ព្រមថាការចែកចាយ ការបញ្ជូន ការបោះពុម្ព ឬការកេងប្រវ័ញ្ចផ្សេងទៀតដោយគ្មានការអនុញ្ញាតចេញពីព័ត៌មានកម្មសិទ្ធិណាមួយដែលបានផ្តល់ ឬមានតាមរយៈកម្មវិធី CUBC Merchant និង/ឬកម្មវិធី ឬផ្នែកណាមួយរបស់វាដោយពាណិជ្ជករត្រូវបានហាមឃាត់យ៉ាងតឹងរ៉ឹង។ អាជីវករទទួលស្គាល់បន្ថែមទៀត និងយល់ព្រមថាការប្រើប្រាស់ដោយគ្មានការអនុញ្ញាតបែបនេះអាចបណ្តាលឱ្យមានសកម្មភាពផ្លូវច្បាប់ រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះការផ្តល់ជំនួយសង្គ្រោះដោយអចេតនា ការខូចខាតរូបិយវត្ថុ និងសំណងផ្សេងទៀតដែលមាននៅក្នុងច្បាប់ ឬដោយសមធម៌។

<strong>12.   វិវាទ និងទំនួលខុសត្រូវរវាងពាណិជ្ជករ អតិថិជន និងអ្នកគិតលុយ</strong>
CUBC នឹងមិនទទួលខុសត្រូវចំពោះជម្លោះណាមួយរវាងពាណិជ្ជករ និងអតិថិជនរបស់ពួកគេឡើយ។ ពាណិជ្ជករទទួលខុសត្រូវទាំងស្រុងក្នុងការដោះស្រាយវិវាទបែបនេះដោយផ្ទាល់ជាមួយអតិថិជនរបស់ពួកគេ។

CUBC នឹងមិនទទួលខុសត្រូវចំពោះវិវាទណាមួយដែលកើតឡើងពី៖
 • កំហុសក្នុងចំនួនទឹកប្រាក់ទូទាត់ដែលបណ្តាលមកពីកំហុសរបស់ពាណិជ្ជករ
 • ការខកខានរបស់ពាណិជ្ជករក្នុងការផ្តល់ទំនិញ ឬសេវាកម្មដល់អតិថិជន ទោះបីជាការទូទាត់ត្រូវបានធ្វើឡើងសម្រាប់ទំនិញ ឬសេវាកម្មហើយក៏ដោយ
 • ភាពមិនអាចទាក់ទងបានរបស់ពាណិជ្ជករ ឬ ពុំអាចទាក់ទងបាន
 • រាល់ទង្វើខុសឆ្គង ក្លែងបន្លំ ឬការធ្វេសប្រហែសរបស់ពាណិជ្ជករ រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះការពុំមានការទាក់ទង ឬកំហុសក្នុងទំនាក់ទំនងពាណិជ្ជករជាមួយអតិថិជនរបស់ កម្មវិធី CUBC Merchant
ពាណិជ្ជករត្រូវតែធានាថាបុគ្គលណាម្នាក់ដែលបានចុះឈ្មោះប្រើប្រាស់កម្មវិធី CUBC Merchant ឬត្រូវបានចាត់តាំងជាអ្នកគិតលុយ ដើម្បីប្រើប្រាស់កម្មវិធី CUBC Merchant មានអាយុយ៉ាងតិច 18 ឆ្នាំ និងទទួលខុសត្រូវទាំងស្រុងក្នុងការផ្ទៀងផ្ទាត់អាយុ និងភាពសមស្របរបស់អ្នកប្រើប្រាស់ដែលមិនមែនជាអ្នកគិតលុយរបស់ពួកគេ និងសម្រាប់សកម្មភាពណាមួយដែលធ្វើឡើងដោយ អ្នកគិតលុយ តាមរយៈកម្មវិធី CUBC Merchant ។
កម្មវិធី CUBC Merchant មិនផ្តល់មុខងារសងប្រាក់វិញទេ។ ប្រសិនបើមានលក្ខខណ្ឌ បង្វិលសងត្រូវបានទាមទារ នោះត្រូវតែត្រូវទទួលការគ្រប់គ្រងដោយពាណិជ្ជករ ឬអ្នកគិតលុយនៅខាងក្រៅកម្មវិធី CUBC Merchant ។ រាល់កំហុស ការពន្យារពេល ឬវិវាទដែលកើតឡើងពីប្រតិបត្តិការបង្វិលសងប្រាក់ជាសាច់ប្រាក់បែបនេះ គឺជាការទទួលខុសត្រូវរបស់ពាណិជ្ជករទាំងស្រុង។ CUBC នឹងមិនទទួលខុសត្រូវចំពោះការបាត់បង់ផ្នែកហិរញ្ញវត្ថុ ការទំនាក់ទំនងមិនត្រឹមត្រូវ ឬការមិនពេញចិត្តរបស់អតិថិជនដែលបណ្តាលមកពីការបង្វិលសងដែលបានដំណើរការនោះទេ។

<strong>13.  វិសោធនកម្ម</strong>
CUBC រក្សាសិទ្ធិក្នុងការកែប្រែ ឬធ្វើបច្ចុប្បន្នភាពលក្ខខណ្ឌទាំងនេះនៅពេលណាមួយ។ ការផ្លាស់ប្តូរណាមួយនឹងមានប្រសិទ្ធភាពនៅពេលបង្ហោះនៅលើគេហទំព័រ CUBC ឬនៅក្នុងកម្មវិធី CUBC Merchant ។ អ្នកបន្តប្រើប្រាស់កម្មវិធីបន្ទាប់ពីការផ្លាស់ប្តូរបែបនេះបង្កើតឱ្យអ្នកទទួលយកលក្ខខណ្ឌដែលបានកែប្រែ។
ប្រសិនបើពាណិជ្ជករបរាជ័យក្នុងការទទួលយកការកែប្រែលើកិច្ចព្រមព្រៀងនេះ ពាណិជ្ជករត្រូវបញ្ចប់កិច្ចព្រមព្រៀងនេះដោយបញ្ឈប់ការប្រើប្រាស់  កម្មវិធី CUBC Merchant ទាំងអស់ មុនពេលកាលបរិច្ឆេទមានប្រសិទ្ធភាពនៃការកែប្រែនោះ ហើយត្រូវគោរពតាមលក្ខខណ្ឌដែលអាចអនុវត្តបានទាំងអស់នៃកិច្ចព្រមព្រៀងនេះ។

<strong>14.  ការផ្អាក ឬការបញ្ចប់</strong>
CUBC អាចផ្អាក ឬបិទការចូលប្រើកម្មវិធីដោយហេតុផលណាមួយ រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះ៖
 • ការបំពានលើលក្ខខណ្ឌទាំងនេះ ដូចជាការរំលោភលើលក្ខខណ្ឌដែលមានចែងក្នុងកិច្ចព្រមព្រៀងនេះ ការប្រើប្រាស់កម្មវិធីខុសប្រក្រតី សកម្មភាពក្លែងបន្លំ ឬការចូលប្រើប្រាស់ដោយគ្មានការអនុញ្ញាត។
 • ការមិនអនុលោមតាមច្បាប់ និងបទប្បញ្ញត្តិដែលអាចអនុវត្តបាន ដូចជាការរំលោភលើច្បាប់ បទបញ្ជា ឬស្តង់ដារឧស្សាហកម្មដែលពាក់ព័ន្ធ ដូចជាបទប្បញ្ញត្តិប្រឆាំងនឹងការលាងលុយកខ្វក់ ច្បាប់ឯកជនភាពទិន្នន័យ ឬច្បាប់ពន្ធ។
 • សកម្មភាពគួរឱ្យសង្ស័យ ឬការរំលោភលើសុវត្ថិភាព ដូចជាសកម្មភាពណាមួយដែលត្រូវបានគេចាត់ទុកថាគួរឱ្យសង្ស័យ ឬបង្កហានិភ័យផ្នែកសុវត្ថិភាពការប៉ុនប៉ងចូលប្រើដោយគ្មានការអនុញ្ញាត ការរំលោភលើទិន្នន័យ ឬការឆ្លងប្រព័ន្ធមេរោគ។
អាជីវករអាចផ្អាក ឬបញ្ចប់ការចូលប្រើកម្មវិធី CUBC Merchant ដោយហេតុផលណាមួយ រួមទាំងប៉ុន្តែមិនកំណត់ចំពោះ៖
 • ការបិទអាជីវកម្ម បន្ថយទំហំអាជីវកម្ម ឬលែងត្រូវការមុខងាររបស់កម្មវិធី CUBC Merchant ។
 • ថ្លៃសេវាខ្ពស់ ឬការគិតថ្លៃដែលមិនរំពឹងទុក តម្លៃមិនប្រកួតប្រជែង ការលាក់បាំងតម្លៃ ឬការគិតថ្លៃដែលមិននឹកស្មានដល់។
 • ការសម្រេចចិត្តរបស់ពាណិជ្ជករ និងអាជីវកម្ម ប្រសិនបើពាណិជ្ជករ ត្រូវការ។

ការទូទាត់នៃចំនួនដែលនៅសេសសល់ ពាណិជ្ជករត្រូវតែធានាឱ្យបាននូវចំនួនដែលនៅសេសសល់ទាំងអស់ដែលជំពាក់ CUBC ដូចជាថ្លៃប្រតិបត្តិការ ឬថ្លៃសេវាដែលអាចអនុវត្តបានផ្សេងទៀត ឬថ្លៃសេវាណាមួយដែលអនុវត្តដោយធនាគារត្រូវបានទូទាត់ទាំងស្រុងមុន ឬនៅពេលបញ្ចប់។

<strong>15.  ច្បាប់គ្រប់គ្រង និងយុត្តាធិការ</strong>
លក្ខខណ្ឌទាំងនេះត្រូវគ្រប់គ្រងដោយ និងបកស្រាយស្របតាមច្បាប់នៃប្រទេសកម្ពុជា។

វិវាទណាមួយដែលកើតចេញពី ឬពាក់ព័ន្ធនឹងលក្ខខណ្ឌទាំងនេះ ត្រូវបញ្ជូនទៅកាន់យុត្តាធិការផ្តាច់មុខនៃតុលាការរាជធានីភ្នំពេញ ប្រទេសកម្ពុជា។

<strong>16.  កិច្ចព្រមព្រៀងទាំងមូល</strong>
លក្ខខណ្ឌទាំងនេះបង្កើតបានជាកិច្ចព្រមព្រៀងទាំងមូលរវាងពាណិជ្ជករ និង CUBC ទាក់ទងនឹងការប្រើប្រាស់កម្មវិធី CUBC Merchant និងជំនួសរាល់ទំនាក់ទំនង តំណាង ឬកិច្ចព្រមព្រៀងពីមុន  មិនថាផ្ទាល់មាត់ ឬជាលាយលក្ខណ៍អក្សរនោះទេ។

<strong>17.  វិច្ឆិន្ទភាព</strong>
ប្រសិនបើបទប្បញ្ញត្តិណាមួយនៃលក្ខខណ្ឌទាំងនេះត្រូវបានរកឃើញថាមិនត្រឹមត្រូវ ឬមិនអាចអនុវត្តបាន ការផ្តល់នោះនឹងត្រូវចាត់ទុកថាអាចបំបែកចេញពីបទប្បញ្ញត្តិដែលនៅសេសសល់ ហើយបទប្បញ្ញត្តិដែលនៅសេសសល់នឹងបន្តមានជាធរមាន និងមានប្រសិទ្ធភាពពេញលេញ។
                </div>
            </div>
        </div>
    </section>

  
</section>