@model IndexViewModel

@if (ViewBag.lang == "zh-hant-other")
{
    ViewBag.PageTitle = "人才招募";
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageTitle = "Careers - Manager, Credit Analysis";
    ViewBag.PageDescription = "";
}


@section Scripts {}
@if (ViewBag.lang == "zh-hant-other")
{
}
else
{
    <div class='component-oversea-kv-short'>
        <div class="coks-inner">
            <div class="coks-content">
                <h1 class='coks-title'>Careers</h1>
            </div>
            <figure class='coks-figure'>
                <picture>
                    <source media='(min-width: 768px)'
                            srcset='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/careers-lg.jpg")' />
                    <img class='coks-img' src='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/careers.jpg")' alt='Careers'>
                </picture>
                <figcaption hidden>Careers</figcaption>
            </figure>
        </div>
    </div>

    <div class='component-oversea-careers-detail'>
        <div class="cocd-inner">
            <h1 class='cocd-title'>
                Manager, Credit Analysis
            </h1>
            <div class='cocd-content-wrap'>
                <h2 class='cocd-content-title'>Responsibilities:</h2>
                <ul class='cocd-content-ul'>
                    <li class='cocd-content-li'>Conduct independent analysis, assessment and risk evaluation on credit proposals, including site visit and compliance of policies and regulations and make recommendations on credit facilities, covering large corporates and mid-cap clients in Greater China</li>
                    <li class='cocd-content-li'>Review and validate internal risk rating scorecards</li>
                    <li class='cocd-content-li'>Collaborate and communicate with Business Unit to facilitate effective and efficient credit approval process</li>
                    <li class='cocd-content-li'>Perform ad hoc projects or assignments</li>
                </ul>
            </div>

            <div class='cocd-content-wrap'>
                <h2 class='cocd-content-title'>Ideal candidates should possess:</h2>
                <ul class='cocd-content-ul'>
                    <li class='cocd-content-li'>At least 5 years’ solid experience in Corporate/ Commercial banking</li>
                    <li class='cocd-content-li'>University graduate with major in Accounting, Finance, Economics, Risk Management or related disciplines</li>
                    <li class='cocd-content-li'>Good understanding of Hong Kong / Mainland China / Taiwan market and industry dynamics as well as regulatory changes</li>
                    <li class='cocd-content-li'>Sound knowledge in various commercial lending products (including Trade Finance) and the regulatory requirements of credit management</li>
                    <li class='cocd-content-li'>Good analytical, problem-solving and report-writing skills</li>
                    <li class='cocd-content-li'>Strong financial and cash flow analytical skills</li>
                    <li class='cocd-content-li'>Sound knowledge of key credit risk indicators and economic factors impacting credit quality</li>
                    <li class='cocd-content-li'>Able to work under pressure and determined to meet tight deadlines</li>
                    <li class='cocd-content-li'>ECF-CRM certification holder would be an advantage</li>
                    <li class='cocd-content-li'>Proficient in written Chinese and English, fluency in Mandarin is preferred</li>
                    <li class='cocd-content-li'>Good PC skills in MS Word and Excel</li>
                </ul>
            </div>
            <div class='cocd-btn-wrap'>
                <a href="@Url.Content("~/hongkong/en/careers/jobs")" class="cocd-btn">Back</a>
            </div>
        </div>
    </div>





}
@RenderPage("../careers-support-card.cshtml")