@{
   ViewData["PageTitle"] = "សេវាក្លូប៊ល ម៊ាយប៊ីធូប៊ី (Global MyB2B)";
   ViewData["PageDescription"] = "ចាំបាច់ធ្វើការរង់ចាំនៅធនាគារ មានភាពងាយស្រួលប្រើប្រាស់នៅគេហដ្ឋាន ការិយាល័យ រឺគ្រប់កន្លែងដែលលោកអ្នកទៅ។ ប្រព័ន្ធ Global MyB2B  របស់ធនាគារយើងខ្ញុំគឺផ្តល់អោយលោកអ្នកកាន់តែមានភាពងាយស្រួល ក្នុងការគ្រប់គ្រងពេលវេលាជាមួយនឹងហិរញ្ញវត្ថុរបស់លោកអ្នកនៅគ្រប់កុំព្យូទ័រដែលមានភ្ជាប់ជាមួយនឹងអ៊ិនធឹណិត។ ឥឡូវនេះ លោកអ្នកអាចចូលទៅប្រើប្រាស់សំរាប់ត្រួតពិនិត្យព័ត៌មានគណនី ការផ្ទេរប្រាក់ ការទូទាត់ថ្លៃភ្លើង និងសេវាផ្សេងៗជាច្រើនទៀតដោយងាយស្រួល!";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		សេវាក្លូប៊ល ម៉ាយប៊ីធូប៊ិ (Global MyB2B)
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/global-website-bank-km-pc.png" />
						<img srcset="/assets/img/topkv/global-website-bank-km-mb.png">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">ធនាគារអនឡាញ</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">ធនាគារពាណិជ្ជកម្ម</a></li>
                <li class="breadcrumb-item active" aria-current="page">សេវាក្លូប៊ល ម៊ាយប៊ីធូប៊ី (Global MyB2B)</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		សេវាក្លូប៊ល ម៉ាយប៊ីធូប៊ិ (Global MyB2B) - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">ធនាគារអនឡាញ</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">ប្រព័ន្ធធនាគារអនឡាញសម្រាប់អាជីវកម្ម (Global MyB2B)</h2>
			<p class="text-left">ប្រព័ន្ធធនាគារអនឡាញសម្រាប់អាជីវកម្ម CUBC (Global MyB2B) មានមុខងារសំខាន់ៗ បីចំណុច៖ "សុវត្ថិភាព" "សាមញ្ញ" និង "ងាយស្រួល" ហើយផ្តល់នូវផលិតផល និងសេវាកម្មហិរញ្ញវត្ថុដែលមានគុណភាពខ្ពស់ ដូចជាការភ្ជាប់ទំនាក់ទំនងគណនីជាសកល ការគ្រប់គ្រងសាច់ប្រាក់ ការត្រួតពិនិត្យឥណទាន ។</p>
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">មុខងាររបស់ប្រព័ន្ធធនាគារអនឡាញសម្រាប់អាជីវកម្ម (Global MyB2B)</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row mb-n4  pl-xl-5">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/view.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការត្រួតពិនិត្យគណនី</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>ការត្រួតពិនិត្យសង្ខេបគណនី</li>
							<li>ការត្រួតពិនិត្យសង្ខេបគណនី/ សមតុល្យគណនី</li>
							<li>គណនីឥណទាន / ការត្រួតពិនិត្យទិន្នន័យ</li>
							<li>ការត្រួតពិនិត្យរបាយការណ៍ប្រតិបត្តិការក្នុងរយៈពេល ៣ខែ</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item  (wider)-->
				<li class="col-12 col-md-5  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/transfer.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការជូនដំណឹង/ការគ្រប់គ្រងការសាកសួរ</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>ការចូលប្រើមិនប្រក្រតី /ការជូនដំណឹង</li>
							<li>ត្រួតពិនិត្យកំណត់ត្រាចូលក្នុងប្រព័ន្ធ /ការជូនដំណឹង</li>
							<li>ប្រតិបត្តិការទៅគណនីអ្នកទទួលដែលមិនបានកំណត់/ការជូនដំណឹង</li>
							<li>ការទូទាត់តែមួយបានជោគជ័យ/បដិសេធការជូនដំណឹង</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item  (narrow)-->
				<li class="col-12 col-md-3  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/pay.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការផ្ទេរប្រាក់</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>រវាងគណនីផ្ទាល់ខ្លួនរបស់លោកអ្នក</li>
							<li>ការផ្ទេរទៅគណនីផ្សេងទៀតនៅក្នុងធនាគារ កាថេ យូណៃធីត (កម្ពុជា)ចំកាត់</li>
							<li>ការផ្ទេរទៅគណនីធនាគារផ្សេងទៀតនៅក្នុងស្រុក</li>
							<li>ការផ្ទេរទៅគណនីផ្សេងទៀតនៅក្រៅប្រទេស</li>
							<li>សេវាកម្មបើកប្រាក់បៀវត្សរ៍តាមធនាគារអនឡាញ</li>
						</ul> 
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/form.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">ការទាញយកទម្រង់ពាក្យសុំ</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								<a href="/file/1. Global MyB2B Service RegistrationTermination Application Form.pdf" target="_blank">1. បែបបទស្នើសុំប្រើប្រាស់/បញ្ឈប់សេវា គ៊្លូបលម៉ាយប៊ីធូប៊ី</a>
							</li>
							<li>
								<a href="/file/2. Request AmendmentResetPasswordGlobal MyB2BService Application Form.pdf" target="_blank">2. បែបបទស្នើរសុំការកែប្រែ/ផ្លាស់ប្តូរលេខសម្ងាត់ថ្មី សេវា គ៊្លូបលម៉ាយប៊ីធូប៊ី</a>
							</li>
							<li>
								<a href="/file/3. Global MyB2B Account Integration Agreement.pdf" target="_blank">3. ពាក្យស្នើសុំសំរាប់កិច្ចព្រមព្រៀងការភ្ជាប់ទំនាក់ទំនងគណនី គ៊្លូបលម៉ាយប៊ីធូប៊ី</a>
							</li>
							<li>
								<a href="/file/4. Global MyB2B Password Sheet Receipt.pdf" target="_blank">4. បង្កាន់ដៃទទួលលេខសម្ងាត់នៃសេវា គ៊្លូបលម៉ាយប៊ីធូប៊ី</a>
							</li>
						</ul>
					</div>
				</li>
				<!-- Graph item -->
				<li class="col-12 col-md-4 mb-4 px-md-1 px-1 px-xl-4">
					<div class="d-flex flex-column mb-3">
						<h4 class="h3 text-dark fw-bolder lh-sm">Download App</h4>
						<h4 class="h3 text-dark fw-bolder lh-sm" style="margin-top: 5px;white-space:nowrap;">ការទាញកម្មវិធី Corporate Mobile OTP</h4>
					</div>
					<div class="d-flex align-items-start mb-3">
						<div>
							<img class="ofi-contain lazy" data-src="/assets/img/ui/apple store.png" style="width:150px; margin-bottom: 12px;">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/app-ios.png" style="width:150px;">
						</div>
						<div>
							<img class="ofi-contain lazy" data-src="/assets/img/ui/google store.png" style="width:150px; margin-bottom: 12px;margin-left:15px">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/app-android.png" style="width:150px;margin-left:15px">
						</div>
					</div>
				</li>
	
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" href="https://www.globalmyb2b.com/GEBANK/Login.aspx">
					<span class="px-2">Global MyB2B Log in<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
			</div>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->