@{
   ViewData["PageTitle"] = "ការផ្ទេរប្រាក់";
   ViewData["PageDescription"] = "ការផ្ទេរប្រាក់ (ការផ្ទេរប្រាក់ ឬការទូទាត់)​ គឺជាដំណើរការនៃការផ្ទេរប្រាក់ ដែលចាប់ផ្តើមជាមួយនឹងការទូទាត់របស់អ្នកផ្ញើ ដែលធ្វើឡើងក្នុងគោលបំណងជាក់លាក់មួយទៅកាន់អ្នកទទួលផល ហើយបានបញ្ចប់នៅពេលដែលធនាគាររបស់អ្នកទទួលផលបានទទួល។";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ការផ្ទេរប្រាក់
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-remittance.jpg" />
						<img srcset="/assets/img/topkv/business-remittance-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">ការផ្ទេរប្រាក់</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">ធនាគារពាណិជ្ជកម្ម</a></li>
				<li class="breadcrumb-item active" aria-current="page">ការផ្ទេរប្រាក់</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		ការផ្ទេរប្រាក់ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-left">
			<blockquote class="h4 h4-mb">ការផ្ទេរប្រាក់ (ការផ្ទេរប្រាក់ ការផ្ទេររូបិយវត្ថុ ឬការទូទាត់លើការបញ្ជាទិញ)គឺជាដំណើរការនៃការផ្ទេរប្រាក់ដែលចាប់ផ្តើមជាមួយនឹងការទូទាត់លើការបញ្ជាទិញរបស់លោកអ្នក ធ្វើឡើងក្នុងគោលបំណងជាក់លាក់ទៅកាន់អ្នកទទួលផលដែលបានកំណត់ ហើយបានបញ្ចប់នៅពេលទទួលយកដោយធនាគាររបស់អ្នកទទួលផល។</blockquote>
		</header>
		
		<section class="compact">
			<!-- Page title -->
			<h2 class="display-3 h1-mb  mb-3  text-black  text-center fw-bold">សេវាផ្ទេរប្រាក់</h2>
			<p class="mb-4">នៅពេលដែលអ្នកត្រូវការធ្វើប្រតិបត្តិការហិរញ្ញវត្ថុជាមួយភាគីបរទេសរបស់អ្នក ធនាគារកាថេយូណៃធីត អាចដោះស្រាយការផ្ទេរប្រាក់ចូល និងចេញរបស់អ្នកបានយ៉ាងឆាប់រហ័ស និងប្រកបដោយប្រសិទ្ធភាព តាមរយៈបណ្តាញធនាគារសហការនៅបរទេសរបស់យើង។</p>
			
			<!-- Downloads -->
			<p class="text-center">
				<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/Inward Remittance Guide.pdf" target="_blank">ការណែនាំអំពីការផ្ទេរប្រាក់ចូល<i class="ico-ui-download ml-2"></i></a>
			</p>
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">ការផ្ទេរប្រាក់ចូលនិងការផ្ទេរប្រាក់ចេញ</h3>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col>
							<col width="35%">
							<col width="35%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">សេវា</th>
								<th scope="col" class="h4 h4-mb">ថ្លៃសេវាផ្ទេរប្រាក់ចូល</th>
								<th scope="col" class="h4 h4-mb">ថ្លៃសេវាផ្ទេរប្រាក់ចេញ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">ផ្ទេរទៅក្រៅប្រទេស</th>
								<td>សោហ៊ុយជើងសារ ០.១០% (យ៉ាងតិច USD១០ ឬ KHR៤០,០០០ សម្រាប់គណនីKHR)</td>
								<td>
									សោហ៊ុយជើងសារ ០.២០% (យ៉ាងតិច USD១៥ ឬ KHR៦០,០០០ សម្រាប់គណនីKHR) + 
									សោហ៊ុយសារទូរលេខ USD២០ ឬ KHR៨០,០០០ សម្រាប់គណនីKHR
									(ថ្លៃសេវាបន្ថែមចំនួន USD៣០.០០ នឹងត្រូវគិតថ្លៃ ប្រសិនបើលោកអ្នកជ្រើសរើសជម្រើស ”OUR”
									ឬសោហ៊ុយទាំងអស់ជាបន្ទុករបស់អ្នកស្នើសុំ)
								</td>
							</tr>
							<tr>
								<th scope="row">ផ្ទេរក្នុងប្រទេស</th>
                                <td>USD៥ ឬ KHR២០,០០០ សំរាប់គណនីKHR (គ្រប់ចំនួនទឹកប្រាក់)</td>
                                <td>០.០៥% (យ៉ាងតិច USD៥ ឬ KHR២០,០០០ សំរាប់គណនីKHR)</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
	
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">រូបិយាណត្តិ</h3>
			<p class="mb-4">រូបិយាណត្តិអាចត្រូវបានប្រើដើម្បីធ្វើការទូទាត់មិនបន្ទាន់នៅក្នុងប្រទេសសិង្ហបុរីជាមួយនឹងចំនួនទឹកប្រាក់ដែលបានបញ្ជាក់ជារូបិយប័ណ្ណ SGD ឬ USD ទៅកាន់ឈ្មោះអ្នកទទួលផល។ ធនាគារទំនាក់ទំនងក្រៅស្រុកនឹងទូរទាត់ឱ្យអ្នកទទួលផលរបស់លោកអ្នក នៅពេលដែលរូបិយាណត្តិត្រូវបានដាក់និងផាត់ទាត់ដោយធនាគាររបស់អ្នកទទួលផល។</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">ថ្លៃសេវា</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">
									សោហ៊ុយជើងសារ ០.២២% (យ៉ាងតិច USD២០ ឬ KHR៨០,០០០ សម្រាប់គណនីKHR) +
									USD២០ ឬ KHR៨០,០០០ សម្រាប់គណនីKHR (សោហ៊ុយសារទូរលេខ)
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-3  text-black fw-bold lh-sm">មូលប្បទានប័ត្រធនាគារ</h3>
			<p class="mb-4">ក្នុងស្ថានភាពដែលអ្នកទទួលផលមិនយល់ព្រមទទួលជាសាច់ប្រាក់ឬមូលប្បទានប័ត្រផ្ទាល់ខ្លួននោះអ្នកនឹងត្រូវការមូលប្បទានប័ត្រធនាគារ ដែលជាមូលប្បទានប័ត្រដែលចេញដោយធនាគារ សម្រាប់ទូរទាត់ជូនអ្នកទទួលប្រាក់ ដែលបានស្នើរអោយដាក់ឈ្មោះលើមូលប្បទានប័ត្រធនាគារ ។</p>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" colspan="2" class="h4 h4-mb">ថ្លៃសេវា</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2">១ តំលៃ USD១០ ឬ KHR៤០,០០០ សម្រាប់គណនីKHR</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
		</section>
		
		<div class="py-section"></div>
		
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold lh-sm">តម្រូវ/ការតាមដាន/ការសងប្រាក់ត្រលប់វិញ </h3>
			
			<!-- Tabular data -->
			<div class="tabular">
				<div class="table-responsive-lg">
					<table class="table h5-mb text-center">
						<colgroup>
							<col width="50%">
							<col width="50%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col" class="h4 h4-mb">សេវា</th>
								<th scope="col" class="h4 h4-mb">ថ្លៃសេវា</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>ការកែតម្រូវ/ការតាមដាន</td>
								<td>USD៣០ ឬ KHR១២០,០០០ សម្រាប់គណនីKHR (សោហ៊ុយសារទូរលេខ)</td>
							</tr>
							<tr>
								<td>ការសងប្រាក់ត្រលប់វិញ</td>
								<td>USD៤០ ឬ KHR១៦០,០០០ សម្រាប់គណនីKHR (សោហ៊ុយសារទូរលេខ)</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--/.tabular-->
			
			<ul class="list-disc  mt-4  h6 h6-mb">
				<li>ថ្លៃសេវារបស់ធនាគារក្រៅប្រទេសដែលកើតឡើងសម្រាប់ការផ្ទេរប្រាក់ទៅក្រៅប្រទេសនឹងត្រូវគិតថ្លៃដោយផ្អែកលើថ្លៃសេវាជាក់ស្តែងដែលគិតដោយធនាគារក្រៅប្រទេស។</li>
				<li>សោហ៊ុយជើងសារនិងការគិតថ្លៃទាំងអស់អាចផ្លាស់ប្តូរទៅតាមការសម្រេចរបស់ធនាគារ។</li>
				<li>ភាគីទីបី និងថ្លៃសេវាផ្សេងទៀតណាមួយដែលអនុវត្តនឹងត្រូវបានគិតថ្លៃសេវាតាមជាក់ស្តែង។</li>
			</ul>
		</section>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->