@{
   ViewData["PageTitle"] = "Global MyB2B";
   ViewData["PageDescription"] = "Skip the line and bank in the comfort of your home, office or wherever you go. Our Global MyB2B provides you with total convenience and lets you manage your money from any computer that is connected to the internet. You can now access your account information, transfer funds, pay your EDC bill and a lot more in just a few clicks!";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Global MyB2B
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/global-website-bank-en-pc.png" />
						<img srcset="/assets/img/topkv/global-website-bank-en-mb.png">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">Online Banking</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Global MyB2B</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Global MyB2B - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="h3 h4-mb  mb-2 mb-md-3  text-black  lh-xs">Online Banking</h1>
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Global MyB2B</h2>
			<p class="text-left">CUBC Business online banking, Global MyB2B, has three major features: "Secure", "Simple" and "Convenient", and provides high-quality financial products and services such as global account integration, cash management, loan enquiry.</p>
		</header>
		
		
		<!-- Features -->
		<section class="compact-sm">
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Features of Global MyB2B</h3>
			
			<!-- Graph icon list #2  (3 in a row)-->
			<ul class="row mb-n4  pl-xl-5">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/view.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Account enquiry</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>Account summary enquiry</li>
							<li>Account summary/balance enquiry</li>
							<li>Loan account/data enquiry</li>
							<li>Transaction statement enquiry within 3 months</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item  (wider)-->
				<li class="col-12 col-md-5  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/transfer.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Alert notice/Enquiry Management</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>Irregular login time Enquiry/Alert notice</li>
							<li>Login history Enquiry/Alert notice</li>
							<li>Transaction to non-registered beneficiary account Setup/Alert notice</li>
							<li>Single payment successful/rejected Notification</li>
						</ul>
					</div>
				</li>
	
				<!-- Graph item  (narrow)-->
				<li class="col-12 col-md-3  mb-4  px-md-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/pay.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Fund Transfer</h4>
					</div>
					<div>
 						<ul class="list-disc list--item-mb-xs">
							<li>Between Your Accounts</li>
							<li>To Other Account Holders Within CUBC</li>
							<li>To other local bank account</li>
							<li>To other overseas bank account</li>
							<li>Online Payroll Service</li>
						</ul> 
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-1 px-xl-4">
					<div class="d-flex align-items-center  mb-3">
						<figure class="graph  mr-3">
							<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/form.svg">
						</figure>
						<h4 class="h3 text-dark fw-bolder lh-sm">Download Application Form</h4>
					</div>
					<div>
						<ul class="list-disc list--item-mb-xs">
							<li>
								<a href="/file/1. Global MyB2B Service RegistrationTermination Application Form.pdf" target="_blank">1. Global MyB2B Service Registration/Termination Application Form</a>
							</li>
							<li>
								<a href="/file/2. Request AmendmentResetPasswordGlobal MyB2BService Application Form.pdf" target="_blank">2. Request Amendment/Reset Password Global MyB2B Service Application Form</a>
							</li>
							<li>
								<a href="/file/3. Global MyB2B Account Integration Agreement.pdf" target="_blank">3. Global MyB2B Account Integration Agreement</a>
							</li>
							<li>
								<a href="/file/4. Global MyB2B Password Sheet Receipt.pdf" target="_blank">4. Global MyB2B Password Sheet Receipt</a>
							</li>
						</ul>
					</div>
				</li>

				<!-- Graph item -->
				<li class="col-12 col-md-4 mb-4 px-md-1 px-1 px-xl-4">
					<div class="d-flex flex-column mb-3">
						<h4 class="h3 text-dark fw-bolder lh-sm">Download App</h4>
						<h4 class="h3 text-dark fw-bolder lh-sm" style="margin-top: 5px;white-space:nowrap;">To Download Corporate Mobile OTP</h4>
					</div>
					<div class="d-flex align-items-start mb-3">
						<div>
							<img class="ofi-contain" src="/assets/img/ui/apple store.png" style="width:150px; margin-bottom: 12px;">
							<img class="ofi-contain" src="/assets/img/ui/app-ios.png" style="width:150px;">
						</div>
						<div>
							<img class="ofi-contain" src="/assets/img/ui/google store.png" style="width:150px; margin-bottom: 12px;margin-left:15px">
							<img class="ofi-contain" src="/assets/img/ui/app-android.png" style="width:150px;margin-left:15px">
						</div>
					</div>
				</li>
	
			</ul>
			
			<div class="text-center mt-4">
				<a class="btn btn-green" href="https://www.globalmyb2b.com/GEBANK/Login.aspx">
					<span class="px-2">Global MyB2B Log in<i class="ico-ui-right-v ml-2 big"></i></span>
				</a>
			</div>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->