@{
   ViewData["PageTitle"] = "International Trade";
   ViewData["PageDescription"] = "For businesses who decide to go global, Cathay United Bank is here to assist with the process of exporting to or importing from foreign markets by providing transaction advice and financial instruments like letters of credit, documentary collections and bank guarantees.";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		International Trade
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-trade.jpg" />
						<img srcset="/assets/img/topkv/business-trade-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">International Trade</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">International Trade</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		International Trade - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Expanding Your Reach to Global Markets</h2>
			<p class="text-left">For businesses who decide to go global, Cathay United Bank is here to assist with the process of exporting to or importing from foreign markets by providing transaction advice and financial instruments like letters of credit, documentary collections and bank guarantees.</p>
		</header>
		
		<div class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Documentary Collection</h3>
			<p>The main risk of shipping goods on a collection basis is that you have no guarantee of payment once you have shipped the goods to the buyer. Documentary collection is a cost-effective alternative to a letter of credit that provides you, the exporter, with added transaction security by allowing you to retain control of the title documents to the goods. Cathay United Bank can direct foreign banks to release title documents after payment is made by your buyer, or against your buyer's written promise to pay at a future date.</p>
			
			<div class="py-section"></div>
		
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Bank Guarantee</h3>
			<p>In international trade, it is difficult for buyers to assess their supplier's ability to produce goods as ordered or to provide reimbursement for any default as per contract. Hence, a good way to protect buyers will be a bank guarantee. A bank guarantee will act as compensation for any breach of contract by permitting the buyer to collect a sum of money from the issuing bank on demand. </p>
			
			<div class="py-section"></div>
			
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">Import and Export Services</h3>
			<p>Need to manage your international purchases or establish lines of credit to finance your inventory? Cathay United Bank's International Trade Finance Team can offer advice on a wide range of trade finance products to assist you in your importing activities.</p>
		
			<div class="py-section"></div>
			
			
			<div class="compact-sm">
				<!-- Graph icon list (2-levels)-->
				<ul class="row mb-n4">
	
					<!-- Graph item -->
					<li class="col-12 col-md-8  mb-4  px-md-2">
						<div class="d-flex align-items-center  mb-3">
							<figure class="graph  mr-3">
								<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/import.svg">
							</figure>
							<h4 class="h3 text-dark fw-bolder lh-sm">Import Service</h4>
						</div>
						<div class="row">
							<div class="col-12 col-md  mb-4 mb-md-0">
								<h5 class="h4 h3-mb mb-3  text-dark fw-bold">Letter of Credit Service</h5>
								<ul class="list-disc list--item-mb-xs">
									<li>Sight L/C</li>
									<li>Usance L/C</li>
									<li>Buyer's Usance</li>
									<li>Seller's Usance</li>
									<li>Seller's Usance Pay at Sight</li>
									<li>Standby L/C</li>
								</ul>
							</div>
							<div class="col-12 col-md">
								<h5 class="h4 h3-mb mb-3  text-dark fw-bold">Import Collection Business</h5>
								<ul class="list-disc list--item-mb-xs">
									<li>Document Against Acceptance</li>
									<li>Document Against Payment</li>
								</ul>
							</div>
						</div>
					</li>
	
					<!-- Graph item -->
					<li class="col-12 col-md-4  mb-4  px-md-2">
						<div class="d-flex align-items-center  mb-3">
							<figure class="graph  mr-3">
								<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/export.svg">
							</figure>
							<h4 class="h3 text-dark fw-bolder lh-sm">Export Service</h4>
						</div>
						<div>
							<ul class="list-disc list--item-mb-xs">
								<li>Export Bills Negotiation</li>
								<li>Export Collection</li>
								<li>Letters of Credit Advise</li>
								<li>Letters of Credit Transfer</li>
								<li>Letter of Credit Confirmation</li>
								<li>Issue local letter of credit</li>
								<li>Assignment of Proceeds</li>
								<li>Export Forward Letter of Credit Forfaiting Services</li>
							</ul>
						</div>
					</li>
	
	
				</ul>
			</div>
		
			<div class="py-section"></div>
		
		
			<p class="mb-3">While you cannot eliminate the risk of not receiving goods that you have ordered and paid for, a letter of credit enables you to reduce the risk of unfulfilled orders by providing your supplier with an undertaking of payment, and often specify shipping and payment dates to coincide with your inventory requirements and cash flow demands. So put your trust in our services and expertise in streamlining the entire process and making your business more productive and profitable!</p>
			
			<p>Our export services can help exporters minimize their risk of non-payment for goods which have been shipped to a foreign buyer. We can assist you in your exporting activities and tailor the right products, such as letters of credit and documentary collections, to suit your specific needs.</p>
		</div>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->