@{
   ViewData["PageTitle"] = "Payroll Service";
   ViewData["PageDescription"] = "We offer businesses a standardized, affordable, yet comprehensive and flexible payroll service. Outsourcing these tasks to the experienced professionals at Cathay United Bank will let you focus on more strategic issues, like managing and growing your business.";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Payroll Service
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-payroll.jpg" />
						<img srcset="/assets/img/topkv/business-payroll-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Payroll Service</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Payroll Service</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Payroll Service - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Payroll Service</h2>
			<p class="text-left">Your workforce is your most important resource. Yet the time you may be spending per month on complex payroll calculations and paperwork can be tedious and costly for your business. Payrolls, however, must be computed accurately and paid on time, even over peak periods of business pressure. At Cathay United Bank, we understand the continuous and unrelenting pressure imposed by payrolls. That is why we offer businesses a standardized, affordable, yet comprehensive and flexible payroll service. Outsourcing these tasks to the experienced professionals at Cathay United Bank will let you focus on more strategic issues, like managing and growing your business.</p>
		</header>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->