@{
   ViewData["PageTitle"] = "Real Estate Escrow";
   ViewData["PageDescription"] = "This service is designed specifically for managing deposits for the purpose of real estate purchase. The real estate escrow service provides a single agreement to service the individual escrow accounts of all real estate buyers.";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Real Estate Escrow
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-estate.jpg" />
						<img srcset="/assets/img/topkv/business-estate-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Real Estate Escrow</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">Business Banking</a></li>
				<li class="breadcrumb-item active" aria-current="page">Real Estate Escrow</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Real Estate Escrow - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Protecting the Interests of Homeowners</h2>
			<p class="text-left">This service is designed specifically for managing deposits for the purpose of real estate purchase. The real estate escrow service provides a single agreement to service the individual escrow accounts of all home buyers.</p>
		</header>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->