<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Disable package caching for development -->
    <add key="globalPackagesFolder" value="" />
    <add key="repositoryPath" value="packages" />
    <!-- Clear cache on restore -->
    <add key="clear" value="true" />
  </config>
  
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
