@{
   ViewData["PageTitle"] = "Conduct for Ethical Management";
   ViewData["PageDescription"] = "Cathay United Bank (Cambodia) Corp. Ltd. engages in commercial activities based on the principles of fairness, honesty, integrity and transparency.";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Conduct for Ethical Management
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/legal.jpg" />
						<img srcset="/assets/img/topkv/legal-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Conduct for Ethical Management</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Conduct for Ethical Management</li>
			</ol>
		</div>
	</nav>
	
	<!--
		Conduct for Ethical Management - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<div class="compact">
			<p class="mb-4">
				Cathay United Bank (Cambodia) Plc. engages in commercial activities based on the principles of fairness, honesty, integrity and transparency. To actively prevent unethical conduct, a set of guidelines has been established to provide all Bank personnel with clear direction for the performance of their duties.
			</p>
			<p class="mb-4">The personnel of the Bank shall not, in the course of their duties, provide, promise, request or accept improper benefits directly or indirectly, and shall avoid any misleading language or behavior. Except (1) gifts and hospitality within a second degree of kinship; (2) partial or full sponsorship for training programmes; and (3) advertising office supplies.</p>
			<p class="mb-4">The Bank has a control mechanism for donations, conflicts of interest, information security and intellectual property protection, unfair competition, and the rights of stakeholders.</p>
			<p class="mb-4">We undertake standard evaluations for business relationships, such as stating unethical conduct to business counterparties and avoiding making transactions with unethical counterparties. This is to prevent any conflicts of interest, or the occurrence of such events in our business dealings.</p>
			<p class="mb-4">We thank you for your cooperation.</p>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->