@model IndexViewModel

@if (ViewBag.lang == "zh-hant-other")
{
    ViewBag.PageTitle = "人才招募";
    ViewBag.PageDescription = "";
}
else
{
    ViewBag.PageTitle = "Careers - Vice President, Relationship Management - Private Wealth Management";
    ViewBag.PageDescription = "";
}


@section Scripts {}
@if (ViewBag.lang == "zh-hant-other")
{
}
else
{
    <div class='component-oversea-kv-short'>
        <div class="coks-inner">
            <div class="coks-content">
                <h1 class='coks-title'>Careers</h1>
            </div>
            <figure class='coks-figure'>
                <picture>
                    <source media='(min-width: 768px)'
                            srcset='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/careers-lg.jpg")' />
                    <img class='coks-img' src='@Url.Content("~/OVSWS/Content/img/hongkong/kv-short/careers.jpg")' alt='Careers'>
                </picture>
                <figcaption hidden>Careers</figcaption>
            </figure>
        </div>
    </div>

    <div class='component-oversea-careers-detail'>
        <div class="cocd-inner">
            <h1 class='cocd-title'>
                Senior Associate, Assistant Relationship Manager, Private Banking
            </h1>
            <div class='cocd-content-wrap'>
                <h2 class='cocd-content-title'>Responsibilities:</h2>
                <ul class='cocd-content-ul'>
                    <li class='cocd-content-li'>Assist Relationship Managers with daily transactional duties including but not limited to taking investment orders, remittance, account documentations and credit modifications timely and accurately</li>
                    <li class='cocd-content-li'>Handle and follow up account opening and on-boarding process, conducting KYC/AML procedures, and ensure compliance with local regulatory requirements and internal policies</li>
                    <li class='cocd-content-li'>Deliver efficient and professional responses by resolving clients’ inquiries and providing proactive assistance</li>
                    <li class='cocd-content-li'>Support the development and maintenance of client relationship to facilitate the business of Relationship Managers</li>

                </ul>
            </div>

            <div class='cocd-content-wrap'>
                <h2 class='cocd-content-title'>Ideal candidates should possess:</h2>
                <ul class='cocd-content-ul'>
                    <li class='cocd-content-li'>Bachelor’s degree or above in Business/Finance or related discipline</li>
                    <li class='cocd-content-li'>At least 3 years’ relevant work experience in serving high net-worth clients</li>
                    <li class='cocd-content-li'>Passed in the HKSI Licensing Examination and qualified for handling Regulated Activities Type 1 (dealing in securities) & Type 4 (advising on securities)</li>
                    <li class='cocd-content-li'>Knowledge of private banking products and treasury services, good understanding of banking operations and local regulatory policies</li>
                    <li class='cocd-content-li'>Good team player, self-motivated, detailed-oriented, be able to work independently with good interpersonal and organizational skills</li>
                    <li class='cocd-content-li'>Excellent communication skills with strong customer-focused mindset</li>
                    <li class='cocd-content-li'>Proficient in written and spoken English and Chinese including Mandarin</li>
                </ul>
            </div>
            <div class='cocd-btn-wrap'>
                <a href="@Url.Content("~/hongkong/en/careers/jobs")" class="cocd-btn">Back</a>
            </div>
        </div>
    </div>


    




}
@RenderPage("../careers-support-card.cshtml")