@{
   ViewData["PageTitle"] = "Job Openings";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">Careers</a></li>
                <li class="breadcrumb-item active" aria-current="page">Head of Market Development</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
            <h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Head of Market Development</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
            <div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
                <!-- Section heading -->
                <h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
                <h3 class="h3 h3-mb  mb-2 "> Main Tasks</h3>
                <ul class="list-disc">
                    <li class="mb-2"><b>Research:</b> Creates new ideas for activities, promotions, and communication. Maintains a strong understanding of the competitors. Identifies and translates market trends and prepare reports / plans accordingly.</li>
                    <li class="mb-2"><b>trategies & Execution:</b>Develops, leads and implements the marketing strategies and this includes assisting and developing 1-3 year plan and objectives.</li>
                    <li class="mb-2"><b>Measurements:</b>Continually evaluates and measures the performance of marketing tactics and adjusts plans accordingly.</li>
                    <li class="mb-2"><b>Leadership:</b>Provides actionable information that can help the teams to achieve the yearly targets.</li>
                    <li class="mb-2"><b>Product Awareness:</b>Ensures the products have a strong voice in the market and is continuously looking for innovative ways to increase the impact of the products.</li>
                </ul>
                <h3 class="h3 h3-mb  mb-2 "> Financial Aspects</h3>
                <ul class="list-disc">
                    <li class="mb-2">Ensure to achieve the annual business & projects target.</li>
                    <li class="mb-2">Manages the marketing budgets for all professional activities and promotions.</li>

                </ul>
                <h3 class="h3 h3-mb  mb-2 ">Non- Financial Aspects</h3>
                <ul class="list-disc">
                    <li class="mb-2">Works independently and cross-functionally, ensuring that direction is aligned with the management.</li>
                    <li class="mb-2">Works closely and internally in the department and the bank, and through this process to ensure proper alignment. </li>
                    <li class="mb-2">Maintains and develops relationships with key partners</li>
                    <li class="mb-2">Ensure projects, marketing promotions & activities to be executed on schedule.</li>
                    <li class="mb-2">Leads program measurements and accountability measures.</li>
                    <li class="mb-2">Continually evaluates the performance of marketing tactics and adjusts plans accordingly. </li>
                    <li class="mb-2">Educate and train the teams to be proactive, team-work, and profit driven, solution & target-focused mind set. </li>
                    <li class="mb-2">Provide on a regular basis KPI insights to the teams.</li>
                    <li class="mb-2">Manage and drive teams to maintain high performance.</li>
                </ul>

            </div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
                    <li class="mb-2">7-year working experience in cards business.</li>
                    <li class="mb-2">5-year in Leading a team at least more than 5 people. </li>
                    <li class="mb-2">Must demonstrate a strong entrepreneurial aptitude and be solution- focused. </li>
                    <li class="mb-2">Strong business and analytical skills are required to analyze and interpret results of research, marking promotions, educational programs and brand targets.</li>
                    <li class="mb-2">Must have proven experience creating and leading strategies that drive brand and business differentiate from the competition and in the market.</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
