<!-- Global Footer -->
<footer class="mastfoot">
	<div class="mastfoot-inner">
		<nav class="mastfoot-worldwide">
			<div class="splits">
				<a class="text-green-dark" target="_blank" rel="noopener noreferrer" href="https://www.cathayholdings.com/en/holdings/intro/intro/about">Cathay Holdings</a>
				<a class="text-green-dark" target="_blank" rel="noopener noreferrer" href="https://www.cathaybk.com.tw/en-us/cathaybk/english/about-us/about-us/company-history/">Cathay United Bank</a>
				<a class="text-green-dark" target="_blank" rel="noopener noreferrer" href="https://www.cathaybk.com.tw/overseas/en/">Overseas Units</a>
			</div>
		</nav>
		<div class="mastfoot-row">
			<nav class="mastfoot-links">
				<div class="splits splits--sm">
					<a class="mastfoot-links-item text-green" href="@ViewData["siteLangUrl"]privacy/">
						<span class="mastfoot-links-item-txt">Privacy & Security</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>
					<a class="mastfoot-links-item text-green" href="@ViewData["siteLangUrl"]ethical-management">
						<span class="mastfoot-links-item-txt">Conduct for Ethical Management</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>

					<!-- 社交媒體容器 - 只在手機版顯示 -->
					<div class="social-media-container">
						<a class="social-media-item" href="https://www.facebook.com/cathayunitedbankcambodiaplc" target="_blank" rel="noopener noreferrer">
							<img src="/assets/img/ui/facebook.svg" width="30" height="30" alt="Facebook">
						</a>
						<a class="social-media-item" href="https://www.instagram.com/cathayunitedbankcambodiaplc?igsh=MW9tanU4M3Q2cXV4Zw%3D%3D&utm_source=qr
" target="_blank" rel="noopener noreferrer">
							<img src="/assets/img/ui/instagram.svg" width="30" height="30" alt="Instagram">
						</a>
						<a class="social-media-item" href="https://t.me/+2HNnBwp5lhAxMjQ1" target="_blank" rel="noopener noreferrer">
							<img src="/assets/img/ui/telegram.svg" width="30" height="30" alt="Telegram">
						</a>
						<a class="social-media-item" href="https://www.youtube.com/@@Cathayunitedbankcambodia" target="_blank" rel="noopener noreferrer">
							<img src="/assets/img/ui/youtube.svg" width="30" height="30" alt="YouTube">
						</a>
						<a class="social-media-item" href="https://tw.linkedin.com/company/cathay-united-bank-co-ltd-" target="_blank" rel="noopener noreferrer">
							<img src="/assets/img/ui/linkedin-hover.svg" width="30" height="30" alt="LinkedIn">
						</a>
					</div>

					<a class="mastfoot-links-item text-green  no-split" href="https://www.facebook.com/cathayunitedbankcambodiaplc" target="_blank" rel="noopener noreferrer">
						<span class="mastfoot-links-item-txt">
							<img src="/assets/img/ui/facebook.svg" width="30" height="30">
						</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>
					<a class="mastfoot-links-item text-green  no-split" href="https://www.instagram.com/cathayunitedbankcambodiaplc?igsh=MW9tanU4M3Q2cXV4Zw%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">
						<span class="mastfoot-links-item-txt">
							<img src="/assets/img/ui/instagram.svg" width="30" height="30">
						</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>
					<a class="mastfoot-links-item text-green  no-split" href="https://t.me/+2HNnBwp5lhAxMjQ1" target="_blank" rel="noopener noreferrer">
						<span class="mastfoot-links-item-txt">
							<img src="/assets/img/ui/telegram.svg" width="30" height="30">
						</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>
					<a class="mastfoot-links-item text-green  no-split" href="https://www.youtube.com/@@Cathayunitedbankcambodia" target="_blank" rel="noopener noreferrer">
						<span class="mastfoot-links-item-txt">
							<img src="/assets/img/ui/youtube.svg" width="30" height="30">
						</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>
					<a class="mastfoot-links-item text-green  no-split" href="https://tw.linkedin.com/company/cathay-united-bank-co-ltd-" target="_blank" rel="noopener noreferrer">
						<span class="mastfoot-links-item-txt">
							<img src="/assets/img/ui/linkedin-hover.svg" width="30" height="30">
						</span>
						<i class="mastfoot-links-item-ico ico-ui-right-v"></i>
					</a>
				</div>
			</nav>
			<div class="mastfoot-copyright">
				<a class="mastfoot-logo" href="/">
					<img class="mastfoot-logo-img" src="/assets/img/ui/cathay-logo.svg" alt="CUBU Bank">
				</a>
				<span>© 2022 Cathay United Bank. All Rights Reserved</span>
			</div>
		</div>
	</div>
</footer> 