@{
   ViewData["PageTitle"] = "Job Openings";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">Careers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Deputy Manager,Deposit ( Chinese Speaking)</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Deputy Manager,Deposit ( Chinese Speaking)</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor Degree in Finance and Banking or related field</li>
					<li class="mb-2">At least four-year experience in Deposit Function</li>
					<li class="mb-2">Good knowledge about banks products with high commitment to achieve target</li>
					<li class="mb-2">Good communication skills in both written and spoken English and Chinese </li>
					<li class="mb-2">Good interpersonal skill and be a good team player</li>
					<li class="mb-2">Good presentation skills, negotiation skills, and self-motivated</li>
					<li class="mb-2">Good coaching skills</li>
					<li class="mb-2">Excellent time management skills</li>
					<li class="mb-2">Proficiency in computer skills (Ms. Offices)</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Lead deposit unit to reach target as set by the bank</li>
					<li class="mb-2">Prepare marketing plan and strategy to launch new products and increase volume deposit</li>
					<li class="mb-2">Provide coaching and training to deposit unit to generate new customers and maintain existing customers</li>
					<li class="mb-2">Lead on increase bank reputation among competitors in alignment with target deposit customer’s segmentation</li>
					<li class="mb-2">Lead, analyze, and generate survey deposit report about competitor and present to management</li>
					<li class="mb-2">Build up more networks through social media and introduce the bank’s overall services align with customers’ need </li>
					<li class="mb-2">Maintain relationship both existing and new customers with excellent services</li>
					<li class="mb-2">Support to solve any compliant from customers</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
