@{
   ViewData["PageTitle"] = "人才招募";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		人才招募
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">人才招募</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">人才招募</a></li>
				<li class="breadcrumb-item active" aria-current="page">Officer, Card Marketing</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		人才招募 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Officer, Card Marketing</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Analyze and investigate price, demand and competition </li>
					<li class="mb-2">Devise and present ideas and strategies, and implement (new) marketing strategies </li>
					<li class="mb-2">Plan advertising and promotional campaigns for credit card products</li>
					<li class="mb-2">Do promotional activities, organize events and product exhibitions, and manage campaigns on social media</li>
					<li class="mb-2">Support branch channel for cards acquisition and cards training to staffs </li>
					<li class="mb-2">Prepare cards and marketing report as well as monitoring performance</li>
					<li class="mb-2">Compile and distribute financial and statistical information </li>
					<li class="mb-2">Others as assigned by Management</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor degree in Marketing, Finance and Banking, Business Management or related field</li>
					<li class="mb-2">Previous experience in sales position at least 01 year</li>
					<li class="mb-2">Proficiency in English, Chinese languages is a plus</li>
					<li class="mb-2">Computer proficiency both Microsoft Office, internet and email</li>
					<li class="mb-2">Willing to travel to provinces</li>
					<li class="mb-2">Having own transportation</li>
					<li class="mb-2">Be result oriented, and able to adapt quickly to the new work environment</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
