/* Footer Component Styles */
.component-footer {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   position: relative;
   background-color: #67b674;
}

.component-footer .cf-inner {
   padding: 0;
   margin: 0 auto;
}

@media (min-width: 992px) {
   .component-footer .cf-inner {
      padding: 0 15px;
      max-width: 960px;
      padding: 0;
   }
}

@media (min-width: 1200px) {
   .component-footer .cf-inner {
      max-width: 1140px;
   }
}

@media (min-width: 2000px) {
   .component-footer .cf-inner {
      max-width: 1320px;
   }
}

.component-footer .cf-list-wrap {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding: 10px 20px;
}

.component-footer .cf-list-wrap + .cf-list-wrap {
   border-top: 1px solid #439656;
}

@media (min-width: 992px) {
   .component-footer .cf-list-wrap {
      padding: 15px 0;
   }
}

.component-footer .cf-icon-list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style: none;
}

@media (min-width: 992px) {
   .component-footer .cf-icon-list {
      flex-wrap: nowrap;
      justify-content: flex-start;
   }
}

.component-footer .cf-icon-list .cf-item-link {
   padding-left: 0;
   padding-right: 0;
}

.component-footer .cf-list {
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
   list-style: none;
}

@media (min-width: 992px) {
   .component-footer .cf-list {
      flex-wrap: nowrap;
      justify-content: flex-start;
   }
}

@media (min-width: 992px) {
   .en .component-footer .cf-list {
      flex-wrap: wrap;
   }
}

.component-footer .cf-item {
   position: relative;
   margin-bottom: 10px;
}

.component-footer .cf-item.cf-item--break {
   width: 100%;
}

.component-footer .cf-item.cf-item--noborder:before {
   display: none !important;
}

.component-footer .cf-list--border {
   padding: 5px;
}

.component-footer .cf-list--border.cf-list--has-bottom .cf-item {
   margin-bottom: 8px;
}

.component-footer .cf-list--border .cf-item {
   margin-bottom: 0;
}

.component-footer .cf-list--border .cf-item + .cf-item:before {
   display: block;
   content: '';
   position: absolute;
   width: 1px;
   height: 100%;
   top: 0;
   bottom: 0;
   margin-top: auto;
   margin-bottom: auto;
   background-color: hsla(0, 0%, 100%, 0.5);
}

.component-footer .cf-list--border .cf-item + .cf-item--no-border .cf-item-link {
   margin-left: 0;
}

.component-footer .cf-list--border .cf-item + .cf-item--no-border:before {
   display: none;
}

.component-footer .cf-list--border .cf-item-link {
   margin: 0 10px;
}

.component-footer .cf-item-link {
   display: block;
   color: #fff;
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1;
   padding: 8px 12px;
}

.component-footer .cf-item-link figure {
   margin: 0;
}

.component-footer .cf-item-link:hover {
   color: #fff;
}

@media (min-width: 992px) {
   .component-footer .cf-item-link {
      font-size: 15px;
      padding: 0 10px;
   }
}

@media (min-width: 992px) {
   .component-footer .cf-list-wrap--lang .cf-list {
      padding: 0;
   }
}

.component-footer .cf-list-wrap--lang .cf-item-link--active {
   color: #25582d;
}

@media (min-width: 992px) {
   .component-footer .cf-list-wrap--lang {
      display: none;
   }
}

.component-footer .cf-list-wrap--cathay-group {
   display: none;
}

@media (min-width: 992px) {
   .component-footer .cf-list-wrap--cathay-group {
      display: block;
   }
}

@media (min-width: 992px) {
   .component-footer .cf-list-wrap--cathay-group .cf-list {
      padding: 0;
   }
}

.component-footer .cf-list-wrap--link .cf-list {
   padding-bottom: 35px;
}

@media (min-width: 992px) {
   .component-footer .cf-list-wrap--link .cf-list {
      padding: 0;
   }
}

.component-footer .cf-item--copyright {
   margin-top: 15px;
   flex-basis: 100%;
   text-align: center;
}

@media (min-width: 992px) {
   .component-footer .cf-item--copyright {
      flex: 1;
      margin-top: 0;
      text-align: left;
   }
}

@media (min-width: 992px) {
   .en .component-footer .cf-item--copyright {
      margin-top: 15px;
      flex-basis: 100%;
   }
}

@media (min-width: 992px) {
   .component-footer .cf-item--copyright.cf-item--copyright-flex {
      margin-top: 0;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 380px;
   }
}

.component-footer .cf-item-link--icon {
   display: none;
}

@media (min-width: 992px) {
   .component-footer .cf-item-link--icon {
      display: block;
      margin: 0 5px;
   }
}
