@{
   ViewData["PageTitle"] = "គ្រប់គ្រងក្រមសីលធម៌";
   ViewData["PageDescription"] = "សាជីវកម្មធនាគារកាថេយូណៃធីត​(កម្ពុជា)ចំកាត់ ចូលរួមក្នុងសកម្មភាពពាណិជ្ជកម្ម ដោយឈរលើគោលការណ៍យុត្តិធម៌ ភាពស្មោះត្រង់ សុចរិតភាព និងតម្លាភាព។";
}

<!-- Page START -->
<main class="mastbody">
	
	<!--
		គ្រប់គ្រងក្រមសីលធម៌
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/legal.jpg" />
						<img srcset="/assets/img/topkv/legal-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">គ្រប់គ្រងក្រមសីលធម៌</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">គ្រប់គ្រងក្រមសីលធម៌</li>
			</ol>
		</div>
	</nav>
	
	<!--
		គ្រប់គ្រងក្រមសីលធម៌ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<div class="compact">
			<p class="mb-4">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ចូលរួមក្នុងសកម្មភាពពាណិជ្ជកម្ម ដោយឈរលើគោលការណ៍យុត្តិធម៌ ភាពស្មោះត្រង់ សុចរិតភាព និងតម្លាភាព។ ដើម្បីទប់ស្កាត់យ៉ាងសកម្មនូវទង្វើដែលគ្មានសីលធម៌ ការណែនាំមួយត្រូវបានរៀបចំឡើងដើម្បីផ្តល់ឱ្យបុគ្គលិកធនាគារទាំងអស់នូវទិសដៅច្បាស់លាស់សម្រាប់ការអនុវត្តភារកិច្ចរបស់ពួកគេ។</p>
			<p class="mb-4">បុគ្គលិករបស់ធនាគារមិនត្រូវផ្តល់ សន្យា ស្នើសុំ ឬទទួលយកអត្ថប្រយោជន៍ដែលមិនត្រឹមត្រូវដោយផ្ទាល់ ឬដោយប្រយោលឡើយ ហើយត្រូវជៀសវាងនូវភាសា ឬអាកប្បកិរិយាដែលមិនសមរម្យក្នុងអំឡុងពេលនៃការបំពេញភារកិច្ចរបស់ពួកគេ។ លើកលែងតែ (១) អំណោយ និងបដិសណ្ឋារកិច្ចនៃសណ្តានចិត្តអ្នកដែលផ្តល់អោយ (២) ការឧបត្ថម្ភសម្រាប់កម្មវិធីបណ្តុះបណ្តាលទាំងអស់ និង (៣) ការផ្សព្វផ្សាយពាណិជ្ជកម្មសម្ភារៈការិយាល័យ។</p>
			<p class="mb-4">ធនាគារមានយន្តការគ្រប់គ្រងការបរិច្ចាគ ទំនាស់ផលប្រយោជន៍ សន្តិសុខព័ត៌មាន និងការការពារកម្មសិទ្ធិបញ្ញា ការប្រកួតប្រជែងមិនស្មើភាពគ្នា និងសិទ្ធិរបស់អ្នកពាក់ព័ន្ធ។</p>
			<p class="mb-4">យើងអនុវត្តការវាយតម្លៃស្ដង់ដារសម្រាប់ទំនាក់ទំនងអាជីវកម្ម ដូចជាការបង្ហាញពីអាកប្បកិរិយាអសីលធម៌ចំពោះដៃគូអាជីវកម្ម និងការជៀសវាងការធ្វើប្រតិបត្តិការជាមួយសមភាគីដែលអសីលធម៌។ ទាំងអស់នេះគឺដើម្បីការពារជម្លោះផលប្រយោជន៍ ឬការកើតឡើងនៃសកម្មភាពបែបនេះក្នុងការធ្វើអាជីវកម្មរបស់យើង។</p>
			<p class="mb-4">យើងខ្ញុំសូមអរគុណចំពោះកិច្ចសហប្រតិបត្តិការរបស់អ្នក។</p>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->