@{
    ViewData["PageTitle"] = "Welcome Gift";
 }
 <!-- Page START -->
 <main class="mastbody">
     
     <!--
         Welcome Gift
     -->
     	<style>
		.topkv img{
			width:100%;
		}
	</style>
     <div class="topkv kv">
        <figure>
            <picture>
                <img srcset="/assets/img/event_km/banner/welcome-gift.jpg">
            </picture>
        </figure>
     </div>
     
     <!--
         Privacy & Security - Detail
     -->
     <section class="fluid overflow-hidden">
         <div class="py-page"></div>
         
         <div class="compact">
             <!-- Block heading -->
            <h3 class="h3 h3-mb  mb-2  text-dark fw-bolder">លក្ខខណ្ឌផ្សេងៗត្រូវបានអនុវត្តដូចខាងក្រោម៖</h3>
             <ul class="list-disc mb-3">
                 <li>
                    កម្មវិធីប្រូម៉ូសិននេះ មានសុពលភាពចាប់ពីថ្ងៃទី០៨ ខែមេសា ឆ្នាំ ២០២៣ រហូតដល់ថ្ងៃទី០៧
                    ខែកក្កដា ឆ្នាំ ២០២៣។

                 </li>

                 <li>
                    ការផ្ដល់ជូននេះមានប្រសិទ្ធភាពសម្រាប់តែអតិថិជនថ្មីចំនួន ៣០០០នាក់ ដែលបើកគណនី
                    ឌីជីថលជោគជ័យតាមរយៈកម្មវិធីធនាគារចល័តរបស់សាជីវកម្មធនាគារ កាថេយូណៃធីត(កម្ពុជា) ចំកាត់ លើកដំបូងក្នុងអំឡុងពេលប្រូម៉ូសិនតែប៉ុណ្ណោះ។
                 </li>

                <li>ទឹកប្រាក់ ៣ដុល្លារ នឹងបញ្ចូលទៅក្នុងគណនីឌីជីថលរបស់លោកអ្នកភ្លាមៗ។</li>

                <li>អតិថិជនមានសិទ្ធិទទួលបានសាច់ប្រាក់ត្រឡប់មកវិញនេះតែម្តងប៉ុណ្ណោះ សម្រាប់ប្រូម៉ូសិននេះ។</li>

                <li>ក្នុងកម្រិតដែលអនុញ្ញាតដោយច្បាប់ និងបទប្បញ្ញត្តិ និងដើម្បីការពារផលប្រយោជន៍អាជីវកម្មស្របច្បាប់របស់សាជីវកម្មធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក សូមរក្សាសិទ្ធិគ្រប់យ៉ាងក្នុងការសម្រេចចិត្តបញ្ចប់កម្មវិធីប្រូម៉ូសិន ការផ្លាស់ប្ដូរ លុបចោល ឬបន្ថែម ទៅលើលក្ខខណ្ឌនានាដោយមិនចាំបាច់មានការជូនដំណឹងជាមុន។</li>

                <li>សាជីវកម្មធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក នឹងខិតខំប្រឹងប្រែងដោះស្រាយនូវវិវាទដែលអាចកើតមានឡើងទាក់ទងនឹងប្រម៉ូសិននេះ ឱ្យអស់ពីលទ្ធភាពស្របតាមគោលការណ៍ររបស់ធនាគារ។ សម្រាប់ព័ត៌មានបន្ថែម សូមចូលទៅកាន់គេហទំព័រផ្លូវការរបស់សាជីវកម្មធនាគារ កាថេយូណៃធីត(កម្ពុជា)ចំកាត់<a href="https://www.cathaybk.com.kh" class="text-green-dark">www.cathaybk.com.kh</a> ឬលោកអ្នកអាចទាក់ទងមកកាន់ក្រុមការងារផ្នែកសេវាអតិថិជនរបស់យើងតាមរយៈលេខទូរស័ព្ទ: ០២៣  ៨៨ ៥៥ ០០/០៦៩ ៨៨ ៥៥ ០០។</li>

             </ul>
             
            <div class="mt-32 mx-auto">
                <a class="btn btn-green mt-2 mt-md-3" href="@ViewData["siteLangUrl"]event/#event">Back<i class="ico-ui-right-v ml-2 big"></i></a>
            </div>
         </div>
         
         <div class="py-page"></div>
     </section>
     
 </main>
 <!-- Page END -->