@{
   ViewData["PageTitle"] = "About Us";
   ViewData["PageDescription"] = "CUBC continues to expand our business prudently in Cambodia market including our branch network expansion in order to reach customers for their convenience with our services.";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		About Us
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/about.jpg" />
						<img srcset="/assets/img/topkv/about-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">About Us</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">About Us</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		About Us - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">Corporate Information</h2>
			<p class="text-left">
				Cathay United Bank (Cambodia) Plc.(CUBC); Formerly known as Singapore Banking Corporation Limited “SBC Bank” incorporated in the Kingdom of Cambodia in 1993 is a wholly-owned subsidiary of Cathay United Bank (CUB) which is a commercial banking arm of Cathay Financial Holdings, a diversified and the largest financial holding group in Taiwan. CUBC continues to expand our business prudently in Cambodia market including our branch network expansion in order to reach customers for their convenience with our services. We actively offer comprehensive and value added banking products that does include online banking and mBanking. We have established a network of 15 domestic branches/offices and over 60 ATMs across key cities/provinces of Cambodia.
			</p>
			<br>
			<p class="text-left">
				<strong>Cathay Financial Holdings (Cathay FHC) and its subsidiaries including Cathay Life Insurance, Cathay United Bank, Cathay Century Insurance, Cathay Securities, and Cathay Securities Investment Trust </strong>
				provide comprehensive and diversified financial services and solutions in Taiwan and around the world. We are independent from and not affiliated with Cathay Pacific Airways Limited and its subsidiaries.
			</p> 
		</header>
		

		
		<div class="py-section"></div>
		
		
		<section>
			<div class="compact mb-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-3  text-black fw-bold text-center lh-sm">Our Banking Services</h3>
				<p class="h4 h4-mb fw-bold text-center">Since incorporation, CUBC has gradually diversified its business activities and currently provides banking services into two principal areas:</p>
			</div>
			<div class="compact-sm">
				<div class="row mx-md-m2">
					<div class="col-12 col-md-6 px-md-3  d-flex flex-column ie11fix  mb-5">
						<figure class="flex-shrink-0 mb-3"><!-- 720x378 PNG or JPG -->
							<img class="w-100 lazy" data-src="/assets/img/content/coverpic-personal.jpg" alt="Personal Banking">
						</figure>
						<div class="pr-lg-5  d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Personal Banking</h3>
							<p>Active offering innovative personal banking products and solutions including deposit, remittance, individual loan and personal debit/credit cards.</p>
							<div class="mt-auto pt-3">
								<a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 px-md-3  d-flex flex-column ie11fix  mb-5">
						<figure class="flex-shrink-0 mb-3">
							<img class="w-100 lazy" data-src="/assets/img/content/coverpic-business.jpg" alt="Business Banking">
						</figure>
						<div class="pr-lg-5  d-flex flex-column flex-grow-1  ie11fix">
							<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Business Banking</h3>
							<p>Business banking and solutions products providing commercial loans, syndicate loan, financing in trade finance and offering business credit card products.</p>
							<div class="mt-auto pt-3">
								<a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]business/">Learn More<i class="ico-ui-right-v ml-2 big"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="py-section"></div>
		<div class="py-section"></div>
		
		<section>
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">Commitment to Our Core Values</h3>
			
			<div class="corevalue">
				<div class="corevalue-bg  d-none d-lg-block lazy" data-bg="/assets/img/content/corevalue-bg.png"></div>
				<ul class="corevalue-list">
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-1-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">Integrity</h4>
						<p>Cathay Financials strong foundation and long rich history of growth, establishing trust with Cathay’s clients and stilling strong principles for employees.</p>
					</li>
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-2-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">Accountability</h4>
						<p>Cathay Financials commitment to being a dependable and responsible corporate brand.</p>
					</li>
					<li class="corevalue-item">
						<div class="corevalue-item-bg  d-block d-sm-none lazy" data-bg="/assets/img/content/corevalue-bg-3-mb.png"></div>
						<h4 class="h2 h2-mb  mb-3  text-dark fw-bold">Innovation</h4>
						<p>Cathay Financial prospers and creates for the future.</p>
					</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		<div class="py-section"></div>
		
        <section class="compact">
            <!-- Section heading -->
            <h3 class="h1 h2-mb  mb-5  text-black fw-bold text-center lh-sm">Annual Reports</h3>
            <ul class="row mb-n5">
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2019.jpg" alt="2019 Annual Report">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2019_EN.pdf">2019 Annual Report<i class="ico-ui-download ml-2"></i></a>
                </li>
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2020.jpg" alt="2020 Annual Report">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2020_EN.pdf">2020 Annual Report<i class="ico-ui-download ml-2"></i></a>
                </li>
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy" data-src="/assets/img/content/annual-report-2021.jpg" alt="2021 Annual Report">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2021_EN.pdf">2021 Annual Report<i class="ico-ui-download ml-2"></i></a>
                </li>
				<li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
					<figure class="flex-shrink-0  mb-4 px-4 px-md-0">
						<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2022.jpg" alt="2022 Annual Report">
					</figure>
					<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2022_EN.pdf">2022 Annual Report<i class="ico-ui-download ml-2"></i></a>
				</li>
				<li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
					<figure class="flex-shrink-0  mb-4 px-4 px-md-0">
						<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2023.jpg" alt="2023 Annual Report">
					</figure>
					<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2023_EN.pdf">2023 Annual Report<i class="ico-ui-download ml-2"></i></a>
				</li>
				@* <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix"> *@
				@* 	<figure class="flex-shrink-0  mb-4 px-4 px-md-0"> *@
				@* 		<img class="w-100 lazy" data-src="/assets/img/content/annual-report-2024_en.jpg" alt="2024 Annual Report"> *@
				@* 	</figure> *@
				@* 	<a class="btn btn-outline-green-dark rounded-pill  h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/AnnualReport2024_EN.pdf">2024 Annual Report<i class="ico-ui-download ml-2"></i></a> *@
				@* </li> *@
            </ul>

            <div class="py-section"></div>
            <h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm"> ABC Code of Conduct</h3>
            <ul class="row mb-n5">
                <li class="col-12 col-sm-6 px-md-5 mb-5  d-flex flex-column align-items-center ie11fix">
                    <figure class="flex-shrink-0  mb-4 px-4 px-md-0">
                        <img class="w-100 lazy entered loaded" data-src="/assets/img/content/B_F_I_EN.jpg" alt="2021 Annual Report" data-ll-status="loaded" src="/assets/img/content/B_F_I_EN.jpg">
                    </figure>
                    <a class="btn btn-outline-green-dark rounded-pill text-center h4-mb" target="_blank" rel="noopener noreferrer" href="/file/annual-report/Bank_Code_of_Conduct_EN.pdf">ABC Code of Conduct<i class="ico-ui-download ml-2"></i></a>
                </li>
		    </ul>
        </section>

            <div class="py-page"></div>
        </section>
	
</main>
<!-- Page END -->