@{
	ViewData["PageTitle"] = "Escrow Service";
	ViewData["PageDescription"] = "Our CUBC Escrow Service, we act as a third party to provide you a Secure and Reliable Transactions with Holding Funds, Transaction Monitoring, and Release Funds for both parties (Buyers and Sellers) ensuring that your transactions is always protected. With CUBC Escrow Service, “ Ensuring Your Security in Every Transaction, Our Top Priority”";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		Payroll Service
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/escrow-pc.png" />
						<img srcset="/assets/img/topkv/escrow-mb.png">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">សេវារក្សាសុវត្ថិភាព</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">ធនាគារពាណិជ្ជកម្ម</a></li>
				<li class="breadcrumb-item active" aria-current="page">សេវារក្សាសុវត្ថិភាព</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Payroll Service - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">សេវារក្សាសុវត្ថិភាព</h2>
			<p class="text-left">
				សេវារក្សាសុវត្ថិភាព ឬសេវារក្សាទុក របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដើរតួនាទីជាភាគីទីបីក្នុងការផ្ដល់ជូនលោកអ្នកនូវប្រតិបត្តិការប្រកបដោយសុវត្ថិភាព និងទំនុកចិត្ត ដោយរក្សាសាច់ប្រាក់របស់លោកអ្នក តាមដានត្រួតពិនិត្យប្រតិបត្តិការ និងបញ្ចេញសាច់ប្រាក់សម្រាប់ភាគីទាំងពីរ (អ្នកទិញ និងអ្នកលក់) ដោយធានាបានថាប្រតិបត្តិការរបស់លោកអ្នកគឺត្រូវបានការពារ។ ជាមួយនឹងសេវារក្សាសុវត្ថិភាព ឬសេវារក្សាទុក របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក “សុវត្ថិភាពនូវរាល់ប្រតិបត្តិការរបស់លោកអ្នក គឺជាអាទិភាពចម្បងរបស់ធនាគារយើងខ្ញុំ”
			</p>
		</header>

		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">អត្ថប្រយោជន៍នៃការប្រើប្រាស់សេវារក្សាសុវត្ថិភាព</h2>
			<p class="text-left">
				<br>1-សុវត្ថិភាពសម្រាប់ភាគីទាំងពីរ
			</p>
			<p class="text-left">
				ធនាគារដើរតួជាភាគីទីបីអព្យាក្រឹត ដោយធានាបានថាការរក្សាសាច់ប្រាក់ ឬទ្រព្យរបស់លោកអ្នកមានសុវត្ថិភាព រហូតដល់លក្ខខណ្ឌនៃកិច្ចព្រមព្រៀងត្រូវបានបំពេញ ឬទាំងអ្នកទិញ និងអ្នកលក់បានព្រមព្រៀងគ្នាស្របតាមលក្ខខណ្ឌនៃប្រតិបត្តិការ។ នេះជាការកាត់បន្ថយហានិភ័យនៃការក្លែងបន្លំ ឬការមិនបង់ប្រាក់ ដោយធានាថាភាគីទាំងពីរត្រូវបានការពារ។
			</p>
			<p class="text-left">
				<br>2-ភាពងាយស្រួលនៃប្រតិបត្តិការ
			</p>
			<p class="text-left">
				តាមរយៈដំណើរការនៃការគ្រប់គ្រង និងផ្ទៀងផ្ទាត់ការអនុលោមតាមលក្ខខណ្ឌ សេវារក្សាសុវត្ថិភាព ឬសេវារក្សាទុក ធ្វើឱ្យប្រតិបត្តិការមានភាពងាយស្រួល ជាពិសេសសម្រាប់ប្រតិបត្តិការដែលមានតម្លៃខ្ពស់ ឬភាពស្មុគស្មាញដូចជាអចលនទ្រព្យជាដើម។ ទាំងនេះគឺជាការបង្កើតទំនុកចិត្ត និងសម្រួលដល់ប្រតិបត្តិការអាជីវកម្មរបស់លោកអ្នក។
			</p>
			<p class="text-left">
				<br>3-ដំណោះស្រាយបញ្ហា
			</p>
			<p class="text-left">
				សេវារក្សាសុវត្ថិភាព ឬសេវារក្សាទុក ផ្តល់ការណែនាំច្បាស់លាស់ និងកាត់បន្ថយការយល់ច្រឡំក្នុងកិច្ចប្រតិបត្តិការនានា។ ក្នុងករណីមានវិវាទ ធនាគារយើងខ្ញុំ ធានាថាសាច់ប្រាក់ ឬទ្រព្យរបស់លោកអ្នកនឹងមិនត្រូវបានបញ្ចេញមុនកាលកំណត់ ហើយប្រសិនបើមានវិវាទកើតឡើង ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក និងជួយសម្របសម្រួលដោយផ្ទៀងផ្ទាត់លក្ខខណ្ឌនៃកិច្ចព្រមព្រៀងមុននិងបញ្ចេញសាច់ប្រាក់។
			</p>
		</header>

		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">ថ្លៃសេវា</h2>

			<div class="tabular px-2 px-lg-4">
				<div class="table-responsive-lg">
					<table class="table table-bordered h5-mb text-center bg-light">
						<colgroup>
							<col width="25%">
							<col width="25%">
							<col width="25%">
							<col width="25%">
						</colgroup>
						<thead>
							<tr class="bg-secondary text-white">
								<th scope="col" class="h4 h4-mb border fw-bold">ចំនួនទឹកប្រាក់</th>
								<th scope="col" class="h4 h4-mb border fw-bold">ថ្លៃសេវា</th>
								<th scope="col" class="h4 h4-mb border fw-bold">រយៈពេលអតិបរមា</th>
								<th scope="col" class="h4 h4-mb border fw-bold">ថ្លៃសេវាពន្យា</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="border bg-light">តិចជាង $300,000</td>
								<td class="border bg-light">$800</td>
								<td class="border bg-light">3 ខែ</td>
								<td class="border bg-light">$250/ក្នុង1ខែ</td>
							</tr>
							<tr>
								<td class="border bg-light">ចាប់ពី $300,000 ដល់ $1,000,000</td>
								<td class="border bg-light">$1,000</td>
								<td class="border bg-light">3 ខែ</td>
								<td class="border bg-light">$350/ក្នុង1ខែ</td>
							</tr>
							<tr>
								<td class="border bg-light">ចាប់ពី $1,000,000</td>
								<td class="border bg-light">0.1%</td>
								<td class="border bg-light">3 ខែ</td>
								<td class="border bg-light">$500/ក្នុង1ខែ</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</header>
	</section>
</main>
<!-- Page END -->