@{
   ViewData["PageTitle"] = "ពាណិជ្ជកម្មអន្តរជាតិ";
   ViewData["PageDescription"] = "សម្រាប់អាជីវកម្មដែលអាចទៅដល់សកលលោក ធនាគារកាថេយូណៃធីត នៅទីនេះដើម្បីជួយដំណើរការនាំចេញទៅ ឬ នាំចូលពីទីផ្សារបរទេស ដោយផ្តល់ការប្រឹក្សាយោបល់អំពីប្រតិបត្តិការ និងឧបករណ៍ហិរញ្ញវត្ថុដូចជា លិខិតឥណទាន ការប្រមូលឯកសារ និងការធានាពីធនាគារ។";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ពាណិជ្ជកម្មអន្តរជាតិ
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-trade.jpg" />
						<img srcset="/assets/img/topkv/business-trade-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">ពាណិជ្ជកម្មអន្តរជាតិ</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">ធនាគារពាណិជ្ជកម្ម</a></li>
				<li class="breadcrumb-item active" aria-current="page">ពាណិជ្ជកម្មអន្តរជាតិ</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		ពាណិជ្ជកម្មអន្តរជាតិ - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">ពង្រីកលទ្ធភាពរបស់អ្នកទៅកាន់ទីផ្សារសកលលោក</h2>
			<p class="text-left">សម្រាប់ការធ្វើអាជីវកម្មទៅកាន់ទីផ្សារសកលលោក ធនាគារ កាថេ យូណៃធីត នៅទីនេះដើម្បីជួយលោកអ្នកក្នុងដំណើរការនាំចេញ ឬនាំចូលពីទីផ្សារបរទេសដោយផ្តល់ការណែនាំលើប្រតិបត្តិការដោយប្រើហិរញ្ញប្បទានពាណិជ្ជកម្មដូចជា លិខិតឥណទាន ការប្រមូលឯកសារ និង លិខិតធានារបស់ធនាគារ។</p>
		</header>
		
		<div class="compact">
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">ការប្រមូលឯកសារ</h3>
			<p>ហានិភ័យចម្បងនៃការដឹកជញ្ជូនទំនិញនៅលើមូលដ្ឋានប្រមូលផ្តុំគឺថាអ្នកមិនមានការធានានៃការទូទាត់នោះទេនៅពេលដែលអ្នកបានដឹកជញ្ជូនទំនិញទៅកាន់អ្នកទិញ។ការប្រមូលឯកសារគឺជាជម្រើសដ៏មានប្រសិទ្ធិភាពក្នុងការចំណាយលើលិខិតឥណទាន ដែលវាផ្តល់ឱ្យអ្នកនាំចេញជាមួយនឹងការបន្ថែមសុវត្ថិភាពចំពោះប្រតិបត្តិការ ដោយអនុញ្ញាតឱ្យអ្នករក្សាការគ្រប់គ្រងលើមុខទំនិញ។ ធនាគារ កាថេ យូណៃធីត អាចទាក់ទងដោយផ្ទាល់ជាមួយធនាគារបរទេសឱ្យបញ្ចេញនូវឯកសារពាក់ព័ន្ធ បន្ទាប់ពីការទូទាត់ត្រូវបានធ្វើឡើងដោយអ្នកទិញរបស់អ្នក ឬសម្រប់សម្រូលនឹងការសន្យាជាលាយលក្ខណ៍អក្សររបស់អ្នកទិញ ក្នុងការទូទាត់នៅថ្ងៃអនាគត។</p>
			
			<div class="py-section"></div>
		
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">លិខិតធានារបស់ធនាគារ</h3>
			<p>នៅក្នុងពាណិជ្ជកម្មអន្តរជាតិ វាជាការលំបាកសម្រាប់អ្នកទិញក្នុងការវាយតម្លៃសមត្ថភាពរបស់អ្នកផ្គត់ផ្គង់របស់ពួកគេក្នុងការផលិតទំនិញតាមការបញ្ជាទិញ ឬផ្តល់សំណងសម្រាប់ការខូចខាតណាមួយតាមកិច្ចសន្យា។ ដូច្នេះ មធ្យោបាយល្អដើម្បីការពារអ្នកទិញគឺការប្រើប្រាស់លិខិតធានារបស់ធនាគារ។ លិខិតធានារបស់ធនាគារនឹងដើរតួជាអ្នកសងសំណងសម្រាប់ការបំពានកិច្ចសន្យាណាមួយហើយអនុញ្ញាតឱ្យភាគីអ្នកទិញអាចមានសិទ្ធិប្រមូលប្រាក់ពីធនាគារចេញតាមតម្រូវ។</p>
			
			<div class="py-section"></div>
			
			
			<!-- Section heading -->
			<h3 class="h1 h2-mb  mb-4  text-black fw-bold text-center lh-sm">សេវាកម្មនាំចេញនិងនាំចូល</h3>
			<p>តើលោកអ្នកត្រូវការការគ្រប់គ្រងលើការបញ្ជាទិញឬត្រូវការបង្កើតនូវខ្សែបន្ទាត់ឥណទាន ដើម្បីផ្តល់ហិរញ្ញប្បទានដល់សារពើភ័ណ្ឌរបស់លោកអ្នក? ផ្នែកហិរញ្ញវត្ថុពាណិជ្ជកម្មអន្តរជាតិរបស់ធនាគារ កាថេ យូណៃធីត អាចផ្តល់ដំបូន្មានលើផលិតផលហិរញ្ញវត្ថុពាណិជ្ជកម្មជាច្រើន ដើម្បីជួយអ្នកក្នុងសកម្មភាពនាំចូល។</p>
		
			<div class="py-section"></div>
			
			
			<div class="compact-sm">
				<!-- Graph icon list (2-levels)-->
				<ul class="row mb-n4">
	
					<!-- Graph item -->
					<li class="col-12 col-md-8  mb-4  px-md-2">
						<div class="d-flex align-items-center  mb-3">
							<figure class="graph  mr-3">
								<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/import.svg">
							</figure>
							<h4 class="h3 text-dark fw-bolder lh-sm">សេវាកម្មនាំចូល</h4>
						</div>
						<div class="row">
							<div class="col-12 col-md  mb-4 mb-md-0">
								<h5 class="h4 h3-mb mb-3  text-dark fw-bold">សេវាកម្មលិខិតឥណទាន</h5>
								<ul class="list-disc list--item-mb-xs">
									<li>Sight L/C</li>
									<li>Usance L/C</li>
									<li>Buyer's Usance</li>
									<li>Seller's Usance</li>
									<li>Seller's Usance Pay at Sight</li>
									<li>Standby L/C</li>
								</ul>
							</div>
							<div class="col-12 col-md">
								<h5 class="h4 h3-mb mb-3  text-dark fw-bold">សេវាកម្មប្រមូលនាំចូល</h5>
								<ul class="list-disc list--item-mb-xs">
									<li>Document Against Acceptance</li>
									<li>Document Against Payment</li>
								</ul>
							</div>
						</div>
					</li>
	
					<!-- Graph item -->
					<li class="col-12 col-md-4  mb-4  px-md-2">
						<div class="d-flex align-items-center  mb-3">
							<figure class="graph  mr-3">
								<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/export.svg">
							</figure>
							<h4 class="h3 text-dark fw-bolder lh-sm">សេវាកម្មនាំចេញ</h4>
						</div>
						<div>
							<ul class="list-disc list--item-mb-xs">
								<li>Export Bills Negotiation</li>
								<li>Export Collection</li>
								<li>Letters of Credit Advise</li>
								<li>Letters of Credit Transfer</li>
								<li>Letter of Credit Confirmation</li>
								<li>Issue local letter of credit</li>
								<li>Assignment of Proceeds</li>
								<li>Export Forward Letter of Credit Forfaiting Services</li>
							</ul>
						</div>
					</li>
	
	
				</ul>
			</div>
		
			<div class="py-section"></div>
		
		
			<p class="mb-3">ខណៈពេលដែលលោកអ្នកមិនអាចបង្ការនូវហានិភ័យនៃការមិនបានទទួល ទំនិញដែលលោកអ្នកបានបញ្ជាទិញនិងបង់ប្រាក់រួចរាល់។ សម្រាប់លិខិតឥណទានអនុញ្ញាតឱ្យអ្នកកាត់បន្ថយហានិភ័យនៃការបញ្ជាទិញដែលមិនបានបំពេញ រឺផ្តល់ឱ្យអ្នកផ្គត់ផ្គង់របស់លោកអ្នកនូវប្រតិបត្តិការទូទាត់។ រួមទាំងការដឹកជញ្ជូន និងកាលបរិច្ឆេទការទូទាត់នឹងតម្រូវការសារពើភណ្ឌ និងតម្រូវការលំហូរសាច់ប្រាក់របស់លោកអ្នកអោយស្របជាមួយគ្នា។ ដូច្នេះ សូមមករកពួកយើងដោយទំនុកចិត្តសម្រាប់សេវាកម្មនិងជំនាញរបស់យើងខ្ញុំដើម្បីសម្រួលដល់ដំណើរការទាំងមូលក្នុងការធ្វើឱ្យអាជីវកម្មរបស់លោកអ្នកអោយកាន់តែមានផលិតភាពនិងប្រាក់ចំណេញ!</p>
			
			<p>សេវាកម្មនាំចេញរបស់យើងអាចជួយលោកអ្នកកាត់បន្ថយនូវហានិភ័យនៃការមិនបង់ប្រាក់សម្រាប់ទំនិញ ដែលត្រូវបានដឹកជញ្ជូនទៅកាន់អ្នកទិញនៅក្រៅប្រទេស។   ដោយពឹងផ្អែកលើសេវាកម្មយើង នឹងអាចជួយលោកអ្នកក្នុងសកម្មភាពនាំចេញរបស់លោកអ្នក និងកែសម្រួលនូវផលិតផលដែលត្រឹមត្រូវ ដូចជាលិខិតឥណទាន និងការប្រមូលឯកសារ ដើម្បីបំពេញតម្រូវការជាក់លាក់របស់លោកអ្នក។</p>
		</div>
	
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->