@{
   ViewData["PageTitle"] = "អចលនទ្រព្យត្រីភាគី";
   ViewData["PageDescription"] = "សេវាកម្មនេះត្រូវបានរចនាឡើងជាពិសេសសម្រាប់ការគ្រប់គ្រងប្រាក់បញ្ញើក្នុងគោលបំណងនៃការទិញអចលនទ្រព្យ។សេវាបញ្ញើមូលធនផ្ដល់នូវកិច្ចព្រមព្រៀងតែមួយដើម្បីផ្តល់សេវាគណនីបញ្ញើមូលធនបុគ្គលរបស់អ្នកទិញផ្ទះទាំងអស់។";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		អចលនទ្រព្យត្រីភាគី
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/business-estate.jpg" />
						<img srcset="/assets/img/topkv/business-estate-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">អចលនទ្រព្យត្រីភាគី</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]business/">ធនាគារពាណិជ្ជកម្ម</a></li>
				<li class="breadcrumb-item active" aria-current="page">អចលនទ្រព្យត្រីភាគី</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		អចលនទ្រព្យត្រីភាគី - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-black fw-bold">ធានាសុវត្ថិភាពរបស់ម្ចាស់លំនៅឋាន</h2>
			<p class="text-left">សេវាកម្មនេះបានបង្កើតឡើងជាពិសេស ក្នុងការគ្រប់គ្រងការដាក់ប្រាក់បញ្ញើនៃការទិញអចលនទ្រព្យដែលមានភាពច្បាស់លាស់។ សេវាបញ្ញើទុកនៃអចលនទ្រព្យ ផ្តល់ជូនកិច្ចព្រមព្រៀងជាលក្ខណៈបុគ្គល សម្រាប់សេវាកម្មគណនីបញ្ញើទុកក្នុងដៃតតិយជនរបស់អតិថិជនទាំងអស់ក្នុងការទិញលំនៅឋាន ។</p>
		</header>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->