@{
   ViewData["PageTitle"] = "សេវាកម្មអេធីអឹម";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		សេវាកម្មអេធីអឹម
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-atm.jpg" />
						<img srcset="/assets/img/topkv/personal-atm-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1  fw-bold lh-xs">អេធីអឹម</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>ទំព័រដើម</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">សេវាកម្មធនាគារផ្ទាល់ខ្លួន</a></li>
				<li class="breadcrumb-item active" aria-current="page">សេវាកម្មអេធីអឹម</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		សេវាកម្មអេធីអឹម - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">សេវាកម្មអេធីអឹម</h1>
			<p>ម៉ាស៊ីនអេធីអឹម គឺជាឧបករណ៏ទំនាក់ទំនងអេឡិចត្រូនិចស្វ័យប្រវត្តិដែលផ្តល់សេវាកម្មទៅដល់អតិថិជននៃស្ថាប័នហិរញ្ញវត្ថុក្នុងការធ្វើប្រតិបត្តិការហិរញ្ញវត្ថុដូចជា ការដកសាច់ប្រាក់ ការផ្ទេរប្រាក់ ការពិនិត្យសមតុល្យសាច់ប្រាក់ ឬ ការផ្លាស់ប្តូរលេខសំងាត់ នៅពេលណាក៏បានដោយពុំចាំបាច់ធ្វើការទំនាក់ទំនងផ្ទាល់ជាមួយបុគ្គលិកធនាគារ។</p>
		</header>
		
		<section class="compact px-xl-4">
			<!-- Graph icon list #1  (3 in a row) -->
			<ul class="row  justify-content-center  mb-n4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/atm.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">មានម៉ាស៊ីនអេធីអឹមច្រើនជាង ៦០ទីតាំង</h5>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/24h.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">បម្រើសេវាកម្ម ២៤ ម៉ោង</h5>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/globe.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">ផ្តល់ជូននូវភាសាខ្មែរ, អង់គ្លេស, និងចិន</h5>
					</div>
				</li>
			</ul>
		</section>
		
		<div class="py-section"></div>
		
		<section class="compact">
			<p class="mb-4">ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក មានម៉ាស៊ីនអេធីអឹមជាង ៦០ កន្លែងដែលបានផ្តល់ភាពងាយស្រួលដល់អតិថិជនរបស់ធនាគារ ពេញ២៤ម៉ោង។ ជាមួយនឺងអេក្រង់ក្រាហ្វិកដែលមានភាពងាយស្រួលក្នុងការធ្វើប្រតិបត្តិការ ដោយផ្តល់នូវជម្រើសជា ភាសាខ្មែរ អង់គ្លេស និងចិន ហើយវាបានធ្វើអោយការធ្វើប្រតិបត្តិការ លើម៉ាស៊ីនអេធីអឹមរបស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កទទួលបាននូវបទពិសោធន៏យ៉ាងរលួន។ </p>
			<p class="mb-4">ម៉ាស៊ីនអេធីអឹម របស់យើងមានភាពសាមញ្ញក្នុងការប្រើប្រាស់ និងទទួលយកប័ណ្ណឥណពន្ធប្រភេទវីសា របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ប័ណ្ណឥណទានប្រភេទវីសា របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.កប័ណ្ណឥណទាន ប្រភេទម៉ាស្ទ័រ របស់ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ក៏ដូចជា ប្រភេទប័ណ្ណ CSS , Plus, Maestro, Cirrus, Diners Club International, VISA Electron, VISA និង Master Card ដែលចេញដោយធនាគារផ្សេងៗទៀតមកពីជុំវិញពិភពលោក។ </p>
			<p>ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក បានបញ្ជាក់ និងអនុវត្តស្តង់ដារសុវត្ថិភាព អ៊ីអឹមវី (EMV) ដោយប្រើម៉ាស៊ីនអេធីអឹម អេនស៊ីអា (NCR) ដើម្បីការពារអ្នកប្រើប្រាស់ម៉ាស៊ីនអេធីអឹម របស់ខ្លួនពីការសម្របសម្រួលសេវាអេធីអឹម ដ៏មានសក្តានុពល។ ក្នុងជំហាននេះដែរ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ដើរតួជាឧស្សាហកម្មកាតដ៏ល្អបំផុត  ហើយបាននឹងកំពុងគាំទ្រដល់ការផលិត និងទទួលយកប័ណ្ណអ៊ីអេមវីប្រភេទវីសា តាំងពីដើមឆ្នាំ ២០០៣មកម្លេះ ហើយជាថ្មីម្តងទៀតវាបានគូសបញ្ជាក់ពីតួនាទីឈានមុខគេប្រកបដោយភាពច្នៃប្រឌិត នៅក្នុងឧស្សាហកម្មទូទាត់ដែលគាំទ្រដោយកាតក្នុងស្រុក។</p>
		</section>
		
		<div class="py-section"></div>
		
		
		<!-- Two-columns -->
		<section class="row mx-sm-n2 mx-xl-n3">
			
			<!-- Right column -->
				<div class="w-100 bg-gray-100  mx-sm-2 mx-xl-3  px-3 py-4 p-sm-4 p-lg-5">
					<figure class="card-w150  mx-auto mb-3">
						<div class="embed-responsive embed-responsive-1by1">
							<img class="embed-responsive-item ofi-contain lazy" data-src="/assets/img/content/atm-css.png" alt="Cambodian Shared Switch System">
						</div>
					</figure>
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Cambodian Shared Switch System (CSS)</h3>
					<p class="mb-3">ប្រព័ន្ធខេមបូឌានស៊ែស្វិច (CSS) ត្រូវបានបង្កើតឡើង និងគ្រប់គ្រងដោយធនាគារជាតិនៃកម្ពុជា។ CSS ត្រូវបានធ្វើការរចនាឡើងដើម្បីផ្តល់នូវការតភ្ជាប់អន្តរកម្ម និងអន្តរប្រតិបត្តិការក្នុងចំំណោមធនាគារសមាជិក និង គ្រឺះស្ថានមីក្រូហិរញ្ញវត្ថុ និងផ្តល់នូវហេដ្ឋារចនាសម្ព័ន្ធ រួម</p>
					<p>បញ្ជូលគ្នាទូទាំងប្រទេសនៃការទូទាត់តាមប័ណ្ណឥណពន្ធដែលដំណើរការដោយម៉ាស៊ីនអេធីអឹម និង ម៉ាស៊ីនឆូតកាត។ ធនាគារ កាថេយូណៃធីត (ខេមបូឌា) ម.ក ក៏ជាសមាជិក CSS ផងដែរ ហើយម៉ាស៊ីនអេធីអឹម របស់យើងទទួលយកកាត CSS ដើម្បីអនុវត្តមុខងារ  CSS នៅលើម៉ាស៊ីនអេធីអឹមរបស់យើងដូចជា ការដកសាច់ប្រាក់ ការពិនិត្យសមតុល្យសាច់ប្រាក់ របាយការណ៏សង្ខេប ការផ្លាស់ប្តូរលេខសម្ងាត់ និងការផ្ទេរប្រាក់តាមអន្តរធនាគារ។</p>
				</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ការប្រើប្រាស់ និងការគ្រប់គ្រងប្រតិបត្តិការរបស់អ្នកជាមួយម៉ាស៊ីនអេធីអឹម</h3>
			
			<ul class="list-disc list--item-mb-xs  mb-4">
				<li>ត្រូវយកចិត្តទុកដាក់ឲ្យបានខ្ពស់ ចំពោះម៉ាស៊ីនអេធីអឹម និងទីតាំងជុំវិញខ្លួនរបស់អ្នក។ ធ្វើប្រតិបត្តិការរបស់អ្នកនៅទីសាធារណះ ជាមួយនឹងទីកន្លែងដែលមានពន្លឺគ្រប់គ្រាន់ និងទីតាំងស្រឡះល្អ ។</li>
				<li>ត្រូវអនុវត្តតាមការណែនាំនៅលើអេក្រង់ដែលបានបង្ហាញ។ ឧទាហរណ៏: មិនត្រូវចុចលេខសំងាត់របស់អ្នកឡើយរហូតដល់ម៉ាស៊ីនអេធីអឹមស្នើសុំឲ្យអ្នកចុច។</li>
				<li>សូមកុំប្រញាប់បញ្ជូលកាតរបស់អ្នកទៅក្នុងកន្លែងបញ្ជូលកាត។</li>
				<li>មិនត្រូវអនុញ្ញាតឲ្យអ្នកដទៃ មើលឃើញលេខសំងាត់របស់អ្នកឡើយ។</li>
				<li>មិនត្រូវអនុញ្ញាតឲ្យអ្នកដទៃ ជួយអ្នកក្នុងពេលធ្វើប្រតិបត្តិការឡើយ។</li>
				<li>មិនត្រូវប្រើប្រាស់ម៉ាស៊ីនអេធីអឹម ដែលមានអេក្រង់ទទេ។</li>
				<li>ប្រសិនបើអ្នកបានឃើញឧបករណ៏ដែលគួរឲ្យសង្ស័យនៅកន្លែងម៉ាស៊ីនអេធីអឹម សូមកុំបន្តប្រើប្រាស់ម៉ាស៊ីនអេធីអឹម។</li>
				<li>សូមទទួលយកកាតរបស់អ្នក និង បង្កាន់ដៃបន្ទាប់ពីការធ្វើប្រតិបត្តិការ។</li>
				<li>សូមរាយការណ៏មកកាន់ធនាគារភ្លាមៗ ក្នុងករណីបាត់កាត ឬកាតបានជាប់ក្នុងម៉ាស៊ីនអេធីអឹម។</li>
				<li>សូមតាមដានរបាយការណ៏ធនាគាររបស់អ្នកជានិច្ច និង ពិនិត្យមើលសមតុល្យរបស់អ្នក និងត្រូវរាយការណ៏ចំពោះសកម្មភាពមិនប្រក្រតីណាមួយ។</li>
			</ul>
			
			<p>នៅពេលដែលលោកអ្នកកំពុងប្រើសេវាកម្មម៉ាស៊ីនអេធីអឹម សូមប្រយ័ត្នចំពោះឧបករណ៍ណាមួយដែលអាចភ្ជាប់ជាមួយនិងកន្លែងបញ្ចូលកាតរបស់ម៉ាស៊ីនអេធីអឹម ឬផ្នែកផ្សេងទៀតនៃម៉ាស៊ីនអេធីអឹម ដែលអាចធ្វើអោយរូបរាង និង ប្រតិបត្តិការរបស់ម៉ាស៊ីនអេធីអឹមមានសភាពខុសប្រក្រតី។ ប្រសិនបើអ្នករកឃើញឧបករណ៍មិនប្រក្រតីណាមួយនៅលើម៉ាស៊ីនអេធីអឹមរបស់យើង ឬកាតរបស់អ្នកត្រូវបានជាប់ក្នុងម៉ាស៊ីនអេធីអឹម សូមទំនាក់ទំនងមកកាន់យើងខ្ញុំតាមរយៈទូរសព្ទលេខ ០២៣ ៨៨ ៥៥ ០០។</p>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->