@{
   ViewData["PageTitle"] = "人才招募";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		人才招募
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">人才招募</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">人才招募</a></li>
				<li class="breadcrumb-item active" aria-current="page">Head of Credit Marketing (SME & Corporate Loan)</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		人才招募 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Head of Credit Marketing (SME & Corporate Loan)</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Lead and oversee execution of the Bank’s marketing strategies, grow the existing risk asset portfolio, ensuring alignment with the overall corporate strategy, goals and objectives.</li>
					<li class="mb-2">Proactively and lead team to find new clients within target market segmentation both cooperate and SME portfolio</li>
					<li class="mb-2">Lead in prepare sales pitches, presentations and other documents required for client’s engagements</li>
					<li class="mb-2">Assist First Vice President (FVP) in the development strategic plan, monitor industry trends, launching and sales of new product offering</li>
					<li class="mb-2">Ensuring all credit process and documents follow credit’s standard operations procedure, execution, monitoring, and accuracy of balanced assessment of risk before approval</li>
					<li class="mb-2">Ensuring compliance with legal documents, credit policies, consistent with the internal approvals and properly executed</li>
					<li class="mb-2">Monitoring and Recovering of bad loans.</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Holding Bachelor/Master degree in Business Administration, Management, or related field;</li>
					<li class="mb-2">At least 5 years’ experience in commercial bank or financial institution, including 03 years in cooperate and SME loan portfolio;</li>
					<li class="mb-2">In-depth knowledge in customer on boarding, loan application process, post-loan; management, and customer relationship maintenance;</li>
					<li class="mb-2">Strong ability in training and coaching sales team, developing clear KPI with result-oriented;</li>
					<li class="mb-2">In-depth knowledge of credit policy and law, marketing analysis, brand management, market targeting, and product development;</li>
					<li class="mb-2">Good communication, presentation, problem-solving, and self-disciplined;</li>
					<li class="mb-2">Excellent in English both speaking and writing, Chinese is a plus;</li>
					<li class="mb-2">Proficiency in Ms. Office (Word, Excel, PowerPoint), Internet, Email;</li>
					<li class="mb-2">Respect and follow CUBC’s core values, Vision, and Mission.</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
