@{
   ViewData["PageTitle"] = "人才招募";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}

 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		人才招募
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1-sm  fw-bold lh-xs">人才招募</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">人才招募</a></li>
				<li class="breadcrumb-item active" aria-current="page">Officer, Consumer Business (Mortgage Loan)</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		人才招募 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Officer, Consumer Business (Mortgage Loan)</h2>
		</header>
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Accomplishing quarterly and yearly target set by management</li>
					<li class="mb-2">Establishing marketing strategies in lending process, product, and service</li>
					<li class="mb-2">Surveying on market competence </li>
					<li class="mb-2">Ensuring loan application is compliance with policy and regulation</li>
					<li class="mb-2">Analyzing and structuring loan application </li>
					<li class="mb-2">Maintaining good relationship with existing clients and exploring new potential clients</li>
					<li class="mb-2">Maintain and follow up team members’ daily activities, interview applicants and site visit properties to determine financial eligibility and feasibility of granting loans</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Holding Bachelor/Master degree in Business Administration, Management, or related field;</li>
					<li class="mb-2">At least 3 years’ experience in commercial bank and SME loan portfolio;</li>
					<li class="mb-2">In-depth knowledge in customer on boarding, loan application process, post-loan; management, and customer relationship maintenance;</li>
					<li class="mb-2">Good communication, presentation, problem-solving, and self-disciplined;</li>
					<li class="mb-2">Excellent in English both speaking and writing, Chinese is a plus;</li>
					<li class="mb-2">Proficiency in Ms. Office (Word, Excel, PowerPoint), Internet, Email;</li>
					<li class="mb-2">Respect and follow CUBC’s core values, Vision, and Mission.</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
