@{
   ViewData["PageTitle"] = "ATM服務";
   ViewData["PageDescription"] = "";
}


<!-- Page START -->
<main class="mastbody">
	
	<!--
		ATM服務
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/personal-atm.jpg" />
						<img srcset="/assets/img/topkv/personal-atm-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h2 class="display-1-sm  fw-bold lh-xs">ATM</h2>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>首頁</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]personal/">個人金融</a></li>
				<li class="breadcrumb-item active" aria-current="page">ATM服務</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		ATM服務 - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h1 class="display-3 h1-mb  mb-3  text-black fw-bold">ATM服務</h1>
			<p>自動櫃員機 (ATM) 是一種電子通訊設備，可以讓金融機構的客戶隨時進行金融交易，例如提款、轉帳、查詢餘額或更改密碼，且無需與銀行行員直接互動。</p>
		</header>
		
		<section class="compact px-xl-4">
			<!-- Graph icon list #1  (3 in a row) -->
			<ul class="row  justify-content-center  mb-n4">
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/atm.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">擁有超過 60 台自動櫃員機</h5>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/24h.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">提供 24 小時便利的銀行服務</h5>
					</div>
				</li>
	
				<!-- Graph item -->
				<li class="col-12 col-md-4  mb-4  px-md-1 px-xl-4   d-flex flex-md-column align-items-center ie11fix">
					<figure class="graph  mx-3 mx-md-0  flex-shrink-0  mb-md-3">
						<img class="ofi-contain lazy" data-src="/assets/img/ui/graph/globe.svg">
					</figure>
					<div class="text-md-center">
						<h5 class="h3 h3-mb  mb-2 mb-md-3  text-dark fw-bolder lh-sm">支援柬文、英語和中文進行操作</h5>
					</div>
				</li>
			</ul>
		</section>
		
		<div class="py-section"></div>
		
		<section class="compact">
			<p class="mb-4">國泰世華銀行柬埔寨子行擁有超過 60 台自動櫃員機，為我們的客戶提供 24 小時便利的銀行服務。 簡易的圖像介面加上簡單的指示，用戶可以選擇柬文、英語和中文進行操作，讓使用本行的 ATM 服務成為一種流暢的體驗。</p>
			<p class="mb-4">我們的櫃員機操作簡單，您可以使用本行 Visa 簽帳卡、本行 Visa 或Master信用卡以及 CSS、Plus、Maestro、Cirrus、Diners Club International、VISA Electron、 全球各家銀行發行的 Visa 和Master信用卡操作。</p>
			<p>本行採用EMV認證標準之NCR ATM來保護我們的用戶安全。 國泰世華銀行柬埔寨子行於2003年起即開始支援EMV認證標準VISA卡之發卡與收單業務，此一舉措再次讓本行在當地卡片業務服務領銜同業。</p>
		</section>
		
		<div class="py-section"></div>
		
		
		<!-- Two-columns -->
		<section class="row mx-sm-n2 mx-xl-n3">
			
			<!-- Right column -->
				<div class="w-100 bg-gray-100  mx-sm-2 mx-xl-3  px-3 py-4 p-sm-4 p-lg-5">
					<figure class="card-w150  mx-auto mb-3">
						<div class="embed-responsive embed-responsive-1by1">
							<img class="embed-responsive-item ofi-contain lazy" data-src="/assets/img/content/atm-css.png" alt="Cambodian Shared Switch System">
						</div>
					</figure>
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Cambodian Shared Switch System (CSS)</h3>
					<p class="mb-3">柬埔寨共享轉換機制（CSS）是由柬埔寨中央銀行設立與管理。 CSS 旨在提供會員銀行和微型金融機構 (MFI)之間的互聯和跨行操作性，並提供全國透過ATM及POS之簽帳卡消費之基礎整合功能</p>
					<p>國泰世華銀行柬埔寨子行是 CSS 成員之一，本行接受所有 CSS 卡於本行ATM操作相關功能，例如提款、餘額查詢、微型對帳單查詢、密碼更換和跨行轉帳。</p>
				</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">ATM交易注意事項</h3>
			
			<ul class="list-disc list--item-mb-xs  mb-4">
				<li>請隨時專注於 ATM 和您周遭的環境。請務必在公共場所、光線充足且清晰的地方使用。</li>
				<li>務必依循螢幕上的說明進行操作，例如：ATM尚未要求輸入密碼前請勿輸入您的密碼。</li>
				<li>請勿強行插入卡片。</li>
				<li>在您輸入密碼時，請不要讓任何人從您的後方窺視。 </li>
				<li>請勿讓陌生人幫您操作交易。</li>
				<li>請勿使用空白螢幕的 ATM。</li>
				<li>若您於 ATM 附近看到任何可疑設備，請勿使用該ATM。 </li>
				<li>務必於完成交易後，立即取回您的卡片和收據。</li>
				<li>若卡片遺失或遭留置時請立刻通報本行。</li>
				<li>請隨時確認您的銀行對帳單及餘額，如有任何異常請立即通報本行。</li>
			</ul>
			
			<p>當您使用自動櫃員機進行交易時，請務必留意櫃員機卡槽或機器是否有任何可疑設備。如您在本行的 ATM 上發現任何異常物品，或者您的卡片遭留置，請立即致電本行：023 885 500。</p>
		</section>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->