@{
   ViewData["PageTitle"] = "Job Openings";
   ViewData["PageDescription"] = "If you are looking for a rewarding career with outstanding growth potential, Cathay United Bank (Cambodia) Plc. is the place for you. We have leading-edge strategies that offer employees a vision of the future and chance to be involved, and are strongly committed to providing our people with a wide range of support and opportunities for future career growth. As you embark on your career with our dynamic team, you can be confident in knowing one thing will not change: our commitment to growing top talents.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Careers
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/career.jpg" />
						<img srcset="/assets/img/topkv/career-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Careers</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]careers/">Careers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Assistant Manager, Banking Operation and Asset Management</li>
			</ol>
		</div>
	</nav>
	
	
	<!--
		Careers - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<header class="compact  mb-5  text-center">
			<h2 class="display-3 h1-mb  mb-3  text-green-dark fw-bold">Assistant Manager, Banking Operation and Asset Management</h2>
		</header>


		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Job Scope</h3>

				<ul class="list-disc">
					<li class="mb-2">Review and supervise team for schedule plan of renovation project and general maintenance.</li>
					<li class="mb-2">Verify on scope of work or solution proposal including BOQ, design layout, and work schedule from vendor for maintenance and renovation project.</li>
					<li class="mb-2">Review and supervise team for building security and safety management including guard and related equipment arrangement. </li>
					<li class="mb-2">Review and supervise team for fixed assets and non-fixed assets management.</li>
					<li class="mb-2">Review on Bank’s CI (Corporate Identity) for signboard at HQ and Branches.</li>
					<li class="mb-2">Establish comprehensive report for related works to HOD.</li>
					<li class="mb-2">Set up and revise related regulations including Policy, guideline, and SOP.</li>
					<li class="mb-2">Other Tasks assigned by HOD.</li>
				</ul>
			</div>
		</section>

		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Key Responsibilities</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Ensure team members complete the assigned tasks on time by creating a proper task and following up procedure.</li>
					<li class="mb-2">Be a project manager for renovation site.</li>
					<li class="mb-2">Set up project plan for renovation/maintenance work for both team and vendor.</li>
					<li class="mb-2">Be a contact window for communication with relevant vendor. </li>
					<li class="mb-2">Ensure all bank premises properly have sufficient security and safety control mechanism.</li>
					<li class="mb-2">Ensure fixed asset and non-fixed asset are properly controlled and processed.</li>
					<li class="mb-2">Supervise and be a good mentor for team members.</li>
					<li class="mb-2">Revise/update relevant guidelines and regulations.</li>
					<li class="mb-2">Other assigned tasks by HOD.</li>
				</ul>
			</div>
		</section>
		
		<div class="py-section"></div>
		
		
		<section class="compact">
			<!-- Gray container -->
			<div class="bg-gray-100  py-5  px-3 px-sm-4 px-lg-5">
				<!-- Section heading -->
				<h3 class="h1 h2-mb  mb-4  text-gold fw-bold text-center lh-sm">Minimum Requirements</h3>
			
				<ul class="list-disc">
					<li class="mb-2">Bachelor/Master Degree with related technician skill or related field.</li>
					<li class="mb-2">Good understanding about security, maintenance, and asset management.</li>
					<li class="mb-2">Experience with 4-5 years in related field.</li>
					<li class="mb-2">Having experience with project management is highly advantage.</li>
					<li class="mb-2">Be willing to learn and able to work under pressure.</li>
					<li class="mb-2">Good at problem solving skill.</li>
					<li class="mb-2">Good at time and task management.</li>
					<li class="mb-2">Good at making report.</li>
					<li class="mb-2">Good in English language and Chinese is a plus.</li>
					<li class="mb-2">Be able to communicate with diversity in people.</li>
					<li class="mb-2">Be a good team player.</li>
				</ul>
			</div>
		</section>
		
		<div class="text-center mt-4">
			<a class="btn btn-green" href="@ViewData["siteLangUrl"]careers/#job-openings">
				<span class="px-2">Other job openings<i class="ico-ui-right-v ml-2 big"></i></span>
			</a>
		</div>

		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->
