@{
   ViewData["PageTitle"] = "Privacy & Security";
   ViewData["PageDescription"] = "At Cathay United Bank, we take our commitment to protecting your privacy seriously. The following details our privacy and security practices regarding our relationship with you.";
}


 

<!-- Page START -->
<main class="mastbody">
	
	<!--
		Privacy & Security
	-->
	<div class="topkv kv  kv--txt-left">
		<div class="kv-bg">
			<div class="kv-bg-inner">
				<figure class="kv-bg-img">
					<picture>
						<source media="(min-width:769px)" srcset="/assets/img/topkv/legal.jpg" />
						<img srcset="/assets/img/topkv/legal-mb.jpg">
					</picture>
				</figure>
			</div>
		</div>
		<div class="kv-cont">
			<div class="kv-cont-inner">
				<h1 class="display-1  fw-bold lh-xs">Privacy & Security</h1>
			</div>
		</div>
	</div>
	
	<!-- Breadcrumb  (lays on top of .topkv if places right after it) -->
	<nav class="breadcrumb-nav text-white" aria-label="breadcrumb">
		<div class="fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="@ViewData["siteLangUrl"]"><span>Home</span><i class="ico-ui-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Privacy & Security</li>
			</ol>
		</div>
	</nav>
	
	<!--
		Privacy & Security - Detail
	-->
	<section class="fluid overflow-hidden">
		<div class="py-page"></div>
		
		<div class="compact">
			<p class="mb-3">At Cathay United Bank, we take our commitment to protecting your privacy seriously. The following details our privacy and security practices regarding our relationship with you.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">General Statement</h3>
			<p class="mb-3">This statement relates to privacy practices in connection with the Cathay United Bank website. Links to external websites are identifiable as such and are not covered by this statement. The content of this Privacy Statement is subject to change without notice from time to time.</p>
			<p class="mb-3">Please note that references to "we/us" means Cathay United Bank. Cathay United Bank means Singapore Banking Corporation Limited.</p>
			<p class="mb-3">We fully respect your right to privacy, and will not collect any personal information about you on this website without your knowledge. Any personal information that you volunteer to us will be treated strictly with high standards of security.</p>

			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Collection and Use of Personal Information</h3>
			<p class="mb-3">We do not collect any personal information about you on this website, apart from the information that you volunteer (e.g. by emailing us or by registering for the iBanking Service, mBanking Service, etc.). Before collecting such information, we will inform you about the purposes for which we will use that information. Any information that you provide in this way will only be used in line with the purposes for which you provided it. We will use the information provided by you to respond to your query and, in the case of iBanking and mBanking, to enable the internet and mBanking registration process to progress.</p>
			<p class="mb-3">We may also collect personal information from you in a number of ways other than through this website, e.g. by telephone, in writing or face to face contact.</p>
			
			<div class="py-section"></div>
			
			
			<!-- Block heading -->
			<h3 class="h3 h3-mb  mb-4  text-dark fw-bolder">Use of Technical Information - "Cookies"</h3>
			<p class="mb-3">Data on your visit to this website may be collected through the use of "cookies"; please note that no information that would identify you is collected in this way.</p>
			<p class="mb-3">Cookies are files that are transferred to your computer's hard disk by a website. Cookies can store information about your preferences and other information that you need when you visit a website. To prevent the use of cookies, you should activate the facility that is available in most web browsers that enables a user to deny or accept cookies. Statistical and analytical information collected through the standard operation of our internet servers and logs provides us with general and not individually specific information. No information is collected that could be used by us to identify website visitors. The technical details logged are confined to the following items:</p>
			<ul class="list-disc mb-3">
				<li>The IP address of the visitor's web server</li>
				<li>The top-level domain name used (for example .i.e., .com, .org, .net)</li>
				<li>The previous website address from which the visitor reached us, including any search terms used</li>
				<li>Data which shows the visitor's traffic on this website (e.g. pages accessed and documents downloaded)</li>
				<li>The type of web browser used by the website visitor</li>
			</ul>
			<p class="mb-3">Cathay United Bank makes no attempt to identify individual visitors, or to associate the technical details listed above with any individual. It is the policy of Cathay United Bank never to disclose such technical information in respect of individual website visitors to any third party, unless obliged to disclose such information by law. The technical information will be used only by Cathay United Bank and only for statistical and other administrative purposes.</p>
			
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->