@{
   ViewData["PageTitle"] = "Cathay United Bank (Cambodia) Plc. (CUBC)";
   ViewData["PageDescription"] = "A financial partner you can trust";
}

<!-- Page START -->
<main class="mastbody">
	
	<section class="fluid overflow-hidden">
		
		<div class="py-page"></div>
		
		<!-- Page heading -->
		<div class="compact  mb-5  text-center">
			<h1 class="display-1 h1-mb  text-dark fw-bold">404 Page Not Found</h1>
            <p class="h2 h2-mb  mt-4  fw-bold">Hi, It looks like that page doesn't exist.<br/>Try one of these content to get back.</p>
		</div>
		
		<!-- Card grids  (2 in a row;  alternate pic position) -->
		<div class="compact-sm mb-n3">
			<!--Pic on left -->
			<section class="row align-items-center  mb-5">
				<figure class="col-12 col-md-6  pr-lg-3  mb-3 mb-md-0"><!-- 720x378 PNG or JPG -->
					<img class="w-100 lazy" data-src="/assets/img/content/coverpic-personal.jpg" alt="Personal Banking">
				</figure>
				<div class="col-12 col-md-6  pl-md-4 pr-md-0 px-lg-5">
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Personal Banking</h3>
					<p>At Cathay United Bank, we are here to understand your needs and meet those needs. With convenience, value and quality, we feel we will build a strong relationship with you to achieve your financial goals.</p>
					<a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]personal/">Find Out More<i class="ico-ui-right-v ml-2 big"></i></a>
				</div>
			</section>
	
			<!-- Pic on right -->
			<section class="row flex-md-row-reverse align-items-center  mb-5">
				<figure class="col-12 col-md-6  pl-lg-3  mb-3 mb-md-0">
					<img class="w-100 lazy" data-src="/assets/img/content/coverpic-business.jpg" alt="Business Banking">
				</figure>
				<div class="col-12 col-md-6  pr-md-4 pl-md-0 px-lg-5">
					<h3 class="h2 h2-mb  mb-3 text-gold fw-bold lh-md">Business Banking</h3>
					<p>Our goal is to help your business thrive and prosper. We put ourselves in your shoes and in that way, we can understand your business needs. Our committed team of experienced professionals is here to assist you in working towards the success of your business.</p>
					<a class="btn btn-green mt-3" href="@ViewData["siteLangUrl"]business/">Find Out More<i class="ico-ui-right-v ml-2 big"></i></a>
				</div>
			</section>
		</div>
		
		<div class="py-page"></div>
	</section>
	
</main>
<!-- Page END -->